[2021-02-23 23:30] lockdrew commented on #911
This also happening to us except for version 14.6 and 14.7. Seems to resolve the problem when I specify the version of terraform in our code with an "= version" and manually install the terraform version it works just fine. We're using the "Azure Pipelines" hosted agents, so I'm wondering if some of the agents just don't have the same version installed? @rick-ha are you using self-hosted agents?

[2021-02-24 00:57] rick-ha commented on #911
@lockdrew nah I am using Microsoft-hosted agents. I didn't want to have to use the terraform installer if I don't have to (my pipelines to deploy infra via TF are mostly for development and validation purposes anyways). I am curious though, are you outputting a plan as well? I'm theorizing that if I just use auto-approve instead of plan for now, that could be a suitable workaround

[2021-02-24 11:03] artur-carvalho commented on #882
Do you know when this new version will be available?

Will this also solve the skip credentials validation warning?

`Warning: "skip_credentials_validation": [DEPRECATED] This field is deprecated and will be removed in version 3.0 of the Azure Provider`

[2021-02-24 15:21] lockdrew commented on #911
@rick-ha  think that's the same thing? Both are just Microsoft-hosted agents, so I think that this might actually be an issue with azure DevOps rather than the terraform tasks.

We currently are outputting a plan as an artificat and running it in a different stage. I do think that'd be a suitable workaround for now? I might just switch to using the validate task instead of the plan task if we were

[2021-02-24 15:49] rick-ha commented on #911
@lockdrew yeah I had a hunch it would be the agents themselves since it'll work after I rerun the pipeline a few more times.

I haven't tested if terraform inits with one ver and then tries to apply with another ver so that might be another deal :/

As for your last point with validate, something I did over in GitHub Actions was to do something like "terraform plan -no-color > plan.log" and then h

[2021-02-24 17:24] lockdrew commented on #911
@rick-ha Thanks for the idea! Never thought of doing that. Looks like System.AccessToken works just fine so long as you grant permissions to access the PR. Stackoverflow on it [here](https://stackoverflow.com/questions/60048492/how-to-create-a-comment-in-azure-devops-pr-in-case-of-build-failure).

[2021-02-24 19:49] rick-ha commented on #911
@lockdrew glad to hear and thanks for your input as well!

[2021-02-26 04:42] philthynz commented on #747
Same issue for me:

![image](https://user-images.githubusercontent.com/17504095/109255983-ed160d80-7859-11eb-9da6-d84529e186ee.png)

[2021-02-26 09:49] JamesMacClaranet opened #913 "Azure Pipelines in VSCode does not recognize TerraformTaskV1@0 as a valid task"
Creating my pipelines using the Azure Pipelines Extension in VSCode has formatting errors and using the TerraformTaskV1@0 gives the error in VSCode: "String does not match the pattern of 'Powershell@2$'"

[2021-02-26 14:17] Geetanjali-joshi opened #914 "Terraform import command support"
We are planning to use terraform import command in Azure devops but unable to find import command under Microsoft terraform task :https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks

Please let us know the ETA for the import command to be available on terraform task or any alternative option for using the import command in azure devops.

Also, Please confirm if it

[2021-03-03 02:05] armanik11 opened #915 "Setting artifactSourceDefinitionURl and artifactSourceVersionUrl at release time from task"
Hello All,

We have a custom artifact source and are trying to populate these 2 well-known endpoints. But my question is can these be set only through data-binding? OR is there a way to set them from our custom task at release time by calling an external API?

artifactSourceDefinitionUrl
artifactSourceVersionUrl

Thanks,
Arun

[2021-03-03 20:06] armanik11 commented on #915
Also we tried databinding these 2 weel-known endpoints but they doesn't seem to work as expected? Can these be data-bound via our API call?

[2021-03-05 18:08] zbbfufu opened #916 "TerraformTask: configure GCP credentials to use module from gcs bucket"
Hi,

TerraformTaskV1 allow to use a "GCP for Terraform" Service Connection configured at the Azure DevOps project level. This works well to use Google Cloud Storage (gcs) bucket as terraform state backend.

However, it is not possible to use this same service connection to retrieve Terraform modules with a source from gcs like this:
[code]

To make it works, the task should add the environment 'GO

[2021-03-10 11:55] SebastianRoether commented on #898
TerraformTaskV1

[2021-03-10 17:14] jabteles opened #919 "SSL Certificate add failed, Error: 183 Cannot create a file when that file already exists"
Hi,

Having the same issue as reported in https://github.com/microsoft/azure-pipelines-extensions/issues/623, we created a new certificate, same subject name, different thumbprint.

In the task, only changed the thumbprint for the new cert and the task fails with the error "SSL Certificate add failed, Error: 183 Cannot create a file when that file already exists"

I attach the Task [verbose_log](h

[2021-03-15 13:55] WibblyDibbler opened #921 "TerraformTaskV1 leaves plan and output files on the pipeline agent"
TerraformTaskV1 plan and apply commands leave plan and output JSON files in Build.SourcesDirectory.  This is unexpected behavior.  Agent.TempDirectory should be used instead of Build.Repository.LocalPath / Build.SourcesDirectory.

[2021-03-16 23:16] pdhimate commented on #672
I am getting the same error. I have posted the details here: https://stackoverflow.com/questions/66631453/terraform-on-azuredevops-gives-error-endpoint-auth-data-not-present

Was anyone able to find a fix for this?

[2021-03-17 20:08] artur-carvalho commented on #911
DId you guys found any workaround to fix it? I'm having the same issue.

[2021-03-17 22:29] rick-ha commented on #911
@artur-carvalho - I'm not sure if Drew did, but I ended up taking out the creation of a plan and just used a fixtures var-file set to auto-approve. So :

'terraform plan -var-file="xx.tfvars" '
'terraform apply -var-file="xx.tfvars" -auto-approve'

In my case though, I test locally and only need it to deploy infra and then destroy.

[2021-03-22 09:26] sumanthbr commented on #834
Is there a plan to support this anytime in the future? We also have a use-case to consume terraform plugin to deploy resources to Alibaba Cloud from ADO. Appreciate it if you can share any timelines for supporting this.

[2021-03-26 16:36] VSJames commented on #520
I'm getting the same issues described above.  Any parallelisation of Agent Jobs using a Multi-configuration which deploys simultaneous IIS web apps on the same server seems to create the potential for this.

We're deploying around 20 configurations onto a server with 4 active agents.  It fails pretty much every time, so the only option I've got is to reduce the Multi-configuration Agent limit down

[2021-03-30 08:00] rpiteira commented on #868
If you put the argument -backend-config=environment=china in the task init it will work :)

[2021-04-02 18:37] mariuszfrompoland opened #929 "TerraformTaskV1@0 Invalid Api Version for Connecting to Azure Stack Hub"
Issue happens when selecting resource group in task TerraformTaskV1@0.
After selecting correct Azure Subscription and clicking on resource group list it displays error:

Failed to query service connection API: 'https://management.XXXXXXXXX/subscriptions/XXXXX/resourcegroups?api-version=2019-05-01'. Status Code: 'BadRequest', Response from server: '{"error":{"code":"InvalidApiVersionParameter","mes

[2021-04-06 18:26] hazcod opened #934 "TerraformTaskV1: how to store state on GCP bucket via service connection?"
Hi, where can I find the documentation on how to use the TerraformTaskV1 to store state in a GCP S3 bucket?
I can only find some general documentation that references AzureRM only.

e.g.
[code]

[code]

[2021-04-07 18:02] andresof opened #935 "Error with Azure DevOps 2020 onPremise"
Hi,
I upgraded Azure DevOps on premise from version 2019 to 2020.1. Now we have problems with the Initialize Job task on release. The log is

2021-04-07T15:43:13.2796823Z ##[error]Downloading artifacts failed: System.AggregateException: One or more errors occurred. (You do not have permissions to perform this operation on the service connection. An Endpoint Administrator should add you to the Endp

[2021-04-08 04:32] Brett-1 commented on #935
I am experiencing the exact same symptoms.

I first experienced it testing an upgrade from TFS 2017 (update 2) to DevOps Server 2020.0.1 last week. The artifact link was to a DevOps Server 2019 instance.

To investigate further, I created 2 new DevOps Server 2020.0.1 (x64) instances. The 1st instance is my repo\build server, the 2nd the "Deployment" server. I just completed testing and encountered

[2021-04-08 10:50] smushtaq opened #937 "StatusCode=502 -- Original Error: context deadline exceeded"
Hi,

I started getting the below errors since 07th April 2021. Everything was working fine on 6th april. Has there been any breaking changes to the task? Or anyone else seen this issue.

Another error i am getting is below

[2021-04-08 14:49] bolanlesd commented on #747
Hi guys, we are having the same problems. Anyone looking into this please yet?

Regards.

[2021-04-08 16:03] fcavaco commented on #672
I've the same problem... any ideas?

[2021-04-13 07:41] pho-enix commented on #858
Hello @AmrutaKawade
I can confirm the issue for eu-central-1.
From my perspective the region is completely omitted and therefore this will not work for any region different from us-east-1.
https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/vss-extension.json#L159

Is there any details on the inner workings for `ms.vss-endpoint.endpoint-auth-scheme-basic` a

[2021-04-13 22:24] BDomzalski opened #939 "IISWebAppDeployV2"
Task fails if parameter WebDeployPackage contains square brackets (starting most probably by [`Test-Path -Path` in Is-Directory](https://github.com/microsoft/azure-pipelines-extensions/blob/b003db8b509805bacf5abde17578417830c0129b/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppDeploy/IISWebAppDeployV2/MsDeployOnTargetMachines.ps1#L182)

[2021-04-15 09:43] DryadYao opened #940 "Failed to use Service Connection with a certificate: ##[error]Error: Endpoint auth data not present: {Service_Connection_Id}"
The "Terraform" extension works successfully in the "init" task, but it will show the error in the "plan" task.

**The error message is as follows.**
2021-04-07T00:05:46.3245113Z ##[error]Error: Endpoint auth data not present: {Service_Connection_Id}
2021-04-07T00:05:46.3253961Z ##[debug]Processed: ##vso[task.issue type=error;]Error: Endpoint auth data not present: {Service_Connection_Id}
2021-04-

[2021-04-16 06:45] Miouge1 opened #942 "TerraformTaskV1 fails with Terraform 0.15.0"
I noticed that terraform 0.15.0 fails with:

This commit removed support for `arm_` fields: https://github.com/hashicorp/terraform/commit/05b45ab4f38b6f2c86886280c182102775022476#diff-70783bbee4381a21a4ff387ebf3399a531a6dbfb675ae52d3636f21fe32b5cfe

Note that the `ARM_SUBSCRIPTION_ID` environment variable is still supported, so maybe that would be a workable solution.

[2021-04-16 16:02] cvanama opened #944 "Azure DevOps Release pipeline Terraform Init task failed with "The backend configuration argument" error -"
Hi Team,

Suddenly from yesterday evening we are seeing the azure devops release pipeline failed in the Terraform Init task with below error.

As of wednesday all the pipelines are working good, and every thing broke with the below error. Is this something with the latest version of terraform ? Could you please help on this.

Please find the below errors from the log:

2021-04-16T13:29:42.5195843Z

[2021-04-16 20:48] kaovd commented on #944
This is currently blocked on on reviewer at https://github.com/microsoft/azure-pipelines-extensions/pull/889, so I'd advise you ping the relevant assignee there to bump the pull

[2021-04-16 20:48] kaovd commented on #942
This is currently blocked on on reviewer at https://github.com/microsoft/azure-pipelines-extensions/pull/889, so I'd advise you ping the relevant assignee there to bump the pull

[2021-04-22 14:29] CaptainStealthy commented on #909
Wow, I didn't realize how many open issues are just for the Terraform extension! 😯

Microsoft, if anyone is reading this, you guys don't even have to write any code. Just have a developer review pull requests a few times a week! 😅

[2021-04-23 18:51] dirtygooback commented on #919
I am also having this same problem.

[2021-04-25 14:54] mukteswarp opened #945 "Terraform init stops/breaks"
Error: The process 'C:\hostedtoolcache\windows\terraform\0.12.3\x64\terraform.exe' failed with exit code 1

[2021-04-27 22:11] stewartadam commented on #780
+1, just bumped against this - would be great to have a more helpful error message when this happens.

[2021-05-03 07:58] HenrikSommer-eng commented on #907
@pavanvamsi3 what is this status on this?

[2021-05-03 13:45] pavanvamsi3 commented on #907
Hello @HenrikSommer-eng Apologies, we couldn't pick it up last quarter, this needs a bigger fix than I expected.

I'll update you with the new ETA very soon.

[2021-05-05 08:36] artur-carvalho commented on #911
I added a step to install the version in every stage and now it is working properly.

[2021-05-05 14:03] epapalefkas opened #946 "Issue with az login error for null_resource"
I have created the following null_resource

![image](https://user-images.githubusercontent.com/7847834/117153215-6df60600-adc3-11eb-9c76-b63b8639a593.png)

The command tha is running is
`az functionapp config appsettings set --name ${self.triggers.function_app_name} --slot ${self.triggers.slot} --resource-group
 ${self.triggers.resource_group_name} --settings 'APPINSIGHTS_INSTRUMENTATIONKEY=${self

[2021-05-05 14:40] hcalder opened #947 "ServiceNow Extension has no OAuth for Azure Active Directory"
There appears to be no way to use Azure Active Directory to authenticate an instance of ServiceNow in ADO’s OAuth Configuration settings. The extension only provides a way for users to use ServiceNow’s Application Registry to get the client secret and this is limiting for those that would like to go through Azure AD instead.
I see that there is a way to connect to Azure Resources in ADO in “servic

[2021-05-07 13:49] marchesir commented on #882
update:
terraform 0.15 will now break the extension:
https://www.terraform.io/upgrade-guides/0-15.html
althougth terraform init -reconfigure will tell terraform to replace old names with new ones.

[2021-05-07 15:22] #882 closed

[2021-05-07 15:23] marchesir commented on #882
refer to ticket  https://github.com/microsoft/azure-pipelines-extensions/pull/863

[2021-05-11 00:00] danielalvesleandro commented on #664
Hi,

I'm experiencing this same issue, using Terraform 0.15.3. I've already tried to expand it to:

`terraform {  backend "azurerm" {}}`

But then Terraform crashes as below:

[terraform_panic.txt](https://github.com/microsoft/azure-pipelines-extensions/files/6455544/terraform_panic.txt)

I've also tried to do the mentioned workaround creating the file using a shell command but it didn't work. Is

[2021-05-12 09:19] naman commented on #914
bump. any updates on this feature request?

[2021-05-18 00:22] Brett-1 commented on #935
FYI, my issue was resolved by adding user: Project Collection Build Service (MyProject); to the "User" role of the service connection my release is accessing via the ExternalTfsBuild artifact link.

[2021-05-18 17:08] Geetanjali-joshi commented on #914
Any update on this. Its been long time and I haven't got any response on it.

[2021-05-21 15:22] mjiderhamn commented on #944
Duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/942

[2021-05-24 06:59] NanamiTakahashi opened #957 "Service connection credentials may not be used properly within the Terraform task."
To whom this may concern,
I am contacting you as I received a strange error during a Terraform task, which Microsoft could not resolve.
The details of the error are as follows:

- The Terraform task fails with the error "You must specify either the access key / SAS token or the resource group for your storage account" only in the specific release pipeline (the "dev" pipeline).

- In another releas

[2021-05-25 10:12] mjiderhamn commented on #942
This should be resolved by https://github.com/microsoft/azure-pipelines-extensions/pull/958

[2021-05-25 15:55] #781 closed

[2021-05-26 11:14] MOlausson commented on #942
There's a new release (0.1.9) out now with a TerraformTaskV2 with support for the new configuration format. V1 should be used for Terraform <0.12 and V2 for later versions.

[2021-05-27 06:04] almir0 commented on #942
Running TerraformTaskV2 but it fails...

My config:

`strategy:
      runOnce:
        deploy:
          steps:
            - download: current
              artifact: ${{ parameters.artifactsName }}

            - task: TerraformInstaller@0
              inputs:
                terraformVersion: $(terraform_version)

            - task: TerraformTaskV2@0
              displayName: "Terraform : az

[2021-05-27 16:46] saikirangit commented on #873
Any solution for this?? instead of replacing the code manually?

[2021-05-31 11:51] vanmash commented on #942
shouldn't it be @2 ?

- task: TerraformTaskV2@**2**

[2021-05-31 12:06] vanmash commented on #745
I got the same error today.

**Terraform 0.15.3 (also 0.15.4)
TerraformTaskV2@2**

2021-05-31T11:57:20.4356919Z ##[section]Starting: TerraformTaskV22
2021-05-31T11:57:20.4365141Z ==============================================================================
2021-05-31T11:57:20.4365511Z Task         : Terraform
2021-05-31T11:57:20.4365949Z Description  : Execute terraform commands to manage resourc

[2021-05-31 12:20] OliverRC commented on #944
Can confirm that even with the latest Task this still is the case. It seems the AzureRM backend is not working, Terraform believes it is a local backend.

Makes the Task somewhat useless as I have to setup all the configuration for the backend but then it cannot even use it.
I may as well just script the CLI calls to Terraform CLI myself.

[2021-05-31 12:35] almir0 commented on #942
You are right, it works now! Thanks!

[2021-06-01 07:15] cima commented on #734
The issue at **azure-pipelines-task-lib** was automatically closed. Can we nudge them to reopen it? I did the math and find the bug and suggested a fix. But Honestly I am lazy to do the pull request agenda 😇. It is purely **azure-pipelines-task-lib**'s fault and _azure-pipelines-extensions_ has no guilt in this bug.

[2021-06-01 14:22] mjiderhamn opened #962 "Terraform plan should produce output variable that indicates whether changes are pending"
When using the `command: plan` command with the `TerraformTask*`, it should add a task output variable that indicates whether `plan` found any changes that need to be applied. This variable could then be used as a condition for later tasks, such as `command: apply` with the same `TerraformTask*`.

[2021-06-01 15:41] mjiderhamn commented on #962
This seems to supply a workaround for now. Partially inspired from [here](https://community.harness.io/t/parsing-terraform-plan-output/545).

[code]

[2021-06-09 14:49] techadmin1982 commented on #664
Is there any update on this ?. In my case I am using Terraform extension from MicrosoftDevLabs. The configuration runs flawless but no state file gets created in Azure Storage Account container. I first tried to run main.tf without the backend codeblock thinking extension task will handle that (because i mentioned the backend conif in extension task) - no go. Then i removed the backend codeblock f

[2021-06-15 17:26] JamesInDenver commented on #814
Hello.  Is this on anyone's radar?  It's been an issue for over a year and is and ongoing thorn in our sides.

[2021-06-16 03:54] andyr8939 commented on #962
There is a -detailed-exitcode option to terraform plan that does this, but if you try it via a pipeline it caused the plan step to fail with the different exit code.  Would be good if it could handle that.

[code]

[2021-06-16 07:30] BlackyTheDruide commented on #825
Hey @asranja Any update on this issue?

[2021-06-16 16:42] webbermt opened #964 "Custom ServerGate for YAML Pipelines doesn't appear in the environment approvals and checks list"
I'm attempting to build a custom ServerGate task to be able to configure a check on an environment for YAML pipelines.  The custom ServerGate appears in the classic pipeline gate editor but doesn't appear under the environment approvals and checks list for YAML pipelines.  I also tried to copy the ServiceNow Change Management gate from the Extensions/ServiceNow/Src folder in this repo.   I just ch

[2021-06-23 13:43] heikostumpf commented on #946
Hi @epapalefkas, have you found a solution for your problem? I have the same issue that I need run the az login command.

[2021-06-25 06:41] epapalefkas commented on #946
I have not used the extention. Instead used azure CLI to run terraform.
![image](https://user-images.githubusercontent.com/7847834/123381418-63711500-d599-11eb-8cb4-1251f5683877.png).
Terraform does not adapt so quickly, so for azure related resources consider bicep.

[2021-06-25 11:01] Zia-Eurus commented on #747
getting the same error as described above.
**terraform is trying to read the files(tfplan & tfstate) from my self-hosted agent as shown in the error**... but my states files are the stores on the azure blob.. this error is coming when already provision resource update
**Need to check why terraform trying to access files from agent**

[2021-06-29 17:04] MilaMF opened #966 "##[error]Error: There was an error when attempting to execute the process '/opt/hostedtoolcache/terraform/0.15.4/x64/terraform'. This may indicate the process failed to start. Error: spawn /opt/hostedtoolcache/terraform/0.15.4/x64/terraform ENOENT"
The following issue occured the terraform init in Azure Dev Ops Pipeline:
##[error]Error: There was an error when attempting to execute the process '/opt/hostedtoolcache/terraform/0.15.4/x64/terraform'. This may indicate the process failed to start. Error: spawn /opt/hostedtoolcache/terraform/0.15.4/x64/terraform ENOENT

[2021-06-30 10:32] andyong79 commented on #281
I was getting this too using an IIS Web App Manage task in my Azure Devops release pipeline in classic mode. I setup binding to use the SSL certificate thumbprint and enabled SNI. First deploy works fine but 2nd and subsequent attempts (after the binding exists) kept resulting in this error. In the end I just added a powershell task with an inline script to delete the binding first so it can be re

[2021-07-01 05:09] amit-avit commented on #281
@chshrikh @AmrutaKawade

[2021-07-01 08:14] godrejw commented on #815
Any update on this. We need this feature to enable it in our workloads.

[2021-07-01 08:20] godrejw commented on #914
Please update us about this feature? We need to run terraform import to import existing resources.

[2021-07-05 07:12] HenrikSommer-eng commented on #907
Hi @pavanvamsi3

It has now been 2 months with out any update?

[2021-07-05 08:25] pavanvamsi3 commented on #907
Hey @HenrikSommer-eng Apologies, this was a little tricky and we couldn't pick it up right away then.

We are on leave this whole week, I'll pick this up and check after that.

[2021-07-08 01:19] ahmedig commented on #946
The client ID and secrets are saved as environment variables, so you will need to use them and do az login again yourself.

[code]

[2021-07-08 15:46] pajcarpentier opened #968 "terraform show is not a command"
i Have this yaml template using the terraform task extension

`- task: ms-devlabs.custom-terraform-tasks.custom-terraform-release-task.TerraformTaskV2@2
  name: terraform_${{ parameters.terraformCommand }}
  displayName: 'Terraform ${{ parameters.terraformCommand }}'
  inputs:
    command: ${{ parameters.terraformCommand }}
    workingDirectory: '${{ parameters.pathToTerraformRootModule }}'
    co

[2021-07-11 17:15] merckm commented on #876
Why is this still not possible. It dopes not make any sense. You configure the backend in the provider section of your terraform script.

[2021-07-16 07:21] msrinivascharan opened #969 "In Azure DevOps YML pipeline, how to mandate template call?"
I have a template to perform some post build(end of the pipeline) checks. This check must happen in a build, after few jobs successfully finished.

I want to ensure, template call must be the last job in main pipeline and no control to author to skip. How to mandate template usage ?

Because this template based checks not applicable to all pipelines with in Azure DevOps organization.

Is it possib

[2021-07-19 12:30] pavanvamsi3 commented on #907
This has been triaged.

[2021-07-19 17:23] arcdev commented on #384
In our case, this happened due to a corrupt WMI repository.
It seems that the VisualStudioRemoteDeployer.exe tries to connect to `\\localhost\root\CIMV2`
then select SELECT UUID FROM Win32_ComputerSystemProduct.
Because the `CIMV2` namespace was corrupt, a `System.Management.ManagementException` was thrown and could not be serialized.

I was able to find this part of the exception in a full crash

[2021-07-27 13:10] titolopolous commented on #876
I find this issue to be ridiculous as well. I did manage to get it to working using a PowerShell task that called `terraform init -backend=false` directly, but it would be much nicer to be able to do so using the proper extension.

[2021-07-28 06:50] tilv37 opened #971 "In Pipeline, can not store tf state in azure china storage account"
I have create a pipeline task like below:

- task: TerraformTaskV2@2
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'My-SP'
    backendAzureRmResourceGroupName: 'my-rg'
    backendAzureRmStorageAccountName: 'mystatestorage'
    backendAzureRmContainerName: 'tf-state'
    backendAzureRmKey: 'tf.state'

After run the pipeline, I can not find tf.state file in the contain

[2021-07-28 17:15] wetwicky opened #972 "default version of terraform is outdated"
currently, hashicorp has released version 1.0.3 and the default version still refers to an older version 0.12.3

may i suggest to also implement a keyword for the parameters 'terraformVersion' like 'latest' to automatically use the latest version available?

i'm refering to the code here https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformIns

[2021-07-28 20:51] mikedizzle commented on #972
Serious, being able to use latest would be huge.

[2021-08-01 13:52] g-lashuk commented on #520
could you please share this script?

[2021-08-02 13:22] Skoucail opened #973 "TFS artifacts for Release Management not longer working"
After updating our Azure Devops Server to the latest version TFS artifacts for Release Management is not longer working.
Every pipeline that uses TFS artifacts for Release Management gives the same permission error (see screenshot below).

![image](https://user-images.githubusercontent.com/20516786/127867958-7aba5a26-8f24-4f09-a720-d384ed55dfb8.png)

I also think this is the same issue (but in a d

[2021-08-02 13:54] Skoucail commented on #973
In #935 the last post gave the solution...
"Project Collection Build Service (MyProject); to the "User" role of the service connection my release is accessing via the ExternalTfsBuild artifact link."

Might wanne add this in red or something to the documentation

[2021-08-03 12:43] VoloZ commented on #787
Hi @rrmistry. I also struggled with this issue and it turned that we command options don't like quotes for **-var-file** value.
Could you please try the initial configuration for command options but without quotes?

[code]

[2021-08-03 21:22] alexs77 commented on #966
Also happens with 1.0.3. Install worked fine:

[code]

The file `/opt/hostedtoolcache/terraform/1.0.3/x64/terraform` does exist and is executable. Just before the "terraform init" task, I added a Bash script task, doing:

[code]

Output:

[code]

What is this ENOENT referring to? `/opt/hostedtoolcache/terraform/1.0.3/x64/terraform` does exist.

[2021-08-07 17:43] toby-htx commented on #747
me too. trying to create an AML workspace.

![image](https://user-images.githubusercontent.com/81354022/128609317-376d2b5b-5edf-4544-97cf-0ffb73cf8bb0.png)

[2021-08-08 21:38] oWretch opened #974 "aka.ms link in Terraform extension is incorrect"
The Terraform extension has an aka.ms link (https://aka.ms/AA5j5pf) pointing to the Terraform Extension documentation. If I follow this link it takes me to https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformTaskV1/README.md which results in a 404 error.

This short link should point to either https://github.com/microsoft/azure-pipelines-exte

[2021-08-10 10:57] susumuf commented on #892
I'm not sure what diffrennt TerraformTaskV1 and TerraformCLI. but I bet it works with workingDirectory input.
[code]
so you can close this case.

[2021-08-10 13:46] romina2001 opened #975 "Terraform Apply fails on AzureDevOps hosted agent but works on local agent"
Hello,

I get the following error when trying to apply terraform changes. Terraform version is 1.0.4 but I get the same for other TF versions. Can you please help me in fixing it out.
Thanks

[code]

[2021-08-10 17:46] mzarglis opened #976 ""About this task" Link to project readme is broken in Terraform task"
Links to project readme are broken in the Terraform task

![9k4thjNPX3](https://user-images.githubusercontent.com/994599/128908974-e3f0552d-4b92-443c-9641-121e8802dddf.png)
![tpBjvSqaJq](https://user-images.githubusercontent.com/994599/128909326-f92fcf5c-8585-4f7b-8a92-9a53fc630f23.png)

[2021-08-10 18:04] #976 closed

[2021-08-10 18:05] mzarglis commented on #976
Closing duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/974

[2021-08-10 18:24] mzarglis commented on #976
Closing duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/974

[2021-08-10 20:34] mericstam commented on #944
@cvanama,  Not sure if you use the correct task.. The log file you supplied is not for the same extension

[2021-08-10 20:38] mericstam commented on #944
@OliverRC, If you can provide a log output and perhaps your terraform file (you can xx out any secrets)  it would be great for me to look into you issue

[2021-08-10 20:45] mericstam commented on #968
Terraform command  show is currently not supported. I will look into if adding this command is possible.

[2021-08-11 09:55] mericstam commented on #972
I will look into adding a 'latest' keyword to make the latest version default.

[2021-08-12 08:34] HenrikSommer-eng commented on #907
@pavanvamsi3 any update?
I seem there was a release of service now extension: https://docs.microsoft.com/da-dk/azure/devops/release-notes/2021/sprint-190-update#support-for-quebec-version-of-servicenow
But I dont know if it is related.

[2021-08-12 08:40] pavanvamsi3 commented on #907
Hey @HenrikSommer-eng that release was specific to Quebec support.

Let me follow up with the team that's owning this right now, @naga-bandi, @v-pavithrasa - Can you please check this again?

[2021-08-19 10:33] spacejam101 commented on #745
Same issue here.  I mean the workaround could work but maintaining the path for chmod mapping is a problem haha
This is quite problematic if you have multiple providers per folder in a single repo.

[2021-08-20 19:36] youngm commented on #907
This is impacting me too.

[2021-08-25 00:18] lupusllc commented on #762
We found an issue where a task using "init", when cloned, will keep it's backend AWS specific values. When you change those closed tasks to plan, apply or anything else this can cause the Agent Job to fail before it can even run any tasks. It fails when those tasks have service connection value that isn't in that subscription.

If we go into the non-init tasks, change them back to "init" and remov

[2021-08-25 05:58] vanmash commented on #745
The workaround which worked for me was to use Windows based agent

[code]

[2021-08-28 20:26] mike-thompson-h opened #979 "Service Now - Cannot Create Service Now Change Request with Extension Task"
I have tried creating a Service Now extension task using the following yml code:

stages:
- stage: Dev
  jobs:
  - deployment: 'TestingServiceNow'
    environment: snow-dev
  - job: CreateAndQueryChangeRequest
    steps:
    - task: CreateAndQueryChangeRequest@2
      inputs:
        ServiceNowConnection: 'ServiceNowDev'
        changeRequestAction: createNew
        changeType: Normal
        sho

[2021-08-29 17:12] #979 closed

[2021-08-29 17:12] mike-thompson-h commented on #979
Reinstalling the extension resolved my issues

[2021-08-31 08:23] mike-thompson-h commented on #964
I have the same issue as well. I have been changing the code in the extension, but not in the task.json for the ServerGate task.

[2021-09-13 08:43] HenrikSommer-eng commented on #907
Any update @pavanvamsi3 ?

[2021-09-13 11:12] pavanvamsi3 commented on #907
@Naga-bandi - Any update on this, this was being looked into right?

[2021-09-22 05:55] HenrikSommer-eng commented on #907
@pavanvamsi3 any one else than NAGA-BANDI who can help with an updated?

[2021-09-22 06:08] NAGA-BANDI commented on #907
@HenrikSommer-eng, @pavanvamsi3: My apologies on this delay.
@v-abajaj: Can you please look into this?

[2021-09-27 06:53] BlueBasher commented on #886
Hi @AmrutaKawade Any update on this? It's been a long time and the PR has been ready to be merged all that time.
It's a super small change and will help lots of people automate their Terraform deployments even better.

[2021-09-27 09:53] gbaychev opened #982 "Question: is it possible to set a custom icon in a custom artifact source and if yes - how?"
Hello everybody,
as the title suggests, I have written an extension, which defines a custom artifact source type. This on itself works fine, but I want to set a custom icon (like these marked in yellow in the screenshot below), so that it is easier to differentiate between artifact sources, when creating a pipeline.

Example of custom icons (I've marked them in yellow):
![image](https://user-image

[2021-09-30 23:34] PwshPally commented on #876
This is an issue in TerraformTaskV2@2 as well.  Should that be a separate issue?

[2021-10-04 08:02] tomagb commented on #747
In my case the pipeline looks like this:
[code]

The error `Too many command line arguments` comes from the missing quotes on the `mysql_connstr` variable value.
The connection string looks like this:

[code]
When inserted into the yaml it makes Terraform think that there are more than one argument.
I had to make sure `"$(mysql_connstr)"` is written instead of `$(mysql_connstr)`.

[2021-10-04 11:24] yellowpanda commented on #902
Seems to be fixed with `-task: TerraformTaskV2@2`.

[2021-10-04 12:19] HenrikSommer-eng commented on #907
@NAGA-BANDI v-abajaj dont seem to response.

[2021-10-06 19:07] stoic-tcramer opened #986 "TeamCity artifact retrieval fails possibly due to old root cert or OpenSSL usage in Node dependancies"
Starting on October 1, 2021, an Azure Pipeline using the Download Artifacts - Teamcity task which runs on a Windows agent began failing with this error:
##[error]Error: certificate has expired

As far as I can tell, the Download TeamCity Artifact task comes from this extension: https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/TeamCity/Src

No details are in the logs w

[2021-10-06 19:17] ezekielg commented on #747
Why is this still not fixed?

[2021-10-12 09:27] HenrikSommer-eng commented on #907
@v-abajaj.

It sound like your setup is correct.
Our check look like this:
![image](https://user-images.githubusercontent.com/60382556/136928480-cb546262-9133-4ac6-bba6-f63c615daca1.png)

And it is working the first time we run it.
Our yml is almos the same:
[code]
If it is not working you will have to look into the log of task: UpdateServiceNowChangeRequest
It shuold be calling:
`[servicenow url]

[2021-10-13 06:04] HenrikSommer-eng commented on #907
@v-abajaj ChangeRequestNumber is not mandatory. I can see the UI is indicate it is.
The yaml I provoided is working.

When you run the pipeline you should see that start by calling the URL:
`[servicenow url]api/now/table/change_request?sysparm_query=x_mioms_azpipeline_stage_id=[stage id]^x_mioms_azpipeline_build_id=[build id]^x_mioms_azpipeline_stage_attempt=[attempt]&sysparm_fields=number,correla

[2021-10-20 05:57] SaiReddy-247 opened #987 "Unable to set region in service connection of type “AWS for Terraform” anything apart from us-east-1."
I tried to create a service connection of type AWS for Terraform and used the service connection in Terraform task with Provider as AWS.

I also provided the same region value as you “ap-south-1”,”in-south-1” and “South India” as well and in all the 3 values it throws the below error:
Failed to query service connection API: 'https://s3.amazonaws.com/'. Status Code: 'BadRequest', Response from serv

[2021-10-22 03:38] roryprimrose opened #989 "Add support for state command"
I have sensitive state stored in an Azure storage account. The only process that has access to that state are the agents in a vm scale set via a service connection that is used in an AzDO pipeline run. We need to take actions against that state such as `list`, `mv` and `rm`.

[2021-10-25 20:38] silverscout opened #990 "Copy agentless job variable to Release variable Error"
Getting issue  with Copy agentless job variable to Release variable module below.

Can someone please provide a screen shot of how to edit the two fields? or let me know if this module is still active?

Response: An error was encountered while processing request. Exception: {"$id":"1","innerException":null,"message":"VS402904: Access denied: User EncryptedID does not have manage releases permissio

[2021-10-26 14:57] masenius opened #992 "SendTaskStartedEvent and SendTaskLogFeeds not working for HttpRequestSampleWithoutHandler"
We are using the agentless Invoke REST API in Azure Devops releases using the callback option to send status and logs back.

Our code is based on the example in HttpRequestSampleWithoutHandler. The SendTaskStartedEvent and SendTaskLogFeeds seems to have stopped working, the build is hanging in status pending until the SendTaskCompletedEvent is sent.

Has there been any changes to the APIs?

[2021-10-28 07:50] coding-domlin opened #994 "Install latest Terraform version"
We are using the Terraform Installer Task to install specific Terraform versions. This works without any issues.

Cause of a new requirements we need to install the latest Terraform version every time the task gets executed.

We are not allowed to leave the version field empty, furthermore the task breaks of during execusion when we insert "latest" as value.

How is it possible that the Terraform

[2021-10-28 10:38] jrbrewin opened #995 "ServiceNow extension using wrong API to retrieve Change Templates?"
The Service Now Change Management extension has the option to retrieve Standard Change templates, allowing change requests to be raised based on a pre-existing template. However, given the documented requirements for user permissions within Service Now it is not possible to retrieve Standard Change templates using the API currently specified in the extension.

the API endpoint is defined in [vss-e

[2021-11-02 03:35] jaisea commented on #975
Writing from my memory, I could be wrong.

Do you have this line added to your kubectl provider config? If not, can you add and try?

` load_config_file       = false`

Eg:
[code]

[2021-11-05 12:28] mericstam commented on #994
Hi, We will soon release a new version of this task with support for the 'latest' keyword.

[2021-11-06 07:07] mjthompson2107 opened #998 "Release Pipeline Schedule Start Date"
Hi

I've tried passing a value for the Schedule Start Date field using the CreateChange ServerGate in a predeployment gate, but I cannot get a valid output. These are the following values that I have tried:

11-05-2021 12:00:10 UTC - not valid
05-11-2021 12:15:10 UTC - not valid
2021-11-05T07:56:59Z - yields the wrong date   - 14-05-0011 13:48:59
05-11-2021T14:10:59Z - not valid date
05-2021-11T07

[2021-11-08 14:04] HenrikSommer-eng commented on #907
@v-abajaj how is it going with this?
Do you have any estimate on when we can expect a fix for this?

[2021-11-10 10:35] masenius commented on #992
@vithati Maybe you have some info?

[2021-11-10 22:02] mericstam commented on #944
closing this task since PR is done.  Please reopen if you feel it is incorrect and add more details.

[2021-11-10 22:02] #944 closed

[2021-11-10 22:05] mericstam commented on #945
Do you still have issues? please provide information on what version of the task (i.e TerraformTaskV1 or TerraformTaskV1 ) you are using.

[2021-11-10 22:29] mericstam commented on #747
Hi, I am a part of Solidify AB, newly appointed maintainers of the terraform extension. I will take a look at this issue.

[2021-11-10 22:35] mericstam commented on #909
Hi, My name is Manuel and a part of Solidify, newly appointed maintainers of Terraform extension. We are working on some reported issues and plan to fix more in the near future. Closing this Issue. Feel free to reopen it if you think this is incorrect.

[2021-11-10 22:35] #909 closed

[2021-11-12 12:30] rudolphjacksonm opened #1000 "Terraform Task Deprecation Warning"
Noticed this deprecation warning when using the TerraformTaskV1@0 task, not sure what it means:

`##[warning]This task uses Node 6 execution handler, which will be deprecated soon. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migrateTaskNode10. If you are the user - feel free to reach out to the owners of this task to proceed on

[2021-11-14 14:31] mericstam commented on #1000
Hi, I will look into upgrading to node 10 or higher in one of the coming releases.

[2021-11-15 10:19] mericstam commented on #792
@jeffpatton1971 @sriramdasbalaji. I will close this Issue. If you feel it is incorrect please reopen it.

[2021-11-15 10:19] #792 closed

[2021-11-17 11:01] alexMagicBeans commented on #1000
Any updates regarding this?  Is there any date to fix this warnings?

I'm using Microsoft-hosted agents and  every terraform tasks from the MicrosftDevLabs are getting this warning:

##[warning]This task uses Node 6 execution handler, which will be deprecated soon. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migrateTaskNode10.

[2021-11-17 11:04] alexMagicBeans opened #1001 "Node 6 to node 10 - Warnings Terraform tasks"
Hello, Any updates regarding the warnings that are showing in every terraform task ?

I'm using Microsoft-hosted agents and every terraform tasks from the MicrosftDevLabs are getting this warning:

##[warning]This task uses Node 6 execution handler, which will be deprecated soon. If you are the developer of the task - please consider the migration guideline to Node 10 handler - https://aka.ms/migr

[2021-11-17 11:09] alexMagicBeans commented on #1001
Actually, it also happens in other tasks, like the CopyFiles@2 task;

[2021-11-17 12:14] mericstam commented on #1001
duplicate of issue #1000

[2021-11-17 12:23] Mikebeem commented on #998
For me the following formats do work:
2021-11-17 18:00:00
2021-11-17 18:00:00+00:00

This variable is also working for me (when using the Approvals and Checks for an environment with multistage YAML): $(system.checksStartTime)

[2021-11-17 13:05] #974 closed

[2021-11-17 13:08] #972 closed

[2021-11-17 13:08] #994 closed

[2021-11-18 00:30] roryprimrose opened #1003 "TerraformInstaller uses old Node version"
I'm now getting the following warnings across all my pipeline runs.

[code]

The full step log is:

[code]

[2021-11-18 10:58] remy90 commented on #785
Trying to migrate to this plugin. It seems we're getting more state locks upon errors here than with our old pipeline. If an error occurs, I'm not sure if/when we'd want to hold a state lock in a CI pipeline

[2021-11-18 14:04] mericstam commented on #1000
I am aiming for the next release. No exactly sure when it will be. Soon

[2021-11-19 08:52] HenrikSommer-eng commented on #907
@v-abajaj, @pavanvamsi3 @NAGA-BANDI
We been waiting 10 months.
The product does not work and you can't tell when you expect this to be fixed?

[2021-11-19 13:42] mericstam commented on #945
closing this. feel free to reopen and add more information if you still have issues

[2021-11-19 13:42] #945 closed

[2021-11-22 15:11] devopsenggineer commented on #1001
Any update when these new changes get updated so that this https://github.com/microsoft/azure-pipelines-extensions/issues/1001  issue gets resolved?

[2021-11-22 16:08] #1001 closed

[2021-11-22 16:08] #1003 closed

[2021-11-23 17:13] pfilbin90 opened #1006 "No Longer Able to Read State File"
Something happened within the last 24 hours to where my Azure DevOps terraform plan task can no longer load or read the statefile.  Apparently there is an extra command line argument now.

Was there a commit recently that could be causing this?

![image](https://user-images.githubusercontent.com/20479122/143071911-b9de459b-67c5-48fe-9f60-4711bfbb8373.png)

Update: Same thing happens with Terraform

[2021-11-23 17:45] wdbetts commented on #1006
Also seeing this error, same task ran successfully 12 hours ago.

`task: TerraformTaskV2@2
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: $(Pipeline.Workspace)/terraform
        commandOptions: -out=plan -var-file=$(Pipeline.Workspace)/terraform/envvalues/GA/stag.tfvars
        environmentServiceNameAzureRM: redacted`

[2021-11-23 18:28] mericstam commented on #1006
Update:  I could reproduce the error on windows agents.  I will revert the node upgrade for now.

[2021-11-23 18:31] wdbetts commented on #1006
Thank you @mericstam, I'll retest as soon as we see the version revert and confirm the fix.

[2021-11-23 19:55] victor-chavez commented on #1006
Same issue here task ran successfully before the Node 10 update.

2021-11-23T19:50:45.5240377Z ------------------------------------------------------------------------
2021-11-23T19:50:45.5240703Z
2021-11-23T19:50:45.5241130Z This plan was saved to: marketplace.tfplan
2021-11-23T19:50:45.5241484Z
2021-11-23T19:50:45.5242457Z To perform exactly these actions, run the following command to apply:
202

[2021-11-23 19:55] captainbrown commented on #1006
Is there any way to lock in a release version?  I would love to do that as a workaround until the fix is released.

[2021-11-23 19:57] mericstam commented on #1006
I got a fix ready, Need to follow procedure to get it out. trying to get it out ASAP

[2021-11-23 20:22] mericstam commented on #1006
I did not revert node 10 but rather changed the way the temp files are removed

[2021-11-23 20:27] #1006 closed

[2021-11-23 20:42] victor-chavez commented on #1006
After merged, who soon can be the fix publish?

[2021-11-23 20:45] mericstam commented on #1006
testing it now, if everything looks ok I will publish. so in 10-20 min approx.

[2021-11-23 21:11] mericstam commented on #1006
Just waiting for a final OK from my co-worker. so few more minutes.

[2021-11-23 21:22] mericstam commented on #1006
version 0.1.12 is published

[2021-11-23 21:29] wdbetts commented on #1006
![image](https://user-images.githubusercontent.com/719249/143131348-b6572331-b8c6-424e-9868-9cae60cca92b.png)
Got it!

Plan step is green now, thank you!

[2021-11-23 21:39] victor-chavez commented on #1006
Thank so much for the quick response.

[2021-11-24 05:54] pavanvamsi3 commented on #907
@NAGA-BANDI can you please prioritize this? I remember having a discussion with Akshay and giving him some pointers.

[2021-11-24 07:37] devopsenggineer commented on #1006
Hey guys,

just checked below warning is no longer occurring anymore.  Thanks for the prompt response.

[code]

[2021-11-25 15:11] mericstam commented on #902
fixed by PR  #960.  Closing this Issue. If you think this still a problem please reopen and comment.

[2021-11-26 03:48] altwohill opened #1008 "IISWebAppManagementOnMachineGroupV0 can't detect existing SSL bindings on Server 2022"
I have the following in my yaml pipeline:

[code]
It works the first time but fails on repeat deployments on Server 2022 machines.

The issue doesn't occur on our Server 2019 and older machines.

I think the issue is due to some additional lines in the netsh output
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/629254/143522186-2dc2e984-6eb7-466e-bad5-f24b94238413.png

[2021-11-26 04:02] altwohill commented on #1008
Ah, I see #993 would fix this

[2021-11-26 19:37] Lddeiva commented on #940
Hi @DryadYao, You need to let the terraform know where your certificate is. Then, it will work fine. See the below article to know more.

[Azure Provider: Authenticating using a Service Principal with a Client Certificate](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/service_principal_client_certificate)

[2021-11-26 19:40] Lddeiva commented on #940
[code]
`client_certificate_path` is the missing parameter and you need to pass it.

[2021-11-30 10:37] mike-thompson-h opened #1009 "api/now/import/x_mioms_azpipeline_change_request_import Endpoint Error"
I am trying to use the api/now/import/x_mioms_azpipeline_change_request_import endpoint, but I am getting the following error:

{
    "import_set": "ISET0231334",
    "staging_table": "x_mioms_azpipeline_change_request_import",
    "result": [
        {
            "transform_map": "change_request_imports",
            "status": "error",
            "error_message": "Unable to resolve target recor

[2021-11-30 10:47] mike-thompson-h opened #1010 "Approval and Check"
I am looking at amending this Service Now extension for usage within my company's Azure Devops. How do I ensure that the extension keeps the "Approval and Checks" Service Now Management. When I upload my own version, it does not keep the "Approvals and Checks" part.

[2021-12-01 05:27] v-hinti commented on #907
Attempt # 1:

Create servicenow change with stageId = guid1
Close servicenow change with stageId = guid1
Attempt # 2:

Create servicenow change with stageId = guid1
Close servicenow change with stageId = guid2 (should have been guid1 or the previous line should have been guid2)

 as i checked above mentioned thing is happening. but i want to know system variables is updating in task  if we  re run

[2021-12-01 22:38] relent0r opened #1011 "TerraformTaskV2 has a dependancy on subscription ID for backend config"
AzureDevops now has Subscription and Management Group scoped Service Connections but the TerraformTask is enforcing the Subscription ID on the Service Connection object in handleBackend

I suggest making it possible to have the ARM_SUBSCRIPTION_ID used for the subscriptionid backendConfig set when the backendServiceName doesn't have it available in the azure terraform command handler similar to ho

[2021-12-02 23:08] mericstam commented on #1011
Hi,  we will take a look at this. If you want you can fork the repo and come with suggested solution, and I will review it.

[2021-12-03 13:07] vanmash commented on #962
Good post about this issue https://sathyasays.com/2020/12/31/terraform-apply-only-on-change/

[2021-12-03 14:53] mike-thompson-h commented on #1009
Fixed this by amending the Web Service settings.

[2021-12-03 14:53] #1009 closed

[2021-12-06 06:41] HenrikSommer-eng commented on #907
@v-hinti I'm not sure if you ask me to verify something or it is maybe @pavanvamsi3 ?

For me it would be more logic if stageId remained the same for each re run, and if it did the service now extensions would work.

[2021-12-07 07:50] harshiniks commented on #940
closing it as there is no response.

[2021-12-07 07:50] #940 closed

[2021-12-13 16:22] JamesInDenver commented on #814
Hi @AmrutaKawade or @nadesu.  I see that this extension hasn't been updated in over two years now.  Has this been abandoned?  Should I find another way to deploy to IIS to avoid having my account passwords being set incorrectly?

[2021-12-15 19:05] jvreddy opened #1012 "Terraform Task to delete cosmos database timeout issue"
Azure pipeline to delete cosmos DB using terraform is getting timed out after 60 minutes

error logs :

CosmosContainerARM13, 58m40s elapsed]
2021-12-14T15:01:14.1085666Z azurerm_template_deployment.cosmos_container01[0]: Still destroying... [id=/subscriptions/deployments/CosmosContainerARM13, 58m50s elapsed]
2021-12-14T15:01:22.6082334Z ##[error]The operation was canceled.
2021-12-14T15:01:22.609

[2021-12-17 13:00] bbarman4u commented on #907
_The way the logic of this extension is implemented makes it very tightly coupled to the job and environment definition and makes it susceptible to failures since it does not take into account re-runs or or how we may have impacts to the downstream processes. Since change request id is kind of the primary key, identification of that in a robust way (as explained in this year long post) and then ha

[2021-12-22 08:58] mericstam commented on #1012
Hi,
I will look into this.

[2021-12-22 12:09] jvreddy commented on #1012
Thank you , please do let me know if you need any further info from me

[2021-12-27 10:09] vanmash commented on #968
Hi @mericstam
it would be great if plan could be shown in its own tab, next to Tests.

[2021-12-29 10:47] smmnazar opened #1014 "the string provided in credentials is neither valid json nor a valid file path"
Hi Team,

I am using terraform task to run terraform init command in gcp provider. Init, Validate and plan commands are working fine in build pipeline but I am getting below error in release pipeline for terraform init command.

2021-12-29T10:38:08.3302055Z [0m[1mInitializing the backend...[0m
2021-12-29T10:38:08.3306013Z [0m[0m[1mBackend configuration changed![0m
2021-12-29T10:38:08.330693

[2021-12-29 13:48] smmnazar commented on #1014
The issue has been resolved after I have added the steps to delete .terraform folder and .terraform.lock.hcl file in the artifact. Once after this deletion I am able to see terraform plan and apply works fine.

[2021-12-29 13:48] #1014 closed

[2022-01-02 01:59] halbeezy commented on #707
is there an update on this?

[2022-01-04 03:37] nadesu commented on #707
Updated the assignment.
@vijayma - pls triage the request & involve the right engg team. Thanks!

[2022-01-04 15:20] yunqian44 commented on #780
The error message is misleading.  The problem is actually that Terraform can't find your TF file.  We should manually add
"-check:  self"  to the Task of "terraform";
For Example:
.......
steps:
            **- checkout: self**
            - task: TerraformInstaller@0
              inputs:
                terraformVersion: ${{ variables.tf_version }}
            - task: TerraformTaskV2@2

[2022-01-04 20:24] mericstam commented on #1012
As far as I can read up on this, timeout is handled by the provider.  ( https://github.com/hashicorp/terraform-provider-azurerm)
Do you have the same issue when using terraform locally?

[2022-01-07 10:11] mike-thompson-h commented on #998
Thanks @Mikebeem

[2022-01-08 19:34] mike-thompson-h commented on #998
@Mikebeem This didn't seem to work for me, as it yields the incorrect result. I've noticed in the extension code that the way the date is treated changed between v1 and v2. It works if I call the API directly via Postman

[2022-01-11 16:03] VSJames commented on #520
We're almost a year on and no sign of progress here? Even if we could mitigate this somehow it would be useful, but we are instead having to limit our process to no parallelisation which is quite frustrating.

[2022-01-13 15:57] vanmash commented on #962
Hi @mericstam

when would you say it might be ready?

[2022-01-13 20:22] timolbg opened #1019 "save Terraform plan changes as pull request comment"
We have a process where pull request changes are validated using a "terraform plan" release stage (pull request deployment). It would be great if the plan output would be added as a comment to the PR.

Today we need to navigate to the right deployment and scroll through the logs. It would be a nice improvement to the usability and workflow.

While it is not as straightforward to obtain the pull re

[2022-01-16 04:20] nadesu commented on #520
@PhilipsonJoseph @v-saikumart  - pls look into this

[2022-01-16 12:26] mericstam commented on #1019
Hi, I am not sure this should be a part of the terraform extension. You can accomplish this by using the output variable which contains the plan in JSON and in a task following the terraform task update a PR with plan output as a comment.
look at the following part of the readme:  https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformTask/Terra

[2022-01-16 14:31] nishadmehendale commented on #747
Facing this issue as well

[2022-01-17 09:04] viliket commented on #1019
Hi, @natmarchand has written a great article http://www.natmarchand.fr/terraform-plan-as-pr-comment-in-azure-devops/ which describes a relatively simple solution to display terraform plan summary as a PR comment in Azure DevOps. The solution in the article also uses the same Terraform extension.

[2022-01-18 09:58] mericstam commented on #962
Hi, sorry for late reply. We are in the midst of moving terraform extension to another repo, moving issues and fixing links ETC. we also have a plan for a V3 of the extension where we have reworked some things. Thinking of adding the discussed  feature after the move.  Can't give you an exact date but hopefully pretty soon.

[2022-01-18 15:14] huysentruitw commented on #281
Can this issue be re-opened? I had exactly the same issue as @andyong79 describes.

[2022-01-25 14:11] HenrikSommer-eng commented on #907
@pavanvamsi3 I see you have created a pull request, do you have any estimate on when it will be released?

[2022-02-01 09:34] KnutNiehaus opened #1024 "Terraform tool installer does not install latest version on hosted agent"
The terraform tool installer does not install the latest version on a hosted agent, output is:

[code]
Input in version field ist "latest"

YAML:

[code]

worked as expected when a specific version is inserted:

YAML:

[code]

[2022-02-01 10:59] mericstam commented on #1024
it looks like for some reason the task can not get the latest version number from hashicorps api. at the time of coding it i defaulted to the latest version that existed.  I will look into why this is happening.

[2022-02-01 11:05] mericstam commented on #1024
Are you running on self-hosted or microsoft-hosted agents?

[2022-02-01 12:30] KnutNiehaus commented on #1024
Hi, it runs on a self-hosted agent (Windows Server 2016) behind a proxy (updated that info) and I also looked into the code and found out, that the fetch (node-fetch) is not using the proxy-settings of the pipeline. The download request does use it, so downloading works.

Please add Proxy-Handling to the fetch to hashicorps api. Example here: [https://www.scrapingbee.com/blog/proxy-node-fetch/](ht

[2022-02-01 18:59] mericstam commented on #1024
I will look into adding the proxy settings for the version check. workaround  is to use specifc version until the fix is done

[2022-02-02 11:02] KnutNiehaus commented on #1024
Hi, as a work aroun I'll use a powershell script which quries the api, parses the json and saves the versionnumber into a variable that I then put in the version field in the Terraform tool installer task.

Here is my powerhell:

[code]

[2022-02-03 18:33] mericstam commented on #1024
Hi @KnutNiehaus,
I was wondering if you configure your pipeline in some way like setting HTTP_PROXY env. variable? I am testing with a squid proxy and can get the Installer task to get the correct version but 'terraform init' step fails due to not being able to reach azure through proxy.

[2022-02-03 21:35] KnutNiehaus commented on #1024
Hi,

we have multiple different pipelines with many different tools and I know that there are many, many ways to configure the proxy. I used the following:

1. The agent ist installed with ./config.cmd --proxyurl xxx.xxx.xxx.xxx:xxxx which should cover every task which uses azure-pipelines-task-lib methods (like the terraform installer tool download methods except the API query with node-fetch)
2.

[2022-02-04 08:10] mericstam commented on #1024
Thanks for the info. The update will be out after the move of the repository which is happening next week. I will leave this issue open and move it to the new repository where a PR will be created.

[2022-02-07 02:42] danspam commented on #1008
Just spent hours trying to figure out why the IIS web app manage task was failing. Totally broken on Server 2022

[2022-02-11 09:39] jabteles commented on #919
Would be great to have news on this

[2022-02-14 13:18] mericstam commented on #1024
I got sick in covid. so everything is a bit deplayed. Plannig for move and new release  this week.

[2022-02-16 01:47] JayDoubleu opened #1031 "Provide TerraformTaskV2 plan output variable"
It would be great if we would be able to capture the exit code of terraform plan from TerraformTaskV2 task.
This would be very useful in situations where we provide extra command argument `--detailed-exitcode`.
Based on exit code we would be able to conditionally enable apply stage/job/task if there are detected changes.

See: https://www.terraform.io/cli/commands/plan#detailed-exitcode
Exit code:

[2022-02-17 11:24] iambigred commented on #919
We are encountering the same issue.  Seems like such a fundamental problem that has been unresolved for years.

It's been raised with MS since 2019: https://developercommunity.visualstudio.com/t/iis-web-app-manage-task-should-replace-the-certifi/547395

[2022-02-18 00:43] SteveBurkettNZ commented on #968
@mericstam : Any timeline for when Show might get added in to the Terraform extension?   We need to output our plan to JSON format in order to feed it in to [Checkov](https://github.com/bridgecrewio/checkov#configure-an-input-folder-or-file) for compliance checking.

[2022-02-24 22:05] mericstam commented on #1031
this is fixed in new repo. https://github.com/microsoft/azure-pipelines-terraform/pull/11
We will release it in a few days.
Open a new Issue in https://github.com/microsoft/azure-pipelines-terraform/issues if you feel it is incorrect

[2022-02-24 22:05] #1031 closed

[2022-02-24 22:06] mericstam commented on #1019
transfering to new repo

[2022-02-24 22:08] mericstam commented on #1012
closing this due to inactivity. If you want to continue this Issue please open a new Issue at new repo location at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:08] #1012 closed

[2022-02-24 22:10] mericstam commented on #989
transferring this to new repo location

[2022-02-24 22:12] mericstam commented on #968
transfering this to ne repo location

[2022-02-24 22:17] mericstam commented on #966
Hi sorry for late reply,  Try using terraform version first 0.13 then run again with a later version.  closing this issue. If you feel this is incorrect please open a new issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:17] #966 closed

[2022-02-24 22:20] mericstam commented on #962
repo has moved. this issue is solved by PR in new repo  https://github.com/microsoft/azure-pipelines-terraform/pull/11
Release will be in the next few days. closing this issue. if you need you can open a new issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:20] #962 closed

[2022-02-24 22:24] mericstam commented on #911
closing this due to it seems resolved. If you feel it is incorrect please open a new Issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:24] #911 closed

[2022-02-24 22:29] mericstam commented on #768
fixed in PR https://github.com/microsoft/azure-pipelines-terraform/pull/11 in new repo.  Release will be done in the next days.

[2022-02-24 22:29] #768 closed

[2022-02-24 22:33] mericstam commented on #808
this will be solved with the V3 version of the extension. transferring this issue to new repo.  https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:43] mericstam commented on #975
closing this due to inactivity, If you feel you still need help please open a new Issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:43] #975 closed

[2022-02-24 22:54] mericstam commented on #957
Hello @NanamiTakahashi.  Sorry for late reply. Do you still have problems?

[2022-02-24 22:58] mericstam commented on #900
closed due to inactivity. If you feel this is incorrect please open a new Issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 22:58] #900 closed

[2022-02-24 23:00] mericstam commented on #910
moving to new repo location

[2022-02-24 23:06] mericstam commented on #898
fixed in PR #960

[2022-02-24 23:06] #898 closed

[2022-02-24 23:08] mericstam commented on #886
resolved by https://github.com/microsoft/azure-pipelines-terraform/pull/11
release of new version the next few days

[2022-02-24 23:08] #886 closed

[2022-02-24 23:21] mericstam commented on #820
you still need to have environmentServiceNameAzureRM for plan task.  closing this issue. If you feel it is incorrect please open a new Issue at: https://github.com/microsoft/azure-pipelines-terraform/issues

[2022-02-24 23:21] #820 closed

[2022-03-02 15:17] ricohomewood commented on #747
Any update on this issue @mericstam ?

[2022-03-02 17:03] mlaver commented on #747
Bumped into this issue today aswell! Any workarounds available @mericstam ?

[2022-03-23 13:42] JoshStrauss commented on #520
@PhilipsonJoseph @v-saikumart - pls look into this

[2022-04-04 14:06] HenrikSommer-eng commented on #907
@pavanvamsi3 why is this not merge yet?

[2022-04-12 12:47] HenrikSommer-eng commented on #907
Sorry for tagging you all, but can any of you give an update?

@pavanvamsi3 @NAGA-BANDI @v-hinti @v-abajaj @ammohant

[2022-04-21 15:27] HenrikSommer-eng commented on #907
Sorry for tagging you all, but can any of you give an update?

@pavanvamsi3 @NAGA-BANDI @v-hinti @v-abajaj @ammohant

[2022-04-22 08:29] matbutler opened #1039 "Add-SslCert check fails and tries to re-add ssl"
It appears to check $result.Get(4) for the Hostname:port, but its $result.Get(6) for me.

Windows 2022
IIS Version 10.0.20348.1

[2022-04-22 09:12] pavanvamsi3 commented on #907
@HenrikSommer-eng Apologies, but I've left the team and don't have an update on it.

@NAGA-BANDI what's the status on this sir? It's been super long, please keep the thread updated if there's any blocker.

[2022-04-26 08:57] Jyoti492 commented on #895
Any update on the issue as I am also facing the same issue. GET requests are successfull but no POST request going through the plugin.

Task         : ServiceNow Change Management
Description  : Gate on status of new change request or an existing change request in ServiceNow.
Version      : 2.176.0
Author       : Microsoft

2022-04-26T08:33:48.5207980Z GET https://<snow>.service-now.com//api/now/t

[2022-04-29 05:04] v-hinti commented on #907
hi @HenrikSommer-eng we have fixed the re-run stage issue in local private accounts, but we have facing issue with test environment. so finally, we have fixed the issue and changes ready to move to production mean while the customer who are getting issue Thay can do one round of (uat) in our accounts (will give access to our accounts) if everything fine we will move to production
![image](https://

[2022-05-02 07:14] HenrikSommer-eng commented on #907
@v-hinti That sound greate.
I can help with the UAT if you want me to.

[2022-05-02 10:08] v-hinti commented on #907
can we schedule the meeting?

[2022-05-02 10:08] v-hinti commented on #907
please mention your availability will schedule the meeting

[2022-05-02 14:12] v-hinti commented on #907
hi @HenrikSommer-eng please mention your free time will schedule the meeting

my team's id v-hinti@microsoft.com

[2022-05-02 14:17] HenrikSommer-eng commented on #907
I have time the next 2 hours today.
Tomorrow and Wednesday I have time from 6am to 4 pm UTC time.
Friday from 7am to 1pm UTC time.

[2022-05-03 08:29] soundd2 opened #1047 "Release pipeline is failing with terraform project template for azure devops"
I have implemented Build pipeline and release pipeline using following lab link
https://azuredevopslabs.com/labs/vstsextend/terraform/  However it is failing at the release pipeline due to the following error
![image](https://user-images.githubusercontent.com/94822959/166424010-1f193e91-6248-4091-b23d-b1eddb88aa19.png)
[](url)

and below is the error captured from  the logs:
m[31mError: [0m[0m

[2022-05-03 08:37] soundd2 opened #1048 "Server error when running azure web app QA"
I have followed the below blog to execute build pipeline and release pipeline , it is showing sucess but application is not opening up. Please assist on this
https://azuredevopslabs.com/labs/azuredevops/continuousdeployment/
Below is the error,  I have amended all the necessart settings and verified twice but still the error is popping up.
![image](https://user-images.githubusercontent.com/9482295

[2022-05-03 12:43] benjaminadrom commented on #281
why does a "release" even try to add a cert in first place? or do i get that wrong?

[2022-05-04 04:13] v-hinti commented on #907
scheduling 4:30 pm as per ist i think it's suitable

[2022-05-04 04:18] v-hinti commented on #907
your id please!

[2022-05-04 06:10] HenrikSommer-eng commented on #907
You get not get my mail  i send to v-hinti@microsoft.com?

[2022-05-04 07:56] v-hinti commented on #907
notifications@github.com this one? otherwise you can send to [v-hinti@microsoft.com]

[2022-05-04 08:07] HenrikSommer-eng commented on #907
I did send to v-hinti@microsoft.com.

By email is hsm@energinet.dk

[2022-05-04 11:22] HenrikSommer-eng commented on #907
The solutions is fixing our problem, I approve it.

[2022-05-06 22:38] rahulpandey702 opened #1049 "Oauth2 authentication scheme (client credentials flow)"
I am working on a feature, which requires us to create a service connection to be used by a build pipeline task. We are considering making use of an app registration to authenticate with our backend service via the client credentials flow.

I have currently written a prototype service connection that takes in the app registration client id, secret and passes it on to the build task, which can then

[2022-05-13 04:53] #907 closed

[2022-05-16 15:38] mericstam commented on #1047
Hi, please use https://github.com/microsoft/azure-pipelines-terraform/issues for reporting issues for terraform
Br
Manuel

[2022-05-16 15:38] #1047 closed

[2022-05-18 17:58] lupusllc commented on #762
Just re-affirming, this is still an issue.

[2022-05-19 21:17] jiggybyte commented on #1039
Hitting the same thing, it's because there are some extra lines of blank space when it calls the show sslcert....can we get a fix for this?  using Get(7) instead of Get(5) would solve it.

[2022-05-19 21:19] #892 closed

[2022-05-19 21:20] jiggybyte commented on #1008
This is still completely broken on Server 2022.  Such a shame, there's a simple fix to the script (or just don't use hard coded lines, sheesh)

[2022-05-20 11:59] jiggybyte opened #1058 "Windows Server 2022 is totally broken trying to add a binding"
The hard coded lines used in the $result.Get(X) are broken in Windows Server 2022, and have been for several months now.  This is a pretty big deal, considering the push in Azure to use the latest images.  No attention to this issue from the authors, it's a five minute fix.

[2022-05-26 09:34] microsoft-github-policy-service[bot] opened #1068 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-30 12:48] HenrikSommer-eng commented on #907
When can we expect this change to be rolled out?

[2022-06-01 17:14] oZakari opened #1070 "Invalid Redirect URI"
Hello, we are attempting to setup a service connection for ServiceNow using the OAuth2 authentication method. We believe we have everything configured correctly at this point within ServiceNow and Azure DevOps according to the documentation. However, we continue to receive an error when attempting to authorize the OAuth configuration during the Azure DevOps service connection creation. The error s

[2022-06-09 05:09] 5anjay5engupta commented on #664
Worked for me too, thanks a lot.

[2022-06-10 20:39] guidooliveira commented on #830
Trying to use a different subscription for the backend on **TerraformTaskV3@3** with commandOptions gets ignored/duplicated as it inserts subscription_id at the end using the default subscription of the SPN. Is there any other way to specify the subscription_id for the backend?
[code]

this same approach works if I set use_azure_ad to true on the backend and assign the **Storage Blob Contributor**

[2022-06-15 08:32] HenrikSommer-eng commented on #907
When will this be released?

[2022-06-16 09:23] HenrikSommer-eng commented on #907
@pavanvamsi3 @NAGA-BANDI @v-hinti @v-abajaj @ammohant does any of you have any info on when this will be rolled out?

[2022-06-18 02:42] pavanvamsi3 commented on #907
I think @rvairavelu's team is handling it right now, let me PM them as well.

[2022-06-23 13:36] NemoDima commented on #713
@romil07 @Lovakumar @chshrikh Could you check it, please?

BitBucket Service Endpoint hasn't been presented yet
![image](https://user-images.githubusercontent.com/43349820/175311556-8b1fd62b-697a-4055-9ad9-aead50e10bae.png)
but is shown on the help pages:
https://github.com/Microsoft/azure-pipelines-extensions/blob/master/docs/authoring/artifactextension.md
https://github.com/Microsoft/azure-pipel

[2022-06-29 11:39] JWDobken commented on #896
I have the same issue... any updates?

[2022-07-08 06:16] v-snalawade commented on #907
Hi @HenrikSommer-eng
We have updated the changes and we could see that stages are rerunning successfully.

![image](https://user-images.githubusercontent.com/98255332/177928557-ce001281-89be-49cc-afd9-53ef57dda922.png)

Can you please check and confirm on this.

[2022-07-08 10:21] maxall93 commented on #745
Would also like a workaround, hitting this issue myself.  Chmod works but far less than ideal.

[2022-07-14 08:35] HenrikSommer-eng commented on #907
Hi @v-snalawade

I have now checked it and can not confirm it.
I dont think your change is rolled out yet.

1. the extenstions was last updated in 2021:
![image](https://user-images.githubusercontent.com/60382556/178938611-aecdd45a-8a21-46f4-8d7a-81583badb484.png)

Also the API version seem wrong if i compare with the PR.
The API that create the change is: (Gate)
Task         : ServiceNow Change M

[2022-07-26 06:15] v-snalawade commented on #907
Hi @HenrikSommer-eng ,
We could see that changes are deployed to production. I tried at my account and it is rerunning successfully with existing extension. As we have not updated the extension it is showing the version as 4.186.1

We have updated the files for task issue
![image](https://user-images.githubusercontent.com/98255332/180936177-2daec973-d3ee-433d-ae38-8fa002e080a1.png)

If you are sti

[2022-07-26 06:48] HenrikSommer-eng commented on #907
Hi @v-snalawade

We are still facing the issue.
The issue is still it is using stage Id from attempt 1.
let me share the yml file:
[code]

[2022-08-15 02:20] chucklu commented on #121
@mvvsubbu  Are you talking about [SqlPackage.exe](https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage?view=sql-server-ver16)?
Could you give an example about how to pass system.debug varibale?

[2022-08-15 19:08] collinprice commented on #885
Can we get an update on this? This has increased our deployment times significantly and there isn't any good work arounds.

[2022-08-18 23:38] mvvsubbu commented on #121
Currently I am not working in this team anymore. @kmkumaran can you add current owner for this task

[2022-08-25 07:19] kmkumaran commented on #121
+ @rohit-batra and @vijayma

[2022-08-25 07:22] chucklu commented on #121
@kmkumaran @mvvsubbu  Thanks for your effort, currently I can publish the .dac through latest version of vs2019.  Previously there is a bug in older vs2019 version, which make it impossible to publish database project through vs. After I upgrade vs 2019 to latest version, it works fine now. So, I won't need to publish .dac through command.

[2022-08-30 23:15] lzocateli commented on #919
I'm having the same problem, does anyone have a workaround?

[2022-08-30 23:18] jabteles commented on #919
Removing the certificate (PowerShell) before executing this task

[2022-09-06 07:11] HenrikSommer-eng commented on #907
@v-snalawade any update on this or do I need to reopen a new issues

[2022-09-06 07:19] v-snalawade commented on #907
@HenrikSommer-eng  -
Wanted to check repro steps with YAML you have shared.
 Can we setup a call? Please let me know your availability.

[2022-09-06 22:34] cherietopham11 commented on #907
This sounds like an absolute nightmare. We are running in to a versioning issue with service now.

Encountered error(s) while parsing pipeline YAML:
Job UpdateChangeRequest: Step  references task 'UpdateServiceNowChangeRequest' at version '2.183.0' which is not valid for the given job target.

Both extensions are up to date and I am not sure where this is referenced then...

[2022-09-07 17:13] HenrikSommer-eng commented on #907
Sure @v-snalawade
All time are in UTC time zone.
Tomorrow from 9AM until 2PM
Friday: 8AM until 10AM and again from 11:30 am until 2PM

Next week
Monday and Tuesday from 8AM until 5PM

[2022-09-21 05:46] v-snalawade commented on #907
@HenrikSommer-eng -
Meeting scheduled on 23-sept-2022 at 9:00 AM UTC

[2022-09-21 06:30] HenrikSommer-eng commented on #907
ok see you friday.

[2022-09-23 09:05] HenrikSommer-eng commented on #907
@v-snalawade are you joining the meeting?

[2022-09-23 09:10] v-snalawade commented on #907
@HenrikSommer-eng -
Yes, I will be joining

[2022-09-30 11:49] Nitesh-kumar-Reddy opened #1085 "Issue while running terraform plan with azure ci/cd yaml pipeline"
Starting: TerraformTaskV3
==============================================================================
Task         : Terraform
Description  : Execute terraform commands to manage resources on AzureRM, Amazon Web Services(AWS) and Google Cloud Platform(GCP)
Version      : 3.209.19
Author       : Microsoft Corporation
Help         : [Learn more about this task](https://aka.ms/AAf0uqr)
===========

[2022-09-30 17:55] raelyard commented on #897
The AzureRM provider can be configured such that it won't use keys to talk to storage. This includes for the azurerm backend. This can be done with `shared_access_key_enabled = false` on the provider. This does make some of the functionality in storage unavailable,
https://github.com/hashicorp/terraform-provider-azurerm/issues/17341#issuecomment-1162907877

It seems to be adequate, though, for run

[2022-10-11 13:47] kldzacharyrothweiler opened #1086 "Ansible Inventory on agent machine not found"
Sanitized raw log attached; task version 0.0.5

Inputs defined below. I've verified that parameters.inventoryPath is set to the correct path in a task preceding this that prints it out.

[code]

[redacted-ansible-task-logs.txt](https://github.com/microsoft/azure-pipelines-extensions/files/9756463/redacted-ansible-task-logs.txt)

[2022-10-11 15:32] kldzacharyrothweiler commented on #1086
Figured out the issue;

`inventoriesAgentMachine: File`

should have been

`inventoriesAgentMachine: file`

[2022-10-11 15:32] #1086 closed

[2022-10-17 05:27] HenrikSommer-eng commented on #907
@v-snalawade  any update on this?
And can we reopen it?

[2022-10-28 10:29] Sagar2493 commented on #942
I am still getting this issue although I have tried using the Terraform Init task version as : task: TerraformTaskV2@2

[2022-10-28 17:35] vanmash commented on #942
Check if it works with

‘ TerraformTaskV3@3’

[2022-11-03 15:08] manindragandham opened #1087 "through azure devops my terraform state file is not storing in azure storage account"
my ci cd pipeline through azure devops is running successfully for the first time and later if i add something it showing to create everything and throwing an error as some resources are already exist so i came to know that my statefile is not storing in azure storage account

[2022-11-04 16:48] danielkimuipath opened #1088 "Pipeline Log Updates are extremely slow to update on Terraform task"
Since last week, I have observed that our pipeline progress/logs are extremely slow to update unless I refresh with the browser. For example, viewing a running step will:

- Show as running past its actual run time until a browser refresh
- New logs do not show until a browser refresh
- Stage/job updates on the run results page require a browser refresh
- See the video where the step keeps running

[2022-11-07 12:31] HenrikSommer-eng commented on #907
@v-snalawade 3 weeks and no response?

Please reopen this since it is not solved.

[2022-11-07 12:35] v-snalawade commented on #907
@HenrikSommer-eng  -

We are in process of generating extension and publish it to marketplace. We will keep you posted on updates.

[2022-11-08 17:26] davija commented on #817
2 years and this hasn't been fixed?  Why is this considered an "enhancement"?  This is a bug as a configurable value is hard-coded that makes using standard deployment practices impossible.

[2022-11-16 21:55] petrochuk opened #1093 "Document ms.vss-endpoint.endpoint-auth-scheme-managed-service-identity"
It looks like there is "managed identity" authentication scheme ms.vss-endpoint.endpoint-auth-scheme-managed-service-identity but it is not documented here: https://github.com/microsoft/azure-pipelines-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md.

Can it be documented?

[2022-11-25 07:10] Emill00 commented on #907
Is there any update about this issue?

[2022-11-28 19:13] #1068 closed

[2022-11-29 00:24] davidrueckert commented on #907
It appears that the extension version wasn't updated in the code fix committed in May. Only the task version was updated. The extension version in the vss-extension.json file is still version 4.186.1 (the latest extension version in the marketplace) and hasn't been updated since April 2021. Is there any update on getting the extension version updated and pushed to the marketplace? Hopefully, this