[2016-05-24 11:30] weijoe opened #23 "Install extension"
I tried to install this extension on my tfs and it didn't show up.

I am using tfs 2015 update 2.1

steps to reproduce:
download extension
tfsurl/tfs/_gallery/manage
upload the extension
install extension.
go to release management(or build) and add task.
WinRM doesnt show up

thanks for the help

[2016-05-24 12:00] weijoe commented on #23
I forgot to set the correct build agent in the environment.

[2016-05-24 12:00] #23 closed

[2016-06-01 17:16] jshepler opened #30 "WinRM - IIS Web App tasks' "More Information" links are incorrect"
They both have http://aka.ms/iiswebappdeployreadme which redirects to the old IIS Web Application Deployment page at https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/IISWebAppDeployment/README.md

I would think they should point to http://aka.ms/IISWebDeploy which redirects to the new page at https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/

[2016-06-02 07:43] mvvsubbu commented on #30
I have redirected it to extension readme, where it points to individual readme files

[2016-06-02 07:43] #30 closed

[2016-06-07 15:19] joecoolish opened #41 "Add other MSDeploy arguments"
Reading through the MsDeployOnTargetMachines.ps1 code, I see that all of the Override Parameters are forced into the "-setParam:" flag for the MSDeploy command.

I have a requirement for one of my deployments to add a `-skip:Directory=\\LoadedAssemblies` to the MSDeploy, and I was able to do this by modifying the `Get-MsDeployCmdArgs` function in MsDeployOnTargetMachines.ps1 to include the followi

[2016-06-09 07:29] mvvsubbu commented on #41
Yes there are plans to add additional commands as well as skip target directory and few other. Currently we are working on enabling Sql Task once that is done we will work on this.

[2016-06-09 18:18] joecoolish commented on #41
Sweet!  I can't wait!  Until then, I'll use the patch above.  Great work!

[2016-06-10 06:01] mvvsubbu commented on #41
You could float a PR by adding additional arguments input for task, we are open for contributions :)

[2016-06-12 18:24] dzimmyman opened #43 "Application Pool (Create or Update) with "No Managed Code" results in AppCmd 80070057"
Setting .NET Version to the item "No Managed Code" produces appcmd error 80070057.  Viewing the actual command that gets run, you can see that the selection actually gets passed as /[name='"MyAppPoolName"'].managedRuntimeVersion:**No Managed Code**
 instead of just a blank.

The work-around is to choose one of the other options (e.g. v4.0) and pass in an **Additional AppCmd.exe Commands** without

[2016-06-12 18:43] dzimmyman commented on #43
Reconfirming suspiscion, running the deploy with **system.debu** shows the following command is run (abbreviated) and the parameter for  : "C:\Windows\system32\inetsrv\appcmd.exe"  section:system.applicationHost/applicationPools /[name='"CrmWebApiTest"'].managedRuntimeVersion:No Managed Code .... etc
Sorry, no time to fix and submit pull request.

[2016-06-13 21:01] scgbear opened #44 "Admin login and password"
Would it be possible to remove the admin login and password from the configuration. Perhaps have the option to have it run within the context of the build agents credentials?

I'm working with an organization that will not be able to use the IIS Web Deploy and Management extensions for that single reason. Exposing the credentials, even in a masked state of a variable, is a security concern that th

[2016-06-13 21:32] jabbera commented on #44
The new build agent is based on Core CLR which has recently added NTLM support. It's documented as working to authenticate against TFS, I'm hoping this means it will also have that ability against deployment targets. If it does not we will be using a password manager API to retrieve the passwords during a release. (This appeased our security czar)

https://github.com/Microsoft/vsts-agent/issues/15

[2016-06-14 21:40] jabbera opened #46 "IISWebAppMgmt web root folder permissions"
I'm using the IISWebAppMgmt to create a website that has just been robocopied to a server. The app pool runs as a domain account that does not have administrator access. The task doesn't change permissions on the web folder to ensure the app pool account has access to read the files. I don't know for sure if this functionality belongs in this task or if it belongs somewhere else. I just wanted to

[2016-06-15 04:29] mvvsubbu commented on #43
Issue is addressed it will be available in next release

[2016-06-15 04:29] #43 closed

[2016-06-15 05:10] mvvsubbu commented on #46
I don't think it falls under this task responsibility. It should be done outside of the task.

[2016-06-16 00:18] AHoran opened #49 "IISWebAppDeploy ERROR_FILE_IN_USE"
Using TFS 2015 Update 2.
IISWebAppMgmt: 1.0.2
IISWebAppDeploy: 1.0.1

In my release I have a Manage IIS App task followed by a Deploy IIS App task. If I add _"Additional AppCmd.exe Commands"_ to the Manage IIS task, then I (almost) always receive the following error when trying to deploy my package:
**Deployment failed on machine xx.yy.com with following message : System.Exception: Error Code: ERR

[2016-06-16 01:13] AHoran commented on #49
Actually now I'm getting it even without the additional appcmd items.

How do I find out which file is causing this and why?

[2016-06-16 03:59] mvvsubbu commented on #49
Can you set system.debug variable to true and then try the release or build. Please attach the logs for the release or build here.

[2016-06-16 04:55] AHoran commented on #49
2016-06-16T04:42:11.4243513Z ##[debug]Loading module from path 'D:\agent2\tasks\IISWebAppDeploy\1.0.1\DeploymentSDK\InvokeRemoteDeployment.ps1'.
2016-06-16T04:42:11.4399517Z ##[debug]Dot-sourcing the script file 'D:\agent2\tasks\IISWebAppDeploy\1.0.1\DeploymentSDK\InvokeRemoteDeployment.ps1'.
2016-06-16T04:42:11.4399517Z ##[debug]Entering script DeployIISWebApp.ps1
2016-06-16T04:42:11.4555521Z ##[

[2016-06-16 06:56] mvvsubbu commented on #49
This error is coming while deploying website, We have a user to add take app offline feature we will update with that feature soon. For now you can modify the following line in MsDeployOnTargetMachines.ps1 file of IISWebDeploy Task and increase the patch number of the task and upload to your TFS account.

Actual:
$msDeployCmdArgs = [string]::Format(' -verb:sync -source:package="{0}" {1} -dest:auto

[2016-06-16 07:59] AHoran commented on #49
Your change seems to have worked. I've completed 2 deployments now. Thanks

I did also test a suggestion from elsewhere to add
`  <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>`

to my .pubxml file, which didn't work.

[2016-06-16 08:19] mvvsubbu commented on #49
Ok thanks for confirming I am closing the issue.

[2016-06-16 08:19] #49 closed

[2016-06-16 09:27] #46 closed

[2016-06-16 17:33] dzimmyman commented on #43
Thanks, I tried the latest and it now works as expected.

[2016-06-20 15:24] gencebay opened #51 "IIS Web App Deployment On Premise TFS Task Issue with ASP.NET Core 1.0 RC2"
Trying to  IIS Web App Deployment Using WinRM for ASP.NET Core 1.0 RC2 on premise TFS Update 2.1 and latest vsts-rm extensions installed (1.1.0) but I'm getting this error :
_" Source does not support parameter called 'IIS Web Application Name'. Must be one of (). "_
on last release step.
I have created webdeploy package (as .zip file) properly but could not deploy it.
![deployment](https://cloud.

[2016-06-21 03:50] mvvsubbu commented on #51
In your webdeploy package there will be a file called parameters.xml which will contain IIS Web Application Name key that is missing in your case. Can you check do have that or not.

[2016-06-21 09:10] AHoran commented on #49
I do still hit the problem occasionally, but it is much reduced. Unfortunately I've not captured the logs on those occasions in order to check if it's the same file.

[2016-06-21 10:24] mvvsubbu commented on #49
This particular option brings the website down before deployment and hence no files should be in use thus file in use error should not happen. If it is still happening means either msdeploy is not doing the right thing or some file handles are not release completely before the deployment is started. Can you give idea on frequency (%age failure).

[2016-06-21 12:00] gencebay commented on #51
Yes, it worked fine now! Thanks.

[2016-06-21 12:41] mvvsubbu commented on #51
Ok I am closing the issue.

[2016-06-21 12:41] #51 closed

[2016-06-21 22:44] AHoran commented on #49
It might be 1 in 10 or 1 in 20. Once it starts happening though that site is left in a 'Site Maintenance' state, and even when you redeploy the file remains in use. Only reboot or IISReset fixes the problem.
I have re-enabled the debug log and will wait for a recurrence.

[2016-06-22 05:26] mvvsubbu commented on #49
If you know the dll name there are other options that you can set, but this options will skip deploying that dll
-skip:objectName=filePath,absolutePath=" RobustHashWrapper.dll "

[2016-06-22 06:04] AHoran commented on #49
Previously it was Antlr3.Runtime.dll. I have re-enabled the debug logging, and am waiting for the next failure.

[2016-06-22 06:23] mvvsubbu commented on #44
We have a backlog item for this, so I am closing this issue. We will update you once this feature is done.

[2016-06-22 06:23] #44 closed

[2016-06-24 14:50] mvvsubbu commented on #41
These features are deployed with 1.2.0 version

[2016-06-24 14:50] #41 closed

[2016-06-27 02:51] AHoran commented on #49
According to the detailed logs it's happening with the dll from our own project.

[2016-06-27 02:59] AHoran opened #54 "Using -enableRule:AppOffline stops msdeploy from creating the folder on disk"
WinRM - IIS Web App Deployment

If you're deploying a new site, and the physical folder doesn't exist then msdeploy will create that folder for you and deploy the site into it.
However if you use -enableRule:AppOffline then you get this error

`Error: Could not find a part of the path 'C:\inetpub\wwwroot\MyProjectName\App_Offline.htm'`

My RM deployment will create an environment and site if none

[2016-06-27 03:45] mvvsubbu commented on #54
Thanks for reporting we will address this

[2016-06-27 09:55] AHoran commented on #49
Have just discovered that my web.config contains:

[code]

I suspect that this might be why i'm suffering the problem so frequently. I'm currently uncertain why this is in my web.config, and will try and find out!

[2016-06-28 04:27] mvvsubbu commented on #54
We have fixed this, we are creating folder upfront so this should happen

[2016-06-28 04:27] #54 closed

[2016-07-04 14:06] swcarter007 opened #56 "Deploy to App under existing Site"
I am trying to deploy to an application that exists under an existing site, but the deploy task doesn't seem to allow the ability to do that. Whenever I tried to set the WebsiteName to be the application name, it says site does not exist. Whenever I tried to set the WebsiteName to be the main website name, it overrides that website instead of creating a subfolder.

[2016-07-04 15:28] mvvsubbu commented on #56
If you have website already created in your deployment task, you can give website name as website\application. Refer the below screen shot
![image](https://cloud.githubusercontent.com/assets/11993108/16565286/f183fc30-4229-11e6-9316-78f34d0114e5.png)

If you need to create website as well in management task give website name only.

[2016-07-04 15:28] #56 closed

[2016-07-05 12:16] swcarter007 commented on #56
I am attempting to create/update an application under a site, and that is what is failing currently.  I have the site created as Site1 and the app under it as App1.  In the Manage task, I used the WebsiteName field as "Site1\App1" and I pointed the physical path to "Site1\App1 Subfolder" and listed the port as the same port as Site1.  When I attempted this, I recieved an invalid site name error.

[2016-07-05 12:30] mvvsubbu commented on #56
In manage task you should give site name as Site1 only. In deploy task you can specify the App1 details like I showed above

[2016-07-05 12:35] swcarter007 commented on #56
So I would have 3 tasks total.  1 Task to create the website, and 2 tasks one for deploying the site and one for the sub application?

[2016-07-05 12:39] swcarter007 commented on #56
I attempted this and it does indeed work.  My apologies for not testing that before my last comment.  Thank you for your assistance.

[2016-07-08 16:36] kishoreinvits commented on #56
I am able to get this scenario to work as recommended.
I created two tasks
1. For website creation(Say RMOWebsite)
![image](https://cloud.githubusercontent.com/assets/6522155/16694425/c1bdc4fa-4557-11e6-90d0-c563662af2ea.png)

2. For Web App creation(Say RMOWebsite\RMOWebApp)
![image](https://cloud.githubusercontent.com/assets/6522155/16694459/05710284-4558-11e6-895b-3f5709cbe1a7.png)

Variables I

[2016-07-19 08:01] Liran-Dobrish opened #57 "HTTPS binding failes to set credential"
hello
I'm using the task to deploy my web site to IIS 8 on Windows2012R2.
i first deploy the site with http and application pool configurations set.
i then run the task again to set the Https binding only.
and it fails with "incorrect parameter" error.
the log show the following:
"_2016-07-18T13:27:18.0674249Z Checking website exists. Running command : "C:\Windows\system32\inetsrv\appcmd.exe"  lis

[2016-07-26 12:44] mjacobs80 opened #58 "Support for appOfflineTemplate"
I posted a review asking about such support, the response was that this could be done using the advanced arguments.

[https://ms-devlabs.gallery.vsassets.io/items?itemName=ms-vscs-rm.iiswebapp](url)

However, I am unclear as to how exactly that can be accomplished as the appOfflineTemplate option is part of the -dest argument for msdeploy.

If this can be achieved via the advanced parameters pleas

[2016-07-27 03:55] mvvsubbu commented on #58
Ok we got the problem. We will add this to our backlog. We are happy to take your contribution if you could do it or for now you can follow the below post and modify the existing task then upload to your account.

http://forums.iis.net/t/1203305.aspx?appOfflineTemplate+with+iis+handler

[2016-07-27 21:33] peder opened #59 "Support for pass-through authentication?"
![image](https://cloud.githubusercontent.com/assets/1018574/17192185/ff7ea164-5412-11e6-842a-8bd6ae8d4000.png)

If I use passwords in Build or Release scripts, I cannot change the password centrally with tools like Secret Server or Cyber-Ark Password Vault. Basically, this tool requires a never-changing password with admin rights to production servers. Is there any way around this?

[2016-07-27 21:36] jabbera commented on #59
We all want this feature:

https://github.com/Microsoft/vsts-rm-extensions/issues/44

[2016-07-27 21:43] peder commented on #59
Oh, my bad, I looked at the open issues for duplicate but not closed ones.

[2016-07-27 21:45] jabbera commented on #59
No worries. Keep bringing it up. I'm dying for this feature

[2016-07-28 03:58] mvvsubbu commented on #57
Hi Liran,

Sorry for the delay in response. Can we have a call regarding this; for me 9 AM - 6 PM IST works. You can mail me at subraman at Microsoft dot com with your suitable time.

[2016-07-28 09:17] fireydude opened #60 "Multiple applications in a website"
I would like to be able to have multiple web APIs in one domain name running in IIS.

[2016-07-28 10:06] mvvsubbu commented on #60
https://github.com/Microsoft/vsts-rm-extensions/issues/56

[2016-07-28 10:09] #60 closed

[2016-08-01 11:18] mvvsubbu commented on #57
Did you get unblocked from this issue?

[2016-08-03 06:20] jdshkolnik commented on #58
Would this solve the "##[error]System.Exception: Error Code: ERROR_FILE_IN_USE" I keep getting when I try to deploy to my on-prem IIS server? I can't seem to get around it.

[2016-08-03 09:26] mvvsubbu commented on #58
Yes take app offline option should solve this problem

[2016-08-03 15:42] swcarter007 opened #61 "MsDeploy arguments and string concatentation"
There is an issue when adding additional arguments to the MsDeploy task for the Application Deployment task.  When you include things such as **-skip:Directory="\\logs$"**, it ends up writing the statement that is executed as  **-skip:Directory=** which ends up skipping all files from being updated.  The task itself should be changed so that quotation characters are accepted in case you need to sp

[2016-08-04 16:59] jdshkolnik commented on #58
@mvvsubbu Any sense as to when this might get released assuming no external contributors?

[2016-08-06 09:36] Christoffleroux commented on #57
Im having the same issue setting the certificate on the created binding. I have attached my task log.
[tasklog_7.zip](https://github.com/Microsoft/vsts-rm-extensions/files/404955/tasklog_7.zip)

[2016-08-08 04:32] mvvsubbu commented on #58
AppOffline option is already available(under advanced) but not with custom template, Adding our PM/Lead to comment on timeline

[2016-08-09 12:14] niadak commented on #61
This issue has been fixed and is available in latest version.

[2016-08-09 12:14] #61 closed

[2016-08-11 13:01] embix opened #66 "trailing backslash in physical path causes illegal character in iis"
When using C:\domains\mydomian\project\ as Physical Path in Website from the WinRm - IIS Web App Management task the iis basic settings physical path is malformed/corrupted on execution. Thus a following WinRM - IIS Web App Deployment task fails with the "illegal character in path" message.
[a pic says more than 1k words](http://i.imgur.com/HfJuOZO.png)

Usually you'd expect paths be accepted both

[2016-08-12 05:12] niadak commented on #57
Can you please try the following command in the target machine.

netsh http add sslcert hostnameport=ww.tstcore.smd.co.za:5555 certhash=2A756F641B02C1971FFA1D34FEDE43D7C6FFD9BC appid={{497D490F-EEA7-4F2B-AB94-48D9C1ACDCB1}} certstorename=MY

If that succeeded, please varify the certificate Thumb print you are providing in task input. From the logs it seems like there is a extra ? in the Thumb Prin

[2016-08-12 05:22] niadak commented on #66
@ embix,
We are not able to repro the issue. For me trailing backslash is working file in physical path. Can you please share the logs with us? Use System.Debug=true to generate detailed logs.

[2016-08-12 06:38] embix commented on #66
https://gist.github.com/embix/2ccb9590ad0fc0228a9ce8311c8c315c

As I got that baby working without that trailing slash, the app pool and site already exist but the path still gets corrupted:

    2016-08-12T05:59:37.8894554ZPerformingdeploymentinparallelonallthemachines.
    2016-08-12T05:59:37.8894554ZDeploymentstartedformachine:webserver.subdomain.mydomain.comwithport5985.
    2016-08-12T05:59:3

[2016-08-12 07:11] embix commented on #66
Logs for the management and deployment part: https://gist.github.com/embix/8bcd635b0256cda4fc86cdde6a36a3fa

    2016-08-12T06:50:42.7162821Z Checking application exists. Running command : "C:\Windows\system32\inetsrv\appcmd.exe"  list apppool /name:"Snapshotter79AppPool"
    2016-08-12T06:50:42.7162821Z Application Pool ("Snapshotter79AppPool") does not exists
    2016-08-12T06:50:42.7162821Z Cre

[2016-08-12 07:52] Christoffleroux commented on #57
Hi Niadak

I’ve run the command on our target server (Win Server 2012 R2)

Receiving the following

[cid:image001.png@01D1F47F.40292FC0]

Thanks for the support
Christoff

From: Niadak [mailto:notifications@github.com]
Sent: Friday, 12 August 2016 7:13 AM
To: Microsoft/vsts-rm-extensions <vsts-rm-extensions@noreply.github.com>
Cc: Christoffleroux <christoffleroux@hotmail.com>; Comment <comment@nor

[2016-08-12 12:51] niadak commented on #66
Thanks for sending the logs. Seems like we have to handle trailing backslash as it setting the physical path wrongly. We will fix the bug as per our team priority. For now you can get unblocked by passing the path without trailing backslash.

[2016-08-12 12:55] niadak commented on #57
@Christoffleroux ,
I am assuming you are unblocked and closing the issue. Please feel free to reopen otherwise

[2016-08-12 14:06] Christoffleroux commented on #57
Hi Niadak, no please dont close this issue, im still having this problem, ive sent you the output from the command you requested.

[2016-08-15 06:09] mvvsubbu commented on #57
Can we have a call to close the issue faster, Any time between 9 AM to 6 PM IST is fine, you can reply with your convenient time so that we can have a call

[2016-08-15 13:22] sivanyuta opened #67 "Override parameters"
When using WinRm - IIS Web App Deployment task in override parameters if we pass as a value "something with \&quot;" it is converted to \&amp;quot;
I added : name="param1",value="...\&quot;data source=blah blah blah;App=EntityFramework\&quot;"

and in final web.config it looked like  "...\&amp;quot;data source=blah blah blah;App=EntityFramework\&amp;quot;"

[2016-08-15 13:22] sivanyuta commented on #67
Is there any way to solve this issue?

[2016-08-16 03:53] mvvsubbu commented on #67
@ambrishm,

You have handled same issue in past can you help him with solution?

[2016-08-16 09:03] ambrishm commented on #67
The &quot; used to escape the ‘ character creates problem because & is considered as a special character in XML and is further escaped with &amp;. Best to just use ‘ character rather than escaping it with &quot;. The following substitution works fine.

name="param1",value="...'data source=blah blah blah;App=EntityFramework';"

Thanks,

Ambrish Mishra

[2016-08-18 14:35] #67 closed

[2016-08-18 14:35] sivanyuta commented on #67
Thanks for help

[2016-08-23 01:10] jfilburn opened #74 "Given binding already exists for a different website"
Hello,

Setting bindings is failing with version 1.2.2.

I get this error:
Given binding already exists for a different website (web site 2 in this example), change the port and retry the operation.

I have a web site that has multiple bindings, for example:
Web site 1:
Bindings: app | app.domain.com | app.na.domain.com

Web site 2:
Bindings: appsvc | appsvc.domain.com | appsvc.na.domain.com

Depl

[2016-08-23 04:33] mvvsubbu commented on #74
Thanks for reporting the issue, we will fix it soon. BTW we are accepting contributions if you have fix you can provide we are more than happy to take it :)

[2016-08-23 14:19] jfilburn commented on #74
I noticed that bindings are always listed ending with a comma ','
To fix it I would edit the  Extensions / IISWebAppDeploy / Src / Tasks / IISWebAppMgmt / AppCmdOnTargetMachines.ps1 function Does-BindingExists

I would change:
$binding = [string]::Format("{0}/{1}:{2}:{3}", $protocol, $ipAddress, $port, $hostname)

to
$binding = [string]::Format("{0}/{1}:{2}:{3},", $protocol, $ipAddress, $port, $ho

[2016-08-23 17:19] jfilburn commented on #74
Update ...
Being new here I found I can make the change. I made the edit and created a pull request for this fix.

Thanks
Jeremy

[2016-08-23 18:12] mvvsubbu commented on #57
Can you respond with your time slot for meeting

[2016-08-24 13:34] mvvsubbu commented on #74
Issue is fixed will be available in next release

[2016-08-24 13:34] #74 closed

[2016-08-25 05:53] mvvsubbu commented on #57
I am closing the issue, if you have still have the issue contact RM_Customer_Queries at Microsoft dot com

[2016-08-25 05:53] #57 closed

[2016-08-31 23:30] jdshkolnik opened #92 "How to set site authentication using Deploy IIS App task?"
Hi,

Is it possible to deny anonymous authentication and enable windows authentication in the same task that creates the site?

[2016-09-01 05:06] mvvsubbu commented on #66
Issue is fixed and will be released in subsequent release.

[2016-09-01 05:06] #66 closed

[2016-09-02 06:19] mvvsubbu commented on #92
I am not sure I really understood your question. Right now current task takes credentials to talk to remote machine, how it is anonymous. Can you explain more what is ask?

[2016-09-03 01:20] jdshkolnik commented on #92
I'm talking about the web site's authentication methods in IIS. I did it using an explicit appcmd in the postsync.

[2016-09-06 04:19] mvvsubbu commented on #92
Here we wanted maintain right balance between all the options and most commonly used. For those options that everyone may not be using we have exposed appcmd additional so that they can achieve what they need like you did. We will revisit this as more and more customers are asking about this for now we keep the experience as it is.

[2016-09-06 04:19] #92 closed

[2016-09-09 21:05] Alcruz opened #97 "Error trying to deploy to iis on remote server, WINRM IIS DEPLOY TASK"
![tfs](https://cloud.githubusercontent.com/assets/2265826/18402861/933aa8ee-76af-11e6-9a44-cb4c32398d76.PNG)

[2016-09-12 14:29] Alcruz commented on #97
This error occurs when the username has a period.

[2016-09-14 11:18] mvvsubbu commented on #97
Thanks for reporting the issue, if you have fix you can float a PR we are accepting contributions.

[2016-09-15 19:05] ttutko opened #104 "WinRM -SQL Server DB Deployment can't find SqlPackage.exe"
I installed the Data-Tier Application Framework using the August 2016 x86 and x64 msi's as well as the version linked in the readme (July 2015) but the powershell script is unable to find SqlPackage.exe. It appears that the registry settings created/updated by the installers put information in:
    `"HKLM\SOFTWARE\Wow6432Node\Microsoft\Microsoft SQL Server\Data-Tier Application Framework"`

The sc

[2016-09-19 04:43] mvvsubbu commented on #97
Can you set system.debug flag to true and send us the full logs

[2016-09-20 17:51] sumo300 opened #106 "Support Deployment of Sub-Applications / Virtual Directories"
In many cases, applications we deploy are not root applications.  They are hosted as sub-applications underneath a single site.  It'd be great if the WinRM tasks directly supported this scenario.  We're currently trying to find a combination of arguments to pass in to make it work, trying to avoid custom tasks.

[2016-09-21 04:57] mvvsubbu commented on #106
Thanks for your feedback adding our PM @RoopeshNair  to note this feedback

[2016-09-21 10:05] RoopeshNair commented on #106
We have in our backlog to support the deployment of virtual applications.
For now, please refer to GitHub link: https://github.com/Microsoft/vsts-rm-extensions/issues/56 which has more details around this.

[2016-09-21 10:05] #106 closed

[2016-09-28 14:58] LordCheese opened #113 ""Site '.' does not exist" error"
I've been trying to set up a TFS 2015 (on-prem) build definition to deploy an ASP.NET Core 1.0.1 (using .NET Framework 4.6.2, not pure Core), however it always fails on the Deploy IIS App step. The previous step is a Manage IIS App step to ensure the site is set up correctly, and that works fine. When it gets into the Deploy step, it fails with the error:

    Error Code: ERROR_SITE_DOES_NOT_EXIST

[2016-09-28 15:30] perp1exed opened #114 "WinRM IIS Web Deploy - Only deploys empty App_Data folder"
Hi,
My deployment package is there in the correct folder.

The Overide Parameters is set with the IIS wev app name as is the Website Name property.

After deployment runs successfully, only the App_Data folder is present and it is empty.

Running on prem.

Please advise.
thanks,
KS

[2016-09-29 16:04] shamnigurat opened #115 "Critical and unbelievable bug makes impossible to deploy to IIS"
I'll be brief.
1) Look closely at this:
Deploy-Website -webDeployPkg $WebDeployPackage -webDeployParamFile $WebDeployParamFile -overRiderParams $OverRideParams -websiteName $websiteName -excludeFilesFromAppData $excludeFilesFromAppData -removeAdditionalFiles $removeAdditionalFiles -takeAppOffline $takeAppOffline -additionalArguments $AdditionalArguments

There is the $websiteName parameter.

2) Lo

[2016-10-06 06:32] mvvsubbu commented on #113
Have you confirmed the website exists ? And what is the result of the following command when ran on your azure VM

"C:\Program Files\IIS\Microsoft Web Deploy V3\msDeploy.exe"  -verb:sync -source:package="C:\code-staging\quote-order-dev\publish.zip"  -setParamFile="C:\code-staging\quote-order-dev\production.xml" -setParam:name="IIS Web Application Name",value="QuoteOrderDev" -enableRule:DoNotDelete

[2016-10-06 06:35] mvvsubbu commented on #114
Can you Exclude files from App_Data option is selected which is present under MsDeploy Additional Options section

![image](https://cloud.githubusercontent.com/assets/11993108/19142717/39ab710a-8bbd-11e6-9f21-386b0e1bf3e6.png)

[2016-10-06 07:09] mvvsubbu commented on #115
The parameter $websiteName is never used in Deploy-Website. Override parameters contains details about where to deploy. Unused parameter I will remove

[2016-10-06 07:09] #115 closed

[2016-10-06 07:30] mvvsubbu commented on #104
Hi Thanks for bringing it to our notice. Can you float PR if you have already fixed it for you?

[2016-10-07 09:35] luke-austin commented on #113
Had a similar issue passing additional arguments to MSDeploy seemed to fix it for me

`-setParam:kind=ProviderPath,scope=contentPath,value=$(target.website)`

Of course replacing $(target.website) with your website name.

[2016-10-07 09:44] Sacha-K commented on #57
RM_Customer_Queries at Microsoft dot com is redirected to vsdpteng at microsoft dot com that is only accepting Microsoft internal emails and throwing a 550.

[2016-10-07 09:51] Sacha-K commented on #57
I’m using the WinRM - IIS Web App Management release task with a TFS on premise server. I’m trying to add a https binding to a website but there’s something wrong with the SSL Certificate Thumb Print. I set it as ‎24b0ade3c0f8d16abaae0f31bc5ad161f9692cd9 but the release fails and I only have the following in the logs:

What is the correct format for the certificate thumb print?

[2016-10-07 11:51] shamnigurat commented on #115
It's unacceptable because without fixing this issue as I mentioned ([#115](https://github.com/Microsoft/vsts-rm-extensions/issues/115)) deployment is not working at all.
Just look at the parameters of the "WinRM - IIS Web App Deployment" task.
There is the parameter named "Website Name". Just tell me: what is this parameter for?
The information's hint tells: "Provide the name of the website **for

[2016-10-07 15:11] Sacha-K commented on #57
Looks like it was caused by an extra ? at the beginning of the thumbprint for everyone here. I copied the thumbprint from the Details tab in the certificate view on the server and somehow ended up with the extra ? at the beginning.

It's some invisible unicode character. It's a bit sneaky as it looks fine in TFS, then I modified AppCmdOnTargetMachines.ps1 to add a Write-Verbose showing the command

[2016-10-07 15:25] Sacha-K opened #118 "https binding with SNI fails if website name has spaces"
- Add a WinRM - IIS Web App Management task
- Check "Create or Update Website"
- Set "Website Name" to `Default Web Site`
- Check "Server Name Indication Required"
- Complete other parameters

The release fails and in the logs we have:

[2016-10-10 14:14] shamnigurat opened #120 "IIS Web App Deploy task doesn't work with iisApp provider"
The [issue #115](https://github.com/Microsoft/vsts-rm-extensions/issues/115) was closed incorrectly.
Without fixing this issue as I mentioned deployment is not working at all and the task "WimRM - IIS Web App Deployment" becomes almost useless.
Just look at the parameters of the "WinRM - IIS Web App Deployment" task.
There is the parameter named "Website Name". Just tell me: what is this parameter

[2016-10-10 21:28] amccool opened #121 "logging in SqlPackage.exe"
using WinRM - SQL Server DB Deployment, how can I get the verbose logging output from sqlpackage.exe?

[2016-10-12 05:09] mvvsubbu commented on #120
Can you sync over face to face call? Can you propose your convenient time, so that we can discuss and understand more about it

[2016-10-12 05:10] mvvsubbu commented on #114
Can you update your state ?

[2016-10-12 05:11] mvvsubbu commented on #113
Can you confirm the above solution worked for you or not?

[2016-10-12 05:13] mvvsubbu commented on #97
The issue is fixed it will available in 1.2.4 release which should be out this week and hence I am closing this issue if it happens again feel free to re-open the issue

[2016-10-12 05:13] #97 closed

[2016-10-12 06:29] #118 closed

[2016-10-12 06:40] mvvsubbu commented on #121
You can set system.debug variable to true for build / release definition. This will show the sqlpackage.exe logs

[2016-10-12 15:15] LordCheese commented on #113
Hi @mvvsubbu,

I just tried your suggestion, and I get the same error:
![image](https://cloud.githubusercontent.com/assets/2198696/19315782/4a862698-905c-11e6-8da4-1a9ed878fdbd.png)

[2016-10-13 04:10] mvvsubbu commented on #113
Actually we haven't tested this extension Asp.Net Core Apps yet, I wanted to check the error is coming from MsDeploy only. Given that Luke's suggestion helped you I will recommend for anyone if they hit same issue in future until officially make this extension ready for Asp.Net Core Apps ::

[2016-10-13 04:10] #113 closed

[2016-10-13 04:10] mvvsubbu commented on #121
Any update?

[2016-10-13 04:26] mvvsubbu commented on #104
I assume you are unblocked your self by using the dac framework installation link given in the readme. Can you please confirm

[2016-10-13 07:31] shamnigurat commented on #120
Sorry, I can't sync over face to face call. But it's simple to describe the bug here:

**1)** Download the web-package file [WebApp.zip](https://github.com/Microsoft/vsts-rm-extensions/files/526441/WebApp.zip) to your IIS-machine. The file was created by the following command:

"C:\Program Files\IIS\Microsoft Web Deploy V3\msdeploy.exe" -source:iisApp="O:\TestSite" -dest:package="WebApp.zip" -decl

[2016-10-13 11:19] mvvsubbu commented on #114
Any update???

[2016-10-14 08:21] mvvsubbu commented on #120
The way you are creating package is different from our recommendation. You refer the following link for detailed help : https://www.visualstudio.com/en-us/docs/release/examples/other-servers/net-to-vm

If you  want to create package from visual studio you can follow : https://codemonkeygotsmarts.wordpress.com/2014/04/21/msdeploy-create-a-web-deployment-package-from-visual-studio/

[2016-10-14 14:42] perp1exed commented on #114
Sorry about the delay. Checking that option does not change the behaviour.

The App_Data folder is deployed with nothing in it.

thanks.

[2016-10-14 16:26] pnguyen535 commented on #114
Hi,

I ran into the issue below. Please help

 Deployment failed on machine  "machinexxxxx" with following message : System.Exception: Cannot bind argument to parameter 'Path' because it is null.

[2016-10-14 20:25] perp1exed commented on #114
Could there be something wrong with the deployment zip file? It looks ok, has the standard directory structure. Maybe permissions issue? accept the account I use has rights to all servers. I'm confused.

[2016-10-17 04:30] mvvsubbu commented on #114
Creating package you refer the following link for detailed help : https://www.visualstudio.com/en-us/docs/release/examples/other-servers/net-to-vm

If you want to create package from visual studio you can follow : https://codemonkeygotsmarts.wordpress.com/2014/04/21/msdeploy-create-a-web-deployment-package-from-visual-studio/

If you have followed one of the above approach then there should not be

[2016-10-17 04:32] mvvsubbu commented on #114
@pnguyen535,

When did you encounter the issue for Path is null exception?? Actually we have fixed similar issue on 13th October. If you have encountered the issue post that can you open a separate issue for that and share your deployment logs by setting system.debug to true.

[2016-10-17 04:33] mvvsubbu commented on #121
I am considering you got what you are looking for and hence going ahead and closing the issue. Feel free to re-open if you didn't get what you are looking for.

[2016-10-17 04:33] #121 closed

[2016-10-17 04:34] mvvsubbu commented on #120
Any update?

[2016-10-17 09:28] ttutko commented on #104
I used the installation links in the readme to begin with and that's when I received the error. I unblocked myself by hard coding the correct path into the Powershell script provided but I have not had time to go back and try and fix the powershell to work for all scenarios for a pull request.

[2016-10-17 10:36] mvvsubbu commented on #104
Thanks for confirming we are addressing this soon.

[2016-10-17 19:16] perp1exed commented on #114
I am creating the package via ALM release web portal - is that what you are asking?

The zip package is there in the stated location.

I have posted some settings - what other settings do you want to see?

thanks,

KS

[2016-10-18 04:18] perp1exed commented on #114
Attaching log.
[ReleaseLogs_62.zip](https://github.com/Microsoft/vsts-rm-extensions/files/535258/ReleaseLogs_62.zip)

[2016-10-20 03:44] mvvsubbu commented on #120
Can i assume your issue is resolved?

[2016-10-21 08:45] shamnigurat commented on #120
As I can see you read my last post casually and really don't understand the purpose of the "WinRM - IIS Web App Deployment" task and how it should work.
I don't know how else I could argue here because I'VE EXPOSED THE BUG IN STEP BY STEP INSTRUCTION!!! I don't know what else do you want from me and wonder why you are responsible for this code!!! Read the following carefully:

1) "_The way you are

[2016-10-21 09:18] mvvsubbu commented on #120
Asp.Net core apps we haven't tested and it is in our backlog. We will make sure your concern is addressed when we do that

[2016-10-21 09:53] shamnigurat commented on #120
I'm really tired to explain you OBVIOUS things.
**It doesn't concern Asp.Net core apps DIRECTLY.**
It's all about how the "WinRM - IIS Web App Deployment" task deploys to IIS a web-package created with msdeploy.exe (it **doesn't matter** who and how created the web-package). **The task does it WRONG.**

**JUST TRY THE STEPS I'VE DESRIBED ABOVE!!!!!!! THERE IS  _OBVIOUS_  ERROR!!!!!!!!!!!**
And don

[2016-10-21 09:54] shamnigurat commented on #120
And remove "Invalid" label from the issue!!!!

**The issue is VALID.**

[2016-10-21 20:56] jfilburn opened #130 "NET.TCP binding support"
Just wanted to ask if there is anything in the pipe for net.tcp binding support?

[2016-10-24 17:52] perp1exed commented on #114
Just thinking out aloud here but my build outputs two folders: "_PublishedWebsites" and 'drop".

The contents of both of these are identical: There is a folder with site files and then there is a package folder containing the zip.

What is the point of the folder with the website files only? It does not get deployed so why is it there?

I ask because it would be easy to replace the tokens in the w

[2016-10-27 20:57] kyurthich opened #133 "Having issues with credentials"
I seem to be getting stuck here, any ideas?

https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/Common/DeploymentSDK/Src/InvokeRemoteDeployment.ps1#L253

![image](https://cloud.githubusercontent.com/assets/3331097/19785155/60c9c73c-9c66-11e6-8847-c744a5e02b8c.png)

![image](https://cloud.githubusercontent.com/assets/3331097/19785169/7593c960-9c66-11e6-8527-6e30f939847f.png)

![

[2016-10-31 18:16] kyurthich commented on #133
Ran into this. It seems like the password may be empty.

https://social.msdn.microsoft.com/Forums/vstudio/en-US/2f8325b6-e633-423f-b6e7-cd9ba62ad740/vso-secret-variables-are-empty-at-build-time?forum=TFService

![image](https://cloud.githubusercontent.com/assets/3331097/19865940/aa76f34e-9f74-11e6-8535-e7042791ddb3.png)

[2016-10-31 20:16] kyurthich commented on #133
Turns out, you have to unmask the field, fill in the value, then reset it to secret.
Otherwise the value will NOT save.

[2016-11-01 22:34] mayeager22 opened #134 "WinRM - IIS Web App Deployment ERROR_SITE_DOES_NOT_EXIST"
I am trying to deploy to IIS, but not matter what I try for setting my site name, it does not work.

This might be related to Issue #120

![image](https://cloud.githubusercontent.com/assets/9683192/19910116/ad7aa43c-a050-11e6-8a54-60ad8c606c58.png)

I get, but it does not tell me what it is trying to use for SiteName.

System.Exception: Error Code: ERROR_SITE_DOES_NOT_EXIST

2016-11-01T22:09:31.84

[2016-11-02 19:45] mayeager22 opened #135 "Addition MsDeploy argument -allowUntrusted seems to be ignored."
I have set up WinRM on my domain joined server using a self-signed cert.  I can deploy to it using a publish profile out of Visual Studio with the <AllowUntrustedCertificate>True</AllowUntrustedCertificate> setting.

However, when I try to use the "WinRM - IIS Web App Deployment" task I still get this error
2016-11-02T18:09:34.5727763Z Deployment failed on machine <machinename> with following mess

[2016-11-03 08:30] shamnigurat commented on #134
Yep, it's the same bug as [Issue 120](https://github.com/Microsoft/vsts-rm-extensions/issues/120).

But it seems nobody hurries to fix it.

[2016-11-07 22:17] mmikkelson opened #140 "add https binding not working"
**Task configuration follows...**
[code]
New binding is created, no certificate selected:

**Edit Site Binding dialog**:
[code]
When I click the drown-down, i'm able to select the correct certificate, the add binding option does not take care of this.

[2016-11-10 17:53] KrishnaAdityaB commented on #140
@mmikkelson
It seems like parsing issue with PowerShell as mentioned [here](http://stackoverflow.com/questions/9722273/using-netsh-on-powershell-fails-with-error-the-parameter-is-incorrect).

Can you correct this in the task file from you agent's folder and try the Build/Release again? https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/Ap

[2016-11-10 17:57] KrishnaAdityaB commented on #130
@RoopeshNair ?

[2016-11-10 18:21] KrishnaAdityaB commented on #133
@kyurthich
Are you on TFS or VSTS?
If TFS - what is the TFS version? what is the Agent version?
If VSTS - are you still facing this issue? If yes, What is the Agent version? Can you provide us your VSTS account (https://<account>.visualstudio.com)?

[2016-11-11 22:28] emiliojaime opened #141 "Error when overrides parameters"
I get the following error
 System.Exception: Error: Unrecognized argument 'value=2106'. All arguments must begin with "-".

In override paramters in deployment section i input the following value

name="ApplicationID", value=$(ApplicationID)
name="ProjectWebService_WebMethods", value=$(WebServiceURL)

I also try using

name="ApplicationID", value="2106"

I dont know if something is missing ... ple

[2016-11-12 04:54] KrishnaAdityaB commented on #141
@emiliojaime
Please try with removing the spaces after comma.

name="ApplicationID", value=$(ApplicationID) should become
name="ApplicationID",value=$(ApplicationID)

[2016-11-12 13:42] KrishnaAdityaB commented on #120
@shamnigurat Thanks for the feedback and the fix.

I incorporated your fix and tested it. The existing CI/CD started breaking with the error "_Source (sitemanifest) and destination (iisApp) are not compatible for the given operation_".
_Visual Studio Build_ task generates the web package with a manifest provider by default. And this package can't be deployed with _dest:iisApp_.
As the primary use

[2016-11-12 14:39] KrishnaAdityaB commented on #134
@mayeager22
To make sure if it is same as issue #120 can you share the steps of how you created the web package?

Can you set a Build/Release variable with name **System.Debug** & value **true** and run the Build/Release again? It will give you detailed logs and the msdeploy.exe command arguments. You can see the site name getting used.

To make sure the site exists - This task doesn't create the

[2016-11-14 03:16] emiliojaime commented on #141
@KrishnaAdityaB Thanks a lot , now is working.

[2016-11-14 08:47] #141 closed

[2016-11-16 04:48] kyurthich commented on #133
I am VSTS. No longer an issue. On the VSTS side when you input a variable and mark it as a secret so it is not visible, Turns out to change it, first you have to unmark it as a secret, type in the new value, and remark it as a secret.

[2016-11-16 06:51] shamnigurat commented on #120
@KrishnaAdityaB Thanks a lot!!!

It's a ray of light in the darkness :)

[2016-11-16 13:23] #133 closed

[2016-11-18 11:55] KrishnaAdityaB opened #147 "Sql DacPac deploy task doesnot log stderr to Build/Release log"
Moving https://github.com/Microsoft/vsts-tasks/issues/3002 here

**Quoting issue**
When using the DacPac Deploy Task, I can see what looks like stdout in the build/release log. However, if the dacpac deployment fails, the stderr output does not appear in the build/release log. I do see:
[code]
However, running the same command in a console gives the actual error (like incorrect SQL version or what

[2016-11-18 14:33] KrishnaAdityaB commented on #147
This fix will be released soon. Until then there is a mitigation available.
You can add a Build/Release variable with name _System.Debug_ and value _true_. This will ouput verbose logs which contain the full error message

[2016-11-18 14:39] KrishnaAdityaB commented on #140
@mmikkelson
In some cases we noticed that Copying the certificate thumb print from Certificate Manager copies an invisible character - This causes "The parameter is incorrect." error.
Please carefully select the thumbprint without that character. You can verify this by pasting the copied value in a notepad. Saving it will raise a pop-up saying "this file contains characters in Unicode format".

[2016-11-18 17:09] KrishnaAdityaB commented on #140
@mmikkelson I formatted the issue description according to my interpretation.

Can you share me the debug logs of the task?
Set a build/release variable with name _System.Debug_ and value _true_. Run the scenario and share the logs here or mail them to RM_Customer_Queries at microsoft dot com

[2016-11-20 17:49] feco93 commented on #120
Same issue here. "WinRM - IIS Web App Deployment" task fails.

[2016-11-20 18:17] feco93 commented on #134
I think this issue is same as #120.
I set the System.Debug variable to true.

Manage IIS App creates the site and application pool:
Deployment started for machine: 127.0.0.1 with port 5986.
Deployment status for machine 127.0.0.1 : Passed
Successfully created website: ApiTest

Deploy IIS App task fails with Deployment failed on machine 127.0.0.1 with following message : System.Exception: Error Cod

[2016-11-21 09:28] KrishnaAdityaB commented on #147
Fix will be available in the next release. Meanwhile, please use the work around mentioned above.

[2016-11-22 17:07] mmikkelson commented on #140
...
76 2016-11-22T17:01:52.9175743Z Checking if SslCert binding is already present. Running command : netsh http show sslcert ipport=0.0.0.0:443
77 2016-11-22T17:01:52.9175743Z Setting SslCert for website.
78 2016-11-22T17:01:52.9185796Z Not enabling SNI : sni : false, iisVersion : 8, hostname : wwwdev.extdev.wellmark.com. Possible Reasons:
79 2016-11-22T17:01:52.9195869Z  1. IIS Version is less t

[2016-11-22 19:19] mmikkelson commented on #140
determined that the task fails if the parameter for the thumbprint does not include whitespace, but the netsh command expects the thumbprint to have the whitespace removed. possible bug in the powershell script?

AppCmdOnTargetMachines.ps1 - made following changes for troubleshooting on my agent machine

added the following after line 196
    #trim whitespace from certhash parm
    $certhash = $ce

[2016-11-23 08:15] KrishnaAdityaB commented on #140
@mvvsubbu can you provide context on why cerstoreName param is passed in line 207 but not 217?
@mmikkelson can you raise a PR with your changes - so that it will let us understand the gap for your scenario? Thanks

[2016-11-23 11:43] mvvsubbu commented on #140
if we have not passed certstorename option, default value is MY https://msdn.microsoft.com/en-us/library/windows/desktop/cc307220(v=vs.85).aspx

[2016-11-25 11:17] stas-sultanov commented on #140
Hi, there,
I'm facing exact the same issue.
certificates is not selected after the task completes.

[2016-11-28 10:32] KrishnaAdityaB commented on #135
Closing this issue. Please reopen it if the above comment didn't help you

[2016-11-28 10:44] KrishnaAdityaB commented on #134
@feco93 @mayeager22 I am closing this issue as a duplicate of #120

@feco93 as you were trying work-around with parameters xml, see if luke-austin's comment from #113 helps you

[2016-11-28 10:44] #134 closed

[2016-11-29 15:23] issafram opened #152 "Multiple Bindings?"
Sorry to open an issue for this, but how does one specify multiple bindings using this extension?

[2016-11-30 09:57] larserikfinholt commented on #135
I got the same issue (TFS 2017 RC)

I've checked the "Test Certicate" option, and also tried setting allowuntrusted as additional args. Using the produced myapp.deploy.cmd it works fine.

Deployment started for machine: 10.123.4.56 with port 5986.
2016-11-30T09:49:14.3623362Z Deployment status for machine 10.123.4.56 : Failed
2016-11-30T09:49:14.3864145Z Deployment failed on machine 10.123.4.56 wi

[2016-11-30 10:51] rajatagrawal-dev commented on #152
Hi @issafram
Currently we do not support adding multiple bindings from the task. To add multiple bindings you try one of the following:
1. Since our task **adds** the binding that you specify in the task, you can add the bindings one-by-one-triggering a separate release for each binding.

2. You can also manually add the bindings in you IIS website from IIS Manager once. The IIS task will not dele

[2016-11-30 11:09] KrishnaAdityaB commented on #135
@larserikfinholt  The name of the target machine you provide in **Machines** field of the task should exactly match the machine name you used during certificate generation.

**Example**: Certificate can be generated using one of the below. Use the same in the task.
- **simpleName**: myMachineName
- **FQDN**: myMachineName.Domain.Corp.Org.com
- **IP Address**: 172.123.145.65

[2016-11-30 12:22] larserikfinholt opened #153 "IIS Web App Deployment Using WinRM - why not webdeploy directly"
Hi!

As I understand, to use this task we need to first copy the zip to the target maching, then do a webdeploy. This involves opening ports for remoting 5986 and file copy 445. Why not use webdeploy directly? It would have been great to have a task that allowed my to pick a .zip (like the IIS Web App Deployment Using WinRM task) and then do a WebDeploy directly (only requires webdeploy port).

I

[2016-11-30 12:26] larserikfinholt commented on #135
Thanks, that solved my issue.

[2016-11-30 20:05] issafram commented on #152
Can I just add multiple tasks to the same release?  Like can I have one task per binding?

Also, option 3 seems very attractive.  But it might need some complicated variables to work.  I don't want to input my website name in multiple locations.  The comma seperated list of bindings should be an option in the plugin (IMO), so that it generates the AppCmd.exe command dynamically.

What are your tho

[2016-12-01 05:02] rajatagrawal-dev commented on #152
Yes, multiple tasks in single release should work as well.

You can define a variable in your release definition and use it everywhere in the task. For example you can add a variable "websiteName" with value "myWebsiteName". Then you can use that variable in the task-just use $(websiteName) instead of "myWebsiteName".

There are no current plans to add an option for multiple bindings in the task r

[2016-12-02 16:15] mmikkelson commented on #140
@mvvsubbu I understand that the expected behavior for `netsh http add sslcert` without the certstorename parameter *should* default to "MY", however, observed behavior when executing the following command does not support that expectation, hence the raised issue.
`netsh http add sslcert ipport=0.0.0.0:443 certhash=5226dc6c54559761cd471b86eb51c096252c90f2 appid='{4dc3e181-e14b-4a21-b022-59fc669b091

[2016-12-06 04:49] rajatagrawal-dev commented on #152
Please reopen this issue if you have further queries regarding this.

[2016-12-06 04:49] #152 closed

[2016-12-07 06:19] mvvsubbu commented on #135
Closing the issue as it is solved

[2016-12-07 06:19] #135 closed

[2016-12-07 06:21] mvvsubbu commented on #104
Issue is fixed with 1.3.0 version release of the extension https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.iiswebapp. Closing the issue please feel free to re-open it if still face any issues

[2016-12-07 06:21] #104 closed

[2016-12-07 13:44] rodrigoff opened #161 "Override parameters not working after 1.4.0 update"
Since the update to 1.4.0 version today, the field "Override parameters" is not working as expected.
The parameters there are being ignored and the values defined in the parameters file is being used instead.

I've rolled back to 1.3.0 and this issues doesn't happen.

Was there any change in the parameter override structure in this update?

[2016-12-07 16:48] alondero commented on #161
Our release pipeline has broken today because of this issue :-(

[2016-12-07 16:49] Kitcheone commented on #161
Yep, we're having the same issue with 1.4.0

[2016-12-07 19:17] marcodiniz commented on #161
We are also unable to deploy because this

[2016-12-08 03:54] ksix commented on #161
Yeah this has killed us as well. How can we roll back to version 1.3?

[2016-12-08 07:32] Ajay-MS commented on #161
I apologize for issue, I have created PR for fixing this issue. Will update extension soon.

[2016-12-08 07:50] RoopeshNair commented on #120
@shamnigurat,

Appreciate your feedback. I'm sorry for the issue you're experiencing. We will track the support for it in our backlog.

Current implementation of WinRM task has "-dest:auto" implicitly set and the package format needs "dest:iisApp" switch which is the issue..

For now, to unblock yourselves can you please try generating the package using below command using msdeploy:

"C:\Program F

[2016-12-08 08:29] RoopeshNair commented on #153
@larserikfinholt - webdeploy remote agent service is not installed by default. Also, we had a proven WinRM (PowerShell on Target) task. Which made sense to leverage WinRM option and run webdeploy locally, plus enable appcmd options as well.

We encourage contributions, you can share one with webdeploy remote option, I'm sure many will benefit from it.

Thank you

[2016-12-08 08:29] #153 closed

[2016-12-08 08:52] Ajay-MS commented on #161
Task has been updated with fix for above mentioned issue. Can you please confirm if you are still facing any issue with task.

[2016-12-08 09:17] alondero commented on #161
@Ajay-MS yes can confirm this is fixed now. Feel free to reject my PR I raised for this yesterday

[2016-12-08 09:29] Ajay-MS commented on #161
@alondero
Thanks for confirming same and thanks for raising a PR too 👍

[2016-12-08 11:42] rodrigoff commented on #161
@Ajay-MS
Confirmed it's fixed. Thanks 👍

[2016-12-08 11:53] Ajay-MS commented on #161
@rodrigoff
Thanks for confirmation. Closing this issue feel free to open if you ever face any problem again.

[2016-12-08 11:53] #161 closed

[2016-12-08 14:33] KrishnaAdityaB commented on #135
@larserikfinholt
FYI - improved the help text after your feedback. https://github.com/Microsoft/vsts-rm-extensions/pull/158.
Thanks.

[2016-12-08 20:29] rloliveirajr commented on #147
Was this released already?

[2016-12-12 20:13] ynijs opened #164 "IIS App deployment failed without clear error message"
This used to work, must be broken by some update I think.
The task IIS Web App deployment deploys a webdeploy package to a remote IIS server using WinRM over http. For some reason, it intermittently fails with the only error message being the following:
2016-12-12T20:13:07.3015505Z Status            : Failed

2016-12-12T20:13:07.3015505Z DeploymentLog     :

2016-12-12T20:13:07.3015505Z

[2016-12-20 05:55] brett3210 opened #166 "Support for Encryption of web.config Files"
The Task doesn't appear to support the encrypting of sections of the web.config file.  Could this functionality be added please?

[2016-12-20 06:06] brett3210 opened #167 "Approach to Deploy an App to Servers Hosted in Azure"
The following page uses the "IIS Web App Deployment Using WinRM" task:
https://www.visualstudio.com/en-us/docs/release/examples/other-servers/net-to-vm

However, it states:
"To deploy an app to servers hosted in Azure, see Deploy ASP.NET apps to Azure virtual machines."
https://www.visualstudio.com/en-us/docs/release/examples/azure/net-to-azure-vm
That is, use the Run Powershell Task instead to de

[2016-12-21 05:58] philcart opened #168 "Extension is not installable on any currently installed products"
Running TFS 2015 Update 3  (14.102.25423.0 (Tfs2015.Update3))
When I try to install the extension it fails with the following. The full log file is attached

`21/12/2016 4:54:26 PM - VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products.`
`    at VSIXInstaller.App.InitializeInstall(Boolean isRepairSupported)`
`    at VSIXInstaller.App.Initia

[2016-12-21 06:00] philcart commented on #168
Previous log file was from Desktop attempt. This log file is from the TFS Server itself

[VSIXInstaller_651909a5-7c46-4d3e-9833-a077d24195e5.txt](https://github.com/Microsoft/vsts-rm-extensions/files/665581/VSIXInstaller_651909a5-7c46-4d3e-9833-a077d24195e5.txt)

[2016-12-21 08:49] KrishnaAdityaB commented on #147
@rloliveirajr yes, it was released. Are you still facing the issue? Can you provide your extension and task version?

@Ajay-MS can you share the extension release version containing this fix? I was not able to find the release branch.

[2016-12-21 09:34] nickeyyan commented on #147
@KrishnaAdityaB do we need to update existed task?

[2016-12-21 09:35] Ajay-MS commented on #147
This issue was fixed in extension version 1.3.0.

[2016-12-21 09:46] nickeyyan commented on #147
After talk with Ajay-MS, as we meet this issue in VSTS-TASK not in extension. VSTS team still working on this issue. And it will be available on next 1-2 weeks.

[2016-12-21 10:00] Ajay-MS commented on #147
With extension SQL server dacpac deployment task issue has been fixed with version 1.3.0.  This issue is with SQL Azure Dacpac deployment task that will be fixed soon.

[2016-12-22 19:54] marncosta opened #169 "Web Deploy Management Issue"
Hi,

I get the below error when I execute the deploy. I am still using TFS 2015 Update 2. Is the problem related to this?

2016-12-22T19:32:18.8085810Z Executing the powershell script: C:\AgenteBeneficios5\tasks\IISWebAppMgmt\1.3.0\Main.ps1
2016-12-22T19:32:19.0273208Z Started creating website: BeneficiosTeste
2016-12-22T19:32:19.1054397Z Performing deployment in sequentially on all machines.
2016

[2016-12-22 23:56] ShaneCastle commented on #164
I'm getting a similar issue. If I have a release with "IIS Web App Management", I cant save the release, I get the error: "TF400893: Unable to contact the server. This is most likely caused by a network error. Please check your connection and try again."

If I run the release as is, I get a similar error. I'm deploying an app to on-prem IIS via VSTS

[2016-12-27 07:37] chshrikh commented on #169
the actual error is Access is denied. May be you are not passing the correct user name password.  Could you please check it

[2016-12-27 07:50] chshrikh commented on #164
@ynijs could you please set the system.debug variable with value as true and share the logs to RM_Customer_Queries at Microsoft dot com or post them here.

[2016-12-29 10:51] marncosta commented on #169
It worked. It was missing DOMAIN

[2016-12-29 10:51] #169 closed

[2016-12-29 11:18] chshrikh commented on #166
Yes it is in our backlog . Thanks

[2016-12-29 11:18] #166 closed

[2016-12-30 04:25] chshrikh commented on #167
"IIS Web App Deployment Using WinRM" can be used to deploy a web site on any vm
( local network vm or azure vms) / physical machines.
If you want to any generic deployment other than web site deployment, you can write your own powershell deployment script and use the Powershell On Target Machine task against all machines.

[2016-12-30 06:19] chshrikh commented on #147
fix will be available with next deployment

[2016-12-30 06:19] #147 closed

[2016-12-30 06:27] chshrikh commented on #168
Can you please specify how you are trying to install it ? Could you please refer this https://www.visualstudio.com/en-us/docs/marketplace/get-tfs-extensions

[2016-12-30 06:28] chshrikh commented on #168
you may refer this as well https://blogs.msdn.microsoft.com/visualstudioalm/2016/03/31/team-foundation-server-extensions-2/

[2016-12-31 14:52] nickeyyan commented on #147
when is the next deployment?

Thanks,
Nickey

________________________________
From: Chaitanya Shrikhande <notifications@github.com>
Sent: Friday, December 30, 2016 2:19:17 PM
To: Microsoft/vsts-rm-extensions
Cc: Nickey Yan; Manual
Subject: Re: [Microsoft/vsts-rm-extensions] Sql DacPac deploy task doesnot log stderr to Build/Release log (#147)

fix will be available with next deployment

-
You are

[2017-01-04 05:59] mvvsubbu commented on #114
First of all sorry for very late reply. I am not sure still you are facing any issue or not. I completely missed this issue.

Using this extension you can now deploy folder as well, so try using the folder as input and let us know if you still face any issue.

[2017-01-05 19:56] amarpandharpure opened #172 "Cant deploy simple website package to default website, WINRM IIS DEPLOY TASK SITE DOES NOT EXISTS"
i want to simply deploy my web package to Default Web Site.

Does the website name param is correct way to do this.

I tested app mgmt task it works fine so no env issue. I also tried with additional argument in msdeploy
-setParam:kind=ProviderPath,scope=contentPath,value=$(WebSiteName)

Any urgent help ??

[2017-01-05 20:57] ironicnet opened #173 "IISWebAppMgmt: Invalid thumbprint on HTTP"
We are trying to manage a website using HTTP.
This is how it looks
![image](https://cloud.githubusercontent.com/assets/822050/21697268/500d469e-d370-11e6-8712-fa7eb63c8d25.png)

When running the task the following exception raises:
[code]

Can someone provide some light on what may be going on?
It stopped working two days ago...

I don't think so, but it may be related to this commit [Fixing incor

[2017-01-09 20:15] roqetman opened #174 "WinRM - SQL Server DB Deployment "Additional Arguments" stopped working after last update"
WinRM - SQL Server DB Deployment "Additional Arguments" stopped working after last update (1/5/17)
I was using "Additional Arguments" to send parameters to a script. Everything worked fine last Wednesday, but when I retested the task this morning, it was giving errors that would only occur if the Additional Parameters aren't being fed to Invoke-Sqlcmd (if I run a remote powershell script using Inv

[2017-01-10 05:27] Ajay-MS commented on #174
@roqetman
Can you please share additional arguments in same format that you are passing to task and debugs logs ( Add variable System.Debug to RD with value true)

[2017-01-10 11:39] aidanfolkes commented on #164
@ynijs, @chshrikh
Hi,
I was getting the same "doesn't exists." message and it turned out to be because Web Deploy Package was wrong.
The error message is incomplete. In MsDeployOnTargetMachines.ps1, line 184
`throw "$packageFile doesn't exists."`
$packageFile is not set. I think it should be $Path.

[2017-01-10 15:08] roqetman commented on #174
Sure, it's a script to restore an instance (I have other scripts that need parameters to be passed to them too, and all now fail).
Here are the additional parameters I had set:
-querytimeout 0 -Variable newname="MyDev", backupfile="MyDev_backup.bak", olddataname="MyDev", oldlogname="MyDev_log"

And here's the content of the script:
RESTORE DATABASE [$(newname)]
FROM URL = 'https://xxxxx.blob.core.

[2017-01-10 17:56] jshepler commented on #44
It's been quite some time, any news?

[2017-01-11 06:39] Ajay-MS commented on #174
@roqetman

Thanks for providing required info. I am able to recreate issue. Cause of this issue as recently splatting has been introduce to prevent unnecessary  expansion of arguments. In splatting argument "Variable" need to be handle in special way. I will fix it soon. I apologize for issue that you are facing.
If you have OnPrem agent I can help you to unblock you for now.

[2017-01-11 13:28] roqetman commented on #174
Thanks for looking into this - I'd rather not have to switch all my db pipelines to have to use powershell :-)
Do you have advice as to how I can send variables to the script?
Not sure what you mean by an OnPrem agent - the VM with sql installed is in azure too.
Thanks.

[2017-01-12 05:05] Ajay-MS commented on #174
Are you using Hosted Agent?
If yes, then I have to fix from my side only. It will take approx 2-3 days. Otherwise if agent is local  can have a small fix as workaround till fix comes via task. I will send PR soon on this.

[2017-01-12 05:44] Ajay-MS commented on #174
@roqetman

I have raised a PR so that you can refer it if you are using local agent and make changes in task. I have to see if this issue is being true for other arguments so this PR may take some time to merge.

PR - https://github.com/Microsoft/vsts-rm-extensions/pull/175

[2017-01-12 19:39] roqetman commented on #174
I'm deploying to an Azure VM with WinRM installed. Is there some work-around for now, or do I just need to wait to see if the component is updated?

[2017-01-17 16:18] genesisjschubert commented on #174
@Ajay-MS  I believe this is also the root cause for an issue I encountered starting on 1/5 with v1.3.2 of SqlDacPacDeploy.  The '$env:systemdrive' environment variable started causing my deployment to fail. Replacing it with 'C:' fixed the issue.
I specifically used that variable in the **DACPAC File** and **Publish Profile** properties of the deployment step.
If I leave the env. variable in the P

[2017-01-19 06:11] RoopeshNair commented on #44
@jshepler - we have pull-agent-based deployment in private beta. More info here https://blogs.msdn.microsoft.com/visualstudioalm/2016/12/05/agent-based-deployment-in-release-management/

IIS task in agent-based deployment doesn't rely on WinRM as it is running locally on the machine. 
Let me know if you are interested in trying out and provide us feedback.

Thanks,

[2017-01-20 07:34] SDmorgan opened #176 "Access is denied."
OK. This is frustrating me.

I can remote to the host with Using WinRM and the account that I'm using to deploy, however, when I add the same credentials, this is what I get... Note the account has admin rights and full rights on the folders it is publishing to.

VSTS is hosted by MS
Agent on remote host is the one that is bound to the release.
The msbuild web deploy zip file get published using F

[2017-01-23 21:25] brett3210 commented on #167
Thanks, it may be worth updating the web page to make it clear that "IIS Web App Deployment Using WinRM" can equally be used for the "deploy an app to servers hosted in Azure" scenario

[2017-01-24 04:22] philcart commented on #168
Was able to install this extension via the upload method described in the blog post.

For others that may be struggling with this.
1. Find the extension in Marketplace
2. Download vsix file
3. Open on-premises TFS Web site
4. Navigate to the Local Gallery to Manage Extensions
5. Upload vsix file downloaded in step 2
6. Install extension to collection(s)

Hmmm ... now I wonder why it's not that int

[2017-01-24 04:22] #168 closed

[2017-01-25 11:21] mvvsubbu commented on #176
Can you help me with the following details.

1. What is the task you are using?
2. Can you share the logs of the release by setting system.debug variable to build or release with value as true.
3. Are you using hosted agent or private agent?
4. Is your target machine within corp net?

[2017-01-25 11:25] mvvsubbu commented on #173
Can you share us full logs by variable system.debug = true

[2017-01-25 11:26] mvvsubbu commented on #172
Sorry for the late reply. Are you still blocked, if yes can share full logs by system.debug variable to true

[2017-01-25 11:35] mvvsubbu commented on #167
Thanks for confirmation. We have updated readme that is common for all WinRM tasks under notes section https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/IISWebAppDeploy/Src/README.md

[2017-01-25 11:35] #167 closed

[2017-01-25 11:37] mvvsubbu commented on #140
Closing the issue as fix is released

[2017-01-25 11:37] #140 closed

[2017-01-25 11:39] mvvsubbu commented on #114
Closing issue as I didn't heard, hope you got unblocked. Please feel free to reopen if the issue still persists

[2017-01-25 11:39] #114 closed

[2017-01-25 11:42] mvvsubbu commented on #59
we have pull-agent-based deployment in private beta. More info here https://blogs.msdn.microsoft.com/visualstudioalm/2016/12/05/agent-based-deployment-in-release-management/
IIS task in agent-based deployment doesn't rely on WinRM as it is running locally on the machine.
Let me know if you are interested in trying out and provide us feedback.

[2017-01-28 14:05] eliassal opened #183 "Setparameters.xml file"
Very useful tool. It works like a charm with my onPremise TFS.
Can you please provide a template or an expample fro setparameters.xml file or a url describing what and how we can use this file?
Thanks in advance

[2017-01-30 11:07] RoopeshNair commented on #130
@jfilburn, we don't have this on our backlog. if we start getting multiple requests, we can re-evaluate and prioritize appropriately.

Closing it for now.
Thank you

[2017-01-30 11:07] #130 closed

[2017-01-30 11:10] RoopeshNair commented on #59
@peder, As @mvvsubbu  mentioned above, agent-based deployment is currently in private preview and is expected to be available around 2017 Update 2 time line.

We have IIS deployment task which works with agent credentials. In case you are interested to participate in private beta, please drop me a note (roopesh dot nair at microsoft dot com)

Thanks

[2017-01-30 11:10] #59 closed

[2017-01-30 11:12] cedricvig opened #185 "application not take in charge"
We cannot add an application to a site without use advanced/Additional AppCmd.exe Commands.
The problem with the additional commands is that we cannot test if the app exists before delete or add it.
Is it possible to add a form that handle the app ?

[2017-01-30 11:21] RoopeshNair commented on #58
We have added this to our backlog. However it will be 2-3 sprints before we can get to it.
As we are tracking this on our backlog, closing the issue
Thanks,
Roopesh Nair

[2017-01-30 11:21] #58 closed

[2017-01-30 11:26] RoopeshNair commented on #120
@shamnigurat - I presume, you were able to unblock yourselves. One of the options we considered is to expose the "-dest" key as an additional parameter for the user to override. We will prioritize based on user feedback. Closing this for now. Please feel free to drop a note if you need more information. (roopesh dot nair at microsoft dot com)

Thank you!

[2017-01-30 11:26] #120 closed

[2017-01-30 16:08] mvvsubbu commented on #183
Refer https://msdn.microsoft.com/en-us/library/dd465323(v=vs.110).aspx. If you need any further assistance you can mail to RM_Customer_Queries at Microsoft dot com

[2017-01-30 16:08] #183 closed

[2017-01-30 16:08] mvvsubbu commented on #176
Any update?

[2017-01-30 17:45] dascalos commented on #164
I too was getting the "Doesn't Exists" error.  I spent a few hours today pouring over the logs and I see what the problem is.  When I publish my artifacts, I choose artifact type Server (not Share).  When the IIS Deployment WinRM script runs on the IIS box, it pushes a path of c:\blah\blah\blah.  The IIS box doesn't have that file on it's box.  Changing artifact type to Share and all works as expe

[2017-01-31 05:14] RoopeshNair commented on #185
Yes, we have in the backlog to support web applications and virtual folders support in addition to website updates. It would be available in ~2-3 months based on current priorities. Please stay tuned.

[2017-01-31 05:47] Ajay-MS commented on #174
@roqetman @genesisjschubert

We have fixed this issue. Can you please verify if you are still facing this issue or its being resolved.

[2017-01-31 05:55] Ajay-MS commented on #164
@ynijs @ShaneCastle @aidanfolkes  @dascalos
This issue has been fixed. If you still face this issue feel free to reopen this issue.

@dascalos
When you select artifact type as server, then during queue a RD artifacts are being downloaded to agent box. But for WinRm task artifacts need to be present on target machine. So you have to you copy tasks ( like Windows File Copy or Azure File Copy) in you

[2017-01-31 05:55] #164 closed

[2017-01-31 14:25] genesisjschubert commented on #174
@Ajay-MS I still get the same issue as detailed in my previous message.  Is there anything I need to do to force the build agent to update to a newer/fixed version?

[2017-01-31 15:30] roqetman commented on #174
The new version works for me (allows "additional parameters" to be passed to the script). Thanks!

[2017-02-01 05:28] Ajay-MS commented on #174
@roqetman
Thanks for updating that additional arguments are working fine for you.

@genesisjschubert
No your task has been updated but issue is because of following behavior
$env:Systemdrive variable is not get expanded at time of reading input. It get expanded at time on WinRM. From last update expansion of variables during WinRm is prevented.
If you will defined a variable in RD or in environmen

[2017-02-01 12:12] gandarez opened #187 "WinRM - IIS Web App Management - Start website"
Hi!
Is there a way when creating a website also starts it?

I also tried on Advanced > Additional AppCmd.exe Commands:
```start site /site.name:"WebDemoTFS"```
```start site /site.name:WebDemoTFS```
```##[error]Microsoft.PowerShell.Commands.WriteErrorException: System.Exception: Object 'SERVERAUTOSTART:TRUE' is not supported.  Run 'appcmd.exe /?' to display supported objects.```

_Deployment faile

[2017-02-01 13:43] #187 closed

[2017-02-01 13:45] gandarez opened #188 "WinRM - IIS Web App Management - Add multiple bindings"
is there a way of adding multiple bindings? Should I use AppCmd including additional arguments?

![image](https://cloud.githubusercontent.com/assets/782854/22509134/dab7020e-e873-11e6-8340-3607a5794ea6.png)

[2017-02-01 14:14] genesisjschubert commented on #174
@Ajay-MS Thanks for the update. I would say it is important to be able to use $env variables on remote machines, especially for when there are multiple release agents. Without $env expansion, all agents would be requireed to have the same standard system drive letter, paths, etc. Should any of the agents have differing system drive letters, there's no way to account for that in the configuration a

[2017-02-01 15:48] #188 closed

[2017-02-02 18:55] cwalter5 opened #189 "WinRM has failure binding SSL do to copy and pasted thumbprints."
As of the latest version of WinRM, all my SSL binding tasks are failing during a release. This appears to be due to special characters present in the SSL Thumbprints that were copied and pasted during my initial configuration. This was working correctly previously, but now it seems I'm going to have to re-enter all my values it seems in order to get this to work.

[2017-02-03 13:51] Ajay-MS commented on #174
@genesisjschubert
As per discussion will taking this into consideration. We will fix this issue corresponding to expansion of environment variable soon.

[2017-02-03 14:05] sumo300 commented on #189
It also seems that a thumbprint with its spaces (copied from the browser) worked prior to the current version, but now the thumbprint requires removal of the spaces as well to meet the 40 character limit.

[2017-02-04 21:43] hotamkushwah opened #192 "Override parameters using SetParameters.xml (&quot changing as &amp;quot;)"
I am using Override parameter to override my connection strings.Task is working fine but it is changing &quot to &amp;quot .
For example : This is the connection string
connection string=&quot;data source=source;initial catalog=test;...
And I am changing it to as below using Override parameter.
connection string=&quot;data source=Othersource;initial catalog=test;...

In this case I am getting as b

[2017-02-06 19:20] renatotkr opened #193 "Physical Path removing \"
I'm using the latest version 1.4.3, and it appears to be trimming the slashes on the physical path when creating a web site

I'm trying to point to a network share, but it deploys without the \\

eg
\\fabrikam\site\
on IIS
fabrikam\site

[2017-02-07 10:41] mvvsubbu commented on #189
We have seen some instances where because of invisible characters ssl bindings is not working and hence we added this validation. If you remove extra characters etc is the task working?

[2017-02-07 11:25] mvvsubbu commented on #189
@sumo300

Previously with spaces in thump print your task may be succeeding but binding might not have happened. The additional checks that we have added addresses that kind of scenarios.

[2017-02-07 11:39] mvvsubbu commented on #192
Can you share full logs with system.debug

[2017-02-07 11:40] mvvsubbu commented on #176
Closing the issue as nothing is actionable. If you are still blocked you can open the issue share requested details.

[2017-02-07 11:40] #176 closed

[2017-02-07 11:44] mvvsubbu commented on #173
We have added validation for certificate thumb print and hence this error. It is expected

[2017-02-07 11:45] mvvsubbu commented on #172
I am closing issue as i didn't hear back. If still having any problem please share logs

[2017-02-07 11:45] #172 closed

[2017-02-11 18:14] zivillian opened #195 "Support WebHosting Certificate Store"
Currentyl we are importing our IIS Certificates into the WebHosting store (which is also used, when requesting a certificate from IIS Console).
The WinRM IIS Web App Management currently support only the Personal Store (MY) which ist hardcoded in [AppCmdOnTargetMachines.ps1](https://github.com/Microsoft/vsts-rm-extensions/blob/ca92226edec5f909a930304663af9ee3ed346c85/Extensions/IISWebAppDeploy/Src

[2017-02-12 12:31] shieldsjared commented on #189
Just ran into this as well... was banging my head for over an hour... Since we now know that the invisible characters are likely to always be there after a copy paste, can we get the extension updated to strip any characters that are _not_ valid for us? (e.g. strip non-valid characters THEN test the length).

[2017-02-13 04:18] mvvsubbu commented on #193
https://github.com/Microsoft/vsts-rm-extensions/pull/194 Fix checked in will be released along with other issues. Closing the issue

[2017-02-13 04:18] #193 closed

[2017-02-13 05:40] Ajay-MS opened #196 "WinRM - SQL Dacpac Deployment Task - Environment variables in input are not getting expanded."
On behalf of @genesisjschubert

I encountered starting on 1/5 with v1.3.2 of SqlDacPacDeploy. The '$env:systemdrive' environment variable started causing my deployment to fail. Replacing it with 'C:' fixed the issue.
I specifically used that variable in the DACPAC File and Publish Profile properties of the deployment step.
If I leave the env. variable in the Publish Profile property, I get this er

[2017-02-13 05:42] Ajay-MS commented on #174
@genesisjschubert
Closing this issue as it is being titled for additional argument. I am opening new issue corresponding to environment variable expansion. Please refer new issue for tracking
[Environment variable expansion issue](https://github.com/Microsoft/vsts-rm-extensions/issues/196)

[2017-02-13 05:42] #174 closed

[2017-02-15 21:20] manicprogrammer opened #197 "Win-RM SQL Server DB Deployment DACPAC doesn't log command output"
I have seen the comment about the error messages not logging and to turn on system.debug and set to true in the variables which I have done but for a successful deploy I expected to see all text I see when I run it manually from the command line instead of that detailed output all I get is something like below after the debug variable information is printed for the task.

Is this by design that al

[2017-02-16 18:37] sumo300 opened #198 "Retrieve thumbprint for SSL cert rather than requiring copy/paste/edit of thumprint from a browser"
Spawned from #189

Add a field for the URL to retrieve an SSL thumbprint from rather than requiring the thumbprint be manually retrieved, copied/pasted/edited, which is far more error prone.  Then, remove the SSL thumbprint field.  Below is some PowerShell code we currently use in a custom task so that the thumbprint is retrieved automatically and populates a variable.

`Function Get-SSLThumbprint

[2017-02-21 16:26] SamKni8 opened #200 "IIS-WebDeploy Error_File_In_Use"
I am using TFS 2015 update 3, running simple release defintion with Windows Machine File Copy and IIS Web App Deployment tasks and i keep running into the above issue, attached log
[Error_LLog.pdf](https://github.com/Microsoft/vsts-rm-extensions/files/790750/Error_LLog.pdf).
Note:Have already enabled "Take App Offline" checkbox in MsDeploy Additional Options.

[2017-02-21 19:56] #200 closed

[2017-02-22 13:33] RupaliGarg09 opened #201 "Unable to deploy DACPAC file using utility Deploy using: DACPAC"
![2017-02-22 19_02_10-inbox - rupalig maqsoftware com - outlook](https://cloud.githubusercontent.com/assets/25955858/23213604/8c51b11c-f931-11e6-9502-96f739f3e716.png)

[2017-02-24 19:18] cwoolum commented on #173
I'm having this issue as well. The thumbprint ‎dbc22e527d61cddb16addc34fd5e3f5ad87c7aa5 should be valid. It is 40 characters long and passes the regex ```[a-fA-F0-9]{40}```

[2017-02-27 04:03] mvvsubbu commented on #173
Adding Arjun @arjgupta

[2017-02-28 11:56] marioleed opened #202 "Verbose output"
Is there a way to enable more verbose output in the VSTS logs for deployments? It seems pretty sparse as of now and it would be great to see the commands that are actually executed (e.g. msdeploy.exe commands).

This is a question and/or an enhancement.

[2017-02-28 12:19] jabbera commented on #202
More then setting system.debug=true in the variables screen?

[2017-02-28 20:43] marioleed commented on #202
@jabbera, Yep, that didi it! Can I suggest adding that to the docs?

Thank you for helping and the quick reply!

[2017-02-28 20:43] #202 closed

[2017-03-01 00:10] mderriey opened #203 "IISWebAppDeploy: override parameters must not contain spaces between `name` and `value`"
Hi,

I started using the IIS Web app deployment task. As I keep the Web Deploy parameters in the release definition, I don't have a parameters file, so I used the override parameters feature.

It's very handy, but it should be more explicit that there must be absolutely no space between the comma after the `name` token and the `value` token.

Meaning, it cannot be `name="<parameterName>", value="<

[2017-03-01 11:13] arjgupta commented on #201
Hi @RupaliGarg09 , can you send the complete debug log for the task to RM_Customer_Queries@microsoft.com. You can generate the debug logs by setting the system.debug variable to true in the variables tab

[2017-03-03 20:39] brainboost commented on #173
The issue caused by ? symbol, preceding the thumbprint. From my debug log:

##[debug]PowerShellHandler.Execute - AddParameter(HostNameWithHttp=)
##[debug]PowerShellHandler.Execute - AddParameter(HostNameWithSNI=)
##[debug]PowerShellHandler.Execute - AddParameter(SSLCertThumbPrint=?9a81d935c4a07081f596a9576b5960a277b9c6d7)
##[debug]PowerShellHandler.Execute - AddParameter(CreateAppPool=true)

Check

[2017-03-04 12:48] sumo300 commented on #198
Better method is to query the cert store using remote PowerShell with something like this:

[code]

[2017-03-09 17:43] niadak commented on #203
@mderriey Thanks for pointing out the issue. We will fix the issue and handle the space.

[2017-03-09 17:45] niadak commented on #198
@sumo300 Thanks for your suggestion. We will evaluate the option and do the needful.

[2017-03-10 07:49] niadak commented on #197
@manicprogrammer Thanks for reporting the issue. We will fix the bug and update here.

[2017-03-15 13:07] karlrissland opened #206 "Deploy IIS App - Documentation Bug"
The documentation referencing the format for override parameters is incorrect, as is the tooltip for the task.  The documentation and tooltip reference the following format;
For example, name="IIS Web Application Name",value="Fabrikam/MyApplication"

This generates the following error;
2017-03-15T12:04:02.8906659Z Deployment failed on machine NBWin with following message : System.Exception: Error:

[2017-03-16 06:27] niadak commented on #206
@karlrissland  Thanks for reporting the issue. This is a known bug
**override parameters must not contain spaces between `name` and `value`** as reported in the issue **https://github.com/Microsoft/vsts-rm-extensions/issues/203**. We will fix the issue ASSP. Please remove the pace between the comma after the name token and the value token as a workaround for now.

[2017-03-21 12:21] niadak commented on #206
Fixed the tool tip and removed the space

[2017-03-21 12:21] #206 closed

[2017-03-21 20:16] varnk opened #208 "Cannot install on TFS"
Downloaded the extension and then tried to upload to TFS 2015  extension manager.  I get the following error:

Unable to publish extension due to:
Missing contribution (ms.vss-releaseartifact.artifact-types)

[2017-03-22 05:00] cwoolumtechnossus commented on #198
This doesn't work for wildcard certs though does it?

[2017-03-22 23:56] mderriey commented on #203
Closing as the associated issue was closed. See https://github.com/Microsoft/vsts-rm-extensions/pull/204#issuecomment-287677410

It was fixed in #205.

[2017-03-22 23:56] #203 closed

[2017-03-23 10:05] k-ljung opened #210 "Environment XML transformation not applied"
I have selected the "XML transformation" checkbox but the step is ignoring transformation for environment unique config files.

I have web.config, web.Release.config and web.Staging.config, the release config is applied but not the staging config, I have tried to remove the web.Release.config and only use web.Staging.config but without success.

The log says: "XML Transformations applied successfu

[2017-03-23 18:52] sumo300 commented on #198
@cwoolumtechnossus I believe it can with the correct match expression.

[2017-03-24 13:45] k-ljung commented on #210
After more investigation i found out the build is deleting web.Release.config and web.Staging.config.

I moved out some configuration to separate files, for example connectionString.Staging.config and not it's included in the artefact drop and the release task makes the transformation.

[2017-03-30 11:42] jmvtrinidad opened #211 "variable inside variables has not been replace"
As title said, i created variable

- path - $(build.artifactstagingdirectory)\for-deploy\website

but the output is `C:\agent\_work\r1\a\$(build.artifactstagingdirectory)\for-deploy\website`. It seems the variable `build.artifactstagingdirectory` has not been replace.

[2017-04-06 15:47] corsairmarks opened #214 "First line of "Override Parameters" for SetParameters Fails to Be Sent to MSBuild"
If I submit multiple lines of Override Parameters, the first line seems to not be sent to MSBuild.

[code]

MSBuild only receives Param2 in this case.  I seem to be using version 1.4.3 through VSTS.  If possible, I'd like to upgrade to the latest version but I don't see how that is possible in VSTS.

[2017-04-11 11:05] pascalberger opened #215 "Support continuous deployment for TeamCity artifacts"
Currently it seems like continuous deployment for TeamCity artifacts is not supported:

![image](https://cloud.githubusercontent.com/assets/2190718/24906262/55a56f5e-1eb7-11e7-9d88-2a8aef20179b.png)

If possible it would be nice to have the same features supported for TeamCity artifacts as for artifacts from TFS builds.

[2017-04-11 11:11] pascalberger opened #216 "`Build.BuildNumber` doesn't work for deploying TeamCity builds"
If I create a release definition using a TeamCity build as artifact source, and `$(Build.BuildNumber)` as Release name format, releases are still named using the default naming schema (`Release-1`, ...)

[2017-04-12 09:26] Oladev commented on #185
We have one main IIS website, containing about 25-30 web applications, all having their own app pool. We develop locally using IIS Express, so we are not able to package IIS/application pool settings in the web package. Nor do we want to btw, because we want the deployment system to be in charge of the application pool being used in the dev/test/prod, not the individual developer.

During automati

[2017-04-14 06:28] stormmedia opened #217 "Test certificate check box doesn't do anything"
It's impossible to deploy to a IIS server when the certificate is not trused.  The check box "Test certificate" that is supposed to skip the verification doesn't change anything.  Tried to add "-allowUntrusted" to the "Additional Arguments" field doesn't change anything either.  The deployment works fine when using visual studio once the certificate has been added to the trusted certificate

[2017-04-20 12:42] JeroenHo opened #218 "Only supports HTTP binding"
Hi,

For our service we need a net.msmq binding, but that is currently not an option with this extension.

Please add support for all types of biding.

Thx

[2017-04-25 01:50] Newbe36524 opened #219 "throw exception if there is chinese character in webdeploy parameters.xml"
I add a parameters.xml in my web project  and  deploy it as a webdeploy package .

The parameters.xml contains chinese character in description attribute.

I can deploy the webdeploy package into iis by using iis gui or cmd.

But it will throw a exception if I deploy it with task "WinRM - IIS Web App Deployment".

if I change all chinese character into English letter, that will work .

Main except

[2017-04-27 12:24] pascalberger opened #220 "TeamCity extension: Support artifacts from non default branch"
The TeamCity extension currently doesn't support artifacts from non default branches. It should be possible to deploy from any branch.

[2017-04-27 12:25] pascalberger commented on #220
Problem is endpoint here: https://github.com/Microsoft/vsts-rm-extensions/blob/master/Extensions/TeamCity/Src/vss-extension.json#L76

https://teamcity/httpAuth/app/rest/buildTypes/MyProject/builds returns only builds from default branch, which later are used for versions.

Endpoint should be something like https://teamcity/httpAuth/app/rest/buildTypes/MyProject/builds/?locator=branch:default:any

[2017-04-28 08:30] pascalberger opened #221 "TeamCity extension: Show ID in project dropdown"
TeamCity supports sub-projects and therefore there can be multiple sub-projects with identical names. Currently its nearly impossible to select the correct project in this case, since only the name is shown:

The project dropdown should therefore also show the ID and not only the name

[2017-05-05 12:48] #221 closed

[2017-05-10 10:32] #220 closed

[2017-05-30 08:34] mvvsubbu commented on #219
Did you install Chinese version of webdeploy on your machine? If not can you try installing Chinese version from here (https://www.iis.net/downloads/microsoft/web-deploy)

[2017-05-30 08:40] mvvsubbu commented on #217
Test certificate option is for skipping CA check during WinRM to the target machine. Set a variable system.debug = true and share the task logs.

[2017-05-30 09:15] mvvsubbu commented on #208
Can you specify which extension you have tried uploading?

[2017-05-30 09:18] mvvsubbu commented on #210
This issue doesn't belong to this repo, going forward for any issues related IIS WebApp Deploy you can post https://github.com/Microsoft/vsts-tasks/issues

[2017-05-30 09:18] #210 closed

[2017-05-30 15:39] cwoolum commented on #173
Just confirmed that copy/past is causing the problem. Deleting the first few characters and manually typing fixes it.

[2017-06-02 05:40] Clivenyong opened #224 "How to create an application under default web site?"
Hi

Please see below the URL for detail. I want to create an application under either IIS site E.g. default web site\MyApp instead of create a new site.

https://social.msdn.microsoft.com/Forums/vstudio/en-US/dbe679de-35b3-4342-85b3-6cf56b83660d/winrm-iis-web-app-management-under-default-web-site?forum=tfsbuild

[2017-06-06 08:36] Ajay-MS commented on #197
@manicprogrammer
Closing this as issue has been resolved. Please feel free to reopen if you still facing this issue.

[2017-06-06 08:36] #197 closed

[2017-06-16 02:57] Newbe36524 commented on #219
It works when I installed the cn-zh version Webdeploy on TFS agent and deploy target.
@mvvsubbu  many thanks!

[2017-06-16 02:57] #219 closed

[2017-06-22 14:44] hrboyceiii commented on #197
@Ajay-MS what was the resolution to this? I'm not seeing a commit to reference the changes that enables output during task execution.  I ask because to workaround while using older versions, I manually updated and set $VerbosePreference = "Continue".  I want to know the version so I have reason to ask a customer to update this extension on their on-prem TFS2017.

Thanks

[2017-06-25 10:01] vankampenp commented on #173
Same here, deleting the first few characters and retyping them worked. And off course removing the spaces.

[2017-06-30 19:00] tfrigini opened #232 "Web.config it's not updated at target application folder"
After the release process the Web.config file in application target folder it's not updated it still the same as before the processes begun.

At temp package generated by Agent the web.config was updated with variables values present in Environment Variables.

I'm doing something wrong?

[2017-07-03 09:48] tomkuijsten commented on #224
As stated in the comments of the extension:

[https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.iiswebapp](Creating Web Application is in our backlog and we are working on it)

Any news on this matter?

[2017-07-10 09:40] cedricvig opened #235 "Deployement failed due to error "File in use""
Frequently the "WinRM: IIS Web App Deployment" task failed with the error "File in use".
The only workaround I know is to manually stop the pool of the site deploying.

Is the  "WinRM: IIS Web App Deployment" task can stop the pool before trying to deploy ?

[2017-07-12 10:10] pascalberger opened #236 "Support specific branches for TeamCity extension"
The TeamCity extension should provide a field which allow to define the branches for which artifacts should be available

[2017-07-18 14:34] pascalberger opened #238 "Support code information in TeamCity extension"
The TeamCity extension should provide the same code information as the [Jenkins integration does](https://www.visualstudio.com/en-us/articles/news/2017/jul-14-team-services#code-information-in-release-with-jenkins-ci)

[2017-07-19 11:46] merrellsj commented on #192
Somewhat similar issue. When I try to use the override parameters I get the error System.Exception: Error: Unrecognized argument 'Web'. All arguments must begin with "-". I am entering them into the release configuration as name="settingName",value="settingValue" I've also tried settingName=settingValue both result in the same error. Any ideas?

[2017-07-19 19:52] kieryn commented on #120
Any update on this?

[2017-07-20 07:02] RoopeshNair commented on #120
@kieryn, can you please elaborate? are you looking for "-dest" key as an additional params?

Thanks,

[2017-07-20 12:42] kieryn commented on #120
@RoopeshNair -- No, the issue I was facing was that web deploy using MSBuild (from VS2017) to do web deploy to a Windows Server 2016 with IIS was failing with the website name not found error.  Even though, testing the web deploy publish connection was saying it was successful (The app I was trying to deploy is a .NET 4.5 web api app built in VS2015)   The website name was absolutely there - I was

[2017-08-11 15:57] jshepler commented on #44
I'm not interested in having an agent on every server, that's not very practical. We have a single agent that deploys to various web servers. The current IIS deployment task has **required fields for admin creds**, which is what this (and #59 ) is about. The agent should be able to deploy to servers via "integrated" (NTLM) authentication - using the identity the agent is running as.

I'm still usi

[2017-08-14 15:07] AThomsen commented on #153
Any news on this enhancement?
It seems odd that a MS release system can't deploy to MS-web-servers using MS-deploy protocol (Webdeploy) directly.

[2017-08-14 20:16] varunshah opened #251 "how to get the detailed logs for the SQLDeployTask?"
When using this task, and when the database is published successfully with the changes(e.g. adding a column ) where can we see the differential script that is generated with the alter statements that is applied onto the target database.

[2017-08-16 05:30] RoopeshNair commented on #44
@jshepler I'm sorry for the issues you are facing, we do have plans to support multiple authentication schemes in the WinRM tasks. However, it will be a while before we can get to it. (>6months due to current priorities).

[2017-08-16 06:28] RoopeshNair commented on #153
@AThomsen, unfortunately no plans for this yet. If we have many requests (on user voice) we can reconsider

Thanks,

[2017-08-25 10:21] thomasmktong commented on #217
I have the same issue. I took a look at the code and found that the "Additional Arguments" are not passed to `Run-RemoteDeployment` at all.

Ref: https://github.com/Microsoft/vsts-rm-extensions/blob/7d4384a6c775688a99812738837435f8fb4675f6/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppDeploy/DeployIISWebApp.ps1#L112

Task Logs:

[code]

[2017-09-11 14:36] joriyann opened #273 "Deploy from a folder option is missing"
Hello,

While I was experimenting on **my.visualsyudio.com**, I tried the **IIS Website Deployment** template and it was containing the **IIS Web App Deploy(Preview)** task that allow to deploy to an IIS website from a **Package or Folder**. I wanted to use the **Folder** option.

When I tried to look for more information about the task, I was redirected to the [IIS Web App Deployment Using WinRM]

[2017-09-11 17:15] marco-gallinari opened #274 "IISWebAppDeploy : XML transformation issue"
Hi,
using IISWebAppDeploy task on VSO, everything works fine but applying XML transformation per environment the transformed XML is not indented, and this generates issues with configuration parser, as in this bug report:

https://blogs.msdn.microsoft.com/tess/2010/02/16/system-configuration-configurationerrosexception-unrecognized-element-setting-and-other-unrecognized-elements/

eg., this happen

[2017-09-14 04:13] vincentdass commented on #274
@marco-gallinari , this issue is related to [VSTS-TASKS ](github.com/Microsoft/vsts-tasks).
Closing this issue.

[2017-09-14 04:13] #274 closed

[2017-09-14 04:19] vincentdass commented on #274
Created a fix for the same [here](https://github.com/Microsoft/vsts-tasks/pull/5312).

[2017-09-15 07:44] danielstefanescu commented on #173
Almost the same here: deleting the first characters didn't work; deleting everything after pasting the thumbprint and retyping it didn't work.
I had to recreate the task and manually type thumbprint in order to work.

[2017-09-27 00:19] ruairiohagan opened #280 ""External TFS" Service endpoint type not available on my OnPremises installation"
Hi,

I can't set up a connection to my remote TFS installation as I can't add a service endpoint of the above type.

The extension is installed on an on-premises TFS server, trying to deploy builds from the development environment into the production environment.

I'm running TFS 2017.2 on both servers.

Help?

Thanks.

[2017-09-27 13:35] GitHubSriramB commented on #280
@ruairiohagan - This endpoint type is there as part of the following extension:
https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.vss-services-externaltfs

With TFS 2018, we moved this endpoint type into TFS itself.

But until you move to TFS 2018, you would need to install the extension in TFS to get this endpoint type.

Hope this helps.

[2017-09-27 23:14] ruairiohagan commented on #280
Hi @GitHubSriramB,

I have that extension installed on my local TFS 2017.2 installation.

But when I go to the configure Services tab and click "New Service Endpoint", "External TFS" just isn't there.

I've tried it on three different local TFS instances (all that version), I can't get the endpoint type to appear on any of them.

Are there any other prerequisites I need to install that I may be mi

[2017-09-28 01:06] GitHubSriramB commented on #280
@ruairiohagan - Apologies for the confusion.

We have actually moved the endpoint type into TFS with TFS 2017 Update2 itself.

The endpoint type will appear with display name "Team Foundation Server/Team Services".

Could you check if you are able to view this endpoint type & work with it?

[2017-09-28 05:08] ruairiohagan commented on #280
hi @GitHubSriramB ,

That was it, it's working now, thanks!

I had tried that endpoint type previously, but before I had installed the External TFS extension, I just didn't retry after I installed because I was expecting the "External TFS" to be there!

Thanks again for your help.

Ruairi.

[2017-09-28 05:08] #280 closed

[2017-09-28 08:53] zivillian opened #281 "IISWebAppMgmt: Type Error in Add-SslCert"
The IISVersion is read from Registry as number, but converted to string in [Add-SslCert](https://github.com/Microsoft/vsts-rm-extensions/blob/528c04c13dd85314561412329dc83bfb28b0b6a1/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/AppCmdOnTargetMachines.ps1#L186) `[string]$iisVersion`, thus the [comparison](https://github.com/Microsoft/vsts-rm-extensions/blob/528c04c13dd85314561412329dc83bfb28b

[2017-10-02 08:55] 616b2f commented on #281
Same issue here.

[2017-10-16 14:27] alatas opened #289 "Download External TFS Artifact Task ignores web proxy configuration"
We have two different vsts/tfs instances. The source and the build job are placed on the VSTS instance (outside prem), release definition and release agent are placed on the on-prem TFS. The build and artifact upload jobs running without any problem. (I downloaded and checked artifacts from VSTS manually)

On release definition, I linked the artifacts with External TFS option. When I tried to rele

[2017-10-17 09:06] GitHubSriramB commented on #289
@alatas - thanks for the feedback. We plan to enable downloading External TFS Build artifacts using task in next couple of weeks. We have handled honoring proxy on the agent machine in the download task implementation. We will be updating the External TFS extension to include the task prior to enabling the feature to use task for the download.

Will inform you once this feature is enabled.

[2017-10-17 12:04] alatas commented on #289
Thanks for your response, I willing to help if you want a beta tester :smile:

In addition, It might be better If artifact download could happen over the on-prem tfs server. Because the servers and release agents usually don't have internet access in enterprise environments. First on-prem TFS server downloads the External TFS Artifact, and then on-prem release agents download the artifacts from TF

[2017-10-20 10:59] gerhardkoepfle commented on #217
still having same issue here

[2017-10-20 13:01] NickMRamirez opened #290 "IIS Web App Deploy - XML variable substitution - removes XML declaration"
The XML declaration at the top of a web.config file, e.g.:

[code]

seems to be removed from the file when the *XML variable substitution* checkbox is checked on the *IIS Web App Deploy* task. This is not critical because the declaration is optional for `version="1.0"`.

[2017-10-25 19:08] hbopuri commented on #176
Hi @mvvsubbu, I have same issue when setting up a build on VSTS to a VM on Azure.

posted same question over here: https://stackoverflow.com/questions/46919336/sql-project-deploy-to-sql-server-on-vm-through-visual-studio-team-services

I verified admin username and passwords are right. But still it says Access i denied

[2017-10-27 16:10] omeshp opened #294 "Support incremental download for Artifact Engine."
Artifact engine should support an option to download artifacts incrementally, only files that have changed should be downloaded. If there is no change in files from the previous build to new build then we should skip downloading those files. This will lead to faster download times.

[2017-10-27 16:15] omeshp opened #295 "Add an artifact extension for Gitlab"
Add an artifact extension which can be used to consumes GitLab sources in Release.

[2017-10-27 16:18] omeshp commented on #208
Artifact extensions aren't supported for TFS 2015 update 3, It is only supported TFS "15" RC onwards.

[2017-10-27 16:18] #208 closed

[2017-10-31 10:35] omeshp opened #296 "Downloading artifacts using artifact engine failing inside windows container"
Failure trace:
2017-10-31T07:46:10.3186195Z ##[section]Starting: Download artifact - UCM-Private-vNext-Build
2017-10-31T07:46:10.3432362Z ==============================================================================
2017-10-31T07:46:10.3432362Z Task         : Download Build Artifacts
2017-10-31T07:46:10.3432362Z Description  : Download Build Artifacts
2017-10-31T07:46:10.3432362Z Version      : 0

[2017-10-31 10:50] omeshp opened #297 "Retries getting logged as errors"
Retries are getting logged as failure, which should be a warning instead.

2017-10-31T08:19:48.9575059Z Error processing file MSAuctionVNext/applicationpackage/UserAPIPkg/Code/Microsoft.Extensions.Primitives.dll:Error: connect ETIMEDOUT 104.214.111.103:443
2017-10-31T08:19:48.9615057Z { Error: connect ETIMEDOUT 104.214.111.103:443
2017-10-31T08:19:48.9615057Z     at Object.exports._errnoException

[2017-11-01 09:15] omeshp opened #298 "Preserve timestamp on file share artifacts for artifact engine"
We should preserve timestamps while downloading artifacts. Similar to the PR https://github.com/Microsoft/vsts-agent/pull/739 that was raised for the agent.

[2017-11-15 17:35] paulgmiller opened #304 "Upgrade to Microsoft.Azure.Servicebus 2.0."
the current service bus package uses a custom  amqp prot which is blocked in some environments. Microsoft.Azure.ServiceBus 2.0.0 allows you to tunnel over 443 web sockets. Might be helpful if people are stuck in the future.

//on service fabric can't poll service bus on port 5671 so tunnel over 443.
            //https://stackoverflow.com/questions/32045375/how-to-use-amqp-1-0-with-the-service-bus

[2017-11-17 08:19] omeshp commented on #296
This is a windows container node specific issue which should be fixed by windows team.

[2017-11-17 08:19] #296 closed

[2017-11-20 09:34] niadak commented on #304
@paulgmiller , I dont see any usage of the Azure ServiceBus in this repo. Why this is relevant here?  Am I missing anything here?

[2017-11-20 11:42] niadak commented on #304
OK. I guess we have dependency on this in https://github.com/Microsoft/vsts-rm-extensions/blob/master/TaskBroker/VstsServerTaskBroker.Azure/ServiceBus.

We will investigate and get back.

[2017-11-21 09:24] niadak commented on #201
Hi @RupaliGarg09 , I am closing the issue as we have resolved your issue offline. The issue was with WinRM configuration on the target machine. Please feel free to reopen if you are still block on this

[2017-11-21 09:24] #201 closed

[2017-11-21 14:35] #297 closed

[2017-11-28 08:46] ParidaPunyasloka opened #315 "Feature request: Download Artifacts External TFS Git (plugin)"
Hello,

This is a great plugin and I have implemented this in a number of build definitions and has been helpful in keeping external dependent code in a sperate repo and use them during the build. I just want to request, in the Commit Id option of this task, can we have the o[ption to select "latest" as in to pick up the latest commit instead of choosing the commit id.

Use case: In case, I update

[2017-11-28 09:03] niadak commented on #214
Sorry for delayed response.
Can you please raise a issue in https://github.com/Microsoft/vsts-tasks/issues if you are still facing this issue? MSBuild task team should help here.

[2017-11-28 09:03] #214 closed

[2017-11-28 10:25] niadak commented on #290
@NickMRamirez , Can you please open a issue in https://github.com/Microsoft/vsts-tasks/issues as the relevant task in that repo.

Can you share the web.config file with us. Is "<?xml version="1.0" encoding="UTF-8"?>" the first line in the file or you have any comments at first?

Please keep the line at top of the file and try once.

[2017-11-28 18:48] corsairmarks commented on #214
I'll add an issue if I encounter it again.  I'm no longer on contract for the project when I experienced the issue.

[2017-11-29 08:11] pascalberger commented on #238
As [Jenkins integration can now show commits and linked Jira work items](https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#jenkins-work-items-in-release-for-jira-and-vsts-work-items) is the same possible through the REST API and for the TeamCity integration?

[2017-11-29 14:58] niadak commented on #211
@jmvtrinidad , This issue has been fixed. Please feel free to reopen the issue if you are still facing the issue

[2017-11-29 14:58] #211 closed

[2017-11-29 20:27] omeshp commented on #238
@pascalberger It is possible to extend teamcity task to publish commits/workitems, similar to how jenkins task does it https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/JenkinsDownloadArtifacts/jenkinsdownloadartifacts.ts#L144

[2017-11-30 04:57] GitHubSriramB commented on #315
@ParidaPunyasloka - Thanks for the feedback. We will add this request to our backlog.

[2017-11-30 04:57] #315 closed

[2017-11-30 08:35] niadak commented on #273
@joriyann , Thanks for your feedback. Supporting folder for this task is in our backlog.

You can try out Deployment Group feature which is pull based deployment model. You can configure agent on the target Machine and use IIS Web Deploy task where we support folder. Please refer to the below docs for more details.

https://www.youtube.com/watch?v=535HmFjzrmg
https://docs.microsoft.com/en-us/vsts/

[2017-11-30 08:46] niadak commented on #251
@varunshah , Thanks for your feedback. Today we only publish the deployment logs. You can add a variable in Variable tab with name = System.Debug and value = true to get all the logs.
We dont publish back the differential script in the task.  We will take this as enhancement.

[2017-11-30 08:50] niadak commented on #235
@cedricvig , Can you please add 'WinRM - IIS Web App Management' task to stop the pool before "WinRM: IIS Web App Deployment"  task?

[2017-11-30 08:58] niadak commented on #232
@tfrigini Thanks for reaching out to us. This is by design. We dont update the web.config file in the target application folder.

[2017-11-30 08:58] #232 closed

[2017-11-30 09:19] niadak commented on #281
Thanks for reporting the issue. We will fix the bug. Please feel free to send a PR with the fix and contribute to this repo if possible.

[2017-11-30 09:35] niadak commented on #217
With Test Certificate option we only skip CA check validation, the task is failing with CN check validation. You need to add the host name in the trusted source in the SSL certificate.

You can try out Deployment Group feature which is pull based deployment model. We can remove the winrm dependency in this approch. You can configure agent on the target Machine and use IIS Web Deploy task to deploy

[2017-11-30 10:08] niadak commented on #224
Hi, Thanks for your feedback. Today we dont have support for virtual directory in this task. We will take this as enhancement

[2017-12-01 04:10] niadak commented on #290
@NickMRamirez Any update on this? Is "<?xml version="1.0" encoding="UTF-8"?>" the first line in the file or you have any comments at first? Can you please make sure  "<?xml version="1.0" encoding="UTF-8"?>" is the first line and try once?

[2017-12-06 04:29] NickMRamirez commented on #290
@niadak In retrospect, it isn't an important problem, since the XML declaration is optional. I'd probably just close this issue.

[2017-12-06 12:14] #290 closed

[2017-12-07 14:53] cedricvig commented on #235
Hi, I already use   'WinRM - IIS Web App Management' task before. Do I have to add an Additional AppCmd.exe Commands to stop the pool ?

[2017-12-08 06:35] rajatagrawal-dev commented on #235
I think you should 2 new 'WinRM - IIS Web App Management' tasks - one before the "WinRM: IIS Web App Deployment" task and one after it. You should set up the the first manage task to stop the web app, and set the second manage task to start the web app. You can refer to [this link](https://technet.microsoft.com/en-us/library/cc732742(v=ws.10).aspx) that specifies the AppCmd arguments to accomplish

[2017-12-15 05:36] ddaspute opened #334 "Facing timeout issue with 'Inline SQL' in 'WinRM - SQL Server DB Deployment' task"
I have added ‘WinRM - SQL Server DB Deployment’ task in release definition and trying to execute SQL procedure using ‘Inline SQL’ option.

Facing a following timeout error:

2017-12-14T13:50:41.7404702Z Deployment failed on machine *** with following message : System.Exception: The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: E

[2017-12-18 15:47] Philippe85 opened #339 "WebDeploy error with tokens replaced by XML strings in SetParameters.xml file on VSTS"
On VSTS, I use the "Replace Tokens" task to replace tokens in SetParameters.xml file with VSTS variables. But I have variables which contains a XML string.

For example, with a VSTS variable which contains:
`<string>aaa</string><string>bbb</string><string>ccc</string>`
I got in the SetParameters.xml:
`<setParameter name="FolderTreeStructureRootFullControl"
               value="<string>aaa</string

[2017-12-19 13:36] Kloe2257 opened #341 "Task: Download Build Artifacts - Proxy issue (statusCode=407)"
# Environment

VSTS
From the output:
        [AGENT_VERSION] --> [2.123.0]
        [AGENT_OS] --> [Windows_NT]
        [AGENT_PROXYURL] --> [http://.....]
	[AGENT_PROXYUSERNAME] --> [.....]

# Issue Description

Since last VSTS update (monday 18 dec.), we now see 2 download artifact tasks in our releases.

The first, named "Download Artifacts", goes **well** (but seems to do nothing):
[code]

The

[2017-12-19 14:22] omeshp commented on #341
@Kloe2257 What is you vsts-account name?

[2017-12-19 14:34] Kloe2257 commented on #341
Hello, i work on airbus-caddmu.visualstudio.com.

[2017-12-19 14:40] omeshp commented on #341
ok, i have disable the feature of downloading artifact using tasks for your account till we investigate why proxy isn't working for you.

[2017-12-19 14:59] Kloe2257 commented on #341
Ok thank you!
I am not able to access the "Build and Release" tab anymore on the website (503 Service unavailable).
But an admin on the team still have access and the release went well again.

[code]

[2017-12-19 15:58] omeshp commented on #341
@Kloe2257 I was able to repro this issue locally, it looks like getBuild api call fails if proxy password has \ in it. Can you confirm if your proxy password is also using this character?

[2017-12-19 16:11] Kloe2257 commented on #341
We have a "\" in the user name due to the domain prefix, and a ":" in the password.

[2017-12-20 06:34] rajatagrawal-dev commented on #334
Do try adding these timeouts in additional arguments.
/p:CommandTimeout=1200 /TargetTimeout: 1200

If that doesn't work then please send the debug logs to RM_Customer_Queries[at]microsoft[dot]com. To enable debug logging, add a variable _system.debug_ in your release definition and set its value to _true_. Then queue a release to get the debug logs.

[2017-12-20 11:33] omeshp commented on #341
https://github.com/Microsoft/typed-rest-client/pull/50

[2017-12-20 14:48] rajatagrawal-dev commented on #339
You will have to escape the the < symbol atleast. > might not need to be escaped. But your original concern of readable variables will not be addressed by this either.
Please read [this](https://stackoverflow.com/questions/1091945/what-characters-do-i-need-to-escape-in-xml-documents/1091953#1091953) for reference on XML character escaping.

[2017-12-20 17:47] Kloe2257 commented on #341
Thank you for fixing this.
Should we re-enable the feature of downloading artifact using tasks on my account ?

[2017-12-21 08:42] omeshp commented on #341
@Kloe2257 The issue isn't fixed yet, the issue is in typed-rest-client that is getting used in vso-node-api. Those issues still need to be fixed. Once they have been fixed and deployed, I will enabled the feature for your account and update you.

[2017-12-22 03:15] lc273734858 opened #346 "Deployment Error, "Could not obtain the user information""
2017-12-22T02:15:48.3155205Z Deployment failed on machine 192.168.130.84 with following message : System.AggregateException: Failed to install 'VisualStudioRemoteDeployer8a29f1ce-5736-4682-98c3-11012a9ea554' from service executable path VisualStudioRemoteDeployer.exe . Consult the logs below:
2017-12-22T02:15:48.3155205Z 使用“2”个参数调用“SetRight”时发生异常:“Could not obtain the user information.”
2017-12-22

[2017-12-22 09:22] GregoryOtt opened #347 "Support SQLSERVER module when calling Invoke-SqlCmd"
Could you please add support for SQLSERVER module as SQLPS (and SQLSERVER < 21) modules have a bug with Invoke-SqlCmd => https://connect.microsoft.com/SQLServer/Feedback/Details/811560

Additionally, it seems that you are about to replace SQLPS by SQLSERVER module since SSMS runs now with SQLSERVER module as explained [here](https://technet.microsoft.com/en-us/library/mt740629.aspx)

[2017-12-23 00:58] MarkIannucci opened #350 "How to get IIS Web App Deploy to stop reverting the app pool identity to the default"
Hi,

I have an IIS Web App that we run under a domain account so it can communicate with other resources in our network.  Every time we deploy, I've noticed that it switches the app pool identity to the default.  Is there a way to get it to continue using the app pool identity that it was using before the deployment began?

Thanks in advance,
Mark

[2017-12-27 20:54] MarkIannucci commented on #350
I figured this out.  The IIS App Pool was being reverted to the App Pool Identity by the IIS Web App Manage task in release management.  That setting is contained in the IIS App Pool portion of that task.  Switching it to custom account and inputting the credentials (with password stored as a secure variable in TFS) fixed the issue.  Hopefully this is helpful to someone with the same problem down

[2017-12-27 20:54] #350 closed

[2018-01-04 23:54] vercellone opened #362 "AppCmdOnTargetMachines add vdir fails in some scenarios"
Re: [AppCmdOnTargetMachines](https://github.com/Microsoft/vsts-rm-extensions/blob/f50b931cefab796222e25b8bb3132b0caa4547fa/TaskModules/powershell/TaskModuleIISManageUtility/AppCmdOnTargetMachines.ps1#L670); Suspected root cause of Microsoft/vsts-tasks#4880.

| Virtual Directory | Expected /app.name | Actual /app.name | Expected /path | Actual /path |
|---------------------------|------------------

[2018-01-08 10:31] Toukiletoukan commented on #281
Hi, any update on this issue ?
Thanks !

[2018-01-08 12:10] zirain opened #366 "Error WinRM - IIS Web App Deployment"
Hi guys, any suggestion with the following error info, thanks!

2018-01-08T12:01:01.7222463Z Deployment status for machine 10.65.1.58 : Failed
2018-01-08T12:01:01.7222463Z
2018-01-08T12:01:01.7222463Z
2018-01-08T12:01:01.7222463Z Deployment failed on machine 10.65.1.58 with following message : System.Exception: Cannot convert value "System.Object[]" to type "System.Xml.XmlDocument". Error: "“Data”

[2018-01-08 15:01] zirain commented on #366
seems to like issue#219

[2018-01-09 02:20] zirain commented on #366
still not work after install Chinese version webdeploy v3.6

[2018-01-11 06:00] jigneshc opened #367 "Jenkin as CI and TFS for CD throwing Error: Microsoft.PowerShell.Commands.WriteErrorException"
I am doing CI in Jenkins and whatever will be the output I am trying to deploy it from TFS. The task include in my release are:
1. Copy Files
2. Manage IIS App

While doing this I am getting following error:

 **##[error]Microsoft.PowerShell.Commands.WriteErrorException: Deployment on one or more machines failed. System.**Management.Automation.Remoting.PSRemotingTransportException: Connecting to r

[2018-01-18 10:22] arjgupta commented on #366
can you share the debug logs for the task by setting system.debug variable to true

[2018-01-18 10:32] arjgupta commented on #346
@lc273734858 , this error occurs if the user with which you are trying to connect to the remote machine is not an administrator. But if you are using a user that is added to Administrators group, and still facing this issue, then the case maybe that the policies have been set in a way that the Administrators group does not have all the permissions. Basically, the user with which you are trying to

[2018-01-18 10:48] Schindler-VSTS-Group commented on #341
Hi,
We are also affected with the same issue above. Can you disable the feature for artifacts download, for our tenant as well ?
We are behind an Enterprise proxy with NTLM authentication and all our deployments are stuck due to the new version.
Thank you in advance for treating this issue with a high emergency.

[2018-01-18 11:50] GitHubSriramB commented on #341
@Schindler-VSTS-Group - could you pl. let us know your account name?

[2018-01-18 12:02] Schindler-VSTS-Group commented on #341
Hi , It is nazmunnisa.ghani@schindler.com.

From: Sriram B [mailto:notifications@github.com]
Sent: Thursday, January 18, 2018 12:51 PM
To: Microsoft/vsts-rm-extensions <vsts-rm-extensions@noreply.github.com>
Cc: Nazmunnisa Ghani <nazmunnisa.ghani@schindler.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/vsts-rm-extensions] Task: Download Build Artifacts - Proxy issue (statusCode

[2018-01-18 12:06] Schindler-VSTS-Group commented on #341
Hi It is nazmunnisa.ghani@schindler.com @GitHubSriramB

[2018-01-18 14:20] omeshp commented on #341
@Schindler-VSTS-Group I had seen failures for your account from telemetry and disabled the feature some time back, are you still facing this issue?

[2018-01-18 14:27] Schindler-VSTS-Group commented on #341
Unfortunately i still see the same issue .
![2018-01-18_15-25-08](https://user-images.githubusercontent.com/35562230/35102751-c1bf81a2-fc5b-11e7-9fd3-0107fdc36bf3.png)

[2018-01-18 14:29] omeshp commented on #341
@Schindler-VSTS-Group Are you redeploying the same release, or creating a new one?

[2018-01-18 14:46] Schindler-VSTS-Group commented on #341
Hey cool. It worked fine with the new release. Thanks very Much!.

[2018-01-18 14:52] Schindler-VSTS-Group commented on #341
Hope it will be fixed in next release and please let me know if i need to request back again to enable the feature not to miss out the functionalities provided...

[2018-01-18 15:31] omeshp commented on #341
@Schindler-VSTS-Group Yes, we are working on support for NTLM once we have thoroughly tested and deployed the fix, we will re-enable the feature for your account. We will keep you updated when we do that.

[2018-01-20 04:06] zirain commented on #366
@arjgupta sorry how can I setting the system.debug variable

[2018-01-22 08:06] arjgupta commented on #366
in your build / release definition, there will be a variables section. Navigate there and set the variable 'system.debug' to true

[2018-01-22 10:14] zirain commented on #366
@arjgupta please check the log, I hide some secret info(accountname,ip)

[5_Deploy IIS App.log](https://github.com/Microsoft/vsts-rm-extensions/files/1651538/5_Deploy.IIS.App.log)

[2018-01-23 11:42] pavanadepu2 commented on #367
@jigneshc, it seems WinRM is not configured on the target machine on which you are deploying the IIS application. Configure the WinRM on the target machine by running [this](https://github.com/Microsoft/vsts-rm-extensions/blob/master/TaskModules/powershell/WinRM/WinRM-Http-Https/ConfigureWinRM.ps1) PowerShell script.

Retry the deployment once the WinRM is successfully configured. Please let us kn

[2018-01-23 12:01] rajatagrawal-dev commented on #334
Please reopen if you face this again.

[2018-01-23 12:01] #334 closed

[2018-01-23 12:01] #339 closed

[2018-01-23 17:27] pavanadepu2 commented on #366
@zirain, it seems there was some issue with the zip file D:\deploytemp\TuJia.Deploy.Web.zip. Can you run the below command on Agent machine to confirm the same:
      "C:\Program Files\IIS\Microsoft Web Deploy V3\msDeploy.exe" -verb:getParameters -source:package='D:\deploytemp\TuJia.Deploy.Web.zip'

Please let me know the output of the above command.

[2018-01-24 14:55] niadak commented on #217
@gerhardkoepfle , I am closing the issue. Please feel free to re-open if you need any help on this.

[2018-01-24 14:55] #217 closed

[2018-01-25 08:10] jigneshc commented on #367
@pavanadepu2 , WinRM is already installed on target machine, still I am not able to deploy.

ERROR:

**Microsoft.PowerShell.Commands.WriteErrorException: Deployment on one or more machines failed. System.Management.Automation.Remoting.PSRemotingTransportException: Connecting to remote server ******.***.com failed with the following error message : Access is denied. For more information, see the ab

[2018-01-25 16:17] pavanadepu2 commented on #367
Yes, this issue is related to permission and is different from the error reported initially. I need to debug the issue on the target machine. Please email your convenient time to RM_Customer_Queries@microsoft.com to debug the issue further.

[2018-01-30 09:51] #362 closed

[2018-02-01 07:36] zirain commented on #366
@pavanadepu2
the orignal string in the parameters.xml is some thing like
<pre>
description="TujiaDeployDalConnectionString 由应用程序在 web.config 中用来访问数据库的连接字符串。"
</pre>

but the command output is
![Uploading 20180201153354.png…]()

[2018-02-05 09:34] pezaTeknologisk opened #382 "WinRM - SQL Server Database Deployment - Doesn't find sqlpackage installed with visual studio 2017"
Latest version of visual studio doesn't create an InstallDir value in HKLM Registry Key

[2018-02-05 23:04] connorposke opened #383 "Timeout occurs during Download Artifact step of Release Definition using TeamCity Artifacts for Release Management extension, causing release to fail."
When using the TeamCity Artifacts for Release Management extension, the “Download Artifacts” step times out after about 20 seconds. This is the step where VSTS attempts to download specific artifacts from TeamCity. The connection between the TeamCity server and VSTS is confirmed to be successfully established: The Service Hook successfully verifies the connection on demand. We are also able to wit

[2018-02-08 13:14] harrywaters-swordmobile commented on #341
HI @omeshp - we are seeing the same issue, it was working yesterday but is not working today in VSTS

`2018-02-08T13:12:02.0189245Z ==============================================================================
2018-02-08T13:12:02.0189470Z Task         : Download Build Artifacts
2018-02-08T13:12:02.0189687Z Description  : Download Build Artifacts
2018-02-08T13:12:02.0189841Z Version      : 0.129.1

[2018-02-09 06:01] GitHubSriramB commented on #341
@harrywaters-swordmobile - We have seen this issue happen when agent is configured to use proxy with NTLM credentials. Can you check if this is the case with the agent where the release failed?

[2018-02-09 08:41] harrywaters-swordmobile commented on #341
Hi @GitHubSriramB - yes I believe this is the case, is there anything we can do about it?

[2018-02-09 08:50] GitHubSriramB commented on #341
@harrywaters-swordmobile - is it possible to not use agent behind proxy configured with NTLM credentials?

If this is not possible, then we would need to turn off feature for your account. Pl. share the account name where you are running into this issue.

[2018-02-09 08:59] harrywaters-swordmobile commented on #341
What feature are you referring to? The task was working with version:

`2018-02-07T17:18:00.4109601Z ==============================================================================
2018-02-07T17:18:00.4109869Z Task         : Download Build Artifacts
2018-02-07T17:18:00.4110030Z Description  : Download Build Artifacts
2018-02-07T17:18:00.4110200Z Version      : 0.127.7
2018-02-07T17:18:00.4110354Z A

[2018-02-09 09:33] harrywaters-swordmobile commented on #341
@GitHubSriramB - apologies I forgot to tell you our account, it is swordmobile.visualstudio.com

[2018-02-12 08:59] asranja commented on #366
@zirain The task is throwing error while trying to convert the output of the above command into XML. As you can see, the error is “Data”是一个意外标记。应为空格。 第 7 行，位置 186." which when translated into English is something like ""Data" is an unexpected tag. It should be a space. Line 7, location 186.". Can you check for the Data node within your parameters.xml file inside the zip and see if it is malformed.

[2018-02-12 22:31] GeorgeTsiokos opened #384 "VisualStudioRemoteDeployer SerializationException"
__PowerShell on Target Machines__
Executes less than one minute, and reports
[code]

__On the target machine__

[code]

[code]

[code]
Dump available upon request.

[2018-02-15 06:16] omeshp commented on #383
Looks like we don't set any timeout for custom artifacts at https://github.com/Microsoft/vsts-agent/blob/f7d9051f92cfdc1d55982483f09cc5531f7dd55e/src/Agent.Worker/Release/Artifacts/CustomArtifact.cs which needs to be fixed.

[2018-02-15 06:33] omeshp commented on #216
@pascalberger This issue is fixed in latest vsts release, can you confirm that it is working for you now?

[2018-02-15 06:44] pascalberger commented on #216
@omeshp We're using TFS on-prem (currently 2018 RTM). If you let me know in which TFS version this is supposed to be included I can test as soon as it is released.

[2018-02-15 09:29] omeshp commented on #216
@pascalberger Hi pascal, this fix will get released with TFS 2018 update 2.

[2018-02-22 10:46] kikiprinci commented on #173
I had the same error, and the unique way to solve this went:
- Create a new task of WinRM - IIS WebApp Managment
- Fill in again all of our variables
-Rewrite manually the thumbprint

When I rewriteed the thumbprint in a previous task didn't run correctly

[2018-02-22 13:03] GitHubSriramB commented on #341
@harrywaters-swordmobile - we have disabled feature to use DownloadBuildArtifacts task automatically to download artifacts used in release.

[2018-02-22 13:06] #216 closed

[2018-02-23 09:33] asranja commented on #173
@kikiprinci can you share the error that you received.

[2018-02-23 10:47] kikiprinci commented on #173
![image](https://user-images.githubusercontent.com/9587938/36590456-06930b06-188f-11e8-9013-83131cb1a598.png)

![image](https://user-images.githubusercontent.com/9587938/36590536-41d4ef9a-188f-11e8-8153-9b1bce30519c.png)

[2018-02-23 11:07] asranja commented on #173
@kikiprinci Can you paste the thumbprint in a [unicode converter](https://r12a.github.io/apps/conversion/) and see if there are invalid characters at the beginning or end. You can refer to a similar [issue ](https://github.com/Microsoft/vsts-tasks/issues/5048) for a Deployment Group based IIS Web App Manage task.  Please let us know if you still face issues.

[2018-02-26 15:19] zirain commented on #366
@asranja as the pic show, the descriotion attribute seems like in error encoding.I didn't input any Chinese characters in the origin web.config file.In fact,there's not such xml attribute in the web.config.

After remove the connectionStrings tag,it's working now.

[2018-03-06 14:55] maparicio opened #393 "Error Cannot bind parameter 'Password'. Cannot convert the "XXX" value of type "System.String" to type "System.Security.SecureString""
I'm trying to run this script and keep getting an error regarding the password.

[code]
Any pointers?

[2018-03-22 17:35] devingoble commented on #58
Any updates on where this is in the backlog?

[2018-03-27 15:06] bkeastmond commented on #384
I am experiencing a similar issue (the error is the same).

The script runs; the task in the script creates and/or adds content to the file.

[remoteVSTSissue.txt](https://github.com/Microsoft/vsts-rm-extensions/files/1852462/remoteVSTSissue.txt)
[script-for-deploy.txt](https://github.com/Microsoft/vsts-rm-extensions/files/1852466/script-for-deploy.txt)

It appears that it errors out after running

[2018-03-31 13:44] chriswgr opened #400 "Additional requirements make management more difficult"
Why are the default requirements for this task more stringent than the MSDeploy command line parameters?  If this task is intended to be a wrapper for MSDeploy -verb:sync, then you only additional parameters for package location (-source:package=<location>) and -dest:auto.

These are not requirements to run MSDeploy from a command line:
- Machines
- Admin Login
- Password
- Website Name
- Remove A

[2018-04-02 22:23] gregpakes opened #401 "How to set default artifact version when downloading from TFS"
When you want to download an artifact from an External TFS, you don't get the same options to choose a default version or branch.

The lack of this feature really limits the usefulness of this extension in my case.

- Is this feature on the backlog?
- is there anything specific blocking this feature?

[2018-04-03 16:21] vinaysandela opened #404 "Error at Deploy IIS Task in Release Definition on VSTS"

[2018-04-03 22:44] RubixRevenge opened #405 "Example of "Web Deploy Parameters File"?"
Can you provide an example of "Web Deploy Parameters File" in use, say to do a web.config transform to a specified configuration or otherwise ensure that the web.config has the correct values for a target environment (e.g., if the target environment is "production" then the correct connection strings are in the web.config file).

This is all I see under the topic. It does not provide sufficient ex

[2018-04-04 08:26] jawn opened #406 "SQL Server Database Deployment should allow using sqlcmd -E (trusted connection)"
It seems that the current extension only allows using sqlcmd while also specifying an administrator username and password.

It would be helpful if one could just use sqlcmd.exe -E without any additional username/password configuration, in the interest of reducing the number of hard-coded credentials in build tasks. This would then use the Windows identity of the release agent.

Workaround is to ju

[2018-04-04 11:07] Ajay-MS commented on #405
@RubixRevenge
Explaining with an example:

**Web.config**
Suppose your web app package contains config file in the following format
[code]

**Declarative paramters.xml**
And web app package already contains a parameters.xml file ( this file is generally termed as declarative paramters.xml file). The connection string in web.config file will be replaced by connection string from this file during ex

[2018-04-04 15:37] RubixRevenge commented on #405
Thanks. That example helps. What about a scenario where you have multiple connections strings in web.config that are all to be used in production. You need one set of strings for your dev environment, a separate set of strings for your demo environment, and a third set of strings for the production environment.

Would "Web Deploy Parameters" be the correct tool to determine which set of connection

[2018-04-05 09:54] Ajay-MS commented on #405
You can achieve substitution of values across multiple connection strings using XML variable substitution.

[Variable substiution and transformation](https://docs.microsoft.com/en-us/vsts/build-release/tasks/transforms-variable-substitution?view=vsts)

But this feature is not supported for WinRM based web app deploy task.

I would suggest you here to [configure deployment group]( https://docs.micr

[2018-04-05 15:11] RubixRevenge commented on #405
Thank you. This statement says it all:  "But this feature is not supported
for WinRM based web app deploy task."

I was hoping that WinRM would have an option that makes my life easier. At
present, I do have another method that does work correctly, but there are
more steps involved.

Henry Wyckoff
henry.wyckoff@gmail.com

On Thu, Apr 5, 2018 at 2:54 AM, Ajay Kumar Yadav <notifications@github.com>

[2018-04-06 07:43] RoopeshNair commented on #400
Check out [deployment-groups](https://docs.microsoft.com/en-us/vsts/build-release/concepts/definitions/release/deployment-groups/) and [end-to-end CI/CD configuration for IIS web app deploy](https://docs.microsoft.com/en-us/vsts/build-release/apps/cd/deploy-webdeploy-iis-deploygroups?view=vsts&_lrsc=af2774f2-706a-4d11-810e-de23b8270485) support in deployment groups (DG). With DG, you don't need ad

[2018-04-06 07:43] #400 closed

[2018-04-09 11:19] pdesgarets opened #412 "Tests fail on Unix (Linux and Mac OS X)"
Hi,
Tests fail UNIX systems, see https://travis-ci.org/pdesgarets/vsts-rm-extensions/builds/364061762
Thanks

[2018-04-16 05:29] javeriaanwer opened #418 "VSTS modal dialog close event"
Hi,

I am using microsoft VSTS modal [dialog ](https://docs.microsoft.com/en-us/vsts/extend/reference/client/controls/modaldialog?view=vsts)and I want a confirmation message when modal dialog is closed from 'x' (closed button of modal dialog), I get close event which fired after event dialog is closed.

I want an event before closing the dialog. How can I do that?

here is the code:
[code]

like i

[2018-04-16 13:42] omeshp commented on #412
#417

[2018-04-17 08:32] omeshp commented on #412
@pdesgarets The issue is fixed now.

[2018-04-17 08:32] #412 closed

[2018-04-17 08:36] pdesgarets commented on #412
Thanks ! Do you know when it will be released on VSTS public website ? It may solve https://developercommunity.visualstudio.com/content/problem/230303/artifacts-selection-for-release-works-only-on-wind.html .

[2018-04-17 08:46] omeshp commented on #412
@pdesgarets yes to fix that issue we need some server side change also, which should be deployed in 3-4 days.

[2018-04-17 08:50] pdesgarets commented on #412
Great, thanks

[2018-04-17 19:09] devingoble opened #419 "IIS Web App Deployment breaks app pool"
On one of my applications that I'm deploying using TFS and the Web App Deployment task, I'm getting a strange result.

For reference, here's how it's configured. Yes, there are a lot of variables.
![image](https://user-images.githubusercontent.com/2547980/38890756-254f4f74-4237-11e8-95b9-9c540fbe9680.png)

After the deploy runs, If I hit the app, I get a 401 error that is definitely happening befo

[2018-04-26 08:37] codekoenig commented on #195
That's an issue for us too. IIS uses/supports both stores, so the desired one should be selectable. According to [this IIS documentation page](https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-server-name-indication-sni-ssl-scalability), the `WebHosting` store is the preferred one when using SNI because of scalability:

So it would be really important to support this out o

[2018-05-22 14:04] mmajcica commented on #281
Same here. Any idea when and if the proposed fix will become part of a release?

[2018-05-28 08:35] GitHubSriramB opened #430 "Update endpoint documentation to clarify how URL can be defined inline within data source binding"
Refer to the following customer issue:
https://github.com/Microsoft/vsts-tasks/issues/7302

We currently don't include this documentation here:
https://github.com/Microsoft/vsts-rm-extensions/blob/master/docs/authoring/endpoints/dataSources.md

[2018-05-28 17:43] omeshp commented on #383
@connorposke We have recently shifted from zip based download to file based download for teamcity extension, so this issue should be resolved now. Can you confirm?

[2018-05-28 17:44] omeshp commented on #401
@GitHubSriramB Can you confirm if we have this on backlog?
@gregpakes btw adding default version for artifacts is extensible the documentation is at https://github.com/Microsoft/vsts-rm-extensions/blob/master/docs/authoring/artifactextension.md if you want to have a stab at it.

[2018-05-29 03:31] SARAVANA1501 commented on #224
I am also facing the same issue.

Error message:Can not set attribute "name" to value
"Common/S2S".

[2018-05-30 20:33] Dan-Co opened #436 "Ansible Task - Tower Interface not enabled?"
Hello,

I can see a bunch of code to enable calling Ansible Tower via its API, however, its not enabled in task.json a seletable in input interface in the initial radio button?

[2018-05-30 20:38] Dan-Co commented on #436
This PR seems to have removed the ansible tower interface, and corresponging service endpoint.
Althought he PR doesnt really say much about the change.

Pull Request:
#240

https://github.com/Microsoft/vsts-rm-extensions/pull/240/files

[2018-05-31 05:36] hililh commented on #436
Hello Dan,

Earlier we had just added a basic version of ansible tower which will queue a job in tower.
We later realize that there are many gaps such as how artifact will flow. So we removed this option and decided to only enable based on user request and there requirement.

//Himanshu

From: Dan-Co <notifications@github.com>
Sent: 31 May 2018 02:10
To: Microsoft/vsts-rm-extensions <vsts-rm-exten

[2018-05-31 06:01] #367 closed

[2018-05-31 06:12] jigneshc opened #437 "SonarScanner for MSBuild - A multi-project can't have source folder."
I am trying to scan multi-project (C# MVC project) using SonarScanner for MSBuild and I am  getting below warning.

Warning - A multi-module project can't have source folders, so 'Some directory....\Folder Name' won't be used for the analysis. If you want to analyse files of this folder, you should create another sub-module and move them inside it.

I am using SonarQube 5.6.6 and it has Sonar C# A

[2018-06-01 06:01] Dan-Co commented on #436
Hello.

Yes we already use Ansible Tower from VSTS using a shell script and tower-cli.
However a VSTS task calling tower directly would be great.

As long as we can pass extravars into the tower task, our artifact flow is currently as follows.

1. download artifact to agent
2. stage artifact on agent (http deamon)
3. call tower job template, passing int he http artifact location and the ansible pl

[2018-06-04 06:39] omeshp commented on #383
Closing since there was no reply.

@connorposke Please reopen if you are still facing this issue.

[2018-06-04 06:39] #383 closed

[2018-06-14 11:48] GitHubSriramB commented on #401
@gregpakes - we will add this to our backlog. Thanks for the feedback.

[2018-06-14 11:48] #401 closed

[2018-06-14 11:52] GitHubSriramB commented on #289
@alatas - we have updated External TFS artifact extension in marketplace. It will now use task to download the artifact.

Could you pl. try your scenario & let us know if it works?

[2018-06-16 07:31] omeshp commented on #430
Documentation is updated

[2018-06-16 07:31] #430 closed

[2018-06-16 07:32] omeshp commented on #294
https://github.com/Microsoft/vsts-rm-extensions/pull/446

[2018-06-18 10:01] ruairiohagan opened #447 "Can't connect to external TFS build after enforcing TLS 1.2 on Release Server"
Hi,

We have 3 TFS servers installed, one in our development environment (which is the artifact source), then two other installations in our test and production environments which consume the build artifacts from the dev TFS instance and deploy them to their respective environments.

We have recently began enforcing TLS 1.2 communications on our test environment in preparation for it being enforce

[2018-06-18 22:09] kdubau opened #448 "NuGet package for DistributedTask.ServerTask.Remote.Common?"
Hey the link to the NuGet package for DistributedTask.ServerTask.Remote.Common seem to have changed.

Where can I find it?

https://github.com/Microsoft/vsts-rm-extensions/blob/master/ServerTaskHelper/DistributedTask.ServerTask.Remote.Common/readme.md#how-you-can-get-started

[2018-06-19 20:41] kdubau commented on #448
The link has been updated, thanks.

[2018-06-19 20:41] #448 closed

[2018-06-21 05:42] GitHubSriramB opened #450 "Update documentation for authentication scheme to include details of how it can be consumed in a custom endpoint type"
Current documentation only lists the existing authentication schemes, but does not provide details of how it can be consumed.

https://github.com/Microsoft/vsts-rm-extensions/blob/master/docs/authoring/endpoints/authenticationSchemes.md

[2018-06-21 11:31] GitHubSriramB opened #451 "Add documentation for mustache helpers supported in endpoint queries"
Refer to following issue:
https://github.com/Microsoft/vsts-tasks/issues/7263

[2018-06-26 19:28] #405 closed

[2018-06-28 12:27] GitHubSriramB opened #454 "Add documentation for internal endpoints that can be used in data source bindings"
https://blogs.msdn.microsoft.com/sriramb/2018/02/20/data-source-bindings-for-tfsvsts-rest-apis/

[2018-06-28 23:05] ruairiohagan opened #455 "Version 1.136.0 of TFSAfRM can no longer retrieve External TFS Builds"
Hi,

The above version of TFS artifacts for Release Management can no longer connect to an external TFS instance to retrieve a list of build artifacts.

We are running multiple On Prem installations of TFS in separate domains, all running version 15.117.26714.0.

When using v 15.136.0 of TFSAfRM, if you test the connection endpoint from the services tab the connection is verified, but if you creat

[2018-07-05 06:03] romil07 commented on #455
@ruairiohagan
Hi Ruairi, can you please let me know the number of build definitions that you have?

[2018-07-05 08:40] SumiranAgg commented on #393
@maparicio Sorry for late reply. This had been fixed and you will not face this issue when you use latest script.

[2018-07-05 09:29] SumiranAgg commented on #404
@vinaysandela Sorry fro late reply. Your target machine might not be winrm enabled.
Can you verify by running following script on local:

$soptions = New-PSSessionOption -SkipCACheck
$cred = Get-Credential
$computername = <EnterComputerName>
$computerport = <EnterPort>
Enter-PSSession -ComputerName $computername -Port $computerport -Credential $cred -SessionOption $soptions -UseSSL

Substitute val

[2018-07-05 09:31] SumiranAgg commented on #366
Closing the issue as @zirain is unblocked.

[2018-07-05 09:31] #366 closed

[2018-07-05 12:15] #289 closed

[2018-07-06 06:01] romil07 commented on #455
Hi @ruairiohagan Thanks for informing that.
We are in the process of rolling out a fix for this. This should be out early next week.
Request you to please wait till that. I will update this thread immediately as the fix is out.

Thanks

[2018-07-10 15:59] milendimo commented on #405
For future references, by the looks of it "IIS Web App Deploy" is deprecated in TFS 2018. WinRM task does offer similar properties, e.g. Web Deploy Parameter File and Override Parameters, which are passed down the line to the web deploy executable.
In case you are having trouble with the format of the file, I can highly recommend using the following VS extension:  [(Web Deploy Parameters Toolkit)]

[2018-07-19 12:21] SumiranAgg commented on #393
Closing as issue resolved.

[2018-07-19 12:21] #393 closed

[2018-07-25 00:09] ruairiohagan commented on #455
Hi @romil07 ,

We have just download version 15.138.0 of TFSAfRM from the marketplace and we're still getting issues.

We are now able to create a new release and select a build version from the remote TFS instance, but if we try to create a new release definition and try to select the build definition from the remote instance, it is still unable to retrieve the list of build definitions from the

[2018-07-25 10:04] onlyutkarsh opened #466 "Link to jenkins task referenced in readme.md is broken"
Hello, link to tasks referenced in the readme file are broken. For example, readme file links to https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/JenkinsDownloadArtifacts but that task is nowhere to be found.

![image](https://user-images.githubusercontent.com/2685029/43194516-71ce8016-8ffa-11e8-80c4-da92deee7011.png)

[2018-07-25 13:00] GitHubSriramB opened #467 "Add documentation for supported default versions for artifact type contribution"

[2018-07-25 14:15] ntiesotrade commented on #341
We are experiencing this same issue.  Does the agent still not work behind a proxy that requires NTLM credentials?

[2018-07-26 06:34] GitHubSriramB commented on #454
Added with this PR:
https://github.com/Microsoft/vsts-rm-extensions/pull/457

[2018-07-26 06:34] #454 closed

[2018-07-26 07:02] GitHubSriramB commented on #450
This information is available in Customizing service endpoints:
https://github.com/Microsoft/vsts-rm-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md

[2018-07-26 07:02] #450 closed

[2018-07-27 20:53] gforceg opened #471 "unable to target specific app pool"
I am using the Manage IIS App Management task to create an app pool w/ a custom identity. This seems to be working and creates a new app pool if one does not exist in the deployment environment.

My application is deployed to a virtual path and should have the site path "Default Web Site/$(MyProjectName)". When I use the IIS Web Deployment task, I am unable to specify my app pool.

I tried using v

[2018-08-01 08:16] romil07 commented on #455
Hi @ruairiohagan
Can you check this with the latest version which 15.138.1
We updates it yesterday only and you should be unblocked with this update. Please check and update me here.

Thanks

[2018-08-06 06:02] rajatagrawal-dev commented on #471
@gforceg Application pool should be automatically detected. You need to first use IIS Manage task to create a website in your application pool. Then you can deploy to that website using the IIS Deploy task.

[2018-08-10 01:12] ruairiohagan commented on #455
Hi @romil07 ,

We've checked the latest update and it's working fine now, many thanks!

[2018-08-13 09:40] arjgupta commented on #382
this was fixed with this PR https://github.com/Microsoft/vsts-rm-extensions/pull/460

[2018-08-13 09:40] #382 closed

[2018-08-16 06:42] #455 closed

[2018-08-17 21:53] gforceg commented on #471
In my situation there is a website 'Default Web Site' that already exists. All applications use the website: 'Default Web Site/$(MyProjectName)'. We host many apps on the same IIS server and use the convention: http://<servername>/appname.

Is our setup incompatible with the VSTS tasks?

[2018-08-18 14:28] twilly86 commented on #153
Also looking for ability to do this

[2018-08-22 07:00] omeshp commented on #341
@tradearchitect Yes, NTLM proxy is still an issue with node based tasks, you can use using http://cntlm.sourceforge.net/ is no other proxy authentication is supported. Or let us know and we can turn of this feature for your account if it is really blocking you.

Also, better to open a new thread for the issue since we don't monitor closed ones.

[2018-09-07 12:07] omeshp commented on #466
https://github.com/Microsoft/vsts-rm-extensions/commit/632f7e5c32568f05d780d00c2eb57b39d0562e14

[2018-09-07 12:07] #466 closed

[2018-09-07 12:08] omeshp commented on #466
https://github.com/Microsoft/vsts-rm-extensions/pull/468

[2018-09-10 18:53] ariovistus opened #491 "broken link to documentation"
on this page:
https://github.com/Microsoft/vsts-rm-extensions/tree/master/Extensions/IISWebAppDeploy/Src

WinRM: IIS Web App Management: Create or update IIS websites and app pools. The task's detailed documentation is in the source repo.

link is broken

[2018-09-13 08:47] onlyutkarsh commented on #295
Hi @omeshp, I hope this can be closed - now that we have an extension in [marketplace](https://marketplace.visualstudio.com/items?itemName=onlyutkarsh.gitlab-integration).

[2018-09-17 08:45] andreujuanc opened #494 "SPNCreation - New-AzureRmRoleAssignment : Principal NUMBER does not exist in the directory"
Tried to execute his https://github.com/Microsoft/vsts-rm-extensions/blob/master/TaskModules/powershell/Azure/SPNCreation.ps1 and resulted in an error.

Tried with my account and my co-worker who is the subs owner (im supposed to be global admin aswell).

One thing I think it can be is that we have two subscriptions, but this shoudnt be an issue right?  Down below you can see how it finds the subs

[2018-09-26 17:12] toddca opened #506 "[Solved]Deprecated Task?"
I noticed when adding this task to my pipeline that the name is "[Deprecated] Deploy SQL DACPAC" - is this really deprecated and if so what is the recommended replacement with like functionality aka replacement?

Also I did notice when importing my build and release definitions from one environment into another this task is the only one that does not import. It appears like it is not recognized, I

[2018-09-26 17:41] toddca commented on #506
I believe I may be looking at two different extensions - I noticed the GUID on the deprecated is 70a3a82d-4a3c-4a09-8d30-a793739dc94f while you guys here use 063c7649-4934-49e8-9eac-37121fe7e350.

So now my question is, how can I get hold of this extension to deploy into my new environment? It is available in my older environment as I believe I installed from the marketplace - this extension does

[2018-09-26 17:55] toddca commented on #506
Please disregard _ I found the extension I needed in the IIS Web App Deployment Using WinRM packaged on the marketplace. FWIW getting old sucks ass! </thanks>

[2018-09-28 14:15] vitaliipanchenko opened #512 "Parameters.xml and JSON files"
How sould I write parameters.xml if i wan`t to transform JSON file during deploy (WinRM IIS web app deployment task)?

[2018-10-02 17:05] prnvdixit commented on #491
Hey!
I would like to take up this issue, please. :smile:

[2018-10-03 13:10] prnvdixit commented on #491
Done. :+1:
(Also, thanks for clarifying which Version we have to link it there beforehand - I had added links to both versions' README in my commit earlier) :smile:

[2018-10-15 12:54] akishaha opened #520 "Failed to commit configuration changes. The process cannot access the file because it is being used by another process"
We are getting the below locking error very frequently while executing the WinRM - IIS Web App Management Task in TFS Releases. After some retries, it will be executed successfully.

Can we add retry mechanism in the underlying Powershell script to make this task solid proof.

2018-05-30T06:55:08.7258776Z                     powershell script. Consult the logs below for details of
2018-05-30T06:55

[2018-10-16 22:55] ruairiohagan opened #521 "Cannot connect to remote TFS instance after auto update to version 15.142.0"
Hi,

After the TFS instance in our TEST environment auto updated to this version it is no longer able to communicate with our main development TFS server (which contains all our build definitions).

When creating a new release definition, when we create a new "External TFS Build" artifact link, the dialog cannot even see the service definition of the remote TFS instance.

Manually reverting back t

[2018-10-19 08:13] abosman opened #524 "Cannot save release definition when using Win RM - IIS Web App Management Version 2.* (preview)"
I am trying to create a release task with the Win RM - IIS Web App Management Version 2.* (preview).
I have add the task to a release definition and filled in the required fields. However I am not able to save, because the save button is disabled.

When I switch to the 1.* version of the task, the save button is enabled.

We are using TFS 2017 (v 15.117.26714.0).

[2018-10-22 05:59] Ajay-MS commented on #524
@abosman

Apologize for the issue you are facing. We will validate this issue with our TFS 2017 and will have a call with you to look into the issue in case we are not able to repro this.

[2018-10-24 11:05] hugovlc commented on #524
I also have the same issue

[2018-10-24 18:44] LucidObscurity commented on #524
I'm having the same issue. When I switch the task to v2.* (preview) the following is logged to the console:

Content?bundle=vss-bundle-async-vzXF6E3Cm1b0hwhyISnFDQGGaYlgu8yQsWCemzs54zmQ=:37 Uncaught TypeError: Cannot read property 'forEach' of undefined
    at t.<anonymous> (Content?bundle=vss-bundle-async-vzXF6E3Cm1b0hwhyISnFDQGGaYlgu8yQsWCemzs54zmQ=:37)
    at Array.forEach (<anonymous>)
    at

[2018-10-24 19:12] cbonezzi commented on #176
Hi there!
I am facing this exact issue with TFS 2017 Update 3 On-Premise.
I am trying to use WinRM - IIS Web App Deployment. My configuration is as follows:
I have a build server (Running TFS)
I have a dev environment that hosts webserver (website) and sql database.
Webserver and TFS Build server are both on same Domain.

This is the configuration of my release step
![image](https://user-images.gi

[2018-10-26 06:12] Ajay-MS commented on #176
@cbonezzi

Please check that user you are trying to log in on remote machine has proper permission.

You can verify connection using `Enter-PSSession` cmdlet.

**Sample Script to verify the connection**
[code]

Also refer [access denied thread](https://stackoverflow.com/questions/22680211/access-denied-on-remote-winrm) on SO.

[2018-10-26 13:50] cbonezzi commented on #176
@Ajay-MS
this step helped me find the permission of such user. I had my IT manager create a user in the domain that has full rights. After this change, I was able to get rid of the access denied.

Thanks.

[2018-10-29 05:34] Ajay-MS commented on #176
@cbonezzi

Thanks for the confirmation. Happy to know that you are unblocked on this issue.

[2018-10-29 07:16] #524 closed

[2018-11-01 16:53] allisonjaneklok opened #533 "IIS Manage fails to check if vdir already excists"
Upon running the cmd ".\appcmd list vdir **-**vdir.name:"{VDIR_NAME}"", powershell returns an error. Which is registered in the script as "VDIR not found". Incorrectly, as is might exist. The task should be \appcmd list vdir **/**vdir.name:"{VDIR_NAME}"

Please can you fix this problem? I've seen it in AppCmdOnTargetMachines.ps1 (line 598)

Thnx!

[2018-11-13 14:49] deepnetwork opened #534 "Registry key based discovery causes failure in Dockerized Build-Agents"
We are trying to create a Dockerized Build Agent that supports SqlPackage.

Its possible to install the SSDT Package to the container;

but during the regular VSTS Sql DACPAC deployment task execution, the registry key based discovery thinks there is no tool on the Target Agent :-(

Maybe, would it be possible to provide an Environment Variable based override mechanism here?

[2018-11-21 18:09] FrancisFYK opened #538 "The task does not carry an implementation that is compatible with your current operating system"
A supported task execution handler was not found. The task does not carry an implementation that is compatible with your current operating system 'Windows(X86)'. Contact the task author for more details.

I'm using one windows server 2012 datacenter 64 system

[2018-11-27 15:51] usrabusr opened #541 "IIS Web App Management Version 2 does not properly apply the password of a custom account to the application pool"
I am consistently having an issue with IIS Web App Management (**Version 2**) does not properly apply the password of a custom account to the application pool.  I am able to do this with **Version 1** task without an issue.

[2018-11-27 23:14] toddca commented on #538
I am receiving this now too. The task version is 1.3.9, I am using onPrem Win 2016 domain-joined agent/machines and this all use to work. I setup a new release and now things are no longer working.

[2018-11-28 03:54] chshrikh commented on #538
the current design of task only works with x64 operating system and x64 version of agent. Ensure to use x64 version of agent, instead of x86.

[2018-11-28 15:58] DaveKLloyd commented on #104
I am running version 1.3.9 and we are getting the error:
"Deployment failed on machine <SERVER> with following message : System.Exception: Unable to find the location of Dac Framework (SqlPackage.exe) from registry on machine <SERVER> Is this new or the same as above.

[2018-11-30 19:32] c-patil commented on #341
Is this issue resolved? We are also facing same issue. Our release agent is running behind proxy and it's blocking Download Artifacts task.

[2018-12-02 12:36] peterjc123 opened #548 "Feature Request: Upload Artifacts to Anaconda Cloud"
Anaconda Cloud is widely used to manage the Python environments. There is already an authentication service endpoint for pip, so I think it is necessary to create one for conda. The upload script is actually very simple to write.
[code]
I want this to be implemented because, in that way, we can reuse the credentials of Anaconda Cloud between different build definitions. Otherwise, we will have to

[2018-12-03 07:49] omeshp commented on #341
@c-patil Is you proxy using integrated windows auth for authentication? what is your account name?

[2018-12-06 05:34] #295 closed

[2018-12-11 08:03] #538 closed

[2018-12-12 09:07] waheedsayed commented on #538
I found what was my problem. I installed x86 version of the agent by mistake, this is why it was reporting that `Agent.OSArchitecture` =  X86. Build is working again after installing the x64 version.

[2018-12-12 10:08] toddca commented on #538
Yep installing the x64 agent resolved my issue too.

[2018-12-14 11:18] jagdaleganesh opened #557 "How to create web app under the web site"
is it possible to use this task to create web app or virtual directory using this taks. I have tried by giving [WebSiteName]\[WebAppname] but it throws an error .
Please help

[2018-12-18 09:12] jsalado opened #558 "Service endpoint URL not displaying on TFS 2018 update 2"
Hello,

I have a working extension published in the marketplace: [Kiuwan extension](https://marketplace.visualstudio.com/items?itemName=kiuwan-publisher.kiuwan-analysis-extension)

It has a service endpoint contribution defined like this:
`        {
            "id": "kiuwan-service-endpoint",
            "description": "Kiuwan servide endpoint to connect to the Kiuwan platform",
            "type

[2018-12-18 11:20] jsalado commented on #558
My endpoint URL is defined as explained in [this document](https://github.com/Microsoft/azure-pipelines-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md#customizeurl)

[2018-12-18 11:48] jsalado commented on #558
I've tried the same on TFS 2015 update 3 and it doesn't display either.

Inspecting the page with chrome dev tools I see that the <tr> html element is there:
`<tr data-bind="css: { 'endpoint-hidden-column': !showUrl() }" class="endpoint-hidden-column">
                    <td>
                        <label for="url" data-bind="css: { 'bold-text': isUrlInvalid() }, text: serverUrlDisplayName" clas

[2018-12-20 13:30] sorgeas opened #559 "Publishing build artifacts failed with an error"
Hello,

After setting up a new build agent for TFS 2018, we encounter the following issue when trying to publish an artifact:

[code]

The build steps are the following : MSBuild, Archive Files, Copy and Publish Build Artifacts
Here is the agent version: 2.133.3
And the publish task version: 1.131.0

Please note that this new agent has been setup on a machine containing another agent from a differ

[2019-01-09 09:33] jsalado commented on #558
Hello there,

I dag deeper on this issue and found a way to make it work with a minor side effect though.

It seems that the isVisible property is not taken into account in some TFS versions.

It seems that the visibility of the url field in the service endpoint definition is controlled by the value field. If a default value is specified the url field is hidden regardless of the isVisible property

[2019-01-14 11:28] mmajcica opened #572 "Custom endpoint default values"
For my custom endpoint I defined an input descriptor to allow the user to ignore the ssl validation.

[code]

By default, the field that is rendered is unchecked. Is there a way to make it selected by default?

Thanks

[2019-01-14 20:35] devingoble commented on #541
I had this same issue. I disabled the task and then created a new one. The new one worked fine.

[2019-01-14 20:42] devingoble opened #573 "Stopping an application pool that is already stopped causes an error"
It would be nice if the App Management task could determine the status of an app pool before it tries to start or stop it. The reason is that it tends to cause errors if the state isn't what it expects to see. This causes issues if you are trying to act on errors.

[2019-01-16 08:53] #572 closed, assigned to nobody

[2019-01-16 23:05] pascalberger opened #574 "Support artifacts filter for TeamCity artifacts"
Add support for artifacts filter on environment pre-deployment conditions for TeamCity artifacts.

If you can point me to some documentation how this can be implemented I might create a PR.

[2019-01-17 18:18] devingoble commented on #520
Here's an update. It appears that I specifically get the error when I attempt to run the IIS Web App Management task with the following in the **Additional appcmd.exe commands** field.
`set apppool "$(AppPoolName)" /autoStart:true /startMode:AlwaysRunning`

It'll always fail with this present, regardless of the configuration of the rest of the task.

[2019-01-18 08:11] MarcoWesterink commented on #281
Any progress? Same here after multiple successful deployments it suddenly decided to throw this error.

[2019-01-23 05:03] omeshp commented on #341
@omerzubair Is your agent under proxy? Is the proxy using integrated windows/NTLM authentication?

[2019-01-24 15:46] scottmishra opened #578 "Ansible Dynamic Inventory should use a unique file name"
When running the Ansible playbook task using inline dynamic inventory file on a self-hosted agents, creates an inventory file: `/tmp/inventory.ini` Because this name is the same on every run, if you run multiple Ansible tasks in parallel on the same hosted vm this causes for the file to get overwritten. It would be better if the file created  ![here](https://github.com/Microsoft/azure-pipelines-ex

[2019-01-24 17:45] scottmishra commented on #578
I've created a pr: https://github.com/Microsoft/azure-pipelines-extensions/pull/579 for this issue

[2019-01-29 15:16] michaelthyregod opened #581 "Teamcity artifact URL's is not URL encoded when downloading"
When downloading from teamcity, the URL for the artifact does not seem to be URL encoded resulting in problems if there is special characters in the artifact filename.

Example : I have an artifact named something like this "*/[SOMENAME][SOME OTHER NAME]Some name"

The brackets in the filename is valid in most OS's, but somehow it is not valid when being downloaded from TC, and reports "java.lang.

[2019-01-30 13:33] #578 closed

[2019-01-30 13:34] scottmishra commented on #578
See https://github.com/Microsoft/azure-pipelines-extensions/pull/579

[2019-02-14 14:06] mmajcica opened #593 "Data Source Bindings not using endpoint authentication"
In the version one of my extension I had the following.
A custom endpoint defined using a single authentication schema of type "ms.vss-endpoint.endpoint-auth-scheme-basic".
A task that exposes the custom endpoint type in an input filed and several other inputs binded to the DataSourceBindings defined in the task json itself, using endpointUrl and not a data source from the extension manifest.
It a

[2019-02-15 12:14] alatas commented on #289
@GitHubSriramB
I tested today with latest version (15.145.0) and it didn't worked. When I tried to debug the release, I saw the proxy configuration.

Then I tried to change download.js for giving the proxy configuration manually, but it didn't worked either.

[code]

[code]

[2019-02-19 13:21] mmajcica commented on #593
Turns out that instead of specifying a custom authentication header in the element called "headers" I used "authorizationHeaders"as seen on certain examples around.

By setting my header for "ms.vss-endpoint.endpoint-auth-scheme-token" to:
[code]
Now the correct header is passed and it is all working as expected.

[2019-02-19 13:21] #593 closed

[2019-02-19 20:40] garretmagin opened #594 "DistributedTask.ServerTask.Remote.Common nuget package has not been updated with the latest commits from master"
It looks like the feed only contains an old version of the nuget package for DistributedTask.ServerTask.Remote.Common. It is missing the commit from PR #580 merged to master ~23 days ago that adds support for setting task variables.

[2019-02-21 18:53] lucky85008 opened #595 "WinRM - IIS Web App Management Task - WebSite under Default Web Site"
Hi,
I am working on a TFS 2018 Update 3 release definition to deploy a website “MyWebSite” under “Default Web Site” on IIS server (Windows server 2012, IIS 8).
So it should be look like ServerName\Sites\Default Web Site\MyWebSite
I am using WinRM - IIS Web App Management Task. Under Website Name , I am using Default Web Site\MyWebSite
Website Name = Default Web Site\MyWebSite
I am getting the erro

[2019-02-21 18:56] lucky85008 commented on #224
Hi , I have the same issue, I am using it with TFS 2018 Update 3. I am using WinRM - IIS Web App Management Task. Under Website Name , I am using Default Web Site\MyWebSite

Website Name = Default Web Site\MyWebSite

I am getting the error System.Exception: ERROR ( message:Can not set attribute "name" to value "Default Web Site/MyWebSite". )

How to Fix this error? How can I have "MyWebSite" under

[2019-02-23 05:57] solkeee commented on #341
Hi @omeshp we have the agent under proxy using integrated windows/ntlm authentication.
The deployment group shows the resource as connected and the status is shown as green.
However when we run the release we are seeing the following error :
Failed in getBuild with error: Error: tunneling socket could not be established, cause=socket hang up tunneling socket could not be established, cause=socket

[2019-02-23 06:07] solkeee commented on #341
@omeshp additional information:
2019-02-23T05:28:14.2007043Z ##[section]Starting: Download artifact - <ProjectName> - drop
2019-02-23T05:28:14.2288585Z ==============================================================================
2019-02-23T05:28:14.2288746Z Task         : Download Build Artifacts
2019-02-23T05:28:14.2288814Z Description  : Download Build Artifacts
2019-02-23T05:28:14.2288856Z Ve

[2019-02-24 22:20] solkeee opened #596 "Download Build Artifacts-Proxy issue(status =Failed in getBuild with error: Error: tunneling socket could not be established, cause=socket hang up)"
Hi @omeshp we have the agent under proxy using integrated windows/ntlm authentication.
The deployment group shows the resource as connected and the status is shown as green.
However when we run the release we are seeing the following error :
Failed in getBuild with error: Error: tunneling socket could not be established, cause=socket hang up tunneling socket could not be established, cause=socket

[2019-02-25 06:19] omeshp commented on #341
@solkeee Can you provide your account details?

[2019-02-25 10:43] solkeee commented on #341
@omeshp account : dev.azure.com/lloydslondon

[2019-02-25 12:35] omeshp commented on #341
ok, i have switched your account to use agent based download flow, can you try now?

[2019-02-25 12:51] solkeee commented on #341
I have re-triggered the release and its failed with the same results :
2019-02-25T12:49:42.7439033Z ##[section]Starting: Download artifact - _SysMon-CI - drop
2019-02-25T12:49:42.7665573Z ==============================================================================
2019-02-25T12:49:42.7665712Z Task         : Download Build Artifacts
2019-02-25T12:49:42.7665868Z Description  : Download Build Artif

[2019-02-25 14:03] omeshp commented on #341
@solkeee Can you try creating a new release instead of re-triggering the old one?

-

[2019-02-25 14:12] solkeee commented on #341
@omeshp Thanks re-triggering the new release has worked for us.

[2019-02-25 18:05] lucky85008 commented on #595
Microsoft added support to create virtual directories and virtual applications in version 2 (PreView) of the task. And it is working.
![image](https://user-images.githubusercontent.com/16998006/53358329-38088d80-38ed-11e9-8150-a1d2693c8839.png)

[2019-02-25 18:05] #595 closed

[2019-02-27 12:54] #341 closed

[2019-02-27 12:55] omeshp commented on #596
Closing the issue since it was confirmed to be resolved on other thread. @solkeee Please reopen if you are still facing the issue.

[2019-02-27 12:55] #596 closed

[2019-02-27 12:58] omeshp commented on #574
Hi @pascalberger we recently added this filtering support for custom artifacts, @romil07 Can you point @pascalberger to the documentation on how to achieve this?

[2019-02-27 13:02] omeshp commented on #559
@sorgeas This repo is for extensions, if the issue is with 'publish build artifacts' task please report it at https://github.com/Microsoft/azure-pipelines-tasks

[2019-02-27 13:19] omeshp commented on #548
@peterjc123 I should be fairly easy to add it as custom task, have a look at https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops or you can raise a request at https://github.com/Microsoft/azure-pipelines-tasks repo.

[2019-02-27 13:29] peterjc123 commented on #548
@omeshp Thanks for your answer. I'll post it in the azure-pipelines-tasks repo.

[2019-03-09 21:55] EdmundoMartinez opened #597 "Release deployment fails: ArtifactEngine.js unhandled rejection due to "read ECONNRESET""
This error occurs when running the Azure Dev Ops release built-in Download Artifacts from a build pipeline, artifactEngine.js throws undhandled rejection due to "read ECONNRESET".

There is no information in the regular logs if there was a retry or not to handle this problem.

We have hundreds of release executions and most of them succeed; but in this particular case the engine threw the exceptio

[2019-03-11 15:35] mmajcica commented on #451
This will be very beneficial, especially to know what are the context available variables, as e.g. headers when it comes to fields in datasources callbackRequiredTemplate.

I need to evaluate a header in my callbackRequiredTemplate and in case there is a value, make sure that the callback is required, otherwise not.

Any idea?

[2019-03-13 05:37] gykuma commented on #581
Hi @michaelthyregod
I tried out the task for downloading artifacts having brackets in path, and it seems to work fine for me. I have added the logs below. Please let me know if I'm missing out something.

![image](https://user-images.githubusercontent.com/33627957/54255928-0c89d200-4580-11e9-84c5-bc9792811107.png)

If you are still facing the issue please set `System.Debug` to `true` in release va

[2019-03-13 08:43] gykuma commented on #597
@EdmundoMartinez Thanks for reporting the issue.

We recently released a hotfix for the task (0.148.1) for fixing this issue. Please let us know if the issue still exists for you.

[2019-03-13 08:50] EdmundoMartinez commented on #597
Thanks @gykuma, I can see our Azure Dev Ops is now using version 0.148.1 of the task.

[2019-03-13 17:24] EdmundoMartinez commented on #597
This problem is not reproducing anymore.
Closing the issue for now.

[2019-03-13 17:24] #597 closed

[2019-03-19 04:33] HolisticDeveloper commented on #595
To create a web application in a subfolder (rather than a website root), you need to specify a value for **Override Parameters**. This is true even if you specify a value for Web Deploy Parameter File, e.g. `MyApp.SetParameters.xml`.

Override Parameters example:
[code]

I discovered this by reading through the code after I had the same issue.

[2019-03-20 19:49] marcelocelo commented on #281
This is not a bug, at least in my version. When configuring the bindings, there is a "Server Name Indication required" option. By checking this option, it will use hostname and not ip when adding the certificate. That solved the problem for me.

[2019-03-25 11:37] #548 closed

[2019-03-26 09:00] romil07 commented on #574
Hi @pascalberger What is your exact ask here. As @omeshp told me, you are looking to have the browsable artifact feature on the agent job pane. I see that is already available for team city. Refer the image below for a team city artifact.

![image](https://user-images.githubusercontent.com/2973216/54983852-a2d3e400-4fd3-11e9-927a-1ab11633886f.png)

If I am mistaking your requirement, please let me

[2019-04-01 04:23] gykuma commented on #581
@michaelthyregod I'm closing this issue for now. Please feel free to reopen in case you are still facing the issue.

[2019-04-01 04:23] #581 closed

[2019-04-03 20:03] pascalberger commented on #574
@romil07 We're currently still on TFS 2018.3.x. Do you know with which version this was added?

[2019-04-10 08:16] romil07 commented on #574
@pascalberger This has not been made available to the onprem customers yet and it's not in the plan too as of now.

[2019-04-17 01:21] nathan-alden-hp commented on #188
@gandarez I have the exact same question. How did you end up solving this? I'm also thinking of using AppCmd.exe commands.

[2019-04-17 14:39] gandarez commented on #188
To setup multiple binds you must pass additional AppCmd.exe commands

`Advanced > Additional AppCmd.exe Commands`

[code]

[2019-04-17 16:43] Igor1306 commented on #113
Thank you so much !

[2019-04-19 13:19] YuliiaBabychKdd commented on #341
Ah i got same issue.
2019-04-19T13:17:50.0499914Z ##[section]Starting: Download artifact - dev-sync-CI - drop
2019-04-19T13:17:50.2134891Z ==============================================================================
2019-04-19T13:17:50.2135122Z Task         : Download Build Artifacts
2019-04-19T13:17:50.2135660Z Description  : Download Build Artifacts
2019-04-19T13:17:50.2135750Z Version      :

[2019-04-22 05:50] omeshp commented on #341
Hi @YuliiaBabychKdd, 'Download build artifacts' doesn't work well with some proxy setups. Is it possible for you to use [Pipeline Artifacts](https://docs.microsoft.com/en-us/azure/devops/pipelines/artifacts/pipeline-artifacts?view=azure-devops&tabs=yaml) instead? (You can use [Publish pipeline artifacts](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/PublishPipelineArtifactV0

[2019-04-23 12:39] YuliiaBabychKdd commented on #341
was trying to use another pipeline, but now got same error on nuget restore task (one of task build agent)

##[section]Starting: Use NuGet
==============================================================================
Task         : NuGet Tool Installer
Description  : Acquires a specific version of NuGet from the internet or the tools cache and adds it to the PATH. Use this task to change the vers

[2019-04-23 12:57] omeshp commented on #341
Hi @YuliiaBabychKdd can you create a new issue for nuget related error, it will help to get traction for the issue from relevant team.

[2019-04-24 17:13] garthbf opened #608 "error trying to validate the endpoint definition when publishing an extension."
I have an extensions that I had to make minor changes to the code. it published successfully over a year ago. now it will not publish.
the error is:
error: Unable to parse the service connection contribution. Parsing failed with the following error: Error converting value "@{type=ms.vss-endpoint.endpoint-auth-scheme-basic; inputDescriptors=System.Object[]}" to type \'Microsoft.VisualStudio.Service

[2019-04-29 20:51] MayankSri commented on #406
Totally agree to @jawn. I have the build agents running using a service account that has the required access to the database. The extension should be able to deploy with Integrated security.

[2019-04-30 09:44] jawn commented on #406
Any news?

[2019-05-02 14:06] Mike032 commented on #341
@omeshp We are having the same issue.

2019-05-02T13:34:21.1550838Z Error: in getBuild, so retrying => retries pending  : 4
2019-05-02T13:34:24.8927730Z Error: in getBuild, so retrying => retries pending  : 3
2019-05-02T13:34:28.9006281Z Error: in getBuild, so retrying => retries pending  : 2
2019-05-02T13:34:32.9170046Z Error: in getBuild, so retrying => retries pending  : 1
2019-05-02T13:34:36.9

[2019-05-02 16:19] garthbf commented on #608
help, still waiting for help on this.

[2019-05-03 05:53] omeshp commented on #341
@Mike032 There are know issue with proxy in "Download Build Artifacts". Can you start using "Publish pipeline artifacts" and "Download Pipeline Artifacts" tasks instead?

[2019-05-03 11:08] Ajay-MS commented on #406
@jawn

SQL task provided by the extension internally uses Invoke-SQLCmd which doesn't support -E argument directly.

Trusted user authentication can be implemented via connection string with a limitation that it will be supported with latest module of SQLServer PS module as older SQLPS module doesn't support connection string argument.

We will plan soon for this feature in task and will update yo

[2019-05-03 11:13] Ajay-MS commented on #406
@jawn

It could take us sometime for adding connection string support for "SQL files" (Invoke-SQLcmd) meanwhile if you are willing to raise a contribution for the same it is most welcome.

[2019-05-06 15:40] gereon77 opened #609 "Please add additional environment variables to External TFS artifacts for Release Management"
Hi guys,

first of all, thank you for this great extension. It could be even a bit cooler if it provides the source information of the external build as environment variables during the release. Right now the extension exposes following variables:

[code]

The values are coming all from the external TFS system but I miss the collection url and the team project name to fully qualify the downlaoded

[2019-05-07 07:36] Mike032 commented on #341
@omeshp This indeed works.
Thanks for your help.

[2019-05-09 07:05] #173 closed

[2019-05-09 07:06] #281 closed

[2019-05-09 07:09] #419 closed

[2019-05-09 07:10] #494 closed

[2019-05-09 07:14] asranja commented on #384
@GeorgeTsiokos @bkeastmond Can you try using the latest version of the PowerShell On Target Machines task and let us know the results?

[2019-05-09 07:16] #491 closed

[2019-05-09 10:01] #506 closed

[2019-05-09 10:02] omeshp commented on #559
@sorgeas Closing this issue please look the issue at https://github.com/Microsoft/azure-pipelines-tasks for traction

[2019-05-09 10:02] #559 closed

[2019-05-09 10:04] kmkumaran commented on #437
@jigneshc - Can you tell us which task in this extension repo you are using to see the above behavior?

[2019-05-09 10:06] kmkumaran commented on #418
This repo deals only with the Azure Devops Task extensions that are built and published in marketplace.visualstudio.com.

I am closing this issue, since this does not seem related to the tasks that are present in this repo.

[2019-05-09 10:06] #418 closed

[2019-05-10 06:01] amaljg commented on #436
@Dan-Co - Apologies for the delayed response. Somehow this issue got out our radar.

Thanks for your feedback. As Himanshu mentioned above, since there were a lot of gaps in this feature, it got cut out. Adding @pulkitaggarwl to consider adding this support in a future version.

[2019-05-14 05:43] Ajay-MS commented on #557
@jagdaleganesh

We apologise for the delay in the response.

I tried creating website as well as virtual directory and able to create successfully. Can you please share debug logs in order to analyse why it's failing in your case.

Debug logs can be enabled by adding a release variable `system.deug` with value `true`

[2019-05-14 06:23] Ajay-MS commented on #533
@allisonjaneklok

Input expects virtual directory name should start with a "/".

Here are snippet from task logs :
[code]

Please let me know if I am missing something here.  Also, it will be great if you could share complete debug logs which will give more insight to the problem.

Debug logs you can enable by adding a release variable `system.debug` with value `true`.

[2019-05-14 06:34] Ajay-MS commented on #512
@vitaliipanchenko

This task doesn't support directly the file transformation. You can use  `File Transformation` task.

Using `File Transformation` task, in order to update JSON file you don't need to change in Parameter.xml. You can directly update the JSON file using `JSON substitution`  feature of the task.

[2019-05-14 06:34] #512 closed

[2019-05-14 07:18] #404 closed

[2019-05-16 07:39] Ajay-MS commented on #541
We are unable to repro this issue. Closing this issue. Please share debug logs if you are still facing this issue.

Debug logs can be enabled by adding release variable `system.debug` with value `true`.

[2019-05-16 07:59] Ajay-MS commented on #471
Instead of the website deployment above operation is being supported at management task.

You have to do following steps in IIS Manage task:
- create $(MyProjectName) virtual path as a virtual application
- In virtual application you can specify the app pool

[2019-05-16 07:59] #471 closed

[2019-05-16 08:01] #437 closed

[2019-05-16 12:39] GregoryOtt commented on #541
@Ajay-MS => I'm able to reproduce this error with a password with a `$` character.

[2019-05-16 12:55] Ajay-MS commented on #541
@GregoryOtt Thanks for sharing the scenario. I will try it out and will update the thread.

[2019-05-16 13:22] mmajcica opened #613 "Pagination in DataSource bindings"
I can't get the pagination to work. Seems that the variable declared in initialContextTemplate is never created.

This is my DataSource definition:

[code]
In the response I can see the following error:
Failed to query service endpoint api: https://ansible.mycompany.net/api/v2/credentials/?page=&page_size=100.

As you can see, seems that the page variable is not available.
I'm testing this on TFS

[2019-05-16 16:06] mmajcica commented on #613
I just checked the same code on AzDO and it works as expected. I can assume it is an issue with my TFS version.

[2019-05-16 16:06] #613 closed

[2019-05-19 08:42] Ajay-MS commented on #573
PR - https://github.com/microsoft/azure-pipelines-extensions/pull/615

[2019-05-19 08:43] Ajay-MS commented on #557
Closing as no repro. Feel free to reopen with debug logs.

[2019-05-19 08:43] #557 closed

[2019-05-19 08:43] Ajay-MS commented on #533
Closing as no repro. Feel free to reopen with debug logs.

[2019-05-19 08:43] #533 closed

[2019-05-19 08:44] Ajay-MS commented on #384
Did you get chance to tryout the suggestion provided by @asranja

[2019-05-20 12:41] Ajay-MS commented on #573
Closing this issue as PR merged.

[2019-05-20 12:41] #573 closed

[2019-05-22 15:04] centreboard opened #617 "Reduce sleep time for Parallel deployment"
The WinRM - IIS Web App Deployment seems to take a minimum of 10 seconds to complete with the "Deploy in Parallel" option on, and occasionally 20 seconds. With it turned off the task generally takes ~6 seconds for me using Azure Devops Server 2019.
Note the option is defaulted to on under the Advanced option in the web UI.

When deploying 8 websites in series the difference quickly adds up.

I thi

[2019-05-22 16:37] pinkfloydx33 opened #618 "Custom Endpoint Datasources data not rendered in API sort order"
We have defined in our extension a custom service endpoint connecting to one our APIs. The data returned by this API is always sorted by some property; however the data displayed in the inputs we bind to gets sorted otherwise.

It seems that the data is being modified by Azure Devops before it is rendered. It appears that it is getting sorted by the "Value" property specified in the result templat

[2019-05-23 12:31] Lovakumar commented on #521
This is pretty old issue. @ruairiohagan is this still an issue for you? Can I close it?

[2019-05-24 00:16] ruairiohagan commented on #521
Hi @Lovakumar ,

We're still getting this issue with the latest version (15.145.0).

We've managed to block our test server from auto-updating using Windows Firewall, but as soon as it gets the latest release of this extension it stops working again.

We'd really appreciate a fix!

[2019-05-24 05:45] Lovakumar commented on #521
@omeshp can you please take a look at this issue. Looks to be a compat issue with some data source.

[2019-05-27 08:11] rohit-batra commented on #594
Hello @garretmagin ,
we have updated the feed with the latest package. Can you please try it out and let us know if it works for you ?

Thanks
Rohit

[2019-05-27 20:13] garretmagin commented on #594
At this point I have forked the code in my repo and no longer need the nuget package as it is undergoing some refactoring.

[2019-05-27 20:13] #594 closed

[2019-05-28 05:48] omeshp commented on #521
@ruairiohagan In issue #455 you mentioned that the issue was fixed with version 15.138.1, are you seeing the same issue again, or Is it a different issue?

[2019-05-28 07:17] rohit-batra commented on #304
We have started using [Service bus 2.0](https://github.com/microsoft/azure-pipelines-extensions/blob/0eeec9e3db25f5e0c6b8102feeeac023e2db09bd/ServerTaskHelper/ServiceBusMessageHandler/ServiceBusMessageHandler.csproj#L11)

Service bus message Handler feed can be found [here](https://1essharedassets.visualstudio.com/1esPkgs/_packaging?_a=package&feed=vsts_rm_extensions&package=ServiceBusMessageHandl

[2019-05-28 07:17] #304 closed

[2019-05-29 00:34] ruairiohagan commented on #521
Hi @omeshp , it is slightly different this time.

With the previous issue we could not connect to the remote TFS instance either when trying to create a new link in a release definition or when trying to create a new release.

This time if the release definition already exists and an artifact link is already present we are able to create new releases and extract the artifacts from the remote TFS i

[2019-05-29 10:08] omeshp commented on #608
@garthbf I tried the below endpoint contribution locally and it seems to be working fine. Can you validated the syntax is correct, if you are still facing the issue can you share the extension json which is giving the error?
[code]

[2019-05-30 11:16] omeshp commented on #558
@jsalado We have verified that this issue is fixed with TFS 2019 release. It won't be possible to back port the fix though, so you will need to use the workaround if you want to support older TFS releases.

[2019-06-03 13:55] PoulNielsen opened #623 "'IIS Web App Manage' fails when changing SSL Thumb print"
In TFS 2018 update 3, The task 'IIS Web App Manage' (version 0.5.5) fails when changing the SSL Thumb for a web site (using HTTPS and SNI).

It fails with :
  SSL Certificate add failed, Error: 183
  Cannot create a file when that file already exists.

[2019-06-04 04:53] 20shivangi commented on #623
@PoulNielsen
Can you share the debug log with us? Set the system.debug to true and create a new release.

[2019-06-04 08:07] #558 closed

[2019-06-11 19:15] pinkfloydx33 opened #630 "Passing headers to getTokenUsingBasicAuth"
I'm currently using `#getTokenUsingBasicAuth` in my service connection to pass basic authentication through to retrieve a token that the actual service connection can use. Due to a change outside of my control, I now need to include a specific header in that request.

Does this function (`getTokenUsingBasicAuth`) accept a parameter for headers? If so, what format should it be in? I assume one of t

[2019-06-12 04:06] Lovakumar commented on #630
You can use getTokenUsingBasicAuth function in both headers and authorizationHeaders. Sample code below:

"authenticationSchemes": [
          {
            "type": "ms.vss-endpoint.endpoint-auth-scheme-basic",
            "**headers**": [{"name": "Jenkins-Crumb", "value": "{{#equals request.Method 'POST' 1}}{{ #getTokenUsingBasicAuth  { 'username' : 'endpoint.username', 'password' : 'endpoint.pas

[2019-06-12 10:16] pinkfloydx33 commented on #630
Thanks, but that's not quite what I meant. Consider this as my _current_ implementation:

[code]

I would _like_ to change it to something similar to the following (truncated a bit for brevity):

[code]

Notice that I've added a header (`X-Something-Special`) in **two** places. The first is part of the Authentication Scheme itself (after the Authorization Header) which _should_ work fine. But I ne

[2019-06-12 12:05] wgrthoen opened #632 "Reduce 30 second sleep while checking job status"
In https://github.com/microsoft/azure-pipelines-extensions/blob/5811d65241068af68651a1dd0d747bde31ca4443/TaskModules/powershell/RemoteDeployer/JobHelper.ps1#L184 there is a 30 second Start-Sleep.

This causes commands that normally finish in a few seconds to exhibit unneeded long delays before they finish in Azure Devops.

I would like the start-sleep configurable in ms from https://github.com/mic

[2019-06-17 11:46] Shakevg opened #638 "Download build artifacts in Release deployment fails: ArtifactEngine.js unhandled rejection due to "read ECONNRESET""
This error occurs when running the Azure Dev Ops release built-in Download Artifacts from a build pipeline, artifactEngine.js throws undhandled rejection due to "read ECONNRESET".

There is no information in the regular logs if there was a retry or not to handle this problem.

We have about 30 of release Agents and most of them succeed; but often the engine threw the exception.

Looks like similar

[2019-06-17 13:20] thiyagart1981 commented on #638
We too facing the issue today morning

[2019-06-18 03:59] kmkumaran commented on #638
@Shakevg @thiyagart1981 - The issues in this repo tracks only the tasks that are present in this repo. can you please open this specific issue in https://github.com/microsoft/azure-pipelines-tasks/tree/master/Tasks repo, where the download build artifacts task is present for further follow-up.

[2019-06-19 09:00] basroovers commented on #281
I still have this issue with SNI enabled. Why was my change not approved?

[2019-06-20 05:37] Ajay-MS commented on #281
@basroovers  I approved the PR. I have few ask can you please resolve them in PR.

[2019-06-20 06:00] Ajay-MS commented on #281
@basroovers
Also, I observed that issue has been fixed in version 2.* of the task already.

[Code Reference - IISWebAppMgmt V2](https://github.com/microsoft/azure-pipelines-extensions/blob/a12d0f890b9c85a3252e315b74a554e3f41b75c6/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/IISWebAppMgmtV2/AppCmdOnTargetMachines.ps1)

Can you please try with version 2.* of the task.

[2019-06-20 09:08] Shakevg commented on #638
Created new issue on tasks repo https://github.com/microsoft/azure-pipelines-tasks/issues/10702

[2019-06-21 10:59] kmkumaran commented on #638
Thanks @Shakevg . Since we have the issue in proper repo, I will mark this issue as closed.

[2019-06-21 10:59] #638 closed

[2019-06-26 09:44] vincentdass commented on #235
Closing the issue, as there is no response.
Please feel free to reopen / open a new thread, if the issue still persists.

[2019-06-26 09:44] #235 closed

[2019-06-26 09:44] vincentdass commented on #192
Closing the issue, as there is no response.
Please feel free to reopen / open a new thread, if the issue still persists.

[2019-06-26 09:44] #192 closed

[2019-07-02 08:40] vincentdass commented on #632
@RoopeshNair , Can you please look into this ask?

[2019-07-02 18:40] pascalberger commented on #574
@romil07 Is the missing feature part of the extension, agent or core Azure DevOps?

[2019-07-03 09:00] vincentdass commented on #623
Closing the issue as there is no response.
Please feel free to reopen/ start a new thread.

[2019-07-03 09:00] #623 closed

[2019-07-03 09:01] vincentdass commented on #384
Closing the issue as there is no response.
Please feel free to reopen/ start a new thread.

[2019-07-03 09:01] #384 closed

[2019-07-04 12:09] romil07 commented on #574
It's part of the Azure DevOps only

[2019-07-04 12:43] pascalberger commented on #574
OK, I created [Support artifacts filter for TeamCity artifacts](https://developercommunity.visualstudio.com/idea/633499/support-artifacts-filter-for-teamcity-artifacts.html) for requesting the required capabilities in Azure DevOps Server.

[2019-07-08 07:59] ryanvella opened #644 "TeamCity Extension to include network documentation"
This extension should include a network documentation, ie. Ports needed for DevOps to connect with TC Server.

[2019-07-09 06:01] Lovakumar commented on #608
Closing this issue as we don't have enough data to investigate this further. Re-open the issue with details if it is still an issue.

[2019-07-09 06:01] #608 closed

[2019-07-18 12:01] jainamanjain commented on #630
Currently, we do not support custom headers in the request made by function `getTokenUsingBasicAuth`. Thus, above scenario in which you are adding `headers` as a parameter to `getTokenUsingBasicAuth` function would not work

[2019-07-19 09:48] wgrthoen commented on #632
Any updates?

[2019-07-22 03:27] jafin opened #652 "Task 'IISWebAppDeploy' (1.4.6/1.4.7) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib"
When using WinRM - IIS Web App Deployment task, v 1.4.6 we are receiving the following pipeline warning:

[code]

**EDIT:  Also appears on 1.4.7 (log below)**

[code]

[2019-07-22 16:49] kcnighsurf commented on #652
Getting the same issue
![image](https://user-images.githubusercontent.com/53189318/61649244-5a20f480-ac6e-11e9-8af9-676de84c4598.png)

[2019-07-23 06:47] rajatagrawal-dev commented on #652
This warning has been recently added by the agent so that task authors start to use the new powershell handlers and stop relying on the legacy powershell handlers.

Since utilizing the new powershell handler might involve re-writing the task and creating a new major version, the resolution of this warning will take time. I can't give any ETA on this at the moment.

[2019-07-24 08:27] arjgupta commented on #632
PR with fix https://github.com/microsoft/azure-pipelines-extensions/pull/639

[2019-07-25 10:58] 20shivangi commented on #652
@jafin Please use version 1.4.7 , no warning is coming in that version

[2019-07-26 09:01] shep1987 opened #655 "[Terraform task] Unable to use parameters for AzureRM Backend configuration"
We use task groups to be able to configure multiple pipelines with similar settings.

We can set the subscription with a parameter but the other fields must be selected from the dropdown. Would it be possible to relax this restriction so all fields can be set by parameters?

[2019-07-26 20:41] johnburns320 opened #657 "[Terraform task] Error: Cannot find module 'azure-pipelines-task-lib/task'"
Pool: Hosted Ubuntu 1604
[code]

[2019-07-27 20:45] brennaman commented on #657
I've got the same issue.

[2019-07-30 03:24] ksix commented on #655
@shep1987 we do exactly the same thing... they probably just looked at it as field validation without considering all the ways people use it today.

[2019-07-30 05:19] RoopeshNair commented on #655
Feedback taken. We will review this. Thanks

[2019-07-30 05:23] Lovakumar commented on #467
https://github.com/Microsoft/azure-pipelines-extensions/blob/master/docs/authoring/artifactextension.md#defaultVersionTypes

[2019-07-30 05:23] #467 closed

[2019-07-30 05:27] Lovakumar commented on #630
Currently, we do not support custom headers in the request made by function getTokenUsingBasicAuth. Thus, above scenario in which you are adding headers as a parameter to getTokenUsingBasicAuth function would not work

[2019-07-30 05:27] #630 closed

[2019-07-30 05:29] Lovakumar commented on #451
@omeshp can you please update https://github.com/microsoft/azure-pipelines-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md with mustache helpers supported in endpoint queries.

[2019-07-30 05:30] Lovakumar commented on #521
@omeshp any update on this?

[2019-07-30 05:30] Lovakumar commented on #618
@omeshp any update on this?

[2019-07-30 05:31] Lovakumar commented on #447
This is pretty old issue. Closing this for now. Please re-activate if this is still an issue.

[2019-07-30 05:32] Lovakumar commented on #298
Since we aren't investing FileShare or FCS artifacts, closing this issue for now.

[2019-07-30 05:32] #298 closed

[2019-07-30 05:44] ruairiohagan commented on #447
Hi,

This is still an issue for us. We need to enforce TLS 1.2 in our production environment for our PCI security certification.

At the minute we have to implement compensating controls to work around it, but that can only be a temporary measure.

Please re-activate this issue, we still need a fix for it.