[2019-07-30 05:53] Lovakumar commented on #447
Can you try steps mentioned in https://developercommunity.visualstudio.com/content/problem/186106/tfs-compatibility-with-tls-12.html

[2019-07-30 06:03] ruairiohagan commented on #447
It is only the release extension that does not support TLS 1.2, not TFS itself.

When TLS 1.2 is enforced on the production (release) server, I can still access the TFS web portal on the development (build)  over https, but the release extension does not work, as described above.

When I allow TLS 1.0 client to work from the production server in the registry, the release extension starts working a

[2019-07-30 09:15] basroovers commented on #281
@Ajay-MS I can't use version 2.* of the task. Only version 0.* is available for deployment groups.

[2019-07-30 11:04] bryceafoster commented on #657
I have the same issue.

[2019-07-31 06:36] mrptsai commented on #657
I have the same issue

[2019-07-31 18:33] ssarwa commented on #657
I am running into the same issue.

[2019-07-31 20:38] hawk3yez commented on #657
Same issue and I've tried on both Hosted/Private agent pools.

[2019-08-01 02:54] ausfestivus commented on #657
This issue has now appeared on the Developer Forums https://developercommunity.visualstudio.com/content/problem/670951/terraform-tool-installer-not-working.html.

Adding cross references.

[2019-08-01 07:59] RoshanKumarMicrosoft commented on #657
We had already identified the issue .. We are fixing it.

[2019-08-01 08:18] ausfestivus commented on #657
Thanks for the update @RoshanKumarMicrosoft

[2019-08-02 16:18] StefanSchoof opened #660 "[Terraform Task] integrate output in pipeline vars"
I have some terraform files defining output. Some of this output I need in further steps as variables to configure my system. I think having a way to put a terraform output to a azure pipeline variable would be useful.

[2019-08-05 01:59] ausfestivus commented on #657
Morning @RoshanKumarMicrosoft

Can we get an indicative timeline on this? Ive got pipelines to create that need to use the task and I'm unable to do so because of this issue.

[2019-08-05 02:41] ausfestivus commented on #657
For everyone here, I just ran a pipeline and the Terraform Install task succeeded.
Perhaps it's already fixed?

[2019-08-05 02:56] johnburns320 commented on #657
I re-deployed and got a successful result. Is there a commit that can be associated with this fix?

[2019-08-05 16:59] Lovakumar commented on #644
Adding @omeshp to provide required data.

[2019-08-06 14:34] johnburns320 commented on #657
I'm good with this being closed. I'd prefer the maintainers to do so referencing an appropriate commit.

[2019-08-06 14:35] johnburns320 commented on #655
I'm able to specify environment variables for the backend inputs now.

[2019-08-06 14:41] johnburns320 opened #662 "[Terraform task] Failed to get existing workspaces: storage: service returned error: StatusCode=404, ErrorCode=ContainerNotFound, ErrorMessage=The specified container does not exist.‌"
Extension does not ensure remote state storage container exists. The extension should either provide this or the documentation should indicate that additional steps be configured to create the container prior to using the extension.

[code]

[2019-08-07 20:12] RoopeshNair commented on #655
Thanks for confirming. Closing the issue

[2019-08-07 20:12] #655 closed

[2019-08-08 05:53] RoshanKumarMicrosoft commented on #657
Fixed in this [Commit ](https://github.com/microsoft/azure-pipelines-extensions/pull/658) and released new extension version.  Closing this issue.

[2019-08-08 05:53] #657 closed

[2019-08-08 06:04] RoshanKumarMicrosoft commented on #660
This feature is already in task in case of Terraform apply operation
![TerraformExtensionOutputVariable](https://user-images.githubusercontent.com/33001640/62678910-6a580400-b9d0-11e9-9434-98a8a0148356.PNG)

[2019-08-08 06:29] StefanSchoof commented on #660
Great, sorry that I missed that.

[2019-08-08 06:29] #660 closed

[2019-08-08 09:34] janegilring opened #664 "Terraform extension: State not stored to Azure storage account"
Extension: https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks&targetId=c604e216-44c6-46a3-b271-7de25916a69e&utm_source=vstsproduct&utm_medium=ExtHubManageList

Installed version: 0.1.3 (Latest)

Backend configuration is configured like this in the pipeline:
![2019-08-08_11-10-13](https://user-images.githubusercontent.com/2039662/62692086-4b597200-b9d0-11e9-8002-2

[2019-08-08 18:39] davidgurnsey commented on #664
I'm experiencing the same thing.

[2019-08-09 11:06] davidgurnsey commented on #664
I found my issue. I had neglected to add the `terraform` stanza to my main.tf
Without this, the `init` command doesn't configure the remote backend.
[Backends: Configuration](https://www.terraform.io/docs/backends/config.html)
Hope that helps.

[2019-08-09 11:12] janegilring commented on #664
Interesting - I thought that specifying a remote backend in a .tf file was not requried when terraform is called with the following parameters by the extension:

C:\hostedtoolcache\windows\terraform\0.12.3\x64\terraform.exe init -backend-config=storage_account_name=jerterraformstate -backend-config=container_name=tfstate -backend-config=key=azure/terraform-demo-rg.tfstate -backend-config=resource_

[2019-08-09 11:16] davidgurnsey commented on #664
Yeah, I'd have thought so too. But adding
`
terraform {
  backend "azure" {}
}
`
to my main did the trick.

[2019-08-09 11:36] janegilring commented on #664
I tried the same, but got the following error:

![2019-08-09_13-36-08](https://user-images.githubusercontent.com/2039662/62776359-ac557880-baaa-11e9-91fa-664b113ff06e.png)

![2019-08-09_13-35-10](https://user-images.githubusercontent.com/2039662/62776326-8e881380-baaa-11e9-923e-9ab40680897b.png)

Anyway, is the requirement to add the backend block documented somewhere?

[2019-08-09 11:44] davidgurnsey commented on #664
Wow, that's weird. I just tried it that way too and got the same error.

It was github markdown that collapsed my stanza to a single line.
![AzureTerraformJAN](https://user-images.githubusercontent.com/12236747/62776714-62a06a00-ba79-11e9-8543-b44bb3b44c6c.PNG)

That change broke it.
So, maybe just try expanding the staza.

[2019-08-09 11:54] janegilring commented on #664
That did the trick here as well - thanks.

Let's just wait and see whether this is a requirement, if so - this issue can be closed.

[2019-08-09 12:27] StefanSchoof commented on #664
Yeah, but this makes the reuse of terraform files for local testing harder.
I want to run my terraform localy and test with my own subscription. The Pipeline should apply those changes to different Stages and store in a azure Backend. For a everyone you use the terraform to have a azure backend makes it harder.

[2019-08-09 20:55] StefanSchoof opened #667 "[terraform] Why warn for multiple provider?"
The terraform task checks for multiple provider
https://github.com/microsoft/azure-pipelines-extensions/blob/7c5860fb5e393c59db8d02eac8bf26280c71d86c/Extensions/Terraform/Src/Tasks/TerraformTaskV1/src/base-terraform-command-handler.ts#L42

I have a terraform with azurerm and the random provider and see this warning. The warning contains no information what is the problem with multiple providers. I

[2019-08-12 07:31] StefanSchoof commented on #664
My current workaround is having a step to create a tf file with the content:
[code]

[2019-08-12 07:45] RoshanKumarMicrosoft commented on #664
When using partial configuration, Terraform requires at a minimum that an empty backend configuration is specified in one of the root Terraform configuration files, to specify the backend type. For example:

terraform {
  backend "consul" {}
}

Terraform official documentaion [Link](https://www.terraform.io/docs/backends/config.html#partial-configuration)

[2019-08-12 07:47] janegilring commented on #664
Thanks @RoshanKumarMicrosoft - I'll close the issue. Although, it would be nice if this requirement is mentioned in the documentation for the Azure DevOps Terraform extension.

@StefanSchoof Nice - thanks for sharing.

[2019-08-12 07:47] #664 closed

[2019-08-12 07:51] RoshanKumarMicrosoft commented on #667
This is by design we are supporting one provider per task (Just to avoid multiple backend configuration and which one to store state file). If you want to use multiple provider Please split your configuration file and add each task per provider.

[2019-08-12 07:52] #667 closed

[2019-08-12 07:57] StefanSchoof commented on #667
@RoshanKumarMicrosoft Thanks for the reply.

I have
[code]

This uses random and azurerm provider. I think this is impossible to split. You should only warn if there are multiple backend provider (like azure, gcp, aws) and not things like random or null. Also should the warning message contain some background information, what the problem is.

[2019-08-12 07:59] RoshanKumarMicrosoft commented on #667
We are just supporting three provider azure, gcp, aws but for other we will add in future which is already in backlog .

[2019-08-13 13:28] SebRosander opened #669 "[terraform install] option to download "latest""
Would be awesome if it's possible to choose "latest" version of Terraform to be installed. Since the phase of new releases are kinda high, it would be great to have an option always installing the latest version of Terraform so you don't have to update it manually every time there is a new version available by Hashicorp.

Just like in https://marketplace.visualstudio.com/items?itemName=petergroene

[2019-08-13 18:23] GeorgeTsiokos commented on #384
Unfortunately I can't re-test - these workloads were moved from .NET Framework to .NET Core and run in Kubernetes on Linux instead of Windows.

[2019-08-14 00:30] JonDavis-AZED opened #670 "Invoke-SqlCmd needs Working Directory"
When using Sql Query File and for Sql File a path to a file, the working directory for the executed .sql file should be the path of the referenced file by the time SQLCMD is executed. Otherwise, the working directory should be an input.

The intent is that `:r .\NestedFolder\NestedFile.sql` should be supported by the command, where `.\` is understood to be relative to the executing .sql file.

[2019-08-14 13:48] StephenRSkinner opened #671 "Outputs as Variables"
According to this issue https://github.com/microsoft/azure-pipelines-extensions/issues/660 we should be able to use outputs as variables. However, this isn't available in my TFS 2018 on-premise instance. There is no "Apply" operation. We only have "Validate and Apply" which doesn't expose the output variables as shown in the other issue. How can we get the outputs into variables for 2018 on-premis

[2019-08-14 15:43] josibb opened #672 "[Terraform task] Failed to use Service Connection with a certificate: ##[error]Error: Endpoint auth data not present: e1e8789d-8627-4175-ad8c-c40c6514d4fc"
The extension works with a SPN-secret, but when using a SPN-certificate it failed with:

2019-08-14T15:29:56.9195604Z ##[debug]Evaluating condition for step: 'Terraform : azurerm'
2019-08-14T15:29:56.9196279Z ##[debug]Evaluating: succeeded()
2019-08-14T15:29:56.9196395Z ##[debug]Evaluating succeeded:
2019-08-14T15:29:56.9196581Z ##[debug]=> True
2019-08-14T15:29:56.9196926Z ##[debug]Result: True
2

[2019-08-16 01:59] K-Ubu opened #673 "Bitbucket connection sometimes ends with JSON error."
- Help Request
Bitbucket connection extentions sometimes ends with JSON error.
How can I avoid this error?

- Details
I get bitbucket repository in release pipeline artifacts.
I sometimes get the following error when creating release. (Creating release succeed other times.)
--- **error message** ---
 Unexpected end of JSON input
 Unexpected token c in JSON at position 2
 Cannot read property 'scm'

[2019-08-19 06:25] RoshanKumarMicrosoft commented on #669
We had already Terraform tool installer task which comes through [Terraform extension ](https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks).
![image](https://user-images.githubusercontent.com/33001640/63243438-21c60380-c278-11e9-9351-59d61715bdd2.png)
You can install any version of Terraform using this task

[2019-08-19 06:25] #669 closed

[2019-08-19 06:28] RoshanKumarMicrosoft commented on #662
This is already in pipeline but to some other priority task we are not able to pick this for now.
This[ repo](https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/Terraform/Src) is also available for contribution. You can also raise PR and assign to me. We will be happy to take changes.

[2019-08-19 06:28] #662 closed

[2019-08-19 06:56] SebRosander commented on #669
Yes, but not simply use ”latest”. You need to specify the version. I allways want to use the latest. Now I need to update in my .yml when there is a new update out for Terraform.

[2019-08-19 07:24] RoshanKumarMicrosoft commented on #672
Current time we are not supporting authentication using SPN-Certificate. This is already in pipeline but to some other priority task we are not able to pick this for now. This [repo](https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/Terraform/Src) is also available for contribution. You can also raise PR and assign to me. We will be happy to take changes.

Reference [L

[2019-08-19 07:24] #672 closed

[2019-08-19 07:28] RoshanKumarMicrosoft commented on #669
Current time we are not supporting this. This [repo](https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/Terraform/Src) is also available for contribution. You can also raise PR and assign to me. We will be happy to take changes.

[2019-08-19 16:49] VincentLyu opened #674 "Add arm_environment as backend-config options to terraform init to enable non-public Azure cloud"
Terraform need cloud environment(usgovernment, german, china) to autofill those special PaaS URL like storage account, but currently we can't set it as backend-config options:

2019-08-19T16:30:41.7809973Z ##[section]Starting: Terraform : init
2019-08-19T16:30:41.7926846Z ==============================================================================
2019-08-19T16:30:41.7926945Z Task         : Terr

[2019-08-21 08:26] RoshanKumarMicrosoft commented on #541
@rajatagrawal-dev  Can you please look into this issue

[2019-08-21 08:26] RoshanKumarMicrosoft commented on #520
@rajatagrawal-dev  Can you please look into this issue ?

[2019-08-21 12:39] calimero1000582 opened #675 "WinRM - IIS Web App Management - CreateOrUpdateAppPool - System.Management.Automation.RemoteException: Ampersand not allowed. The & operator is reserved for future use; use "&" to pass ampersand as a string."
When I try to update application pool on IIS7 (legacy server), I have this error that pops

Don't have any issue on newer IIS version

[2019-08-26 01:46] K-Ubu commented on #673
@Omesh, Are there any progress about this issue?
I am sorry for troubling you when you are busy.
However I would like to have some responses because my stakeholders are waiting for hearing about this issue.

[2019-08-27 02:49] Lovakumar commented on #644
@omeshp should we add this TeamCity service connection?

[2019-08-27 03:09] Lovakumar commented on #618
@omeshp do we have sort support on data sources response?

[2019-08-27 04:48] rexren78 commented on #176
@SDmorgan ，have you found any idea to fix this problem? I meet the issue, too.

[2019-08-27 04:50] rexren78 commented on #176
The problem is not the user cannot execute the command but the user cannot execute the command on the hosted Agent.

[2019-08-27 08:56] omeshp commented on #618
@Lovakumar The sorting is happening on the UI side, we pass the results of the API call as is from server side:
![image](https://user-images.githubusercontent.com/11783897/63756765-8b788a00-c8d6-11e9-90f6-685f687964e8.png)

We currently don't have any helpers for sorting

[2019-08-27 09:01] omeshp commented on #644
All the communication happens on http/https ports which are already required for agents to work.

[2019-08-27 09:39] omeshp commented on #673
@K-Ubu Raise a fix for the issue.

[2019-08-27 13:34] #644 closed

[2019-08-29 14:48] codygreen opened #682 "Terraform Plugin Not Using Configured Backend"
**Terraform**: 0.12.7

**Issue**: Configured Terraform init to leverage an existing storage account and container.  However, when terraform init is executed it produces the following error:

**Error**: "-backend-config was used without a &quote;backend&quote; block in the configuration

**Terraform init command**: /opt/hostedtoolcache/terraform/0.12.7/x64/terraform init -backend-config=storage_acc

[2019-09-03 12:51] cjrege commented on #682
I'm seeing the same problem with 0.12.7

`[command]/azp/agent/_work/_tool/terraform/0.12.7/x64/terraform init -backend-config=storage_account_name=mystorage -backend-config=container_name=myresourcegroup ....`

The arguments should be supplied with quotes around the key/value pairs:
[https://www.terraform.io/docs/backends/config.html#partial-configuration](url)

Interestingly, I started out using

[2019-09-04 14:47] liamfoneill opened #685 "Terraform Not Taking in Command Options"
On the 'validate and apply' task I am trying to pass an additional argument to set my variables file to be a specific file, but when I run it, I don't see the additional arguments being passed in from the Azure DevOps logs. I see just 'terraform.exe validate' being run.

[2019-09-05 03:30] K-Ubu commented on #673
@omeshp, Thank you for fixing this issue! I confirmed that the head title issue is resolved!

[2019-09-05 03:30] #673 closed

[2019-09-06 09:47] RoshanKumarMicrosoft commented on #685
@liamfoneill  Can you please share your debug log to RM_Customer_Queries@microsoft.com ?

[2019-09-06 09:57] RoshanKumarMicrosoft commented on #682
@codygreen  Can you please share your debug log to RM_Customer_Queries@microsoft.com ?

[2019-09-06 13:53] maximbaz opened #686 "terraform: make apply consume saved plan"
In our pipeline we execute terraform commands in the following order:

- terraform plan
- terraform apply

In order to make sure that `apply` will do exactly what `plan` has printed, we must save the output of the `plan` and then pass it to the `apply` command.

It seems `plan` (contrary to `onlyPlan`) is actually able to save the result of the `plan` into a file whose path is saved to `jsonPlanFi

[2019-09-08 17:37] huier23 opened #687 "Cannot find MsDeploy.exe while using WinRM - IIS web app deployement"
When the WinRm - IIS web app deployment task been triggered, i got the issue as below.

`##[error]Microsoft.PowerShell.Commands.WriteErrorException: Deployment on one or more machines failed. System.Exception: Cannot find MsDeploy.exe location. Verify MsDeploy.exe is installed on  and try operation again.`

I just wondering do i need to install web deploy tool on target machine first?  Since i can

[2019-09-09 08:55] omeshp commented on #618
Assigning to @prativen, since the issue here is with task editor combo that sorts based on values instead of display values.

[2019-09-09 09:24] omeshp commented on #521
@ruairiohagan Can you share the response that is received for failing 'list build definitions call'? You can checkout the response in chrome developer tools network tab. The API call should be like`https://vsrm.dev.azure.com/accountname/projectname/_apis/Release/artifacts/inputvaluesquery`with parameters
[code]

[2019-09-09 11:38] AdamCoulterOz opened #688 "Terraform: Local Backend Option"
Can we have an option to specify different backend options?

1. **Local** - which is needed in order to run build validation on terraform scripts which aren't actually applied anywhere.

2. **Terraform Cloud** - which now supports a free backend. Would also need a service connection for this.

[2019-09-09 12:29] ksix commented on #682
Here's my cleansed debug log... getting the same problem...
[code]

[2019-09-10 07:35] ruairiohagan commented on #521
Hi @omeshp ,

I'm not sure it's getting that far, last thing I have in the network tab when I select "External TFS Build" and it tries to get the list of build definitions is:

**Request URL**: http://TEST-TFSSERVER:8080/tfs/DeciphaTESTDeployment/Deployment/_apis/Release/artifacts/inputvaluesquery

**Request**:
{
    "currentValues": {},
    "inputValues": [{
            "inputId": "connection"

[2019-09-10 08:55] omeshp commented on #521
Hi @ruairiohagan , This looks like the response of inputId `connection`. After you select endpoint `DEV-TFSSERVER` as connection it should make another `inputvaluesquery` API call with `inputId` as  `definition`. Can you share the response of that call?

[2019-09-10 10:41] omeshp commented on #447
@ruairiohagan What version of tfs server is running on dev and test instances?

Can you run the below powershell command from both dev and test servers and share the results?
`(Invoke-WebRequest -Uri https://www.howsmyssl.com/a/check).RawContent`

Run the below powershell command from the test server and share the output. Replace the `pattoken` with the generated pat token and `serverurl` with you

[2019-09-10 12:05] pascalberger opened #690 "TeamCity extension: Setting scheduled release trigger fails with Azure DevOps Server 2019.1"
With latest version of TeamCity extension running on Azure DevOps Server 2019.1 I get the following error while trying to save a release definition which contains a TeamCity build artifact and has a schedule set:

[code]

Error is caused by setting a schedule. Without a schedule the definition can be saved. This worked fine with previous version of Azure DevOps Server.

[2019-09-10 12:19] pascalberger commented on #690
I saw that the selection for default version was implemented for the TeamCity artifact back in December with https://github.com/microsoft/azure-pipelines-extensions/commit/bd9d7826b8190520648d031db081759911fee2c7#diff-b5b5a4f894965f60ae124cf0e9eb7987, but no version was released since then.

@omeshp Would it be possible to release a new version of the TeamCity extension to see if this fixes the is

[2019-09-10 12:32] omeshp commented on #690
@pascalberger Sure, I will get it updated.

[2019-09-11 07:38] ruairiohagan commented on #521
@omeshp , that's the last inputvaluesquery I see in the network tab, but there is an "Events" line after that which has no response but its request looks like:

[{
        "area": "DefaultArea.Apps",
        "feature": "ms.vss-releaseManagement-web.hub-explorer-compat-route",
        "properties": {
            "url": "http://TEST-TFSSERVER:8080/tfs/DeciphaTESTDeployment/Deployment/_apps/hub/ms.vs

[2019-09-11 07:58] ruairiohagan commented on #447
@omeshp ,

**howsmyssl from TEST TFS server:**

HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Connection: close
Strict-Transport-Security: max-age=631138519; includeSubdomains; preload
Content-Length: 1231
Content-Type: application/json
Date: Wed, 11 Sep 2019 07:40:39 GMT

{
    "given_cipher_suites": ["TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA", "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA", "TLS_DHE_RSA_WITH_A

[2019-09-11 08:13] omeshp commented on #521
Hi @ruairiohagan, Did you select a 'Service Endpoint' after selecting the 'External Tfs Build' artifact?

[2019-09-11 08:36] omeshp commented on #447
@ruairiohagan Thanks for that info, looks like by default TLS 1.0 is getting used on test server.
Can you run the below query too:
[code]

[2019-09-11 12:17] omeshp commented on #690
Hi @pascalberger, we have updated the extension. can you try out the changes and let us know?

[2019-09-11 22:28] pascalberger commented on #690
@omeshp Thanks for the quick update 👍

I tested with the new version and after setting the default version to `Latest` it's now possible again to define a scheduled triggering.

[2019-09-11 22:28] #690 closed

[2019-09-12 01:55] ruairiohagan commented on #521
Hi @omeshp , no I can't because it doesn't let me choose one,

Normally, when I'm, adding a new artifact and I choose "External TFS Build", it auto-populates the Service Endpoint (as it's the only one defined on the server), and populates the Project and Build Definition field drop-downs automatically.

When using the later version of the extension, the "Service Endpoint" drop down doesn't get pop

[2019-09-12 02:00] ruairiohagan commented on #447
Hi @omeshp ,

We current have tls 1.0 enabled because if we enforce TLS 1.2 the connection just doesn't work.

Running your script (with TLS 1.0 still enabled) I get:

HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Connection: close
Strict-Transport-Security: max-age=631138519; includeSubdomains; preload
Content-Length: 1768
Content-Type: application/json
Date: Thu, 12 Sep 2019 01:59:11 GMT

{

[2019-09-12 04:58] AdamCoulterOz commented on #688
Thinking about this more broadly - I've noticed the `Provider` attribute in the Microsoft Terraform Task only affects the `Backend` configuration section visibility. When the `init` option is selected, the `Provider` attribute should be hidden, and the other option for `Backend` be exposed. So that is the fix here. Pretty simple... I'll submit a PR if I get time later today.

![Task Configuration]

[2019-09-14 06:39] brent-robinson opened #691 "Terraform: Error after plan if variables required"
**Extension:** Terraform

When using the **plan** command and passing required variables through **Additional command arguments** the task will succeed, but the plan binary and JSON files are not created.

For example with:
* **Command:** `plan`
* **Additional command arguments:** `-var key_vault_name=mykeyvault123`

The plan will be displayed:

[code]

But the output of the binary plan file will

[2019-09-15 21:20] heymega commented on #682
I'm having the same problem tonight but managed to sort it out.

I just added the following to my `.tf` file and the state started appearing in my storage account...

[code]

Hope this helps you guys out :)

[2019-09-16 10:21] RoshanKumarMicrosoft commented on #688
@AdamCoulterOz We are open for contribution .You can submit PR and assign to me.
But I have few query :-
1. Do you want backend must be one more option like Local ? Current time we are not supporting local but may be in future we can also support it.
2.  When the init option is selected, the Provider attribute should be hidden, and the other option for Backend be exposed. I didn't get this point.

[2019-09-16 10:26] RoshanKumarMicrosoft commented on #682
@AdamCoulterOz  Can you please try adding terraform {
  backend "azurerm" {
  }
} as suggested by heymega. If you are still blocked please ping us on RM_Customer_Queries@microsoft.com .

[2019-09-17 17:27] solidcloudio commented on #691
Seeing this issue too.  Running the command on the build machine works fine, in my case..

`C:\agent\_work\_tool\terraform\0.12.8\x64\terraform.exe plan -var-file=C:\agent\_work\_temp\devtest-secrets.tfvars -var-file=C:\agent\_work\r25\a\_Data-Devops\drop\terraform\develop\data.tfvars`

This works fine, I get the planned output.  However, when running with the task..

It completes the plan, then p

[2019-09-18 07:45] RoshanKumarMicrosoft commented on #674
@VincentLyu current time it is not supported but we will add this in next release. We are also open for contribution you can also create PR and assign to me.

[2019-09-18 07:46] RoshanKumarMicrosoft commented on #686
@maximbaz Are you also not able to do with additional argument ? Can you please ping you skypeId to  RM_Customer_Queries@microsoft.com we will have a quick call to discuss this.

[2019-09-18 07:50] RoshanKumarMicrosoft commented on #691
@brent-robinson
![image](https://user-images.githubusercontent.com/33001640/65128336-f10ff000-da16-11e9-9140-b1d9dc93d3f1.png) you can easily get output in json file.
Can you please ping you skypeId to RM_Customer_Queries@microsoft.com we will have a quick call to discuss this ?

[2019-09-18 09:56] RoshanKumarMicrosoft commented on #674
Created PR ..
@VincentLyu  Can you please try with this changes ? We had already verified this.
How to upload this task
You can either use cmd or powershell to run the commands.

1. Clone the vsts tasks repo ( git clone https://github.com/Microsoft/azure-pipelines-extensions ).
2. checkout to users/rok/cloud-url-terraform branch
3. cd into this repo.
4. run: npm install
5. run: npm install -g tfx-

[2019-09-20 09:37] VincentLyu commented on #674
sorry, got some access error when gulp build task, even i change the read-only attribute to the dir:

_build\Extensions\ArtifactEngine\Providers\stubProvider.ts(42,11): error TS2445: Property '_read' is protected and only accessible within class 'Readable' and its subclasses.
_build\Extensions\CopyStageVariableToReleaseVariable\Src\Tasks\CopyAgentJobVariableToReleaseVariable\copyvartorelease.ts(42

[2019-09-22 21:12] StefanSchoof commented on #660
I use this Powershell to get the json values to devops variables:

[code]

[2019-09-22 21:43] jasong1978 opened #694 "Error creating resource group due to Azure Tag Policy via Azure DevOps Terraform through CD Pipeline"
Note! We have a policy that you must create resource groups with specific Tags. Those tags are below. Also, this is AzureDevOpsLabs.com lab.....

https://www.azuredevopslabs.com/labs/vstsextend/terraform/

I can create the Azure Resource Group no issues with Azure CLI and Manually using the Web GUI with these tags:

    ApplicationSuite = "Training Lab"
    AssetOwner = "AppOps"
    Billing Identi

[2019-09-23 00:48] jasong1978 commented on #694
Issue resolved, this was the correct entries, because the key had spaces, I had to enter quotes before and after the key....

    "ApplicationSuite" = "Training Lab"
    "AssetOwner" = "AppOps"
    "Billing Identifier" = "1"
    "Budget" = "0"
    "BusinessServiceTier" = "RFB"
    "BusinessUnit" = "Development"
    "Environment Type" = "Dev/Test"
    "High Availability" = "No"
    "Location" = "Ea

[2019-09-23 00:48] #694 closed

[2019-09-24 01:37] Lovakumar commented on #451
@omeshp can you please update https://github.com/microsoft/azure-pipelines-extensions/blob/master/docs/authoring/endpoints/serviceEndpoints.md with mustache helpers supported in endpoint queries.

[2019-09-24 10:14] AdamCoulterOz commented on #688
@RoshanKumarMicrosoft The "Provider" attribute needs to be split in 2, one for the service connection to the actual `Provider` for provisioning and another for the `Backend` provider. These are logically different things and will often be different.

[2019-09-26 18:09] WindMaster opened #698 "Terraform: It is impossible to create AKS via terraform using Azure DevOps service principal"
**Extension: Terraform**

We have service principal credentials in Azure DevOps services. In terraform main file there is a section with "azurerm_kubernetes_cluster" resource. The mandatory fields are:
  service_principal {
    client_id     = "${var.client_id}"
    client_secret = "${var.client_secret}"
  }

By security reason there is no possibility to take the client secret from azurerm provide

[2019-09-27 14:32] steven-dougal opened #700 "[Terraform] Issue with multiple iterations of the same module (creating security Groups)"
Extension: Terraform

We're trying to get ADO to deploy our terraform configurations.

With the terraform AWS module for security groups we call it several times in the same folder (config file for each group).

Init and plan work without issue but when it comes to the apply we're getting the attached error:

![tf_sg_error](https://user-images.githubusercontent.com/15940731/65777483-046c3b00-e13c-

[2019-09-27 15:57] steven-dougal commented on #700
I've solved the issue..

I had to pass the location of the shared credentials file to the data modules that were collection info from other state files.

[2019-10-01 21:23] StephenRSkinner opened #703 "Terraform Enterprise Support"
There should be a way to configure the Terraform extension to use TE instead of only connecting directly to the target environment (AWS for my case). Currently a file must be manually created under the agent account roaming profile to redirect and ignore the TFS connection configuration.

[2019-10-04 10:24] RoshanKumarMicrosoft commented on #674
@VincentLyu can you please share your skypeId. So we can help you to upload this task in your account.  Please share your skypeId on RM_Customer_Queries@microsoft.com.

[2019-10-04 10:32] RoshanKumarMicrosoft commented on #688
@AdamCoulterOz  We have a different design we are not supporting multiple operation in single task. We require service connection and backend configuration during init operation of terraform for provisioning and for apply operation we only needed service connection.
We need service connection for authentication and provider attribute we needed to manage state file.

[2019-10-04 10:32] #688 closed

[2019-10-07 06:36] RoshanKumarMicrosoft commented on #700
@steven-dougal I am closing this issue. If you still face any issue please ping us on RM_Customer_Queries@microsoft.com.

[2019-10-07 06:36] #700 closed

[2019-10-07 06:37] RoshanKumarMicrosoft commented on #691
@brent-robinson I am closing this issue. If you still face any issue please ping us on RM_Customer_Queries@microsoft.com.

[2019-10-07 06:40] RoshanKumarMicrosoft commented on #685
@liamfoneill Not able to reproduce on our end So I am closing this issue. If you still face any issue please ping us on RM_Customer_Queries@microsoft.com.

[2019-10-07 06:40] #685 closed

[2019-10-07 06:42] RoshanKumarMicrosoft commented on #682
I am closing this issue. If you still face any issue please ping us on RM_Customer_Queries@microsoft.com.

[2019-10-07 06:42] #682 closed

[2019-10-07 06:47] RoshanKumarMicrosoft commented on #698
@WindMaster "Can run only terraform scripts via Terraform extension in Azure DevOps services" No you can't We require service endpoint for backend configuration. Current time we are not supporting local backend configuration.
If you still face any issue or blocked please ping ur skypeId on RM_Customer_Queries@microsoft.com. So we have a quick call.

[2019-10-07 06:47] #698 closed

[2019-10-07 06:50] RoshanKumarMicrosoft commented on #703
@StephenRSkinner  Can you please ping your skypeId on RM_Customer_Queries@microsoft.com So we can have a quick call to understand it better.

[2019-10-07 11:55] solidcloudio commented on #691
I've just stopped using the Terraform command wrappers..  It works fine using PowerShell

[2019-10-07 12:39] solidcloudio commented on #687
Install MSDeploy?

[2019-10-08 17:15] Keith-B opened #704 "IIS Virtual Directory Update not using credentials in file AppCmdOnTargetMachines.ps1"
The file _AppCmdOnTargetMachines.ps1_ contains a function called **Update-VirtualDirectory**. This then calls **Test-Path** without using the authentication credentials passed into the Update-VirtualDirectory function. This causes deployment pipelines in Azure DevOps to fail with 'Access is Denied' when  virtual directories have different logon credentials. The credentials should be passed through

[2019-10-09 08:53] VincentLyu commented on #674
My skypeid is welv@microsoft.com. Thanks.

Cheers,
Vincent

On Fri, Oct 4, 2019 at 6:24 PM RoshanKumarMicrosoft <
notifications@github.com> wrote:

[2019-10-09 09:34] DonMorrisRak commented on #691
Could this be re-opened please?   I am experiencing the same issue.

Here is a sample of my output:
`2019-10-09T09:09:48.4672883Z Releasing state lock. This may take a few moments...
2019-10-09T09:09:48.7558936Z [command]C:\agent\_work\_tool\terraform\0.12.10\x64\terraform.exe version
2019-10-09T09:09:49.5374147Z Terraform v0.12.10
2019-10-09T09:09:49.5375147Z + provider.azurerm v1.35.0
2019-10-09

[2019-10-10 10:51] avishnyakov commented on #686
@maximbaz , `-out` parameter for plan provides ability to save plan into a file.

Terraform tasks have 'Additional Command Line Argument' option which should look like this:

It will run this one at the end

That said, tasks don't have `show` command. This one come handy to render pre-saved terraform plan while passing it as an immutable build artifact between CI/CD. What can we do about this? @Ro

[2019-10-10 11:19] whyneus opened #707 "Terraform: Allow state files to be stored in a different subscription"
When running an init, we can define details on where to house the state file if using an Azure backend (eg. resource group, storage account, container name, state file name). DevOps accesses this storage account using a service connection tied to the subscription.

If we want to then plan/apply into a different subscription, DevOps can't access the storage account where the state file is.

```Erro

[2019-10-10 19:10] dperlyukDOITT opened #708 "What should be a steps to add on premise Team City to add Team City artifacts into Azure DevOps pipeline"
What should be the steps to add on premise Team City artifacts into Azure DevOps pipeline
Thank you for the detailed explanation.
-Dina

[2019-10-10 22:30] StephenRSkinner commented on #703
I'm not sure what you're asking for, but maybe I can explain better.

Currently, you can configure the Terraform AWS service connection in TFS 2018 on-premise. I'm asking for support to configure a Terraform Enterprise service connection as well, so we can pick that as an option. Currently, to execute tasks on Terraform Enterprise, a file has to be put into C:\Users\{ServiceAccount}\AppData\Roamin

[2019-10-16 12:15] gerbenvl commented on #652
Any updates on this one? Will it be picked up?

[2019-10-18 23:04] theZackStack commented on #92
appcmd set config "site/app" /section:windowsAuthentication /enabled:true
appcmd set config "site/app" /section:anonymousAuthentication /enabled:false

[2019-10-23 20:06] amccool opened #709 "System.InvalidOperationException: The environment block used to start a process cannot be longer than 65535 bytes. Your environment block is 69981 bytes long. Remove some environment variables and try again."
see
https://github.com/microsoft/azure-pipelines-tasks/issues/11631

https://github.com/microsoft/azure-pipelines-extensions/blob/master/TaskModules/powershell/TaskModuleSqlUtility/TaskModuleSqlUtility.psm1#L28

[2019-10-24 12:18] RoopeshNair commented on #652
@gerbenvl  - we haven't been able to get to this, as the team is focussed on issues that impact broader set of customers. We know this is important for you, we will continue to monitor this.

[2019-10-28 15:16] amccool commented on #709
@kmkumaran @chshrikh could I get an ETA for a review?   Currently I have a painful workaround, but I need to get a release out to testing asap.

[2019-10-28 23:57] Dejulia489 opened #712 "ServiceNow Extension Task Versions"
The code in this repository shows task versions for ServiceNow that are not available in the version on the marketplace. I forked this repository and removed the old V1 and V2 for these tasks and published the same code to a private organization on the marketplace and the features are available. Is this repository publishing to the marketplace?

[2019-10-29 09:23] abbottbd commented on #451
@omeshp - I'm joining on this issue as I'd like better documentation on the helpers also.  I'm working on a task that should allow a user to select a git repo + branch, however I'm having trouble because the rest API returns a string like 'refs/heads/master' but I need to someone split this so that I end up with just 'master' because the next data binding API requires just 'master' not the 'refs/h

[2019-10-30 03:16] blacktam opened #713 "Cannot show BitBucket Service Endpoint in Azure pipeline"
I would like to use BitBucket Cloud for artifact source in Azure pipelines. Although I added the BitBucket service in project setting, it didn't show up in artifact source.

I tried to add GitHub service in project setting, it could be showed up in artifact source

![image](https://user-images.githubusercontent.com/39482445/67826128-7acad700-fb06-11e9-84d0-fa862784b27c.png)

Would you mind let me

[2019-10-30 17:36] amccool commented on #709
I now have 3 failing task in my release pipeline.   This is becoming a major blocker.   Should I open an issue in a different place?

[2019-11-01 08:30] Ghkuijer opened #715 "ServiceNow enable open change on agentless task"
In our organization we would like to change all of our pipelines to yaml pipelines since that would enable better control on the changes on our pipelines.

The only limitation we currently have is the ServiceNow integration to create changes. Gates are not available in yaml pipelines but the open change task can only be used as a gate.

Is there a possibility it can be enabled as an agentless task

[2019-11-04 15:04] shashban commented on #715
@Ghkuijer You are right. The support for checks (gates) for yaml pipelines are evolving. We are taking an approach of segregating the roles as check definition for infrastructure (environment) owners and pipeline process for developers. Currently only approvals are available as a check. We will support ServiceNow change management as a check soon.
In the meantime, you can use our code to have a cu

[2019-11-05 06:43] Ghkuijer commented on #715
Thanks for the fast replies @shashban. Great to hear that the checks for Azure DevOps will be extended soon. Meanwhile we will try to use a custom task for opening the change.
I'll close this issue.

[2019-11-05 06:43] #715 closed

[2019-11-05 17:12] omeshp commented on #451
@abbottbd I guess you can use regex helper like the one used at https://github.com/microsoft/azure-pipelines-extensions/blob/db0c1fe84bfe990a7478f0abf50444210c00fae9/Extensions/ExternalTfs/Src/vss-extension.json#L215

[2019-11-05 17:13] omeshp commented on #521
Adding @Lovakumar to follow up.

[2019-11-06 02:20] mattjlubbers opened #717 "Feature: Ability to use local backend instead of forcing remote backend"
When using the Terraform plugin, there are a few use cases where you may not want to use a remote backend. A good example of this is a build pipeline. If I would like to store the .tfstate file as an artifact, we are forced to implement a remote backend per cloud provider. We love the ability to use Azure, GCP, and AWS but I feel enforced to use each providers backend when a pipeline doesn't care

[2019-11-06 09:06] romil07 commented on #713
I am in the process of releasing a fix for this. Will update this thread when it's done.

[2019-11-08 06:15] chperich commented on #687
@huier23 : You are right. You will need to install web deploy tool on target machine.

[2019-11-08 06:15] #687 closed

[2019-11-08 06:43] chperich commented on #541
This is a known issue. Fix for this is currently in [PR](https://github.com/microsoft/azure-pipelines-extensions/pull/720) and will roll out in a couple of weeks. Until then you can try and escape the dollar character by changing "$" to "`$"

[2019-11-08 06:43] #541 closed

[2019-11-13 03:04] guojian83 opened #722 "Support workspace in the terraform extension"
Currently the workspace subcommand is not supported.
Ideally, the workspace can be used to deploy to different environment (stage) in a release.
i.e. terraform workspace new dev

I was able to work around just by using command line:
terraform workspace select dev || terraform workspace new dev

However, when accessing terraform.workspace in the tf, it showed 'default' instead of 'dev' even the wor

[2019-11-13 16:11] MidTNProjects commented on #652
We are also now getting
##[warning]Task 'Security static source code analysis' (88.0.11) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib

So it sounds like there is nothing we can do for this currently?

[2019-11-14 08:17] chshrikh commented on #652
@MidTNProjects for which task it is coming for you ?

[2019-11-14 11:55] Ghkuijer opened #723 "ServiceNow task not validating state open correclty"
We have been using the ServiceNow task for a while and are happily statisfied with how it works.
Since today we are only experiencing issues on the ServiceNow gate. It is not validating the exit criteria correctly.

It seems that we get the following:
[code]

We used to be getting the response like this:
[code]

The expression can validates on "Open" and therefore does not succeed.

We currently w

[2019-11-15 04:50] Ajay-MS commented on #670
@JonDavis-AZED

There is a logical separation between the execution directory and the working directory. `.\` is being used for the execution directory. That's why `$(System.DefaultWorkingDirectory)` the variable is being required for the working directory.

[2019-11-15 07:14] stimpy77 commented on #670
Are you saying that variable is available? Was it recently made available? Is it documented? I wouldn't have posted if I found documentation.

[2019-11-15 13:15] stimpy77 commented on #670
You can pass a variable to the script from the task

... yeah, that's what I was originally saying, you can't, unless that feature was added. For MSBuild scripts and the like you can, by passing it in as an argument. But there was no such parameter config in the task UI when I logged this issue.

[2019-11-15 13:17] stimpy77 commented on #670
You can pass a variable to the script from the task

... yeah, that's what I was originally saying, you can't, unless that feature was added. For MSBuild scripts and the like you can, by passing it in as an argument. But for Invoke-SqlCmd there was no argument parameter config in the task UI when I logged this issue.

[2019-11-15 13:30] stimpy77 commented on #670
I see now an "Additional Arguments" field that I did not see when I logged this issue. I assume that is where the variable can be propagated. If this is correct, you can feel free to close this issue.

Note that I still think that working directory ( .\ ) should default where the script file is rather than where the process is.

[2019-11-15 13:35] stimpy77 commented on #670
I see now an "Additional Arguments" field that I did not see when I logged this issue. I assume that is where the variable can be propagated. If that's where that goes, that would be a workaround to the issue. The issue would remain

Absent a working directory input the working directory ( .\ ) should default where the script file is or else the tfs project root rather than where the EXE process i

[2019-11-15 13:39] stimpy77 commented on #670
![image](https://user-images.githubusercontent.com/229794/68947449-b4404b00-0772-11ea-936d-26f9ad8f5433.png)

[2019-11-15 21:48] NinoCapo commented on #723
In addition to the issue described above, I'm also seeing issues with the fields that traditionally pre-populated by the create and update task.  For example, the update task will only allow me to pick "Canceled" as the new status.  Not sure if this is related or if it requires a separate issue.

[2019-11-16 13:00] rhollins opened #724 "Got error when executing in multistage deployment job"
Hello

The extension works fine when used inside a normal job but fails when executed inside deployment job:

FAILS

[code]

WORKS

[code]

ERROR:

##[debug]task result: Failed
##[error]Error: There was an error when attempting to execute the process '/usr/local/bin/terraform'. This may indicate the process failed to start. Error: spawn /usr/local/bin/terraform ENOENT
##[debug]Processed: ##vso[tas

[2019-11-17 08:20] rhollins commented on #724
Turns out it's not related to the extension I had to add a checkout task, although error wasn't really helpful.

[code]

[2019-11-17 08:20] #724 closed

[2019-11-18 07:37] Ghkuijer commented on #723
I'm indeed seeing the pre-populated fields for updating a change status missing values as well. Only 'closed skipped' available.

[2019-11-18 07:51] rvf148 opened #725 "Feature Request: Terraform task, allow secret variable(group) mapping to environment variables"
Secret variables are not transferred to environment variables, other tasks like powershell, allow to define additional environment variables, this way secret variables can be mapped to a task.

[2019-11-18 08:48] eaarora-ms commented on #671
@StephenRSkinner Are you still facing this issue?

[2019-11-18 08:57] eaarora-ms commented on #675
@calimero1000582  Are you still facing this issue?

[2019-11-18 11:08] calimero1000582 commented on #675
Yes, I had the problem on Friday, as I needed to work on an older server. I did not check if there is a newer version of the task.

[2019-11-19 10:23] ausfestivus commented on #691
Please do decouple the validate and apply. That is not required. If we can get through an init and plan then we don't need to validate *AND* apply.

There is a [gist](https://gist.github.com/ausfestivus/dca834b2d767e1a6caedb2fb9da62f4c) which has the output from my job showing the hidden validate command ignoring the command line options I passed to it in the job.

This is a blocker for me.

[2019-11-19 10:25] ausfestivus commented on #691
Paging @liamfoneill who opened https://github.com/microsoft/azure-pipelines-extensions/issues/685 but never replied and had his issue closed.

[2019-11-20 10:02] vaustral opened #727 "Feature Request: Git Credentials from Build Service (Terraform)"
For terraform task,

When the module source is set to an azure devops url inside the project  - the credentials should be loaded from the build service just as if it was doing a git checkout, this would avoid having to put ssh keys into the pipeline or any other secret keys.

source  = "git::https://dev.azure.com/***/***/_git/module"

[2019-11-21 04:12] nishubansal commented on #723
Hi, We have released the fix for the above mentioned issues. Now ServiceNow gate should be working properly. Please comment if you are still getting any issues.

[2019-11-21 04:46] 20shivangi commented on #704
@Keith-B Can you please share debug logs of the pipeline by setting system.debug to true

[2019-11-21 19:46] amccool commented on #709
bump

[2019-11-22 07:34] ahukin opened #729 "Terraform: bug in TerraformTaskV1 plan task with command options"
**Bug**: the terraform plugin TerraformTaskV1 plan task doesn't execute correctly when command options are supplied such as -var or -var-file.

The `terraform plan` command is run twice in this task: once without `-out` and then with `-out`.
The first plan runs correctly but the second is not passed the command options.  The quick fix is to pass the command options to the second plan. e.g.

file:

[2019-11-22 07:47] eaarora-ms commented on #709
@amccool  Can you please share debug logs of the pipeline by setting system.debug to true?

[2019-11-22 07:49] eaarora-ms commented on #675
@calimero1000582 Can you please share debug logs of the pipeline by setting system.debug to true?

[2019-11-22 07:55] eaarora-ms commented on #709
Saw your other issue. I will get back to you with an update.

[2019-11-22 12:46] calimero1000582 commented on #675
I doubt the error is from powershell as only changing server for one with a higher version of IIS is correct

[2019-11-22 16:57] amccool commented on #709
@eaarora-ms can I PM you the logs? Not sure if there is any confidential things in them.

[2019-11-22 17:22] amccool opened #730 "IISWebAppManagementOnMachineGroup, Add-Type failed when environment block is large"
if a large number of build artifacts are in a release definition, the environment block grows large

tasks that use Add-Type will fail

see #709

and #711 for the PR

Add-Type : The environment block used to start a process cannot be longer than 65535 bytes.  Your environment block is 73567 bytes long.  Remove some environment variables and try again.
At C:\azagent\A1\_work\_tasks\IISWebAppManagem

[2019-11-22 17:23] amccool commented on #709
this a log from a related issue, a different task, but the same issue
[tasklog_75.log](https://github.com/microsoft/azure-pipelines-extensions/files/3880677/tasklog_75.log)

[2019-11-25 09:45] eaarora-ms commented on #675
Can you please share debug logs of the pipeline by setting system.debug to true?

[2019-11-26 04:32] Roshan-Kumar-Microsoft commented on #729
@ahukin Can you please share debug log to RM_Customer_Queries@microsoft.com

[2019-11-26 04:33] Roshan-Kumar-Microsoft commented on #722
@guojian83 Can you please share debug log to  RM_Customer_Queries@microsoft.com.

[2019-11-26 04:35] Roshan-Kumar-Microsoft commented on #717
Not supported now but it is already in pipeline ...We are also encouraging to contribution ..Even you can raise PR and assign to me

[2019-11-26 04:36] #717 closed

[2019-11-26 04:36] Roshan-Kumar-Microsoft commented on #707
This is not supported for now....We are also encouraging for contribution ..Even you can raise PR and assign to me.

[2019-11-26 04:36] #707 closed

[2019-11-26 04:37] Roshan-Kumar-Microsoft commented on #703
Not supported now .We are also encouraging for contribution ..Even you can raise PR and assign to me

[2019-11-26 04:37] #703 closed

[2019-11-26 05:24] guojian83 commented on #722
Update:
Just realised the commands to set up the workspace wasn't using the terraform folder as its working directory. As soon as that's updated, its all working now.
I only found this configuration problem when sending you the debug log.
Thanks for the support!

[2019-11-26 05:24] #722 closed

[2019-11-26 07:40] eaarora-ms commented on #730
@amccool  Sorry for the delay in response but we are already looking at your previous issues and PRs. You can track the status at:
https://github.com/microsoft/azure-pipelines-tasks/issues/11631
I am closing this.

[2019-11-26 07:40] #730 closed

[2019-11-26 07:51] lwilliams1990 opened #732 ""Both agent and Ansible should be on linux machine" Running on Ubuntu 16.04 Docker container"
Hi,

I'm trying to run a single-step release pipeline to run an Ansible Playbook from a build agent.

The container image was built as described here:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker?view=azure-devops

I get the error "Both agent and Ansible should be on linux machine" from the Azure DevOps pipeline but I'm able to run the Ansible playbook from the terminal of

[2019-11-26 08:06] lwilliams1990 commented on #732
I realised that the pipeline had switched back to the Azure hosted agents rather than my default pool of on-prem build agents...

[2019-11-26 08:06] #732 closed

[2019-11-26 09:28] Anakinn opened #733 "Provider Azure stack"
Provider azure stack is missing. Is there a plan to add it?

Thank you.

[2019-11-26 11:14] gertvdh commented on #652
same for SqlDacpacDeploy

2019-11-26T11:05:37.2552681Z ##[warning]Task 'SqlDacpacDeploy' (1.3.12) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib

[2019-11-26 16:18] koenverburg opened #734 "RangeError: Maximum call stack size exceeded"
Hi, I'm trying to get my DevOps extention to work but it's failing on a maximum call stack size exceeded. I can't find anything about this on the internet or other issues.

My extention is node based and I'm running chrome-launcher.
Thanks.
[code]

![image](https://user-images.githubusercontent.com/10489237/69651642-ac38b300-1070-11ea-8136-bb81b404b041.png)

[2019-11-26 19:29] MichaelClaffey opened #735 "IIS App Pool - Support Empty Passwords/Managed Service Accounts"
In the "WinRM - IIS Web App Management" step you must pass a value for the IIS Application Pool Password when creating or updating an Application Pool.

This looks to be the case as the [Get-PSCredentials](https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/IISWebAppMgmtV2/AppCmdOnTargetMachines.ps1#L836) function runs a `IsNullOrW

[2019-11-28 04:03] chshrikh commented on #734
@koenverburg can you please point to the task / task code

[2019-11-28 05:19] RoopeshNair commented on #733
@Anakinn - can you provide more info? provider missing where?

[2019-11-28 07:35] Anakinn commented on #733
In terraform task provider azure_stack is missing. There is provider azurerm, aws and gpc. Azure stack is supported by terraform.

https://imge.to/i/vZoe4Z

[2019-11-28 17:24] smushtaq commented on #729
Facing the same problem. why is it running plan twice. it should be running it only once. Is there any fix on the roadmap?

[2019-12-02 16:28] liamfoneill commented on #691
@ausfestivus I have a workaround but haven't had time to investigate why it's needed. The following works in 'additional command arguements'. According to Terraform docs, the -var parameter should be followed by the expression in single quotations, but with this task only double quotes work

`-no-color -var-file="dev.tfvars" -var "app_service_plan_sku=$(app_service_plan_sku)"`

[2019-12-02 16:32] liamfoneill commented on #729
@smushtaq I can't help you with this issue as I am experiencing it myself but if you use '-no-color' in "Additonal Command Arguements" it makes Terraform plan output cleaner as there is some problem in Azure DevOps displaying the colored plus and minus symbols.

[2019-12-02 16:37] liamfoneill opened #738 "Update Terraform task"
Terraform Task is using deprecated backend config input parameters. Please update them.

Terraform Task Version: 0.0.137
Terraform Version: 0.12.16
Azure Provider Version: 1.37.0

`2019-12-02T16:17:08.0597927Z Initializing the backend...
2019-12-02T16:17:08.1348103Z
2019-12-02T16:17:08.1349587Z Successfully configured the backend "azurerm"! Terraform will automatically
2019-12-02T16:17:08.1349978Z

[2019-12-04 07:29] eaarora-ms commented on #670
@stimpy77  We understand your concern. I have marked this as an enhancement and will let you know when the feature is available.

[2019-12-04 08:45] eaarora-ms commented on #671
Closing due to inactivity from the customer side. Please comment if you are still facing the issue.

[2019-12-04 08:45] #671 closed

[2019-12-04 08:47] eaarora-ms commented on #709
Following on task repo. Link: https://github.com/microsoft/azure-pipelines-tasks/issues/11631

[2019-12-04 08:47] #709 closed

[2019-12-04 10:26] eaarora-ms commented on #675
@calimero1000582  Hi, we will need pipeline logs. Please share the logs with system.debug set as true.

[2019-12-04 12:00] smushtaq commented on #729
Thanks @liamfoneill for the update. Do you know who can work on this to get it resolved. Should be a quick fix for the team.

[2019-12-04 12:08] smushtaq opened #740 "Terraform: Bug in TerraformTaskV1 init. Doesnot create remote backend file in storage account"
I have encountered this issue while using this task. The remote backend in storage account is neither created nor used (if it already exists) when i run terraform init or terraform plan/apply command.

I have to create a backend.tf file as part of the release process and save it to the working directory for it to create the remote backend. I would expect the terraform init command with all backend

[2019-12-04 13:47] chroustm commented on #520
Similar problem right here. We sometimes need 5 or more deploys to get our software out of the door.
Most of the times this happens when we try to set bindings but sometimes we have that problem when the appool is committed. It also happens on different machines.

Here are some logs.

`2019-11-29T12:22:38.7940983Z ##[command]"C:\windows\system32\inetsrv\appcmd.exe"  set site /site.name:"somename"

[2019-12-05 19:41] omelhus commented on #729
I've got this exact same issue and I've submitted a pull request (#741) that should solve it.

[2019-12-05 19:44] omelhus commented on #691
This is probably related to both #729 and #741.

[2019-12-07 11:03] ausfestivus opened #742 "Terraform: add support for the `refresh` command"
Afternoon,

Can we please have support for the refresh command option added?

I am using Azure DevOps YAML pipelines to do the build, deploy and destroy of non-prod environments. I have a very long running destroy task that more often than not fails due to a timeout.

Till the AzureRM provider 2.0 is released and broader support for timeouts is available (which may or may not actually fix the unde

[2019-12-07 18:43] calimero1000582 commented on #675
I putted energy in upgrading all servers instead of trying to find a solution to this

[2019-12-07 18:43] #675 closed

[2019-12-08 07:09] AltugYildirim opened #743 "[ApexSQL DevOps toolkit - Build Task] Error: Cannot find module 'azure-pipelines-task-lib/task'"
Hi everyone,

I've got this error below.  I've tried on both Hosted/Private agent pools.

[code]

[2019-12-09 03:11] JleruOHeP commented on #660
Any chance to have an example of how to get those outputs in yaml-defined pipeline?
For example, I have

[code]

How to get the output variables in this case?

[2019-12-10 03:48] chshrikh commented on #743
ApexSQL  task is not belongs to this repo, please see if [this doc](https://knowledgebase.apexsql.com/how-to-setup-continuous-integration-and-continuous-delivery-tasks-using-the-apexsql-devops-toolkit-azure-devops-server-tfs-azure-devops-services-plugin/) can help you to find the guidance for you

[2019-12-10 03:48] #743 closed

[2019-12-10 17:32] algattik opened #744 "`tfplan -auto-approve` tooltip: wrong order of arguments"
The tooltip shows `tfplan -auto-approve`:

<img width="1003" alt="Screenshot 2019-12-10 at 18 01 21" src="https://user-images.githubusercontent.com/22099722/70551094-2a1fb280-1b77-11ea-8346-928d1e64b53a.png">

Using this syntax results in:

[code]

The correct order of arguments is `-auto-approve tfplan`.

[2019-12-10 20:41] 13daysaweek opened #745 "Terraform Task: Permission Denied"
**Terrafrom Task Version:**  0.0.137

**Observed Behavior:**
terraform plan in a release pipeline fails with the message:
_Failed to instantiate provider "azurerm" to obtain schema: fork/exec /home/vsts/work/r1/a/_core-infa-build/drop/.terraform/plugins/linux_amd64/terraform-provider-azurerm_v1.38.0_x4: permission denied_

**Workaround:**
Add bash script with the following command:

_chmod a+x /ho

[2019-12-11 05:30] 20shivangi commented on #704
@Keith-B Any update ?

[2019-12-11 07:22] LukasVice opened #746 "Terraform: Use backend configuration from tf-file"
Hi,
is it possible to use the configuration from the tf-file's terraform.backend section?
Currently I have to set it in the pipeline too - so I have to configure it twice.
Or do I miss some best practice?
Thanks.

[2019-12-11 21:24] Roshan-Kumar-Microsoft commented on #729
Merged PR ..Will release updated version by this week .

[2019-12-11 21:24] #729 closed

[2019-12-11 21:24] Roshan-Kumar-Microsoft commented on #691
Merged PR ..Will release updated version by this week

[2019-12-11 21:24] #691 closed

[2019-12-11 21:25] Roshan-Kumar-Microsoft commented on #686
Merged PR ..Will release updated version by this week

[2019-12-11 21:25] #686 closed

[2019-12-12 06:34] algattik opened #747 "Terraform plan does not fail on error"
Upon the error condition below, the task did not fail the task nor the pipeline, and produced a jsonPlanFilePath of size 0.

![image](https://user-images.githubusercontent.com/22099722/70688318-c9e15b80-1cb1-11ea-9596-7feb153a8e46.png)

[code]

[code]

[2019-12-12 08:06] algattik opened #748 "Terraform plan provider warning with single provider"
Terraform plan shows the warning
[code]

I only have one provider block defined. The code is at https://github.com/algattik/terraform-azure-pipelines-starter/tree/github.com/microsoft/azure-pipelines-extensions/issues/747

[code]

[2019-12-13 09:57] N1k05 opened #749 "terraform validate not using additional parameters in validate and apply step"
When I am running validate and apply step it is failing on terraform validate as it is not passing additional command arguments.

Is there a way to run apply only without validation in the same step?

[2019-12-16 12:35] smushtaq commented on #691
@Roshan-Kumar-Microsoft any updates on the release? How are we expected to see the new features in azure devops? Does it need to be reinstalled in the organization or the Task's version dropdown will automatically show next version.

[2019-12-16 20:40] joaopfsouza commented on #749
I'm having the same problem as the printscreen

![screen1](https://user-images.githubusercontent.com/41026996/70941318-f2a77f00-202a-11ea-891d-19c63bb78996.png)
![screen2](https://user-images.githubusercontent.com/41026996/70941321-f509d900-202a-11ea-8a75-022cb76c2d51.png)

[2019-12-18 05:00] nasminou opened #750 "Deprecated task execution handler in VSTest 1.0.96 (VSTest@2)"
Task output:
[code]

yaml pipeline item:
[code]

This issue is similar to issue [652: Task 'IISWebAppDeploy' (1.4.6/1.4.7) is using deprecated task execution handler.](https://github.com/microsoft/azure-pipelines-extensions/issues/652)

[2019-12-18 08:28] lfraile opened #751 "Problems with init command in the version deployed today"
Hello, with the new version deployed today I'm starting to have an error when doing the terraform init:

_2019-12-18T08:20:54.9910580Z [0mThe backend configuration argument "arm_environment" given on the command line
2019-12-18T08:20:54.9910767Z is not expected for the selected backend type._

The line it executes is:
terraform.exe init -backend-config=storage_account_name=XXXX -backend-config=co

[2019-12-18 08:29] sterowney commented on #751
Same here 👍

[2019-12-18 08:29] sebader commented on #751
same here! Exact same pipeline ran without issues last night. Then it did not have the parameter
`-backend-config=arm_environment=AzureCloud`

[2019-12-18 08:30] avaldi commented on #751
Same here. Any workaround? Can't find a way to downgrade to the previous task version.

[2019-12-18 08:35] sebader commented on #751
I just also opened a thread in the Dev forums: https://developercommunity.visualstudio.com/content/problem/860529/terraform-task-extension-broken-since-today.html

[2019-12-18 08:38] lfraile commented on #751
There is no way to downgrade, as they only updated as a minor version :(

[2019-12-18 08:55] rikribbers commented on #751
Looks like version 0.0.139 is failing.

Last seen working version in our environment is 0.0.137

==============================================================================
Task         : Terraform
Description  : Execute terraform commands to manage resources on AzureRM, Amazon Web Services(AWS) and Google Cloud Platform(GCP)
Version      : 0.0.139
Author       : Microsoft Corporation
Help

[2019-12-18 08:55] chernihiv commented on #751
Similar issue with other tasks, e.g. `terraform plan`

[code]

[2019-12-18 08:58] Cloudenius commented on #751
Same here! Unfortunately, it's blocking our releases. I have informed Microsoft via Twitter and will reach out to our internal contacts. Keep you posted.

[2019-12-18 09:05] Lahiri commented on #751
Same here. I had a presentation with a customer this morning. Yesterday everything was working and now all is broken. Crazy.

[2019-12-18 09:44] mortenlerudjordet commented on #751
This broke all our prod pipelines also.
Please rollback as fast as possible.

[2019-12-18 09:49] rll-cloudeon commented on #751
This is breaking our production pipelines - are there any workarounds?

[2019-12-18 09:59] Roshan-Kumar-Microsoft commented on #751
Working to fix it

[2019-12-18 10:15] mcalnd70 commented on #751
+1 here too. I'm thankful I'm not the only one

[2019-12-18 10:29] oildriller commented on #751
+1 the same problem here. We have are preparing for an important customer demo tomorow and now we are not able to create releases

[2019-12-18 11:01] SadokLadhari commented on #751
+1 the same problem here.
Yesterday my pipeline was working fine and after the upgrade (adding -backend-config=arm_environment=AzureCloud) it failes (exactly in a DEMO) :(

[2019-12-18 11:05] Roshan-Kumar-Microsoft commented on #751
Releasing latest version with fix

[2019-12-18 11:26] ralphwillgoss commented on #751
I've logged a support issue, as a few of us where chatting on the Dev Forums:
https://developercommunity.visualstudio.com/content/problem/860684/terraform-pipeline-task-is-not-working-anymore-sta.html?inRegister=true

thanks to @Roshan-Kumar-Microsoft, I'll post back on the other thread.

[2019-12-18 11:32] rajan-bhaniwal commented on #751
@Roshan-Kumar-Microsoft, Any ETA on when the fix will be rolled out?

[2019-12-18 11:40] speedmind commented on #751
Got bitten by this too, with a client demo as well...
@Roshan-Kumar-Microsoft, now that there's a fix, is there anything we can do to get the extension updated on our Azure DevOps organization (Azure DevOps Service) ?

[2019-12-18 11:59] mortenlerudjordet commented on #751
Would have been nice if someone at MS can trigger a build and publish of the extension to marketplace.
@Roshan-Kumar-Microsoft

[2019-12-18 12:38] dalareo commented on #751
Having a task version to set would be a solution for this "toofasttorelease" problems...

[2019-12-18 12:39] mortenlerudjordet commented on #751
Another is to have the option on AzD to set extension updates to manual on a pr extension level

[2019-12-18 12:45] Roshan-Kumar-Microsoft commented on #751
Published New version of terraform extension on marketplace ..Please verify it .

[2019-12-18 12:46] mortenlerudjordet commented on #751
@Roshan-Kumar-Microsoft , Can see it and it has updated in our AzD. Testing to see if we are good.

[2019-12-18 12:48] speedmind commented on #751
not looking very good...
2019-12-18T12:47:17.0053824Z ##[error]File not found: '/home/vsts/work/_tasks/TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf/0.0.140/src/index.js'

but I'll run a new release just in case...

[2019-12-18 12:49] Lahiri commented on #751
I get exactly the same error.

[2019-12-18 12:50] dalareo commented on #751
Me too
##[error]File not found: '/home/vsts/work/_tasks/TerraformInstaller_a4789e5d-f6e8-431f-add9-379d640a883c/0.0.17/src/index.js'

[2019-12-18 12:50] speedmind commented on #751
Yup, it's the same with a new release...

[2019-12-18 12:50] rajan-bhaniwal commented on #751
2019-12-18T12:48:54.4748406Z ##[error]File not found: '\TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf\0.0.140\src/index.js'
Same here

[2019-12-18 12:50] Roshan-Kumar-Microsoft commented on #751
Give me few minute looking into it

[2019-12-18 12:51] ralphwillgoss commented on #751
Got a new error
`##[error]File not found: '/home/vsts/work/_tasks/TerraformInstaller_a4789e5d-f6e8-431f-add9-379d640a883c/0.0.17/src/index.js'`

[2019-12-18 12:51] mortenlerudjordet commented on #751
Probably have to uninstall and reinstall. Have seen some strange behavior updating the task I have developed myself

[2019-12-18 12:52] dalareo commented on #751
I did it without success

[2019-12-18 12:58] oildriller commented on #751
2019-12-18T12:53:01.3195712Z ##[error]File not found: 'D:\a\_tasks\TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf\0.0.140\src/index.js'

Same error observed here

[2019-12-18 13:12] dhabierre commented on #751
I have exactly the same issue today...

[code]

Thanks!

[2019-12-18 13:22] lfraile commented on #751
Same error with file not found here, still not able to deploy :(

[2019-12-18 13:27] dhabierre commented on #751
It is really strange that an upgrade kills the previous version... it is dangerous... pipeline is not immutable.

[2019-12-18 13:35] Lahiri commented on #751
I agree, we should have more control on task versioning, so that we can rollback if problems like this come out.

[2019-12-18 13:50] PavelPikat commented on #751
Got bitten by this too :(
It will be a lesson to all that 3rd party plugin in Azure DevOps should not be relied upon. It probably makes sense to invoke Terraform from in-house scripts and not custom extensions.

[2019-12-18 13:56] CharlesAtDCube commented on #751
##[error]File not found: 'D:\a_tasks\TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf\0.0.140\src/index.js' Same here

[2019-12-18 14:07] joakimhellum commented on #751
It looks like current release (`0.1.5`) contains `node_modules` and TypeScript source files, but not compiled javascript files (`index.js`). Probably new version need to be published that includes all necessary files.

In addition the task is still setting incorrect provider arguments ref. `setupBackend` function https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraf

[2019-12-18 14:08] tomaszgawlik commented on #751
it would be great to be able control whole task version, not only major part of it

[2019-12-18 14:11] FireStormHR commented on #751
@RoshanKumarMicrosoft Is this any help? Can you maybe escalate the problem because the service is already down for over 5 hours

[2019-12-18 14:14] Roshan-Kumar-Microsoft commented on #751
Will release extension in a hour ...Just doing testing

[2019-12-18 14:30] chemapolo commented on #751
We are facing the same issue during the last 5 hours...

[2019-12-18 14:36] smushtaq commented on #751
fingers crossed. have a demo in half an hr.

[2019-12-18 14:42] afouilleul commented on #751
It looks like CI tests have failed since October ...

[2019-12-18 14:58] Cloudenius commented on #751
I see version 0.1.7 was released! Testing now... (Not sure what happened with version 0.1.6?)

[2019-12-18 15:00] speedmind commented on #751
Same error as before...
2019-12-18T15:00:23.5926377Z ##[error]File not found: '/home/vsts/work/_tasks/TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf/0.0.140/src/index.js'

[2019-12-18 15:01] dhabierre commented on #751
Are you sure that a new version is published?

[code]

[2019-12-18 15:03] Cloudenius commented on #751
I think you're using this extension, right? https://marketplace.visualstudio.com/items?itemName=charleszipp.azure-pipelines-tasks-terraform

We are talking about the official extension from Microsoft, which is now in 0.1.7: https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks

[2019-12-18 15:05] smushtaq commented on #751
same as before. Using the official Micrososft version

[2019-12-18 15:05] rikribbers commented on #751
0.0.140 was failing previously... I am awaiting version 0.0.141

[2019-12-18 15:05] dhabierre commented on #751
I use this one too.

[2019-12-18 15:06] chernihiv commented on #751
![image](https://user-images.githubusercontent.com/7537522/71097431-9ffbcd80-21b8-11ea-84d5-0b463ca085ae.png)

[2019-12-18 15:09] Cloudenius commented on #751
Ah, I see now. The extension version is different (0.1.7) from the Terraform task version (0.0.140).

[2019-12-18 15:15] smushtaq commented on #751
@Roshan-Kumar-Microsoft Its still the same error. Please restore the old working version and then release the new one at a later date with thorough testing.

Thanks

[2019-12-18 15:20] dhabierre commented on #751
@Roshan-Kumar-Microsoft : as requested by @smushtaq, is it possible to release the rollback? Thanks.

[2019-12-18 15:20] ralphwillgoss commented on #751
I think you are looking at the wrong one

[2019-12-18 15:23] ianpurvis1976 commented on #751
This issue is hitting me hard today.

[2019-12-18 15:23] SadokLadhari commented on #751
@Roshan-Kumar-Microsoft as said by @smushtaq Please restore the old working version.

[2019-12-18 15:25] chshrikh commented on #751
sorry for the inconvenience, we are working on the fix and will soon publish the new version

[2019-12-18 15:26] afouilleul commented on #751
After unistall and reinstall version 0.1.7, different error :
[code]

[2019-12-18 15:27] chshrikh commented on #751
we are published the new version of extension, please let us know if it works for you all

[2019-12-18 15:28] turbut commented on #751
0.1.8 did the trick

[2019-12-18 15:28] Cloudenius commented on #751
Version 0.1.8 seems to be live indeed. Looking into it!

[2019-12-18 15:30] FireStormHR commented on #751
PROBLEM SOLVED, THANKS @chshrikh and @Roshan-Kumar-Microsoft

[2019-12-18 15:30] chshrikh commented on #751
Thanks @Ajay-MS and @Roshan-Kumar-Microsoft for quick actions

[2019-12-18 15:32] lfraile commented on #751
It's working!!!! thanks @Ajay-MS and @Roshan-Kumar-Microsoft

[2019-12-18 15:32] #751 closed

[2019-12-18 15:34] speedmind commented on #751
Working here as well on extension v0.1.8 (task v0.0.142).

Many thanks to all and @Roshan-Kumar-Microsoft for the live updates...

[2019-12-18 15:35] SadokLadhari commented on #751
Thanks @chshrikh , it works now with the latest version 0.1.8
![image](https://user-images.githubusercontent.com/1139512/71099790-23ff8680-21b4-11ea-8609-c94b4b231443.png)

[2019-12-18 15:37] mortenlerudjordet commented on #751
Also fixed on our end

[2019-12-18 15:51] dhabierre commented on #751
All rocks!
Thanks for the fixing!

[2019-12-18 15:51] dhaworth opened #753 "index.js File not found in version 0.0.140 of Terraform Extension for Azure DevOps"
Good morning,

[A commit to the Terraform pipeline task](https://github.com/microsoft/azure-pipelines-extensions/commit/54d88ccda05e1f37b7dcfcd7504020f3a7ea1b4f) for ADO seems to have broken our pipelines that use that task. Wondering if others are seeing the same issue. Thanks.

[code]
cc: @Roshan-Kumar-Microsoft

[2019-12-18 16:02] rikribbers commented on #751
Thanks for fixing, it is working for us.

I noticed another error in the terraform plan task. What I make of it is that the Azure DevOps Task does a terraform version command to output the version after a terraform plan command. This gives the output below. It complains about "too many command line arguments." Is this related to this or something else?

Output:

No changes. Infrastructure is up-to

[2019-12-18 17:44] sheldonhull opened #754 "Terraform Cloud Support"
Terraform Blog announced upcoming improvements with the azure pipelines extensions for Terraform that would support the following types of commands:

1. Terraform Cloud Backend
2. Create new tfe_workspace, variables, and more.
3. Initiating remote run, plan, apply.

I've been searching issues, announcements, community discussion, and even commits, but am having difficulty in finding anything on et

[2019-12-18 20:51] DaveWall77 commented on #751
Did not fix our issue. We still receive the same error with latest version of Terraform Task. v0.1.8, but our task version shows Version: 0.0.140, instead of 0.0.142 as reported above.

[2019-12-18 21:28] DaveWall77 commented on #753
We're waiting on a fix for this as well.

[2019-12-19 05:00] chshrikh commented on #750
@nasminou this is not the right place for this issue, could you please open issue at https://github.com/microsoft/azure-pipelines-tasks/issues .

[2019-12-19 05:00] #750 closed

[2019-12-19 05:23] 20shivangi commented on #652
@jafin We have moved the tasks SqlDacpacDeloy, IISWebAppDeploy and IISWebAppMgmt to PS3 handler. Please use the latest version of these tasks, now the warning will not come.

[2019-12-19 05:23] #652 closed

[2019-12-19 05:24] 20shivangi commented on #704
Feel free to open the issue if face any. Closing this as there is no response.

[2019-12-19 05:24] #704 closed

[2019-12-19 07:31] RoopeshNair commented on #754
@sheldonhull  - can you point us to the blog? are you referring to [this extension](https://marketplace.visualstudio.com/items?itemName=ms-devlabs.custom-terraform-tasks) or some other extension?

[2019-12-19 07:37] mortenlerudjordet commented on #753
There can be some caching problems with previous bad version.
Just do a uninstall of the extension and re-add it through market place.

Make sure no pipelines are running that is using the task during the process.

[2019-12-19 07:38] mcalnd70 commented on #751
Seemed to be working ok last night when I tried it again and caught up with some backed up releases from the day

Will their be a post-mortem on this one? My boss is asking what happened. Other than something broke overnight on 17th/18th December, I don't know what else to report back

[2019-12-19 10:23] dhabierre commented on #751
@mcalnd70, a patch of the Terraform task has been releases yesterday but it was buggy.

Currently, patchs or minor versions seem to be autoloaded by AzDevOps (you can select only major version: 0.*, 1.*, etc). If the version is buggy, the pipeline becomes down.

Patched tasks or minor releases should not beautomatically loaded. With the current behavior of AzDevOps, this problem can occur in futur

[2019-12-19 13:21] renevanosnabrugge opened #755 "tfs:feed returns wrong endpointurl"
Hi,

I am using the endpoint tfs:feed in my extension. The task should return the endpointurl to the feed, That endpoint url I also use in getting packages and release views. Since the introduction of Project Scoped feeds, the task does not return the project scoped feeds. I feel that the endpointurl should reflect the projectID as well.

https://github.com/microsoft/azure-pipelines-extensions/blo

[2019-12-19 13:24] DaveWall77 commented on #751
yes, working now. 0.0.142

[2019-12-19 13:25] DaveWall77 commented on #753
uninstalled/reinstalled 0.0.142 works. thanks

[2019-12-19 15:13] ricohomewood opened #756 "Error building ARM Config using Azure Devops Service connections with a service principle"
In Azure DevOps for the Terraform extension for the azurerm provider, it seems that the plan, apply and validate stages throw an error as per below if using an Azure Subscription service connector that is created by a Service Principle.

Error: `Error building ARM Config: Azure CLI Authorization Profile was not found. Please ensure the Azure CLI is installed and then log-in with `az login`.`

Beca

[2019-12-19 19:49] sheldonhull commented on #754
This is the [blog post](https://www.hashicorp.com/blog/announcing-azure-devops-support-for-terraform-cloud-and-enterprise/) I'm referring to. Since it was the microsoft terraform task, not a new one being created by them, I thought I'd find the updates on progress here.

[2019-12-19 19:57] liamfoneill commented on #753
@Roshan-Kumar-Microsoft is there a reason that V1 of the task keeps getting patched rather than create a new version?

There are lots of people depending on this task and have no way of protecting themselves from a broken version of the task being added to V1 (as what seemed to happen here)

[2019-12-19 22:50] dhaworth commented on #753
This is working for us now with the 0.0.142 version. Agree with @liamfoneill that appropriate versioning may have helped, though I don't know that the Azure Marketplace allows for designating task versions on a granular enough basis to fully protect against this.

I'm going to close the issue since the problem is fixed. Thanks @Roshan-Kumar-Microsoft

[2019-12-19 22:50] #753 closed

[2019-12-20 08:20] ricohomewood commented on #756
This issue may actually be related to https://github.com/microsoft/azure-pipelines-extensions/issues/749

[2019-12-20 08:23] ricohomewood commented on #749
@niadak @Roshan-Kumar-Microsoft Is there any update on this issue as this is actually a blocker for all `terraform apply` commands as the extension always does the `terraform validate` step that is broken?

[2019-12-20 15:25] RoopeshNair commented on #754
@sheldonhull  - Thanks for the pointer. I would recommend you to connect with the blog post author.

[2019-12-20 15:25] #754 closed

[2019-12-23 03:40] chshrikh commented on #755
@renevanosnabrugge could you please open issue at - https://github.com/microsoft/azure-pipelines-tasks/issues, your question is related to task lib / platform

[2019-12-23 12:32] smushtaq commented on #748
Also getting the same warning. Not sure why this is an issue.

Below are the logs

2019-12-23T11:34:35.6260751Z ##[section]Starting: Terraform apply
2019-12-23T11:34:35.6265766Z ==============================================================================
2019-12-23T11:34:35.6265860Z Task         : Terraform
2019-12-23T11:34:35.6265988Z Description  : Execute terraform commands to manage resource

[2019-12-23 12:58] thfsilvab commented on #520
Also happened to us while trying to deploy, we removed the task from our deploy and manually managed the pool.

`2019-12-22T12:35:37.8875304Z ##[section]Starting: Manage IISWebApplication
2019-12-22T12:35:37.8875304Z ==============================================================================
2019-12-22T12:35:37.8875304Z Task         : IIS web app manage
2019-12-22T12:35:37.8875304Z Description

[2019-12-26 03:46] chshrikh commented on #755
this is not correct forum for this issue

[2019-12-26 03:46] #755 closed

[2019-12-28 03:29] sephross commented on #746
Similar problem here. I would like to use remote state variables and subsequently multiple backends/state files configured across different modules in my build artifact.

This tool doesn't seem to let me do that as it mandates I have to configure the backend with the terraform init command and then overrides the local config.

[2019-12-30 17:08] algattik opened #757 "[Terraform task] stuck on user input"
Running Terraform task with a plan where a variable does not have a default value, and is not provided on the command line, causes the task to get stuck waiting for user input (which there is no way to provide).

The task should pass `-input=false` to plan and apply commands.

[2019-12-30 21:26] troydalldorf commented on #756
I am experiencing the same problem, also using a service connector created by a service principal.

[2020-01-02 19:26] qJake opened #758 "SPNCreation.ps1 does not work with new "Az" module"
In a fresh environment, running this script:

https://github.com/microsoft/azure-pipelines-extensions/blob/master/TaskModules/powershell/Azure/SPNCreation.ps1

Does not work with [Az PowerShell Module v3.2.0](https://github.com/Azure/azure-powershell/releases/tag/v3.2.0-December2019) installed.

The following error occurs:

ter/Tasks/AzureResourceGroupDeploymentV2/README.md for recommended AzureRM

[2020-01-02 21:22] szolla commented on #749
I am looking for an update on this as well.  I just ran into this issue.  The apply and validate commands should not be joined as they are, especially since there is an implied validation check with a plan anyway.

[2020-01-03 08:38] Roshan-Kumar-Microsoft commented on #738
@liamfoneill Due to other priority work we are not picking this for now. We are open for contribution. You can create PR and assign to me.

[2020-01-03 08:38] #738 closed

[2020-01-03 08:40] Roshan-Kumar-Microsoft commented on #740
@smushtaq  We are not creating storage account if it doesn't exist during init. This is enhancement but due to other priority work we are not able to pick this for now. But we are open for contribution. You and raise PR and assign to us

[2020-01-03 08:40] #740 closed

[2020-01-03 08:41] Roshan-Kumar-Microsoft commented on #742
@ausfestivus This is enhancement but due to other priority work we are not able to pick this for now. But we are open for contribution. You and raise PR and assign to us.

[2020-01-03 08:41] #742 closed

[2020-01-03 08:55] Roshan-Kumar-Microsoft commented on #745
@13daysaweek Didn't get complete issue ? Can you please share complete debug log and steps to RM_Customer_Queries@microsoft.com

[2020-01-03 09:21] smushtaq commented on #740
@Roshan-Kumar-Microsoft The issue is not about creating a storage account. The issue is that it doesnt uses the state file from the storage account in terraform plan or apply unless i manually create a backend.tf file containing all details of the remote state file and storage account.

As we are also passing all the storage account details in terraform init step, I expect this to configure follow

[2020-01-03 20:15] 13daysaweek commented on #745
@Roshan-Kumar-Microsoft - email sent!

[2020-01-04 02:06] randy-wong opened #759 "IIS Web App Deployment Using WinRM for TFS 2017 RTM"
Hi all,

I tried to install IIS Web App Deployment Using WinRM but I kept getting the error "task.json file was not found in contribution". I found out that the version of TFS (TFS 2017 RTM / TFS Version 15.105.25910.0) that I am isn't compatible with the marketplace version. I also tried manually downloading the latest version here and it is different (looks buggy) from the version that I have on

[2020-01-06 01:18] ausfestivus commented on #742
Acknowledged @Roshan-Kumar-Microsoft
Not sure I agree with the ticket closure as the actual suggestion isn't complete.

[2020-01-06 08:08] Roshan-Kumar-Microsoft commented on #747
@algattik Are you still blocked ? Can you please share your skype Id to RM_Customer_Queries@microsoft.com So we can debug it further.

[2020-01-07 06:32] Roshan-Kumar-Microsoft commented on #735
@MichaelClaffey This is not supported for now but due to some other priority work we are not able to pick this for now .

[2020-01-07 17:29] Roshan-Kumar-Microsoft commented on #746
@LukasVice Right now it is not supported to set terraform.backend section from tf-file's . It will be enhancement but due to other priority work we are not picking it now

[2020-01-07 17:29] #746 closed

[2020-01-07 17:32] Roshan-Kumar-Microsoft commented on #748
@algattik We are not supporting Multiple provider blocks specified in the .tf files. It will be enhancement .Due to some other priority work we are not picking it now but we are open for contribution.

[2020-01-07 17:32] #748 closed

[2020-01-07 17:34] Roshan-Kumar-Microsoft commented on #749
@szolla apply and validate should be joined due to our design. It is already in our backlog. We are also open for contribution.

[2020-01-07 17:36] Roshan-Kumar-Microsoft commented on #757
@algattik If I am understanding right you have option to pass additional argument ? Can you please share the screenshots Not able to get complete issue

[2020-01-07 17:37] #735 closed

[2020-01-07 19:05] szolla commented on #749
@Roshan-Kumar-Microsoft I am not sure i understand what you mean by your 'design'.  Validate and Apply are two separate terraform commands yet your are joining them together as a single task.  That doesn't give the end user the extensibility that is needed to deploy architecture properly.  I don't have the need to do a validate, it shouldn't be a requirement of the apply step.

[2020-01-08 23:41] elderrollins opened #760 "Cannot assume role with remote S3"
I am trying to Assume a role into AWS using an AWS terraform service connection in Azure Devops. The credentials are for a user who needs to assume a role into a specific AWS account for this to work. Since the Terraform AWS service connection doesn't allow me to add a role to assume I have to assume a role into the specific AWS account using terraform. The terraform plugin in azure devops is tryi

[2020-01-08 23:47] #760 closed

[2020-01-08 23:47] elderrollins commented on #760
For this to work you ahve to put the assume role in the provider, and backend sections of your terraform

[2020-01-09 10:16] Roshan-Kumar-Microsoft commented on #749
@szolla We will fix this as enhancement

[2020-01-09 10:43] ricohomewood commented on #749
@Roshan-Kumar-Microsoft what about that actual bug? because validate is not passing additional command arguments means that is is currently unusable at all meaning no one can run terraform apply in this scenario? The splitting them out as an enhancement is a post fix task?

[2020-01-14 14:57] szolla commented on #749
@Roshan-Kumar-Microsoft , @niadak do you have a timeframe on this enhancement/fix.  It is holding up our deployments.

[2020-01-14 22:05] tasb opened #762 "Change provider doesn't remove reference to previous one"
When you configur plan or validte task to one provider (for instance AWS) and then change to other (Azure) the reference for service connection is not removed and if you try to import and export the pipeline you get errors.

![image](https://user-images.githubusercontent.com/415105/72386774-4d172680-3722-11ea-8da0-ba3c205b7c07.png)

[2020-01-14 22:12] tasb commented on #762
More details and the issue is bigger.

I exported the pipeline and imported on another organization.

On new imported pipeline I change the config on terraform task to use new Azure Connection. On UI everything seems fine but when I run the pipeline I get this error:

Exception Message: The pipeline is not valid. Job Phase_1: Step TerraformTaskV11 input backendServiceArm references service connect

[2020-01-15 01:30] wenesak opened #763 "Terraform plan log adds time references at the beginning of each line"
Is hard to review the generated plan
Example:

![image](https://user-images.githubusercontent.com/28111142/72396786-72e10300-3703-11ea-9dc3-e56f4d883144.png)

Here is an output plan from another Terraform extension:

![image](https://user-images.githubusercontent.com/28111142/72396989-0e727380-3704-11ea-8633-35dddf0211b2.png)

Please clean up the output

[2020-01-15 16:30] richardgavel opened #764 "TerraformTask without need for service connection"
I would like to use TerraformTask on private agents I have already running inside AWS. Because they are in AWS, they do not need a service connection, they use the credentials implicit from the AWS instance they are running on. However, I can't use the task without providing a provider, and when selecting aws, the service connection is required.

[2020-01-16 06:53] Roshan-Kumar-Microsoft commented on #520
@thfsilvab @chroustm  Can you please share your skypeId on RM_Customer_Queries@microsoft.com so that we can debug it further ?

[2020-01-16 06:56] Roshan-Kumar-Microsoft commented on #764
@richardgavel  This is by design. Provider is necessary to run this task. I agreed with you this can be enhancement but due to other priority work we will not able to pick this now.

[2020-01-16 06:56] #764 closed

[2020-01-16 07:00] Roshan-Kumar-Microsoft commented on #763
@wenesak  Can you please run same terraform command in your command prompt(Terminal) Does it produce different log ? If this will the case we will try to incorporate this .

[2020-01-16 07:34] #757 closed

[2020-01-16 16:33] chroustm commented on #520
@RoshanKumarMicrosoft Done...

[2020-01-16 17:15] rjackowens opened #765 "TerraformTaskV1: Set AWS Connection Parameter as Optional"
Currently TerraformTaskV1 requires a mandatory AWS Service Connection parameter.

![image](https://user-images.githubusercontent.com/40874726/72546141-dbd59180-384f-11ea-9535-dcd232bca4a1.png)

Making the service connection mandatory is a major roadblock for using AWS credentials set as environment variables. AWS CLI tasks support this as a [native authentication option](https://docs.aws.amazon.co

[2020-01-16 17:31] rjackowens commented on #765
#766

[2020-01-16 20:59] Bouke commented on #763
The garbled output you're seeing are control characters; those control things like color. So what terraform is doing is showing `+` as green and `-` as red. However due to some mismatch, the colors aren't applied and the control characters shown as-is.

[2020-01-16 21:04] Bouke commented on #747
I'm having the same problem. I'm running the `plan` action, however there's some unexpected additional command being run, as can be seen in the logs.

[code]

So... what is the extension doing, and why is it failing, and why is the failure not causing the task to fail?

[2020-01-17 06:43] Roshan-Kumar-Microsoft commented on #762
@tasb Thanks for pointing this out. We are able to reproduce this and will fix this in next release.

[2020-01-19 05:32] MarkKharitonov opened #767 "Unable to create an Azure resource using a Service Principal which is a Contributor to the subscription"
The issue is described in detail on this SO question - https://stackoverflow.com/questions/59807108/azure-devops-server-is-unable-to-create-an-azure-resource-using-a-service-princi

Basically, I have a situation where the release pipeline cannot create some resources, but the Service Principal is good and the terraform configuration is good as well - tested in the Azure Cloud Shell using the same

[2020-01-20 05:52] robyf opened #768 "Add support for -detailed-exitcode in terraform plan"
From the terraform plan command documentation:
* `-detailed-exitcode` - Return a detailed exit code when the command exits. When provided, this argument changes the exit codes and their meanings to provide more granular information about what the resulting plan contains:
  *    0 = Succeeded with empty diff (no changes)
  *    1 = Error
  *    2 = Succeeded with non-empty diff (changes present)

I

[2020-01-20 10:39] algattik commented on #757
Hi @Roshan-Kumar-Microsoft, the issue is the following: if in your variables.tf you define a variable without a default value, and in the plugin configuration you forget to pass a value for that variable, the task just hangs because terraform asks for a interactive input.

Expected behavior: the task should fail immediately

[2020-01-20 15:30] drewmullen opened #769 "document for yaml users"
yaml pipelines are best practice over gui. it would help with adoption if you documented the variables, keywords, etc. for example: how can i set the version to download?

below installs terraform but the default `0.12.3` version
[code]

[2020-01-20 15:36] MarkKharitonov commented on #767
Turns out this is because the pipeline creates Role definition which is not possible with the Contributor role of the Service Connection.

[2020-01-20 19:02] drewmullen commented on #769
FWIW i did figure out the tfversion mentioned above. i still think it would be helpful to document though:
[code]

[2020-01-21 09:34] pisxx-tests commented on #747
Facing the same issue. Init and Validate work without any problems, Plan and Apply is unable to read remote state file.

[code]

[2020-01-29 03:43] ruairiohagan commented on #521
Hi @omeshp  / @Lovakumar ,

Just wondering if there was any update on this issue? Or even better an ETA on a patch?

Thanks!

[2020-01-29 10:55] RTodorov commented on #747
Hi folks,

Any news on this @Roshan-Kumar-Microsoft ? This seems to be happening with everyone. I have a very dummy pipeline and I'm also getting this error.

Thank you

[2020-01-29 11:48] algattik commented on #747
The extension was not viable for me because of this outstanding issue (as well as #748 #725)
so I built a template that avoids all three and adds a facility for manual plan approval. https://github.com/algattik/terraform-azure-pipelines-starter

[2020-01-31 06:55] arjgupta commented on #769
@N-Usha can you please track this for updating documentation.

[2020-01-31 08:08] arjgupta commented on #759
you can try to download and install an older version of the extension from here: https://github.com/microsoft/azure-pipelines-extensions/releases

[2020-01-31 08:08] #759 closed

[2020-01-31 08:51] arjgupta commented on #758
I have created a PR for this here: https://github.com/microsoft/azure-pipelines-extensions/pull/772/files

[2020-01-31 08:51] #758 closed

[2020-01-31 09:06] #767 closed

[2020-01-31 16:05] gdsjerry opened #773 "TerraformTaskV1: Add support for terraform state locking (with dynamodb) on AWS"
Hello,

Terraform accepts a backend parameter when using remote state storage called "dynamodb_table" in order to provide support for state locking on AWS s3 backend.

Any chance of getting a support for it added to TerraformTaskV1 in near future?

[2020-02-03 15:06] szolla commented on #749
@Roshan-Kumar-Microsoft, @niadak @chshrikh I am looking for any sort of update.

[2020-02-04 06:08] lsongcoles opened #774 "Azure DevOps pipeline doesn't show any log message until the Terraform task is finished"
When running the DevOps pipeline, for each Terraform task, the portal will show no log message until the task is finished. e.g. when running a Apply task, I have to wait at least for 30 mins then the log will be displayed on the screen. During the running time, no log showed at all.

[2020-02-05 13:18] rjackowens commented on #765
I wanted to check back on this. Is there any update on this functionality?

[2020-02-05 17:05] bruceharrison1984 opened #777 "Allow Terraform.io State Storage"
The current DevOps Terraform plugin forces you to use an AZ/AWS/GCP storage account when running `terraform init`. Terraform.io should also be available as an option, with a field to input your terraform.io token.

[2020-02-10 15:56] chroustm commented on #520
@Roshan-Kumar-Microsoft I was just wondering if there is any news on that topic....

Sorry if i sound pushy. The issue is really a hindrance for us and we are trying to decide if we should go with a workaround or just wait for a solution...

[2020-02-10 16:13] Roshan-Kumar-Microsoft commented on #520
Adding  @chperich @arjgupta

[2020-02-10 16:32] thfsilvab commented on #520
Didn't send the email because we don't know in which circumstances this happens, sometimes just deploying again solves the problem.

[2020-02-10 16:38] chroustm commented on #520
Same here, sometimes it takes 10 retries to be successful. With 11 environments a new release can add up to more than just pain...

[2020-02-10 17:44] thfsilvab commented on #520
We have more than 500 environments, we don't deploy on all of them every day but 40-50 a day, usually the next retry solves the problem, but if you multiplying by the number of deploys we have to make...

[2020-02-11 15:15] aj-he opened #779 "ServiceNow gate fails to trigger when status set to implement"
Setting up the ServiceNow gate to proceed when a newly created CHG changes to "Implement" fails.

Log is as follows:

[code]
Is the final line trying to compare the status code...

`Response: {"result":{"number":"CHG0035916","state":"-1"}}`
... to the status label?...

`Evaluation of expression 'eq(jsonpath('$.result.state')[0],'Implement')' failed.`

The status drop down does not allow me to set

[2020-02-12 23:10] dlm69 commented on #660
Can I use this in classic pipelines? When adding this as a powershell step I am getting two new values that i need to set. I'm new to this but I don't know what i need to enter for $_.Name and $o.value.

[2020-02-16 22:32] pfilbin90 commented on #748
@RoshanKumarMicrosoft - I am using an S3 backend which requires a terraform provider and an AWS provider.  My releases are failing because I have 2 providers instead of just the one AWS provder.

Does your statement above mean the this extension is incompatible with using S3 backend?  This would make the extension completely useless.

[2020-02-17 15:52] algattik commented on #748
As the linked sample code shows, the issue trigger even when a single provider block is defined, as long as the provider is used in more than one module

[2020-02-17 16:29] algattik opened #780 "Terraform: irrelevant error message if working directory does not exist"
Pipeline YAML:

[code]

Output:

[code]

Expected error message:
[code]

[2020-02-17 21:39] ztbrumbaugh commented on #748
I'd like this to be reopened. Using a single provider with multiple modules should not throw a warning like this. If modules are heavily utilized, it creates a lot of noise in the output window and in Azure Devops pipelines.

[2020-02-17 22:24] gdsjerry opened #781 ""[warning]Multiple provider blocks specified" even if they are inherited"
When running terraform init it throws a warning

[code]

We load modules from different logical folders (different repo) from filesystem. I think the test MultipleProviderTests should not throw warnings in this case, because the provider is not defined or specified in those modules, its just inherited automatically.

[2020-02-20 20:02] DevKyleS commented on #749
@Roshan-Kumar-Microsoft Is the improvements still in the backlog or has their been progress?

[2020-02-26 10:28] runemy commented on #749
Trying to run trough a tutorial to learn more about how Terraform can be used in Azure DevOps:
https://medium.com/faun/a-cicd-journey-with-azure-devops-and-terraform-part-1-358f785b13f3

I think I'm not getting this tutorial working due to passing arguments bug?

[2020-02-28 09:49] edjwhho opened #783 "Terraform plan output colours in Azure pipeline"
Hi, terraform plan output in azure pipeline so it shows the colours would make review the terraform change alot easier.

[2020-03-03 12:50] atcastel commented on #747
same issue here

[2020-03-03 23:19] wenesak commented on #763
@Bouke

Thanks for the tip, I did updated the arguments to include -no-color and my terraform plan log now is easy to read

@Roshan-Kumar-Microsoft
Boukes suggestion worked fine for my issue

[2020-03-06 07:36] algattik opened #785 "Terraform: add functionality to break lease"
If Terraform pipeline fails or is canceled, a lease is held on the state blob. It's not easy for users to figure out how to break it.

I've implemented a solution to have the pipeline detect the lease and offer to break it if a given pipeline variable is set. It would be great to have this functionality moved into the extension.
https://raw.githubusercontent.com/microsoft/terraform-azure-devops-st

[2020-03-09 03:39] nrmatukumalli opened #786 "Backend Config items deprecated"
# Terraform Backend configuration

Following codebase need to update the back configuration.
`azure-pipelines-extensions/Extensions/Terraform/Src/Tasks/TerraformTaskV1/src/azure-terraform-command-handler.ts`

currently arm_* prefix is used in the backend configuration which are deprecated in terraform resulting in a warning messages.

[code]

[2020-03-09 05:42] rrmistry opened #787 "[Bug] TerraformTaskV1@0 with DownloadSecureFile@1 doesn't work toegether"
Bringing this here from [Azure DevOps user voice](https://developercommunity.visualstudio.com/content/problem/942169/terraformtaskv1.html?childToView=942620)

The below pipeline code:
[code]
Always reports the error:
[code]

[2020-03-09 05:46] rrmistry commented on #787
The secure file gets downloaded to the agent's temporary folder. It persists if I copy it to the local working directory (where my git code is cloned). So I have to manually clean up after pipeline finishes.

The issue is that this command line argument `-var-file='$(terraformvars.secureFilePath)'` for terraform should work for the secure file located in temp folder but it doesn't.

I have even co

[2020-03-10 14:17] fajanssen opened #788 "Terraform tool installer does not apply if using hosted agent"
Hello,

I am trying to use the terraform tool installer before the terraform tasks to ensure im getting the version that i specify. Unfortunatly the hosted agent already has a version installed (0.12.21) but i want it to use a newer one (0.12.23). The agent or the task seems to ignore the newer version that i install via terraform tool installer.

The worst thing: You won't even notice this, becau

[2020-03-11 14:13] scott1138 opened #789 "Feature: Input for terraform path"
During transition between versions it would be nice to have to the ability to specify the location of the terraform executable for a given task.  I know there is the possibility that the path could be altered, but because of the shared nature of the path it could cause other harder to troubleshoot issues.  Hopefully this would be simple to implement.  I did it on a task that was written in PowerSh

[2020-03-12 04:13] #763 closed

[2020-03-12 11:10] cacarroll commented on #749
I'm having a similar problem with with the plan action.

It appears the extension adds an extra quote before the vars are passed which Terraform doesn't like.  When you look at the yaml it's not there but you can see it in the build output.  When you try the command yourself it fails and when the extra quote is removed it works. The extension automatically adds the quote and there is no way to rem

[2020-03-12 14:55] vitpace opened #791 "Support authentification by ApiKey instead of user and password for TeamCity?"
Dear Sirs,

I'm trying to start with https://marketplace.visualstudio.com/items?itemName=ms-devlabs.vss-services-teamcity, however my problem is that it requires a **username** and **password** to be entered.

Would it be possible to support the **ApiKey**-based authentication?

[2020-03-13 05:59] sriramdasbalaji opened #792 "Terraform init fails with file not found issue"
Hi,

When I run Terraform init in my release pipelines task failed with the following error
File not found: 'D:\a\_tasks\TerraformTaskV1_fe504acc-6115-40cb-89ff-191386b5e7bf\0.0.140\src/index.js

![image](https://user-images.githubusercontent.com/13716984/76593999-da59da00-651d-11ea-8538-cdea7b08207d.png)

[2020-03-15 07:33] romil07 commented on #791
I will talk to Ashok Kirla on this and update.

[2020-03-17 09:45] StefanSchoof commented on #660
There is a blog post about this problem: https://www.natmarchand.fr/using-terraform-output-values-in-azure-devops-pipeline/

[2020-03-23 14:00] danlister opened #794 "TerraformTaskV1: Unable to select an Azure RM Service Endpoint connected to a Management Group"
So when selecting a Service Endpoint to use when using TerraformTaskV1, I am unable to select a Service Endpoint which is connected to an Azure Management Group. Should this be a valid option? If so, it would be lovely to have an option to deploy with a Service Principal connected to a Management Group.

[2020-03-23 14:19] martinohansen commented on #675
Hi @eaarora-ms,

I'm having the samme issue also on IIS7, please find pipeline log with debug turned on below.

[code]

[2020-03-23 16:37] Roshan-Kumar-Microsoft commented on #788
@fajanssen In current task we are not supporting terraform version as input . We are marking this as enhancement.

[2020-03-23 16:48] Roshan-Kumar-Microsoft commented on #792
@sriramdasbalaji  Can you please clean task file from agent and try to re-run it ?

[2020-03-26 19:40] dvmorris opened #795 "Error Authenticating to GCP in TerraformTaskV1"
I am able to use TerraformTaskV1 with a GCP Service Connection successfully, but when I also have a set of gcloud commands in my pipeline that also establishes an authenticated connection to GCP, the TerraformTaskV1 no longer authenticates in subsequent build tasks.

Download Secure File (GCP Service Account JSON Key File)

bash Task Step

[code]

Terraform Task Output

[code]

To reiterate, the T

[2020-03-27 21:02] skaminski23 opened #796 "terraform - no support for workspaces"
There is no support for terraform workspaces.  Also really unclear why the pipeline has anything to do with statefile management.

Typically you have 1 pipeline across multiple environments and different config parameters per environment so your using the same process.

https://www.terraform.io/docs/state/workspaces.html

[2020-03-28 10:38] guojian83 commented on #796
I had the same issue earlier. Here is the workaround:
https://github.com/microsoft/azure-pipelines-extensions/issues/722

[2020-03-30 18:55] jeffpatton1971 commented on #792
We are experiencing this issue as well, what we have noted is that the task runs find on Windows Server 2016 but fails with Windows Server 2019. It appears the underlying issue has something to do with mklink. Initially we thought perhaps mklink wasn't available in 2019, but it was, then we attempted to replicate the issue, but running mklink manually created the directory symlink just fine. Addit

[2020-03-30 18:55] jeffpatton1971 commented on #792
Also this appears to potentially be a bug.

[2020-03-31 05:27] sriramdasbalaji commented on #792
Hi @jeffpatton1971 ,

The issue got resolved for me after Uninstalling and reinstalling the Terraform extension.

[2020-03-31 13:48] jeffpatton1971 commented on #792
@sriramdasbalaji can you elaborate on this at all? How would that resolve the issue? Does the extension not know how to update itself?

[2020-03-31 13:57] sriramdasbalaji commented on #792
Hi @jeffpatton1971 ,

Yes, In my Organization it didn't get updated automatically to latest version. PFB Image for your reference
![image](https://user-images.githubusercontent.com/13716984/78034431-5ad56300-7385-11ea-98d4-690ed4a08b64.png)

On Dec 18 it's updated to 0.1.7. But On the same day 0.1.8 also published
![image](https://user-images.githubusercontent.com/13716984/78034585-8f491f00-7385-1

[2020-03-31 14:02] jeffpatton1971 commented on #792
@Roshan-Kumar-Microsoft can you confirm what the current release version is? I have the same version that @sriramdasbalaji appears to have and i'm facing the issue that i described above.

[2020-04-02 15:04] rofehaim opened #799 "Task log is messy with asterisks"
![image](https://user-images.githubusercontent.com/10534113/78264791-4a9bc000-750c-11ea-83a8-d71a0cf380be.png)

[2020-04-05 17:44] 20shivangi commented on #520
Please share debug logs by setting system.debug to true in pipeline.

[2020-04-06 20:20] deadlydog opened #803 "Pwsh does not output errors when ErrorActionPreference is set to Stop"
When using Pwsh and the `ErrorActionPreference` is set to `Stop`, the error text is not written the log.

As a quick and easy example, this is the yaml task I've included in the pipeline:

[code]

This is the output given when using Windows PowerShell:
![image](https://user-images.githubusercontent.com/1187140/78600903-0ad91f00-7811-11ea-9c00-165163778fef.png)

When enabling PowerShell Core the ya

[2020-04-07 01:21] johnnyhuy commented on #780
Yep, I'm getting a similar error. I suspect the task is refusing to get stdout of the script it runs.

[2020-04-07 01:21] SteveL-MSFT commented on #803
If you do:

[code]

Does the error message show?

[2020-04-07 16:35] deadlydog commented on #803
Hey @SteveL-MSFT , thanks for responding :)

Yes, adding `$ErrorView = "NormalView"` does indeed seem to fix the issue.

I also updated my original post to include a bit more info. It seems this bug only exists on Windows and not Ubuntu.

Hopefully that gives you enough info to track down and get the breaking change fixed 👍

[2020-04-08 07:43] chroustm commented on #520
Sorry, can't do that.
We modified our pipelines to use a script instead of the "official task" to get around the problem. And all old releases where we tried to figuere out the problem (with system.debug = true) are already gone...

________________________________
Von: 20shivangi <notifications@github.com>
Gesendet: Sonntag, 5. April 2020 19:44
An: microsoft/azure-pipelines-extensions <azure-pipe

[2020-04-08 20:39] SteveL-MSFT commented on #803
@deadlydog thanks for the confirmation.  Could you do one more thing to help diagnose this?

[code]

I'm thinking that the ConciseView formatting script has an issue in this environment.  `Get-Error` will get more information so I can inspect the code to see where it might be failing.  Note that we've already made a fix for some cases where the error message doesn't show so this might already be f

[2020-04-08 20:43] deadlydog commented on #803
Sure. Here's the new yaml:

[code]

and the output:
![image](https://user-images.githubusercontent.com/1187140/78831653-3988fe00-79a7-11ea-926c-18c6c8677a76.png)

Looks like no error details again.

Thanks @SteveL-MSFT !

[2020-04-08 21:47] SteveL-MSFT commented on #803
@deadlydog thanks for trying that, too bad there isn't more info which is now equally perplexing.  Can you try one more thing?  Use the example in this [gist](https://gist.github.com/TylerLeonhardt/aeda3dbf5b1854736fe8e1ada2e143dc) to deploy the daily build off master branch to see if we've already fixed this in 7.1.  Thanks.

[2020-04-08 23:07] deadlydog commented on #803
Alright, I updated the yaml to this:

[code]

And it looks like using the latest PowerShell 7 does indeed fix this issue 🎉
![image](https://user-images.githubusercontent.com/1187140/78841722-57605e00-79bb-11ea-92dc-d094c3b8c521.png)

Thanks @SteveL-MSFT 👍

[2020-04-08 23:27] SteveL-MSFT commented on #803
@deadlydog awesome!  In this case, I would suggest waiting for our 7.0.1 servicing release as I believe this is already fixed.  Thanks for your help!

[2020-04-14 08:01] ricohomewood commented on #756
@Roshan-Kumar-Microsoft @arjgupta Is there any update on this? This is more a bug then an enhancement as you cannot terraform apply in this state hence being a blocker.

[2020-04-15 15:05] BlackyTheDruide commented on #704
Hi,

I have the same Problem. The error seems to be on the mentioned file.

https://github.com/microsoft/azure-pipelines-extensions/blob/76d1a318faaa6191d84240f3f28a4954604e0f5b/TaskModules/powershell/TaskModuleIISManageUtility/AppCmdOnTargetMachines.ps1#L618

The Method Test-Path is used without the $physicalPathAuthenticationCredentials.

https://github.com/microsoft/azure-pipelines-extensions/b

[2020-04-15 19:19] tscully49 opened #805 ""Waiting for console output from an agent...", but no console logs"
Often times when we are using the apply action from the extension, we don't see any terraform logs but we only see "Waiting for console output from an agent...".  We aren't sure if it's something we are doing wrong, but I'm wondering if this is normal behavior.  I would expect to see logs as terraform outputs them, but sometimes we see logs and other times we don't.  Sometimes it takes until the t

[2020-04-19 00:04] tezzigator opened #807 "Backend config: differences between using this in Devops versus actual tf file?"
So normally in a tf file for the terraform block you'd configure the backend you want to use.  For example, to store your terrafom state in an azure storage account container, you might use something like this inside your .tf file:

[2020-04-20 10:01] DanielLarsenNZ opened #808 "terraform plan: Save human readable plan to file"
It doesn't seem possible to write the human readable output of `terraform plan` to a file using this Task. For example, this does not work:

[code]

It would be super helpful if we could output the human readable plan to a file.

[This code](https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformTaskV1/src/base-terraform-command-handler.ts#L189)

[2020-04-20 21:06] thejanek commented on #748
So everything is deployed correctly but design of Terraform modules usage don't expect to use more then one a provider block - even if it will be inheritance...
Please Hashicorp - fix that.

[2020-04-21 21:13] kalis777 opened #809 "Terraform init error"
I am getting the below error and it is not very helpful to see what exactly is wrong.

2020-04-21T21:02:57.1529043Z ##[section]Starting: terraform init
2020-04-21T21:02:57.1684142Z ==============================================================================
2020-04-21T21:02:57.1701630Z Task         : Terraform CLI
2020-04-21T21:02:57.1719174Z Description  : Execute terraform cli commands
2020-04

[2020-04-22 04:51] chshrikh commented on #809
unrelated to this repo, please post the question to correct forum, we dont own this task

[2020-04-22 04:51] #809 closed

[2020-04-24 13:41] techgod-kr opened #810 "Backend Config: Option to NOT inject -backend-config credentials"
Feel like I am missing something simple.
We want to be able in our CI pipeline to basically init & plan,  then zip the directory for release in a CD  pipeline, but not have to re-init on the CD pipeline.  The issue is the init is correctly using the service connection and sets the ARM_* environment variables, BUT it also passes these into the backend as command line options, which causes the secre

[2020-04-28 17:25] nadcraker commented on #281
I am having this issue as well. How can you deploy to just a single target? All I can select are deployment groups, which means all I can use is verison 0.* of this task.

[2020-04-28 18:09] chrisjaimon2012 commented on #748
Please fix this issue with multiple providers. We are blocked. Does anyone have any workaround to this?

[2020-04-28 20:52] thejanek commented on #748
In Azure DevOps above issue makes only like one previously said "it makes a lot of noise in logs" but that is only warnings and pipeline is working ok.

[2020-05-01 18:49] AntonChernysh commented on #748
@thejanek True. Though it has to be fixed. This issue should be re-opened.

[2020-05-04 15:19] dcfsc commented on #748
Consider the case where I lookup a user using the `azuread` provider,

[code]

and then apply a role assignment using `azurerm` provider.

[code]

Currently I believe there is no way to do this, except split the project into two, pull the ids in the first run, store them in remote state, or in a pipeline-specific variable, and the build in the second run.  Not pretty.

[2020-05-04 19:59] dcfsc commented on #807
When I specify a backend, I see warnings about duplicate providers. But I am also using the `azuread` provider, so that may be the reason, that also may force us into not using the standard Terraform tasks for AzDO.

I don't provide any backend, and the configuration in the pipeline provides the backend code in the back door somewhere.

This is a problem when running the project as a developer (wi

[2020-05-06 13:30] mluening opened #813 "Stop AppPool - Environment Block [...] cannot be longer than 65535bytes"
hello guys,

i often get the problem that the task "WinRM - IIS Web App Management" which is normally used to stop my app pools runs into an exception as you can see in the log file:
"[error]Unable to find type [VstsTaskSdk.TerminationException]"

it seems that the environment variables are too long because of 35 build artifacts.
is there any solution for this problem?

[tasklog_38.log](https://gi

[2020-05-06 18:17] JamesInDenver opened #814 "Escaped characters in passwords (IIS Web App Deployment Using WinRM)"
Passwords that contain $ are being escaped when set in IIS.

I'm using v3 of IIS Web App Deployment Using WinRM to configure an app pool on a set of servers from a release.  I have a secure variable in the release for the app pool password:
somepass$notavar#morepass

The IIS Web App task sets the app pool password to:
somepass`$notavar#morepass

[2020-05-07 09:43] hdpoe commented on #780
I also spent several hours trying to solve a nonexistent problem with my agent before realizing  I had a slight typo in the working directory name.

Had the following error in the debug logs. Please either fix or document this.
[code]

[2020-05-10 16:39] romil07 commented on #713
This had been fixed in a later version of the extension. Closing this here.

[2020-05-10 16:39] #713 closed

[2020-05-11 07:15] eaarora-ms commented on #805
Hi @tscully49 ,
This is normal behavior. Normally the logs pop up after the completion of the pipeline. If you want to see detailed logs please set "system.debug" as true in pipeline variables and re-run the pipeline. Please comment if you have any other question.

[2020-05-11 07:15] #805 closed

[2020-05-11 07:18] eaarora-ms commented on #520
Hi, the issue is due to parallel deployments that might be taking place which results in locking the config file.  We will add the feature request of retrying the deployment to our list of enhancements.
Thanks for reporting this.

[2020-05-11 09:00] chroustm commented on #520
Interesting, that was my fist thought also but....
we definitely did not have a second deployment running (only one agent installed) and no open MMC or connection otherwise. Only cure was waiting and retying and sometimes an "iisreset" command solved the issue.
As I said before, we replaced the task with a custom powershell, so I can't reproduce the problem.

[2020-05-11 10:42] paul-haigh opened #815 "Support terraform import command."
Currently import isn't a valid option in the terraform extension.

Due to a bug in our marketplace image, we need to complete an apply, wait for it to fail, then import the finished item.

We don't need anything complicated for import commands, just let me provide a command line set of arguments.

Thanks

[2020-05-12 10:04] LukvonStrom opened #816 "State of Terraform is not syncing to AWS S3"
Dear Azure DevOps Development Team,
I tried to setup the Terraform Extension to deploy terraform to my AWS environment.
Unfortunately it seems like the extension is unable to sync the state with S3.

Pipeline Configuration:
[code]

Logs indicating that the state can't be found (from the plan command):
[code]

The service connection:
![image](https://user-images.githubusercontent.com/8446619/816708

[2020-05-13 05:49] LukvonStrom commented on #816
Ok, I fixed it by adding
[code]
to my terraform file. But I think this is not documented enough - initially we thought the extension was taking care of the syncing without any further configuration on our side.

[2020-05-13 06:31] eaarora-ms commented on #816
@LukvonStrom Glad to know you were able to solve the issue. We will definitely take note of this and add it to our documentation. Thanks for reporting this.

[2020-05-13 06:31] #816 closed

[2020-05-13 06:35] eaarora-ms commented on #815
Hi, @paul-haigh  Thanks for reporting this. We will add this feature request to our list of future enhancements.

[2020-05-13 06:47] eaarora-ms commented on #814
@JamesInDenver Can you please try giving your password within double quotes and let us know the output?

[2020-05-13 14:42] JamesInDenver commented on #814
Hi @eaarora-ms,
Given my test password of:
somepass$notavar#morepass

Using double quotes when storing the secure variable I get:
`somepass`$notavar#morepass`

So I guess it replaced the quotes with backticks?

I happened to have an older pipeline using version 1 of the WinRM task, and it was setting the same password correctly.  It showed the behavior of my original post once I updated it to v2.

[2020-05-14 13:06] derhally commented on #764
I ran into this today.  We do not require a AWS connection to specified because the agent assumes a role.

[2020-05-15 14:10] krilbe opened #817 "Manage IIS Webite task should not hardcode certstorename=MY"
Please refer to this post:
https://developercommunity.visualstudio.com/content/problem/239273/iis-webapp-manage-release-task-uses-wrong-certific.html
I agree and was just "bitten" by this.

[2020-05-18 09:28] akhileshnirapure commented on #794
@Roshan-Kumar-Microsoft is their an ETA on the enhancement? we too are heading in this direction. The only workaround which the task forces us to create "service connection" in ADO with scope as "Subscription" can you comment if this is a viable approach?

[2020-05-20 08:21] eaarora-ms commented on #814
@JamesInDenver
We do that to escape them while executing PowerShell script. Source:
https://github.com/microsoft/azure-pipelines-extensions/blob/76d1a318faaa6191d84240f3f28a4954604e0f5b/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppDeploy/IISWebAppDeployV2/DeployIISWebApp.ps1#L22

However we escape special characters even in V1:
https://github.com/microsoft/azure-pipelines-extensions/blob/76d1a318

[2020-05-20 14:23] terminalstderr commented on #747
Same issue here, with a very basic pipeline that uses an Azure Storage Account for its backend (tfstate file). **As a result, this plugin has no value to users who want to use the AzureRM "Storage Account" backend at this time.**

I've captured the simplest example I could imagine in [my azdevops-terraform-plugin-tinker github repository](https://github.com/terminalstderr/azdevops-terraform-plugin

[2020-05-20 15:26] terminalstderr opened #820 "TerraformTaskV1: Unable to use AzureRM backend (for tfstate file)"
With a very basic pipeline that uses an Azure Storage Account for its backend (tfstate file), I see the following error.

[code]

![image](https://user-images.githubusercontent.com/2552438/82458595-b5c53580-9a6b-11ea-9d71-d3e4e8182c81.png)

I've captured the simplest example I could imagine in [my azdevops-terraform-plugin-tinker github repository](https://github.com/terminalstderr/azdevops-terraf

[2020-05-22 05:16] eaarora-ms commented on #814
@JamesInDenver Can you provide us logs with both V1 and V2 so that we can figure out what is happening? Please add pipeline variable system.debug as true, and re deploy the pipeline, download as zip and please attach here.

[2020-05-22 13:51] JamesInDenver commented on #814
Ok, with this random password:
-> SFeLCYzRPeoWa784vgil
Both  v1 and v2 worked fine.

Adding a $ in it:
-> SFeLCYzRPe$oWa784vgil
v1 works, and v2 sets app pool to:
-> SFeLCYzRPe`$oWa784vgil

Here's the logs for both runs:
[v1RunWith$.zip](https://github.com/microsoft/azure-pipelines-extensions/files/4668395/v1RunWith.zip)
[v2RunWith$.zip](https://github.com/microsoft/azure-pipelines-extensions/file

[2020-05-26 18:25] larsmaes opened #821 "Support taint command"
I want terraform to perform a slot swap with a azure web app. To perform this i have to taint a resource.

Currently the taint command is not supported

[2020-05-26 20:09] iamsoorya opened #822 "Terraform fails with to be managed via Terraform this resource needs to be imported into the State. Please see the resource documentation for "azurerm_resource_group" for more information"
With AzureRM 2.x, we get the below error for any pipeline :
0Z [1m[31mError: [0m[0m[1mA resource with the ID "/subscriptions/4c1xxxxxxxxx1ee-8e0d-7acf7e9a55e8/resourceGroups/rg-imo-weu-lgr-qa-1" already exists - to be managed via Terraform this resource needs to be imported into the State. Please see the resource documentation for "azurerm_resource_group" for more information.[0m
2020-05-26T

[2020-05-27 13:19] ttjackott commented on #748
What confuses me is that this warning shows up even **if you only have 1 provider block in the root module**. My child modules don't have any provider blocks in them, so not sure why this warning shows every time.

[2020-05-29 21:05] larryclaman commented on #748
I am also seeing this erroneous warning, and I only have 1 provider block in my config.

[2020-05-31 08:36] noelmul2 opened #823 "Terraform "SSL certificate problem: unable to get local issuer certificate" with external module source using internal CA"
## Issue description
Azure DevOps Server 2019 installed on a Windows 2016 server has a pipeline setup to checkout a git repo from a GitHub Enterprise server that uses an internal CA issued ssl certificate and then run Terraform tasks. The Azure DevOps agent being used is running from the Azure DevOps Server for testing purposes. The agent is installed with the “–gituseschannel” parameter so that t

[2020-06-01 18:07] larryclaman opened #824 ""[warning]Multiple provider blocks specified" even if 2nd provider is simply "random""
I'm using a single cloud provider (AzureRM), but I'm also using the terraform random service.   The Azure DevOps Terraform task is throwing the error "[warning]Multiple provider blocks specified" even though I only have one real provider.
While I realize this is a spurious warning and it doesn't seem to affect functionality, it could cause unnecessary time to be spent by developers trying to chase

[2020-06-02 06:57] BlackyTheDruide opened #825 "IIS Virtual Directory Update not using credentials in file AppCmdOnTargetMachines.ps1"
Since that the issue #704 is closed but still exists I opened a new one. I have fixed that mentioned issue in pull request #806.

More details on Issue comment: https://github.com/microsoft/azure-pipelines-extensions/issues/704#issuecomment-614095302

[2020-06-02 08:04] noelmul2 commented on #823
I have done more testing and it seems if I try to to a invoke-webrequest using the powershell task I get the same issue with certificates. It doesn't make sense since the agent connects to the same GitHub Enterprise url at the start of the pipeline job to get the source code without issues but then both powershell and terraform have certificate errors when trying to connect after that.

[2020-06-02 08:43] noelmul2 commented on #823
I have tested this using a powershell task that runs "invoke-webrequest" to the same URL and it works fine so I am not sure whats different about how Terraform runs that it is not trusting the Windows Certificate store even though the agent does.

[2020-06-05 03:36] asranja commented on #825
Thanks for raising the PR. We will take a look and get back.

[2020-06-05 05:41] Roshan-Kumar-Microsoft commented on #824
This is by design .

[2020-06-05 05:42] #824 closed

[2020-06-05 09:50] RS1989 commented on #822
I had the same issue
Had solved it using terrafom backend config with access key to blob

[2020-06-07 19:01] jhuitu commented on #723
I still have the same issue:
When selecting the Task-version from Azure DevOps-end to 1.* then the response is the following:
Version      : 1.150.2
				Response Code: OK
				Response: {"result":{"number":"FICHG000XXX","state":"Implement"}}
--> and then approval gate is succeeded.

But when I'm using the Task-version 2.* the response is following:
Version      : 2.161.0
				Response Code: OK
				R

[2020-06-09 20:42] iamsoorya commented on #822
We are repeated getting the state issue. We have stayed away from updating to AzureRM 2.0
Do we need to buy licensed version of Terraform to make this work?

[2020-06-10 18:03] wesleycamargo opened #828 "Link in Azure DevOps Task is incorrect"
When you click on the task help, the link to documentation it's incorrect.

![image](https://user-images.githubusercontent.com/897126/84302156-46eb7180-ab2b-11ea-91e7-9fd9642646b6.png)

[2020-06-11 20:42] NArnott opened #829 "Cancel TF Apply breaks state"
When running terraform from the CLI, and I hit Ctrl-C, is gracefully exists the process and still updates the state based on the progress of the update.

However, if I cancel the TF Apply task from DevOps while it's running, it kills the process immediately and doesn't let it exit out on it's own, breaking state.

I'm using AWS and an S3 bucket for state.

[2020-06-11 22:38] asranja commented on #813
Yes you are correct, having a large number of build artifacts adds a lot of environment variables for each artifact. The error is thrown by PowerShell process while trying to execute the task when the env variables size cross the limit.

Currently we do not have a proper solution for this other than reducing the number of artifacts.

[2020-06-16 07:03] slawchod opened #830 "Terraform Plan/Apply unable to read state file from another subscription"
Hi,

We have created central storage account in separated subscription to store state files in secure location. In single stage we have terraform init which is using service connection A to subscription A (for backend setup) and in next step we are having terraform plan or apply with service connection B to subscription B. Addition SPN under B has rights to storage account from A.

Such setup was

[2020-06-23 10:10] avanifutane opened #831 "Terraform error: An argument named "activities_json" is not expected here"
I am using terraform version 0.12.26. While creating an azure data factory pipeline terraform gives an error.

`Unsupported argument.
An argument named "activities_json" is not expected here`

Can anyone please share how can we specify the activities_json block.

Thank you for the help.

[2020-06-23 17:40] dotnetcanuck commented on #748
@Roshan-Kumar-Microsoft This issue should be re-opened. Like @ztbrumbaugh said, this warning appears when using a single provider in multiple modules, even if there's _only a single provider block_ across all `.tf` files.

In the following example from my pipeline, the warning is erroneous, because there's only one provider block in the entire repo. The whole point of modules is to minimize code d

[2020-06-26 16:00] didaskein opened #832 "TerraformTaskV1 : Unable to set backendServiceArm with a variable coming from variable group or template import"
All variables are working in the task below except **backendServiceArm** :

[code]

Syntaxe try:
-  **${ServiceConnectionNameTerraform}**    Not Working
![image](https://user-images.githubusercontent.com/13362276/85876231-b2913800-b7d5-11ea-8a47-d5ec13484565.png)

-  **${{variables.ServiceConnectionNameTerraform}}**    Not Working
![image](https://user-images.githubusercontent.com/13362276/8587604

[2020-06-29 12:25] #831 closed

[2020-07-01 14:45] cuzza0 commented on #794
Have also come against this exact same problem. The issue seems to be in azure-terraform-command-handler.ts at Line 17 it retrieves the subscriptionId for the backend connection using getEndpointDataParameter but for a Service Connection with the scope Management Group like you and I had configured, that parameter does not exist.

[2020-07-01 14:49] cuzza0 commented on #830
@slawchod Are you able to detail the workaround you have in place? I am having a similar issue, would be good to see what options there are.

[2020-07-02 08:05] slawchod commented on #830
Hi @cuzza0,

No problem. So in Azure DevOps within terraform init you are specifying all terraform backend details. Previously it was sufficient for terraform plan/apply, so in code it was like that:

[code]

Now, when terraform backend settings from Azure DevOps are not taken fully from init to plan/apply I've changed code to include subscription details in backend config in the code as well:

[c

[2020-07-02 08:46] didaskein commented on #832
It's working if it's in the root level of de pipeline.
**It's NOT working when it's a variable group or template import at stage level (DEV for example)**

[code]

[2020-07-02 19:46] Roshan-Kumar-Microsoft commented on #828
Updated link and fixed https://aka.ms/iiswebappdeploydeprecatedreadme

[2020-07-02 19:46] #828 closed

[2020-07-03 13:40] Hkyx commented on #785
@Roshan-Kumar-Microsoft  any news about this fix ?

[2020-07-07 14:24] TeaEnthusiast opened #833 "Clarification on HttpRequestChain functions"
Hi,

I'm currently writing a HttpRequestChain task and I was looking at the following source code: https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/CopyStageVariableToReleaseVariable/Src/Tasks/CopyAgentlessJobVariableToReleaseVariable/task.json#L59

It uses two functions: `addFieldToJsonAndSerialize` and `addObjectToJsonAndSerialize`. However these aren't documented a

[2020-07-07 15:32] lyona commented on #820
a couple of things I've noticed which might help:
- you only need to specify the backend parameters in the `terraform init` step. Once it's initialised you don't need to use them again in the `plan`
- the `plan` step is missing the service connection parameter `environmentServiceNameAzureRM: 'my_azure_service_connection_name'` - this is what it appears to be complaining about. Without this it won'

[2020-07-10 12:03] Lahiri commented on #783
Same for ARM Template WhatIf.
This is a really important feature for Infrastructure-as-Code in general, in my opinion.

[2020-07-10 14:55] 5m1 opened #834 "Terraform provider for alicloud"
Hi there,

As terraform supports to deploy resources on alicloud, but seems like alicloud doesn't exist in the provider list of Terraform extension. Currently we want to reuse our Azure DevOps instance to deploy resources on alicloud via terraform, is there any plan to make it happen?

[2020-07-13 09:17] b4rd commented on #829
Can the TF task do anything about this? I experienced the same with the AzureCLI task in DevOps .
It seems like DevOps doesn't interrupt the process correctly. :|

[2020-07-15 11:14] theadzik commented on #748
`├── provider.azurerm ~>2.16.0
├── module.core
│   └── provider.azurerm (inherited)
├── module.serverless
│   └── provider.azurerm (inherited)
└── module.storage
    └── provider.azurerm (inherited)

##[warning]Multiple provider blocks specified in the .tf files in the current working drectory.
`

Terraform v0.12.28

[2020-07-20 15:02] clcpolevaulter opened #839 "Can you use Terraform Extension for Azure DevOps WITHOUT a service connection?"
We are trying to utilize [Terraform Extension for Azure DevOps](https://github.com/microsoft/azure-pipelines-extensions/tree/master/Extensions/Terraform/Src) to create AWS resources. We are using self-hosted agents running as EC2 in the account we want Terraform to act in. Is there a way to get Terraform to use the EC2 Instance Metadata of the host EC2 instead of a service connection?

Note: this

[2020-07-20 15:23] clcpolevaulter commented on #839
It looks like [backendServiceAWS is required](https://github.com/microsoft/azure-pipelines-extensions/blob/f5d53b9bd12e2b5da6a0f86aa47416decf174d4a/Extensions/Terraform/Src/Tasks/TerraformTaskV1/src/aws-terraform-command-handler.ts#L21) and is utilized to [set some of the backend config](https://github.com/microsoft/azure-pipelines-extensions/blob/f5d53b9bd12e2b5da6a0f86aa47416decf174d4a/Extension

[2020-07-20 15:24] clcpolevaulter commented on #839
It looks like if we store the statefile somewhere else it *might* work.

[2020-07-20 17:59] thfsilvab commented on #520
Any news on this? It's frequently happening for us.

[2020-07-22 19:43] hunterwerlla commented on #839
For the [AWS Toolkit for Azure DevOps](https://github.com/aws/aws-toolkit-azure-devops) we support this use case by making the authentication optional. It would make sense to make provider optional/add a noop "Environment" option, so if the machine already has credentials, they can be used.

[2020-07-27 00:54] bkarlen opened #840 "Terraform Apply stalling out"
My tf configuration is correct, this was working until friday morning, and now it just stalls until the build agent cancels it.

data.azurerm_resource_group.rg: Refreshing state...
azurerm_log_analytics_workspace.lawsql: Creating...
azurerm_storage_account.sasql: Creating...
azurerm_log_analytics_workspace.lawsql: Creation complete after 4s [id=/subscriptions/xxxxxxxxxxxxxxxxxxxxxxxxxxxx/resourceg

[2020-07-27 06:38] schmocker commented on #785
any news about this fix ?

[2020-08-03 17:09] mmaravidal commented on #749
Hello @Roshan-Kumar-Microsoft ! I think I'm facing this issue too, but when trying to terraform apply a dependent infrastructure:

I have a deployment of shared infrastructure working well but then fails it's dependent infrastrcuture with:

With _common_ infrastructure, **terraform init** with arm_x parameters works:
![image](https://user-images.githubusercontent.com/18414734/89208451-abbbc900-d5b

[2020-08-04 15:12] mmaravidal commented on #749
Never mind! It worked at last! :)

[2020-08-05 18:49] Dejulia489 commented on #833
+1
https://github.com/microsoft/azure-pipelines-tasks/issues/11720

[2020-08-11 02:51] 5m1 commented on #834
Hi there, wondering if there's any update or plan to support this provider?

[2020-08-12 14:32] uttaradeshmukh opened #843 "Error while installing Terraform on on prem TFS 2017"
Following errors were found in endpoint contributions: Authentication schemes ms.vss-endpoint.endpoint-auth-scheme-JWT, are not valid

I am trying to install Terraform on my on premise TFS 2017 update 2. but while installing I get the above error.

![image](https://user-images.githubusercontent.com/69590961/90027875-a5250400-dcd6-11ea-8466-47b47a9cd968.png)

[2020-08-12 23:24] JamesInDenver commented on #814
Hi, has there been any movement on this?  This bug just bit me during a production deployment with a set of accounts that I hadn't scrubbed of dollar signs.  Thanks.

[2020-08-13 09:06] tormodsrbank commented on #749
@mmaravidal  What did you do to get it working? I am facing the exact same problem..

[2020-08-14 01:24] arjgupta commented on #839
@N-Usha to look into this enhancement request.

[2020-08-14 05:18] chshrikh commented on #843
this is not supported with TFS 2017 U2

[2020-08-14 05:18] #843 closed

[2020-08-16 00:14] Cavorter commented on #832
In my project this works fine if you use a different variable syntax and change the input value to `'${{ variables.ServiceConnectionNameTerraformDEV }}'`

[2020-08-17 07:13] mmaravidal commented on #749
I did nothing in fact, but start working. Maybe it was a typo, I dont know...

My actual tf is like follows:

[code]

[2020-08-17 14:26] AmrutaKawade commented on #814
Both the logs seems to be for success scenario. can you share logs for 2nd scenario where you added $ sign and v1 succeeded and v2 failed?

[2020-08-17 15:05] JamesInDenver commented on #814
The logs are correct.  Both v1 and v2 successfully create and attach an application pool, in the sense that the tasks themselves run to completion and do not throw an exception.  However, v1 deploys with the correct app pool password and v2 deploys an escaped password which causes the app pool to fail to start.

[2020-08-17 20:56] paddywood opened #847 "Upgrading to terraform 0.13"
Since upgrading to the latest version of terraform 0.13, my pipelines are failing at the terraform plan step.

My pipeline fails with the following error:

**Could not load plugin**

On the next line in the pipeline logs:

**Plugin reinitialization required. Please run "terraform init".**

Terraform is initialized, and downgrading the terraform version to 0.12.29 fixes the issue.

TBH I am not sur

[2020-08-19 03:54] N-Usha commented on #839
@clcpolevaulter, Thanks for making this feature ask. While we acknowledge that this may be a feasible option for AWS deployments, we need to ensure optimal user experience for rest of the scenarios. We will surely consider this for future investments to enhance the extension. However we do not have any timelines to commit at this time given that we prioritize our investments by impact and severity

[2020-08-24 08:21] sheigel opened #849 "TerraformTaskV1: setting backendServiceArm to a service connection setup to use client certificate authentication does not work"
**Context:**
Service Connections support two types of credentials for SP: "Service principal key" and "Certificate".
Terraform supports authentication with both means as documented at https://www.terraform.io/docs/providers/azurerm/guides/service_principal_client_certificate.html

**Issue**
The task only supports the "Service principal key" by passing ARM_CLIENT_SECRET environment variable but the

[2020-08-24 14:38] julienym opened #850 ""features": required field is not set"
Az DevOps TF Extension: 0.0.142
Terraform 0.12.24
AzureRM provider: tested on 2.0.0, 2.9.0, 2.23.0

My code use an empty features block as required since 2.0.0+
But I get the error: "features": required field is not set

[2020-08-25 09:19] sonic1981 commented on #748
@Roshan-Kumar-Microsoft  Please re-read this issue and re-open. You have misinterpreted what has been said. I can also confirm this problem. The issue **isn't** that the OP wants multiple provider blocks it's that the OP has **one provider block** but the provider warns that there are multiple even when there aren't. so your response of:

doesn't make sense or address the issue being talked about.

[2020-08-25 16:59] CaptainStealthy commented on #748
At this point, no one from MSFT has replied to this thread in almost 9 months. It would probably be faster for someone to submit a PR to fix this.

I've done a search of the repo, and came up with two TypeScript files (one being the task itself, and another for tests) that contain the erroneous warning message with the typo.

I'm well-versed in TypeScript, but I know nothing about writing extensio

[2020-08-27 09:40] AThomsen opened #851 "IIS Web app Manage: cannot detect existing apppool, site and binding if they contains foreign characters"
Having a website with matching appool and bindings with names that contains foreign characters (in my case a danish "æ"), causes subsequent deploys to fail as the existing apppool, website and bindings are not detected and so the task tries to create these again.

It works for me by adding ` -Encoding ([System.Text.Encoding]::GetEncoding(1252))` to all `Invoke-VstsTool` calls in `AppCmdOnTargetMac

[2020-08-27 14:21] sonic1981 commented on #748
@chshrikh Looks like your the person who actually assigned this and the person who closed this (incorrectly, see above) hasn't actually logged into GitHub since January. Can you re-open/re-assign this issue?

[2020-08-31 10:15] AmrutaKawade commented on #849
Currently only "[Authenticating to Azure using a Service Principal and a Client Secret](https://www.terraform.io/docs/providers/azurerm/guides/service_principal_client_secret.html)" is supported

[2020-09-04 09:20] rami-o-hassan commented on #748
@CaptainStealthy Thanks for getting to the bottom of this. The regex used is very broad. In my case, I get the warning because my provider block has a   skip_**_provider_**_registration attribute. I think the solution is just to make the regex more specific.

[code]

[2020-09-04 14:25] CaptainStealthy commented on #748
@rami-o-hassan No worries. I've been too busy to look at creating a pull request for this. I noticed that one got created by someone else (https://github.com/microsoft/azure-pipelines-extensions/pull/852), but it really doesn't fix the problem that we're talking about.

Also, @chshrikh @nadesu @N-Usha, I don't necessarily agree with the `enhancement` label that's been applied to this issue - I wou

[2020-09-05 07:34] rami-o-hassan commented on #748
From a separation of concerns perspective, it shouldn't be really the responsibility of the task to do this check. The task's responsibility is to invoke a TF command. Validating the TF files in order to ensure that the command will work is much bigger of a responsibility. And there is much more to this than just counting the number of the provider blocks.

My suggestion is to remove this check al

[2020-09-06 03:57] CaptainStealthy commented on #748
@chshrikh @nadesu @N-Usha The above linked pull request (#852) by @sivapalan fixes this problem, but maintains the current state of the extension, whereby only a single extension *type* (e.g. Azure, AWS, GCP) is supported. But multiple instances of the `azurerm` provider, for example, should not throw this warning.

[2020-09-06 06:33] nadesu commented on #748
@CaptainStealthy - Dev who worked on this task earlier is on extended leave, sorry for the delay. We will prioritise it for the coming sprint

[2020-09-06 14:50] CaptainStealthy commented on #748
@nadesu Thank you for that...but all you need to do is review that pull request. :)

[2020-09-09 12:27] AmrutaKawade commented on #847
can you try to use terraform init task before plan command?

[2020-09-09 12:30] AmrutaKawade commented on #840
which terraform version are you using and which provider? if possible can you share tf configuration?

[2020-09-09 13:15] AmrutaKawade commented on #850
For which command are you getting this error?

[2020-09-09 16:01] julienym commented on #850
On the plan phase. I just tested with a new state file and its working, seam like there is a bug with our tfstate file... Any suggestion ?

[2020-09-09 17:25] AmrutaKawade commented on #850
How do you make sure that tfstate file is updated with latest state of your infra?

[2020-09-09 17:27] julienym commented on #850
![image](https://user-images.githubusercontent.com/10652969/92632468-0de4a980-f2a0-11ea-9da8-aaed2a656a6a.png)
The diff. in tfstates are mainly in the modules... which could have changed since the beginning...

I will try a TF refresh

[2020-09-09 18:04] bkarlen commented on #840
this was resolved, the issue was that the azure cache for creating the
server with the same name had it registered but was not creating nor
destroying it.

On Wed, Sep 9, 2020 at 7:31 AM Amruta Kawade <notifications@github.com>
wrote:

[2020-09-09 18:20] julienym commented on #850
Refresh doesn't work.... :(

[2020-09-09 19:12] julienym commented on #850
A refresh + adding/modifying the state works:
**"module": "module.keyvault",**
"mode": "data",
"type": "azurerm_resource_group",
"name": "this",
**"provider": "module.keyvault.provider.azurerm",**

I guess we change/move this into a module and that created the problem...

[2020-09-09 19:12] #850 closed

[2020-09-09 19:48] paddywood commented on #847
@AmrutaKawade. Thanks for the reply. I did run the terraform init. I solved the problem by destroying all my resources and deleting the remote storage. I then re ran the terraform and it worked as expected.
Cheers

[2020-09-09 19:48] #847 closed

[2020-09-10 03:10] AmrutaKawade commented on #840
It's nice to hear that your issue is resolved now. Closing this issue

[2020-09-10 03:10] #840 closed

[2020-09-10 07:27] neetu-khatra commented on #652
##[warning]Task 'Update AssemblyInfo' (1.2.0) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib
![image](https://user-images.githubusercontent.com/16982524/92694669-063b0880-f365-11ea-93e4-d8665dcd0c33.png)

Can't see any other version for update assembly info task. Please help with this.

[2020-09-11 09:27] julioas09 commented on #794
We also came across this. For enterprise wide deployments which commonly can span cross-subscription this is clearly needed.

[2020-09-11 09:32] julioas09 commented on #794
I'd say that is only a viable option if you are ok with having a Service Connection per subscription, and if your deployments don't span more than one subscription.
We tried creating a Service Connection at subscription scope, but with the underlying Service Principal having permissions at the Management Group level. Didn't work, it still only works in the subscription defined when creating the Se

[2020-09-11 14:04] DaveWall77 opened #858 "Unable to see S3 buckets in US-West-1 when using Terraform Task"
We've created several Service Connections that connect to AWS, all regions, but we're having an issue seeing S3 buckets in us-west-1 with AWS terraform service connection; i.e. no S3 buckets show in the drop down as select-able options. We've validated its not an issue with permissions or the service connection.

We're able to connect and view from local pc. We've tracked it down with what we beli

[2020-09-14 17:38] FilBot3 commented on #769
Any progress made on the documentation for this?

As a stop gap, until the documentation is properly updated, you can go into the Classic UI and generate a YAML pipeline and get the YAML output from that. It won't have any Stages or Jobs, but the person doing it should know enough that they can take it out and indent as needed.

[2020-09-15 17:41] NK74 commented on #738
Hi,
still not fixed

[2020-09-18 03:32] AmrutaKawade commented on #858
are you facing this issue for s3 buckets in one particular region or s3 buckets in any region?

[2020-09-18 11:27] DaveWall77 commented on #858
We were trying to stand up a BCP/DR instance in US-West-1, when we noticed S3 buckets do not show as selectable using the Terraform Task when they do exist.

We’ve tested more, from our Azure DevOps org, private orgs and noticed other regions aren’t showing S3 buckets either.

US-East-1 is working for us.

Thanks for the response.

David

From: Amruta Kawade <notifications@github.com>
Sent: Thursd

[2020-09-21 07:07] AmrutaKawade commented on #858
I am able to reproduce this issue. We will fix this. As a workaround to unblock you, can you type bucket name in that dropdown and check if that works?

[2020-09-21 08:08] AmrutaKawade commented on #788
@fajanssen are you still facing this issue?

[2020-09-21 08:14] AmrutaKawade commented on #674
@VincentLyu this is old issue and wanted to check whether you found the resolution or not?

[2020-09-21 09:32] didaskein commented on #832
At the end it's not a bug it's a feature from Azure Devops : **Azure Devops need to check all permissions at the beginning of the run of the pipeline.**
see related issue : https://github.com/microsoft/azure-pipelines-agent/issues/1307#issuecomment-690584752
So we need to get the service name from root variable file. **it's impossible to get the service name from environment variable file** :(

[2020-09-21 09:32] #832 closed

[2020-09-21 14:01] DaveWall77 commented on #858
Thank you Amruta. We have validated typing the S3 bucket into the field works. This is a valid work around for now. Thank you for your response and look forward to the enhancement.

Thanks,
David

From: Amruta Kawade <notifications@github.com>
Sent: Monday, September 21, 2020 3:08 AM
To: microsoft/azure-pipelines-extensions <azure-pipelines-extensions@noreply.github.com>
Cc: David Wall <david.wall

[2020-09-28 16:56] DenVifer opened #862 "Does Add-SslCert function work correctly with "netsh show sslcert" command?"
I have a problem with Azre DevOps Release pipeline which is similar to [this](https://github.com/microsoft/azure-pipelines-tasks/issues/13398) issue.

I was investigating this and found quite strange behavior on these lines of the [AppCmdOnTargetMachines](https://github.com/microsoft/azure-pipelines-extensions/blob/master/TaskModules/powershell/TaskModuleIISManageUtility/AppCmdOnTargetMachines.ps1

[2020-09-28 19:08] russellseymour commented on #734
I know this is an old issue, but I am having the same issue and seeing as this it is still Open I thought I would add to it.

I am seeing this error:

![image](https://user-images.githubusercontent.com/791658/94474532-b1511c00-01c5-11eb-825c-b5db7cc77e04.png)

I have been trying to figure this out all day but to no avail.

The code can be seen here - https://github.com/chef-partners/azuredevops-ch

[2020-09-29 07:37] russellseymour commented on #734
This only started happening when I updated the extension so it used `exec` as well as `execSync`

[2020-09-29 09:01] russellseymour commented on #734
I realised that after updating this issue, it was the wrong place

I have now logged an issue on the task library itself - https://github.com/microsoft/azure-pipelines-task-lib/issues/667

[2020-10-07 14:10] shabbir1679 opened #865 "Ansible task parameter, how to set the dynamic inventory inline to be executed explicitly?"
I get this error when I pass inventory.py --list in the content box

problem running /tmp/6943a603-2f2a-4d1a-834f-f12725cd6342inventory.ini --list

what is the proper way to pass the script explicitly to the Inline --> Dynamic Inventory --> Content box,

Thank you.

[2020-10-08 01:00] skylee91 commented on #166
Hi @chshrikh , is ` Encryption of web.config` still in the backlog now?

[2020-10-13 23:38] jonnychipz opened #866 "Terraform PLAN, VALIDATE, APPLY TFState file not being stored in Azure SA Container"
Even with the Azure Sub, SA, COntainer and Key name entered correctly, the Terraform PLAN, VALIDATE or APPLY commands all show the same error and not able to read the TSState file with the below Error/Warning. COde runs and deploys but obviously no state file is persisted and noting is in the storage account.

2020-10-13T23:31:34.0062891Z
2020-10-13T23:31:34.0063146Z ------------------------------

[2020-10-13 23:42] jonnychipz commented on #866
![image](https://user-images.githubusercontent.com/55880472/95927243-1f950180-0db6-11eb-9e8a-91852b2deef6.png)

[2020-10-15 16:03] faisaleem-na opened #868 "Problem with deploying to Azure China subscription"
I have an issue with the extension when running against a subscription in the China azure region.
The same deployment works fine when I use a storage account in any other tenancy but when I run it with the backend configured to the Azure DevOps service connection to the Azure China tenancy it fails with the below error

`Error: Failed to get existing workspaces: Error retrieving keys for Storage A

[2020-10-17 22:13] Romiko commented on #795
Hi,

I am having the same problem. I am using multistage pipelines and the second time I run init it fails.

Terraform init works in my validate step.
When I  try run init again in the plan step it fails with the same errors.

`
Starting: Terraform initialize
==============================================================================
Task         : Terraform
Description  : Execute terraform com

[2020-10-17 22:29] mathurk1 opened #870 "how to pass a list of double quoted strings as an azure pipeline variable input to terraform task?"
Hi Team,

I am trying to pass a list of strings as an azure pipeline variable to a terraform task.

I have a variable created for the pipeline called such that `ips = [\"1.1.1.1\", \"2.2.2.2\"]` and I can access this in the azure pipeline using `$(ips)`

I want to pass this variable as mentioned [here](https://www.terraform.io/docs/configuration/variables.html#variables-on-the-command-line) in the

[2020-10-17 23:17] Romiko commented on #795
I can get it working if I remove multi-stage pipelines.
Is it possible you can check if this extension is compatible with multistage pipelines? I think when you run multiple terraform inits, the terraform detects a backend change and wants to reinit and then cannot read the credential file.

So multistage pipelines seems to cause this.

[2020-10-20 15:48] gabrielmccoll opened #872 "Terraform Extension puts the AzureRM connection secret in plain text in the terminal"
- task: TerraformTaskV1@0
        displayName: 'init'
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(TerraformWorkingDirectory)'
          backendServiceArm: '$(ServiceConnection)'
          backendAzureRmResourceGroupName: '$(ResourceGroup)'
          backendAzureRmStorageAccountName: '$(ResourceGroup)'
          backendAzureRmContainerName:

[2020-10-20 17:49] gabrielmccoll opened #873 "Terraform Extension - pass git config for Init action?"
I have my terraform modules in a private Azure Devops git repo. (Repo A)
I build my IAC that uses those modules in a different private repo in same Project. (Repo B)
The build agent has authorization to it and the pipeline settings "authorization limited to Azure Repos" is unticked.

When I try to init a .tf in the pipeline, that references modules in Repo B. I get access denied when it tries to g

[2020-10-20 18:43] gabrielmccoll commented on #866
Just realised I have the same issue. I had to add a bash step in before the init as a work around. If that's any use for you.

[code]

[2020-10-21 04:59] n3rd253 commented on #787
The issue was opened in march and just now getting triaged after 6 months?  For shame

[2020-10-21 13:32] sefi-jwilliams opened #874 "Help text, not helpful. Whole package almost not helpful"
The help text : "Amazon Web Services connection for the terraform backend configuration.<br><br>Note: If your connection is not listed or if you want to use an existing connection, you can setup an Amazon Web Services service connection using the 'Add' or 'Manage' button." in [task file](https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/Terraform/Src/Tasks/TerraformTas

[2020-10-21 22:16] gabrielmccoll commented on #866
Heya, @jonnychipz  I actually had this happen with this AND the other TF extension.
They figured it out in about an hour though
You need to add the backend part into the config , like below.
I have the exact one below and that made the terraform.tfstate file show up.

[code]

[2020-10-22 07:43] jonnychipz commented on #866
AH ok so it has to be in the main.tf file as well! Great thank you I shall give that a go!!

[2020-10-23 10:37] julioas09 commented on #794
Hi! is there any ETA on this?
If this is not coming soon I'd need to implement a custom script to run terraform.
Thanks!

[2020-10-23 15:16] CaptainStealthy commented on #873
I worked around this problem by injecting the agent's access token into any TF files that reference our Azure DevOps URL.

I used PowerShell Core for this, which is supported on Linux, but you could probably write a bash equivalent if you prefer. 😀

[code]

[2020-10-23 22:16] gabrielmccoll commented on #873
Ahh nice one @CaptainStealthy
I'll be honest I've already got an extra step in that solves the problem but I'll potentially rob that for some pester testing I want to to do make sure people have version pinned the git url !

[2020-10-28 09:47] Roshan-Kumar-Microsoft commented on #872
@gabrielmccoll We are always mocking Secret . I tested with latest terraform version and we are mocking it .
Can you confirm are you using microsoft terra extension ? because on marketplace there are multiple terraform extension but we are releasing through Microsoft publisher
![image](https://user-images.githubusercontent.com/57892372/97419600-444db500-1930-11eb-987e-55e13b20da8f.png)

I tested a

[2020-10-28 09:49] gabrielmccoll commented on #872
Hi there. I only had one at the time which was the devlabs one so am pretty sure. I'm not back at work until Monday to check unfortunately. I switched to a different extension after I reported this because of this issue

[2020-10-29 23:15] chris-b-chalmers opened #876 "TerraformTaskV1@0 init without backendServiceArm using -backend=false"
I am looking to have a pipeline which only runs a Terraform install, Terraform init then Terraform validate. This works normally when I specify my backendServiceArm, backendAzureRmResourceGroupName, backendAzureRmStorageAccountName, backendAzureRmContainerName and backendAzureRmKey inputs.

    - task: TerraformTaskV1@0
      displayName: 'Terraform init'
      inputs:
        provider: 'azurerm'

[2020-10-30 12:36] Munkfeister opened #877 "Add Assume Role option to the Terraform AWS Service Endpoint"
Could the option to use Assume Role in the Terraform AWS service endpoint be added? Similar to the one in the AWS Toolkit: https://github.com/aws/aws-toolkit-azure-devops/blob/3960b636e234ccf94e948197fc1b27af72dbe32f/vss-extension.json#L202

[2020-11-04 20:04] kylelee24 commented on #748
Has this been fixed?

[2020-11-05 09:17] ipindersingh opened #878 "Not able to use Output variable in powershell task"
Hi, I see that we can provide the "Output Variable" in the task in the pre-deployment gate. Is there a way of getting the value in a powershell task?

To provide a context for it, I am working on a way to handle a failure scenario here.
let's say a release was unsuccessful, now the change request is required to be set to Unsuccessful state with the required information about the tasks from the rel

[2020-11-05 09:17] #878 closed

[2020-11-06 09:59] AmrutaKawade commented on #876
Currently its not possible. we will evaluate this suggestion.

[2020-11-06 10:09] AmrutaKawade commented on #872
@gabrielmccoll can you verify once?

[2020-11-06 15:44] sonic1981 opened #880 "Return a better error message for incorrect directory issues"
It seems that if you provide an incorrect `workingDirectory` in the task you get an error message:

This isn't exactly clear as to what the actual problem is. It would make more sense to return a message stating that this isn't a terraform directory or the like. The error you get from terraform in this scenario is:

Higlighted problem from this Stackoverflow question https://stackoverflow.com/ques

[2020-11-07 00:52] DoubleLoopAlex opened #881 "Docs say the Terraform Installer Tool's input key is "Version", when it is in fact "terraformVersion""

[2020-11-09 01:40] kgopi1 commented on #748
waiting the solution .. getting the same warning in Azure Devops pipeline only and not in the nornmal terraform plan.

[2020-11-10 10:42] AmrutaKawade commented on #868
Currently we are not taking ARM_ENVIRONMENT as input which can be set to China. https://www.terraform.io/docs/backends/types/azurerm.html. we will take this into consideration

[2020-11-10 10:43] AmrutaKawade commented on #674
Duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/868 closing this. will track will other issue

[2020-11-10 10:43] #674 closed

[2020-11-10 10:51] AmrutaKawade commented on #866
We are closing this since its resolved. Feel free to suggest if any changes required from our side

[2020-11-10 10:51] #866 closed

[2020-11-10 11:03] AmrutaKawade commented on #745
@13daysaweek sorry this is pretty old issue, just wanted to check did you get resolution?

[2020-11-10 13:17] 13daysaweek commented on #745
@AmrutaKawade I don't believe so

[2020-11-11 05:59] AmrutaKawade commented on #862
@DenVifer Feel free to raise PR if you know the solution. We highly encourage community contribution.

[2020-11-11 05:59] AmrutaKawade commented on #851
@AThomsen Feel free to raise PR if you know the solution. We highly encourage community contribution.

[2020-11-11 16:54] copjon commented on #738
Any movement on approving #863? It would be nice to stop getting deprecation warnings in my builds 😅

[2020-11-11 17:33] marchesir opened #882 "azdo terraofrm task: update deprecated arm warnings"
Hi,

AZDO terraform task (task: TerraformTaskV1@0) for azure has deprecated warnings for some time now.
["arm_subscription_id": [DEPRECATED] `arm_subscription_id` has been replaced by `subscription_id`
["arm_tenant_id": [DEPRECATED] `arm_tenant_id` has been replaced by `tenant_id`
["arm_client_id": [DEPRECATED] `arm_client_id` has been replaced by `client_id`
["arm_client_secret": [DEPRECATED] `ar

[2020-11-12 07:35] AmrutaKawade commented on #786
duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/882 closing this issue

[2020-11-12 07:35] #786 closed

[2020-11-12 07:36] AmrutaKawade commented on #738
duplicate of https://github.com/microsoft/azure-pipelines-extensions/issues/882

[2020-11-12 07:40] AmrutaKawade commented on #882
there is already PR raised for this https://github.com/microsoft/azure-pipelines-extensions/pull/863. but it would break for the users who are using older version of terraform < 0.12

[2020-11-12 08:05] fgiele opened #883 "IIS Web App Management - Using a password with caret (^) fails"
When using a password that contains a caret symbol, IIS Web App Management fails, since the password does not seem to get escaped when passed onto the commandline within the task.
The password is valid when in use with normal WinRM tasks, but the IIS Web App Management task seems unable to properly handle this special character. (It also has an issue with $)

[2020-11-12 08:28] AmrutaKawade commented on #881
Task description itself mentions that this task is for downloading specific version of terraform

and more info text specifies its version of terraform. I don't this its an issue.

![image](https://user-images.githubusercontent.com/65217380/98914503-c58b7700-24ee-11eb-943b-064cfddbc461.png)

[2020-11-12 08:28] #881 closed

[2020-11-12 08:36] fgiele commented on #883
Issue seems resolved with the new versions (user was still using the 1.* version, asked them to update to 3.*). The $ issue remains but has already been raised in issue #814 .

[2020-11-12 08:36] #883 closed

[2020-11-12 08:42] AmrutaKawade commented on #872
We verified this and its not getting logged. Feel free to reopen if you see this issue again with detail logs. Closing this issue

[2020-11-12 08:42] #872 closed

[2020-11-12 09:25] AmrutaKawade commented on #870
I am not able reproduce this issue. it getting passed like this for me
`C:\hostedtoolcache\windows\terraform\0.12.3\x64\terraform.exe plan --var-file variables/dev/dev.tfvars -var='allowips=[ 1.1.1.1, 2.2.2.2 ]'`

[2020-11-12 09:45] marchesir commented on #882
@AmrutaKawade great thanks, is it likely to get done soon?

[2020-11-13 12:09] jamesrodda opened #885 "IIS Web App Management 30 Second Delay"
This task uses the task module "RemoteDeployer" which was updated to reduce the delay from 30 seconds to 5 seconds as part of #639. This change has been incorporated into PowerShellOnTargetMachines as it uses the repo copy of the task. IISWebAppMgmt, however, uses the 0.1.0 version from powershellgallery.com.

Could either a new version be released to powershellgallery to allow IISWebMgmt to be up

[2020-11-13 14:43] mathurk1 commented on #870
perhaps because you are using a windows agent and I am using ubuntu?

[2020-11-18 07:33] BlueBasher opened #886 "Unable to detect if there are changes in Terraform"
It is not possible using the Terraform Task to determine if there are infrastructural changes that need to be applied.
This PR #856 fixes that.

[2020-11-19 13:44] dnh-developer commented on #814
I have just stumbled into exactly the same issue, passwords with $ sign in them are now being escaped with a back tick ` when I updated the Task Version from v1 to v3. Please fix this as v1 tasks are now showing as deprecated and are throwing warnings in my build pipelines and I cannot upgrade as I cannot change the passwords...

[2020-11-19 14:47] dnh-developer commented on #814
Looks to me like the issue is related to the introduction of the Escape-SpecialChars function in v2, in the Utility.ps1 file (https://github.com/microsoft/azure-pipelines-extensions/blob/master/Extensions/IISWebAppDeploy/Src/Tasks/IISWebAppMgmt/IISWebAppMgmtV3/Utility.ps1):

![image](https://user-images.githubusercontent.com/64267052/99681291-e0716480-2a75-11eb-98cc-4a118765bfc0.png)

Escape-Speci

[2020-11-20 11:58] DenWin commented on #780
I would assume the error comes from terraform cannot be executed in a directory that does not exist.

I would rather add an additional verification the working directory does actually exist!

[2020-11-23 19:44] phalecsjagboro commented on #281
Is there any chance this will be fixed, This is still a pain for me as we speak.

[2020-11-24 13:12] JoshStrauss commented on #520
any update?

[2020-11-24 21:00] richardgavel commented on #824
@Roshan-Kumar-Microsoft Can you clarify what you mean by "we are only supporting one provider block". Under what scenarios it is possible something won't work with multiple?

[2020-11-25 18:11] CaptainStealthy commented on #870
@mathurk1 Have you tried using multi-line syntax for passing the command options? I've found this makes code a lot more readable, and it reduces the complexity a lot for situations like this 😆

[code]

The other thing you could do is declare an empty variable in a `.tfvars` file and replace/inject the value using Bash or PowerShell in the pipeline, right before the Terraform tasks run.

[2020-11-25 18:20] CaptainStealthy commented on #886
This is awesome @BlueBasher, thanks so much!

Hopefully this PR gets looked at soon!

[2020-11-25 18:22] CaptainStealthy commented on #794
Can someone from the Microsoft team please comment on this? This would be a great thing to have

[2020-11-27 17:02] mathurk1 commented on #870
Thanks @CaptainStealthy, definitely makes the code more readable. However it does not resolve the issue I am facing.

The issue seems to be in how the TerraformTaskV1@0 parses double quotes in the  commandOptions arguments.
- it strips all double quotes (as you can see in @AmrutaKawade output)
- if the double quotes are preceded by an escape character like `ips = [\"1.1.1.1\", \"2.2.2.2\"]` then t

[2020-11-27 17:19] CaptainStealthy commented on #870
@mathurk1 Blegh... I was hoping my solution would solve the issue, lol. I haven't actually tried passing `-var=` command options like this, so I wish I could be of more help.

Is there a way you can put that variable into a `.tfvars` file instead? If the values need to be decided by the pipeline, you could keep the value in the `tfvars` file empty, and just before the TF steps, use Bash or PowerSh

[2020-11-29 22:50] mathurk1 commented on #870
Thanks for the suggestion @CaptainStealthy. If the values are directly injected in the `tfvars` file directly, I am sure that would work since we will bypass the need to pass double quoted strings.

[2020-12-03 14:45] AThomsen opened #890 ""ServiceNow Change Management" - cannot be used as Environment gate on Azure Devops Server 2020"
The extension [ServiceNow Change Management](https://marketplace.visualstudio.com/items?itemName=ms-vscs-rm.vss-services-servicenowchangerequestmanagement) can be used as an [environment gate](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/approvals?view=azure-devops&tabs=check-pass).

This works in Azure Pipelines (cloud) but not in Azure Devops Server 2020 . In ADO-Server Servic

[2020-12-04 00:29] cloudhubzawsaz opened #891 "Init command fails with - Error: Invalid backend configuration argument"
I am using the extension version 0.1.8 from the marketplace by MicrosoftDevLabs
My task looks as below :

- task: TerraformTaskV1@0
    displayName: 'Terraform - Init'
    inputs:
      provider: 'azurerm'
      command: 'init'
      commandOptions: '-input=false'
      backendServiceArm: 'service-connection'
      backendAzureRmResourceGroupName: 'Project-RG'
      backendAzureRmStorageAccountNam

[2020-12-04 00:34] cloudhubzawsaz opened #892 "Run terraform -chdir mydir init using the extension"
Hello team,

Is it possible to use task: TerraformTaskV1@0 to run the slightly different  command "terraform -chdir mydir init"

The extension gives me an error and says i can only run tf init, tf plan etc

[2020-12-04 08:01] cloudhubzawsaz commented on #891
The issue was due to backend type set to local in my .tf file.

[2020-12-04 08:01] #891 closed

[2020-12-04 11:05] rohit-batra commented on #890
cc @pavanvamsi3

[2020-12-04 11:10] pavanvamsi3 commented on #890
@shashban This feature is not available currently in Server 2020, what are your thoughts here?

[2020-12-04 11:23] pavanvamsi3 commented on #890
This was implemented after Server 2020, this will be available in the next Server release.

[2020-12-04 11:25] #890 closed

[2020-12-04 13:44] stortfordyaw commented on #866
Sorry i'm trying this and i'm still having trouble here. I've added the bash step as suggested to the pipeline file . However the TF plan stage still can't find the tfplan and the tf destroy fails if you rerun the job. Is there a proper fix coming?

![image](https://user-images.githubusercontent.com/68384726/101170669-b0f65680-3636-11eb-97a6-781aa6722437.png)

[2020-12-04 14:41] stortfordyaw commented on #866
thanks the Azurerm backend commentary fixed my issue

[2020-12-07 19:03] mrpolaris opened #893 "TeamCity Service Connection issue"
When running a release in azure devops server 2020 with a artifact as TeamCity you get the following error

2020-12-07T17:13:16.6313652Z ##[error]Downloading artifacts failed: System.AggregateException: One or more errors occurred. (You do not have permissions to perform this operation on the service connection. An Endpoint Administrator should add you to the Endpoint Readers group of this service

[2020-12-07 19:04] mrpolaris commented on #893
I am a full admin to the service connection

[2020-12-09 05:30] 20shivangi commented on #870
@mathurk1  Are you still failing the issue ?

[2020-12-09 16:09] mathurk1 commented on #870
Hi @20shivangi - yes, I am still facing the issue...

[2020-12-10 11:39] 20shivangi commented on #870
@mathurk1 When you are injecting the values are directly in the tfvars file, even then you are facing the issue ?

[2020-12-10 16:55] JoelCBennett commented on #820
Running into the same issue.  Isn't the service connection already defined in the init stage with the backendServiceArm input?

[2020-12-10 22:59] mathurk1 commented on #870
the injection is a work around that we have implemented. I am not able to use the `plan` command as is though.

[2020-12-11 04:18] 20shivangi commented on #870
It is great that workaround is working for you. We will track this issue to ensure `plan` command works.

[2020-12-11 12:53] 20shivangi commented on #851
@AThomsen Thanks for your contribution. We will review this

[2020-12-15 19:34] mrpolaris commented on #893
Update  Seems to only have this error when it is a release artifact type

[2020-12-21 19:57] bryan-struck commented on #723
I am having the same issue. It looks like the query string parameter "sysparm_display_value=true" is missing from the ServiceNow request that retrieves the "State" value.

Using "Acceptance Criteria" - "Desired state of change request" option:
![image](https://user-images.githubusercontent.com/76451509/102816189-3a29bf00-4393-11eb-84ee-e87a0728893c.png)

Yields the following log (missing the "sysp

[2020-12-21 20:16] bryan-struck commented on #779
made a similar comment here: https://github.com/microsoft/azure-pipelines-extensions/issues/723#issuecomment-749168789

Looks like the "Desired status of change request" option is missing a query string parameter `sysparm_display_value=true` which tells ServiceNow to return the `state` as the string value rather than the integer value (as set in ServiceNow).

A workaround you can do is to use `Adv

[2020-12-30 15:23] JordanRBG opened #895 "ServiceNow change management check does not create a change request"
@shashban @RoopeshNair

There are a couple of main issues with the ServiceNow integrated check against environments (assuming this is the same behaviour for service connections) that makes the extension unusable. The below issues are encountered when attempting to create a new change request in ServiceNow:

1. Both the 'Normal' and 'Standard' change types are not able to be created despite being c

[2020-12-30 16:01] shashban commented on #895
@JordanRBG Can you please report these issues on the developer community
https://developercommunity.visualstudio.com/content/problem/post.html?space=21

[2020-12-30 16:12] JordanRBG commented on #895
@shashban Have raised issue on developer community:

[https://developercommunity.visualstudio.com/content/problem/1298793/servicenow-change-management-check-does-not-create.html](https://developercommunity.visualstudio.com/content/problem/1298793/servicenow-change-management-check-does-not-create.html)

[2020-12-31 17:57] passbt opened #896 "Terraform Extension doesn't support backend configuration from a file"
`Terraform init` has a parameter named backend-config that allows for a file to be passed into Terraform as an alternative to providing providing individual arguments in the command line. For additional information regarding backend-config see [here](https://www.terraform.io/docs/backends/config.html) there is a section named `Backend Configuration File`.

I"m requesting this feature for two reaso

[2021-01-01 15:00] Timovzl opened #897 "Extravagant permission requirements on storage account"
The extension, at least when performing `terraform init`, performs certain operations that it shouldn't need to, requiring quite a lot of permissions on not just the container, but even the whole storage account.

The problematic operation I'm running into is `listKeys` _on the whole storage account_. This should not be necessary. We have specified the subscription or (as in my case) service conne

[2021-01-04 07:24] AmrutaKawade commented on #897
@Timovzl Terraform extension itself doesn't check any permissions over storage account.
Extension just executes below command

[code]

Terraform needs to have access over azure storage to store state in storage Ref [this](https://docs.microsoft.com/en-us/azure/developer/terraform/store-state-in-azure-storage#configure-state-back-end). here access_key is provided in backend configuration.

In exten

[2021-01-04 08:19] shashban commented on #895
Closing this issue. We'll track through the developer community ticket.

[2021-01-04 08:19] #895 closed

[2021-01-06 05:32] Lddeiva commented on #756
I'm also experiencing the same problem. I have nested pipelines and when the the second pipeline runs I see this error.

![image](https://user-images.githubusercontent.com/61077834/103732592-b7993480-500d-11eb-9770-ba5cd8c3ed2c.png)

Full error below.

`2021-01-06T05:18:02.5957808Z ##[section]Starting: validate`
`2021-01-06T05:18:02.5965829Z`
`======================================================

[2021-01-06 08:17] strakh-alex opened #898 "Typo in warning message: "Multiple provider blocks specified in the .tf files in the current working drectory.""
'drectory' should be 'directory'.

[2021-01-07 04:57] chshrikh commented on #898
which task ?

[2021-01-07 05:15] AmrutaKawade commented on #897
Please do try out above solution. Closing this issue. Let me know if it doesn't work we will reopen this issue

[2021-01-07 05:15] #897 closed

[2021-01-07 13:36] jamesrodda commented on #885
Hi,

Is there any feedback re this?

Thanks

[2021-01-07 21:17] tao-zhang opened #899 "[TerraformV1] multiple providers not supported"
I have provider configuration like this:

[code]

The second provider is also azurerm but in different subscription. I use this provider to create data source for querying. Current task only supports **one** `environmentServiceNameAzureRM` which is a service connection for terraform provider. So how to configure a second provider?

[2021-01-08 05:56] AmrutaKawade commented on #899
Multiple providers are not supported currently

[2021-01-09 16:00] Timovzl commented on #897
Thanks @AmrutaKawade. I was aware that `Storage Blob Data Contributor` or `Storage Blob Data Owner` were required. Unfortunately, these allow you to do much more than is _technically_ necessary for Terraform to put its state in a specified blob.

The initial issue is that Terraform stores sensitive data in its state file, such as passwords/keys it generates and that we, say, store in Azure Key Vau

[2021-01-10 05:00] AmrutaKawade commented on #897
Yes you are right. we don't check any permissions in extension.

[2021-01-12 12:57] andreas-sommer-engenious opened #900 "Run terraform in an DevOps pipeline"
Hi,
I created a IaC Pipeline with terraform and azure devops. In the devops pipeline a added a storage account to store the tfstate file in the blob storage. When I run the pipeline, everything works, all services are created, but a can't find the tfstate file in the storage account. here is the code of the yaml file:
jobs:

    - deployment: deployDev

      continueOnError: false

      environm

[2021-01-13 17:25] julie-ng commented on #900
Does `backendServiceArm` receive the service connection for the **_storage account_** (not the deployment target)?

An error message would be helpful. Personally, I prefer using script, much simpler:

[code]

[2021-01-13 18:32] julie-ng commented on #897
@Timovzl  correct, AFAIK, you cannot limit scope to a container (although I wish you could).

I want to make clear that this is a Terraform problem, not Azure. I gave Terraform a SAS token scoped to just the container. However, this error message came back

[code]

This means that the [Terraform Workspaces](https://www.terraform.io/docs/state/workspaces.html) feature is querying for all blobs in t

[2021-01-14 11:52] neetu-khatra commented on #652
##[warning]Task 'Update AssemblyInfo' (1.2.0) is using deprecated task execution handler. The task should use the supported task-lib: https://aka.ms/tasklib
image

Can't see any other version for update assembly info task. Please help with this.

@kmkumaran kmkumaran assigned chshrikh and nadesu and unassigned RoopeshNair, kmkumaran and rajatagrawal-dev on 11 Sep 2020

----------
Any Updates on th

[2021-01-14 16:15] huamichaelchen commented on #756
My work-around is just had an SP created and a bash block at the beginning of the pipe and literally do `az login --service-principal`

[2021-01-15 00:21] jcarlosg87 commented on #893
hi, is this problem solved? Is there any way or configuration for it, I really appreciate your comments I am having the same problem

[2021-01-15 05:04] chshrikh commented on #652
we haven't been able to get to this, as the team is focused on issues that impact broader set of customers. We know this is important for you, we will continue to monitor this.

[2021-01-15 16:10] Timovzl commented on #897
Great addition, @julie-ng. Indeed, sounds like we would need to submit a ticket there.

Since the problem is not at all relevant to my current assignment, which I'm quite busy with, I'm not diving into it any deeper right now. Should you create a ticket, I hope that you will link to it from here!

[2021-01-16 08:56] jcarlosg87 opened #901 "Teamcity Artifacts for Release"
![image](https://user-images.githubusercontent.com/12160253/104807696-c8387000-57ae-11eb-8e5e-3d44cd2e2db6.png)

[2021-01-16 08:57] jcarlosg87 commented on #901
There is a permission error when making use of this extension even though you are full administrator

[2021-01-16 08:58] jcarlosg87 commented on #901
2021-01-16T08:53:19.6140373Z ##[error]Downloading artifacts failed: System.AggregateException: One or more errors occurred. (You do not have permissions to perform this operation on the service connection. An Endpoint Administrator should add you to the Endpoint Readers group of this service connection.)

[2021-01-17 20:59] shoe788 commented on #817
This is unfortunate as it makes automated deployments for ssl sites impossible when you put your certificate in WebHosting

[2021-01-20 04:40] vnextcoder commented on #832
After spending around a day in trying to inject this variable coming from **Azure KeyVault** into Terraform Init task, I was thinking it was not being bound in the Pipeline because of **"all variables from KeyVault are marked secret"**, but I was incorrect based on what has been described by @didaskein

There is a workaround to this Design though.
You can have a parameter in your Template or the m

[2021-01-20 04:41] vnextcoder commented on #849
This is very much required as Terraform tool itself just supports it, but not the TeraformTaskV1.

[2021-01-20 21:40] jmorsecode commented on #748
I feel like this may help clarify and hopefully expedite this issue. I see plenty of examples with one or the other but none directly comparing the old output that Azure clearly is based on and current versions of Terraform:
Terraform v0.12.24:
[code]
Terraform v0.13.6:
[code]

These versions are just an example to show that the new output for providers in current and future versions would require

[2021-01-20 23:06] CaptainStealthy commented on #748
The PR linked to this thread fixes the problem. But no one at Microsoft seems inclined to review it.

[2021-01-21 10:58] rudolphjacksonm opened #902 "Terraform plan multiple provider warning when using single provider in codebase"
Issue #748 should be reopened and the following PR should be merged, as this warning still persists: https://github.com/microsoft/azure-pipelines-extensions/issues/747

The original issue has been closed in error, and no one seems to be inclined to review it or reopen it, which is why I've created a new issue to draw attention to it.

[2021-01-21 10:59] rudolphjacksonm commented on #748
I've opened a separate issue to draw attention to this as it's irritating to see on every terraform run and I'd like to draw some fresh :eyes: to it. ☝️ Apologies if this is not the right way to go about it, but nobody seems to be reviewing this PR anymore now that it's been closed.

[2021-01-21 11:37] HenrikSommer-eng opened #903 "ServiceNow extensions query service now api wrong"
Hi

When using UpdateChangeRequestV2 to close change in service now.
It fail if the build have multi stages.

Lets say we have stage: "TEST" and "PROD"
Then it work fin for creating and closing change for TEST but when it try to close PROD it fail because the API call to service now return change number for TEST and PROD

The error happen here:
https://github.com/microsoft/azure-pipelines-extensio

[2021-01-21 12:05] HenrikSommer-eng commented on #903
forgot to add link to service now Table API:
https://developer.servicenow.com/dev.do#!/reference/api/orlando/rest/c_TableAPI

[2021-01-21 23:25] AlexanderViken opened #904 "Use "Latest" as version in DownloadTeamCityArtifacts task"
I am trying to use the DownloadTeamCityArtifacts@15 task from a yaml pipeline, It works, but only if I hard code the teamcity.build.id in the task.  If I use a classic approach and add a TeamCity artifact to a classic release it is able to retreive the "Latest" release artifact in TeamCity.

I am not sure if this is a bug or feature request, but it should be possible to use "Latest" as version ide

[2021-01-25 10:31] HenrikSommer-eng opened #907 "ServiceNow extensions does not work when rerun stage."
When using the service now extensions from yaml.

It is not working if you rerun a stage again.

We have on an environment set an approval step that creates a change in service now.
After the deploy job is finish, we have added this yaml:
[code]
It works fine the first time it run.
But if you rerun a stage it will fail.

The reason is that the extensions is using the system variable: `$(system.sta

[2021-01-25 10:49] HenrikSommer-eng commented on #907
Title should be change to:
ServiceNow extensions does not work when rerun stage

[2021-01-25 12:55] yellowpanda commented on #907
The issue can be further explained this way:

Attempt #1:
* Create servicenow change with stageId = guid1
* Close servicenow change with stageId = guid1

Attempt #2:
* Create servicenow change with stageId = guid1
* Close servicenow change with stageId = guid2 (should have been guid1 or the previous line should have been guid2)

![image](https://user-images.githubusercontent.com/4152321/105708372-

[2021-01-26 07:35] chrisjaimon2012 commented on #839
@AmrutaKawade @N-Usha @arjgupta @chshrikh
On a similar note, the Terraform Extension for Azure DevOps uses the service connection: "**AWS for Terraform**" for authentication:
1. Is it possible for the extension to consume the service connection provided by [AWS Toolkit for Azure DevOps](https://marketplace.visualstudio.com/items?itemName=AmazonWebServices.aws-vsts-tools)
  or
2. In the service con

[2021-01-26 12:58] LBoraz commented on #747
getting the same error as described above. The init task doesn't print the error (too many arguments) despite accepting the same inputs. Not clear what this "too many arguments" are and why it can't read the state file (which seems to look for in the local disk, so why is it not accessible)?

[2021-01-27 15:27] c62cy30 commented on #520
we have been encountering this issue more often recently for some unknown reason.  our deployment frequency hasn't noticeably changed and the only change to the task over the last 6 months has been to increase traceFailedRequestsLogging.maxLogFiles from 10 to 100, in the Additional appcmd.exe commands section, but about a week ago, this issue began occurring intermittently

I've only see this occu

[2021-01-27 18:07] richardgavel commented on #829
What kind of agent are you running on? Linux or Windows?

[2021-01-27 22:27] vsharma3112 commented on #713
Do we have a new version rolled-out ? If not then is there any timeline ? We are on latest version - Installed version
15.157.0 (Latest) and this problem persists.

[2021-01-29 13:23] ak58588 commented on #748
I am getting this error with various terraform versions in Azure DevOps pipeline. **"Multiple provider blocks specified in the .tf files in the current working drectory."** It is extremely annoying. My pipeline gets stuck on this warning and the plan never goes further.
The one who introduced this error message didn't even bother to check its spelling.
Extremely annoying, this has to be fixed.

[2021-01-31 05:14] kmkumaran commented on #520
@nadesu , @chshrikh to follow up.

[2021-01-31 05:21] kmkumaran commented on #281
@nadesu , @chshrikh for follow up

[2021-02-01 10:29] HenrikSommer-eng commented on #907
Hi.
I assume it can take some time to fix this bug.
We are trying to create a work around while we wait.
We assume we can fix it with a proxy between azure pippeline and service now.
But we need to know how azure pipeline calculate the stage id, can some one help with that info?

[2021-02-01 10:34] ammohant commented on #907
@pavanvamsi3  @tauhid621  can  we please help here.

[2021-02-01 10:38] pavanvamsi3 commented on #907
We also use attemptId while identifying the run. Let me go through this once. I'll get back to you.

[2021-02-01 11:32] HenrikSommer-eng commented on #907
@pavanvamsi3 the yaml will be different in each of our solution we are adding service now integration to.

We assume it calculated something like this: guid($(system.stageName), $(system.stageAttempt))
But dont know if there are more parameters than just those 2 and how it is converted to guid

[2021-02-02 05:42] pavanvamsi3 commented on #907
[code]

We use the three `system.stageId`, `build.buildId`, `system.stageAttempt` inbuild variables to identify.

[2021-02-02 07:56] HenrikSommer-eng commented on #907
I know you are using the same variable for creating and closing, but the problem is that system.stageId does not give the same id for creating as it does for closing.
See yellowpanda comment.

[2021-02-02 10:00] pavanvamsi3 commented on #907
Yep, gotcha. I'm trying to reproduce this. This issue will be updated.

[2021-02-03 06:44] #903 closed

[2021-02-03 19:06] gdsjerry commented on #748
Also waiting for fix for this. Quite irritating

[2021-02-03 19:32] CaptainStealthy commented on #902
This is easily fixed if #852 can be merged...

[2021-02-04 10:11] StefanSchoof opened #909 "Support Status of terraform extension"
The terraform extensions is getting currently little attention:
 - Last commit was 14 month ago (https://github.com/microsoft/azure-pipelines-extensions/commits/master/Extensions/Terraform/Src)
 - There are 9 open PRs from community and team (https://github.com/microsoft/azure-pipelines-extensions/pulls?q=is%3Apr+is%3Aopen+terraform) and all getting no feedback. The oldest is one year open.
 - Fro

[2021-02-04 17:13] yakuramori opened #910 "Terraform tool installer does not allow to specify specific download url"
Hi team,

in some protected environments/networks it is not possible to access url like: `https://releases.hashicorp.com/terraform/${version}/terraform_${version}_${platform}_${architecture}.zip`

It would be very beneficial to enable users to specify url to their own Nexus/File Share/Storage Account.
IMHO, most simple way to achieve it would be to have environment variable or if-statement that wi

[2021-02-08 13:11] makaanneo commented on #909
I as well curious what's the plan for the Terraform extension the other https://github.com/hashicorp/azure-pipelines-extension-terraform looks as well dead to me :(

[2021-02-09 07:38] 20shivangi commented on #910
@yakuramori If you already know the fix, please feel free to raise PR. We will be happy to review that :)

[2021-02-09 15:09] yakuramori commented on #910
Hi @20shivangi  I would just add an environment variable there. Something like this before line 81:
if (process.env.TERRAFORM_EXTERNAL_URL_TO_ZIP) {
//maybe check for .zip
return process.env.TERRAFORM_EXTERNAL_URL_TO_ZIP
}
This way no need to add any extra checks, people should provide proper zip.

[2021-02-09 20:52] rick-ha opened #911 "Terraform Extension Plan and Apply version mismatch"
Hi Team,

This issue started happening today (had no issues yesterday) - the command "terraform plan -out="xxx.tfplan"" is creating a plan based off of Terraform version 0.14.5, but when the Terraform apply task runs, it is trying to use 0.14.6, thus causing a version mismatch.

Currently using Microsoft Hosted agent and the Terraform extension by Microsoft Corporation.

Can provide YAML pipeline

[2021-02-10 14:34] 20shivangi commented on #862
@DenVifer Is the issue still being faced?

[2021-02-11 09:42] djanand2000 opened #912 "AWS Service connection isn't working"
Hi Team,
I had created a AWS service connection  but after adding the Terraform task and choosing the provider as AWS , the service connection isn't populating any values. I tried refreshing but it doesn't work. Also when i click on the Manage button , it redirects me to the page (https:// XXXXXX/_releaseDefinition?definitionId=0&_a=definition-tasks&environmentId=-1) but it returns a blank page.
I

[2021-02-11 21:22] aristosvo commented on #882
@AmrutaKawade Can you please look at #889? It is solving this problem, but as it is a new version previous versions can use that version instead.

[2021-02-12 08:33] DenVifer commented on #862
No, the issue is actual. Unfortunately, it's difficult for me to provide a good PR because it seems like the fix requires nice knowledge about cmd commands in different Windows versions. I just see that your code works in one Windows version, but doesn't in another one. But, I don't even know whether we can in principle use the' http show sslcert' command response in the script. Maybe this respons

[2021-02-18 11:43] HenrikSommer-eng commented on #907
Any idea when we can expect a fix for this?

[2021-02-19 10:27] pavanvamsi3 commented on #907
Hey, @HenrikSommer-eng we're planning to pick this up next sprint (ETA End of March). I'll keep you updated.

[2021-02-19 14:01] NK74 commented on #707
Hello,

Is it solved ??

I had the same issue in my TF Stack, i'm trying to store my TFStates in a central subscription (inside a dedicated storage account) and deploy in a different subscription
`Error: Error loading state: Error retrieving keys for Storage Account "mycentralstorage": storage.AccountsClient#ListKeys: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure:

[2021-02-22 18:11] NK74 commented on #830
Hi

I recently faced the same issue "_Terraform: Allow state files to be stored in a different subscription_" #707

I'm trying to deploy Azure resources and states in different subscriptions too :
- 1 Central Subscription to store tfstates
- "n" subscriptions to deploy Azure resources

I had the same 404 issue before, thanks @slawchod :1

Now I'm getting a 403 Error on my "tsfate" storage containe